Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Assert the stop against Modal, not against a completion race
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_builds_stop.py
Due: pyright-integration-tests

Stop racing the cancel drain, and say so in the docstring
  docs/docs/configuration/cli.md
  integration-tests/tests_registry_live/test_builds_stop.py
Due: pyright-integration-tests

Copilot round three: a tick set that could widen to everything
  app/stardag-ui/src/components/BuildStopPanel.test.tsx
  app/stardag-ui/src/components/BuildStopPanel.tsx
  app/stardag-ui/src/utils/stoppable.test.ts
  app/stardag-ui/src/utils/stoppable.ts
  docs/docs/configuration/cli.md
Due: eslint-stardag-ui, tsc-stardag-ui

Stop a build's executions before releasing their claims
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BuildStopPanel.test.tsx
  app/stardag-ui/src/components/BuildStopPanel.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/stoppable.test.ts
  app/stardag-ui/src/utils/stoppable.ts
  docs/docs/configuration/cli.md
  integration-tests/src/stardag_integration_tests/registry_live/_scenario_app.py
  integration-tests/src/stardag_integration_tests/registry_live/selectors.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_builds_stop.py
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/_stop.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/tests/test__cli/test_builds.py
  lib/stardag/tests/test__cli/test_stop.py
Due: pyright-stardag, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

Copilot round five: the JSON document describes the past, not the plan
  app/stardag-ui/src/components/BuildStopPanel.test.tsx
  app/stardag-ui/src/components/BuildStopPanel.tsx
  docs/docs/configuration/cli.md
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/tests/test__cli/test_stop.py
Due: pyright-stardag, eslint-stardag-ui, tsc-stardag-ui

Bulk-cancel's cascade covers INTERRUPTED too, and only what a build owns
  app/stardag-ui/src/types/task.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Stop a build's executions before releasing their claims: `stardag builds stop` (#353)
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BuildStopPanel.test.tsx
  app/stardag-ui/src/components/BuildStopPanel.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/stoppable.test.ts
  app/stardag-ui/src/utils/stoppable.ts
  docs/docs/configuration/cli.md
  integration-tests/src/stardag_integration_tests/registry_live/_scenario_app.py
  integration-tests/src/stardag_integration_tests/registry_live/selectors.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_builds_stop.py
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/_stop.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/tests/test__cli/test_builds.py
  lib/stardag/tests/test__cli/test_stop.py
Due: pyright-stardag, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

Make the claim idempotent: an execution id minted at claim
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/migrations/versions/20260921_150000_add_tasks_latest_execution_id.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_execution_identity.py
  docs/design/README.md
  docs/design/executions-as-records.md
  integration-tests/tests_registry_live/test_execution_identity.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_execution_identity.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_build/test_registry_limiter.py
  lib/stardag/tests/test_integration/test_modal/test_live_claim_e2e.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Copilot round one on the re-cut: a granted claim inherits no identity
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_execution_identity.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_execution_identity.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
Due: pyright-stardag, pyright-stardag-api

The resident engine's claim carries an identity too
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/design/executions-as-records.md
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_claim.py
Due: pyright-stardag

Copilot round three: an accepted retry must not erase the spawn's ref
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_execution_identity.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_claim.py
Due: pyright-stardag, pyright-stardag-api

Assert the rollover happened, not that a tick lived to say so
  DEV_README.md
  integration-tests/tests_registry_live/test_interruption_classification.py
  integration-tests/tests_registry_live/test_rollover.py
Due: pyright-integration-tests

Make the claim idempotent: an execution id minted at claim (STA-50) (#361)
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/migrations/versions/20260921_150000_add_tasks_latest_execution_id.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_execution_identity.py
  docs/design/README.md
  docs/design/executions-as-records.md
  integration-tests/tests_registry_live/test_execution_identity.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_execution_identity.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_build/test_registry_limiter.py
  lib/stardag/tests/test_integration/test_modal/test_live_claim_e2e.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

The retry-policy comment still called /start half-answered
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag

The retry-policy comment still called /start half-answered (#363)
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag

Keep the failure check build-wide, as the counter it replaces was
  integration-tests/tests_registry_live/test_interruption_classification.py
Due: pyright-integration-tests

Release v0.25.0: changelog and release notes dated
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Release v0.25.0: changelog and release notes dated (#366)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Scope the event checks to this build, and stop tolerating a missing task
  integration-tests/tests_registry_live/test_interruption_classification.py
Due: pyright-integration-tests

Assert the rollover happened, not that a tick lived to say so (#364)
  DEV_README.md
  integration-tests/tests_registry_live/test_interruption_classification.py
  integration-tests/tests_registry_live/test_rollover.py
Due: pyright-integration-tests

Diagnose the registry-live tier's transport timeouts instead of guessing
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  integration-tests/tests/test_registry_live_diagnostics.py
  integration-tests/tests_registry_live/conftest.py
Due: pyright-integration-tests

Skip the boot probe by type too, and stop the docs contradicting the gate
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  integration-tests/tests/test_registry_live_diagnostics.py
  integration-tests/tests_registry_live/conftest.py
Due: pyright-integration-tests

Exempt the recycle assertion by type, not the whole teardown phase
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/tests/test_registry_live_diagnostics.py
  integration-tests/tests_registry_live/conftest.py
Due: pyright-integration-tests

Make the retry gate fail closed, and key it on the failure itself
  .github/workflows/modal-live.yml
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/tests/test_registry_live_diagnostics.py
  integration-tests/tests_registry_live/conftest.py
Due: pyright-integration-tests

Refuse the retry when anything but a timeout failed in the same run
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  integration-tests/tests/test_registry_live_diagnostics.py
  integration-tests/tests_registry_live/conftest.py
Due: pyright-integration-tests

A group is several failures, not one described twice
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/tests/test_registry_live_diagnostics.py
Due: pyright-integration-tests

Classify setup-phase failures, and let the probe declare a recycle
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/tests/test_registry_live_diagnostics.py
  integration-tests/tests_registry_live/conftest.py
Due: pyright-integration-tests

Diagnose the registry-live tier's transport timeouts instead of guessing (#362)
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  integration-tests/tests/test_registry_live_diagnostics.py
  integration-tests/tests_registry_live/conftest.py
Due: pyright-integration-tests

Key the re-run notice on the reason, not on the missing ref
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/tests/test__cli/test_stop.py
Due: pyright-stardag

Do not attribute a non-detached execution to Modal, and mirror the UI
  CHANGELOG.md
  app/stardag-ui/src/components/BuildStopPanel.test.tsx
  app/stardag-ui/src/components/BuildStopPanel.tsx
  app/stardag-ui/src/utils/stoppable.test.ts
  app/stardag-ui/src/utils/stoppable.ts
  lib/stardag/src/stardag/_cli/_stop.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/tests/test__cli/test_stop.py
Due: pyright-stardag, eslint-stardag-ui, tsc-stardag-ui

Docs: describe the ambiguous row instead of the verdict it lost
  CHANGELOG.md
  docs/docs/configuration/cli.md
Due: none

Do not infer permanence from an absent executor
  CHANGELOG.md
  app/stardag-ui/src/components/BuildStopPanel.test.tsx
  app/stardag-ui/src/components/BuildStopPanel.tsx
  app/stardag-ui/src/utils/stoppable.ts
  lib/stardag/src/stardag/_cli/_stop.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/tests/test__cli/test_stop.py
Due: pyright-stardag, eslint-stardag-ui, tsc-stardag-ui

List a claimed execution that has not reported a call id yet
  CHANGELOG.md
  docs/docs/configuration/cli.md
  integration-tests/tests_registry_live/test_builds_stop.py
  lib/stardag/src/stardag/_cli/_stop.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/tests/test__cli/test_stop.py
Due: pyright-stardag, pyright-integration-tests

List a claimed execution that has not reported a call id yet (STA-88) (#365)
  CHANGELOG.md
  app/stardag-ui/src/components/BuildStopPanel.test.tsx
  app/stardag-ui/src/components/BuildStopPanel.tsx
  app/stardag-ui/src/utils/stoppable.test.ts
  app/stardag-ui/src/utils/stoppable.ts
  docs/docs/configuration/cli.md
  integration-tests/tests_registry_live/test_builds_stop.py
  lib/stardag/src/stardag/_cli/_stop.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/tests/test__cli/test_stop.py
Due: pyright-stardag, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

Take the wake-up precondition from the constants, not from a tick's report
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/tests_registry_live/test_cross_build_wake.py
  integration-tests/tests_registry_live/test_limit_slot_wake.py
  integration-tests/tests_registry_live/test_reactive_e2e.py
  integration-tests/tests_registry_live/test_wake_storm.py
Due: pyright-integration-tests

Count granted claims from the event log, not spawns from the trail
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_events.py
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/tests_registry_live/test_claim_race.py
  integration-tests/tests_registry_live/test_cross_build_wake.py
  integration-tests/tests_registry_live/test_limit_slot_wake.py
  integration-tests/tests_registry_live/test_reactive_e2e.py
  integration-tests/tests_registry_live/test_wake_storm.py
  integration-tests/tests_registry_live/test_watchdog_sweep.py
  integration-tests/tests_registry_live/test_wide_fan_out.py
Due: pyright-integration-tests

Say in DEV_README that the full tier runs in CI, not locally
  DEV_README.md
Due: none

Count distinct executions, and make the inconclusive count real
  .github/workflows/modal-live.yml
  integration-tests/src/stardag_integration_tests/registry_live/_events.py
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/tests_registry_live/test_cancel_authority.py
  integration-tests/tests_registry_live/test_failed_blocker.py
  integration-tests/tests_registry_live/test_wake_storm.py
Due: pyright-integration-tests

Count submissions, not claims, and take both clocks from the server
  integration-tests/src/stardag_integration_tests/registry_live/_events.py
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/tests_registry_live/test_claim_race.py
  integration-tests/tests_registry_live/test_cross_build_wake.py
  integration-tests/tests_registry_live/test_failed_blocker.py
  integration-tests/tests_registry_live/test_limit_slot_wake.py
  integration-tests/tests_registry_live/test_reactive_e2e.py
  integration-tests/tests_registry_live/test_wake_storm.py
  integration-tests/tests_registry_live/test_watchdog_sweep.py
  integration-tests/tests_registry_live/test_wide_fan_out.py
Due: pyright-integration-tests

Make the docs and comments say what the code now counts
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_events.py
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/tests_registry_live/test_failed_blocker.py
  integration-tests/tests_registry_live/test_wake_storm.py
  integration-tests/tests_registry_live/test_watchdog_sweep.py
Due: pyright-integration-tests
