Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

feat(cli): auto-select Default workspace on login
  lib/stardag/src/stardag/cli/auth.py
Due: pyright-stardag

show org switching help on login when user has multiple orgs
  lib/stardag/src/stardag/cli/auth.py
Due: pyright-stardag

fix CLI defaults
  CONFIGURATION_GUIDE.md
  _NOTES.md
  lib/stardag-examples/.stardag/config.json
Due: none

restructure config: workspace-specific files and project overrides
  CONFIGURATION_GUIDE.md
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/config.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

support nested profiles/workspaces in project config
  CONFIGURATION_GUIDE.md
  lib/stardag/src/stardag/config.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

remove flat project config structure, use nested only
  CONFIGURATION_GUIDE.md
  lib/stardag-examples/.stardag/config.json
  lib/stardag/src/stardag/config.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

renames profile -> registry
  CONFIGURATION_GUIDE.md
  lib/stardag-examples/.stardag/config.json
  lib/stardag/src/stardag/build/api_registry.py
  lib/stardag/src/stardag/cli/__init__.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/cli/profile.py
  lib/stardag/src/stardag/cli/registry.py
  lib/stardag/src/stardag/config.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/tests/test_cli_profile.py
  lib/stardag/tests/test_cli_registry.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

simplify intended setup in CONFIGURATION_GUIDE.md
  CONFIGURATION_GUIDE.md
Due: none

updated task description
  .claude/CLAUDE.md
  .claude/tasks/registry-service/config-and-auth-cleanup-take-two.md
Due: none

Phase 1: Backend org-scoped token model
  .claude/tasks/registry-service/config-and-auth-cleanup-take-two.md
  CONFIGURATION_GUIDE.md
  app/stardag-api/src/stardag_api/auth/__init__.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/auth/tokens.py
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/auth.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_auth.py
  app/stardag-api/tests/test_organizations.py
Due: pyright-stardag-api

Phase 2: SDK/CLI config rewrite with TOML and profiles
  lib/stardag/src/stardag/build/registry.py
  lib/stardag/src/stardag/cli/__init__.py
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/cli/registry.py
  lib/stardag/src/stardag/config.py
  lib/stardag/tests/test_cli_registry.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

Phase 4: UI organization selector with token exchange
  .claude/tasks/registry-service/config-and-auth-cleanup-take-two.md
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/auth.ts
  app/stardag-ui/src/api/client.ts
  app/stardag-ui/src/components/OrganizationSelector.tsx
  app/stardag-ui/src/context/AuthContext.tsx
  app/stardag-ui/src/context/WorkspaceContext.tsx
Due: none

Mark config-and-auth-cleanup-take-two task as completed
  .claude/tasks/registry-service/config-and-auth-cleanup-take-two.md
Due: none

Fix bootstrap auth flow for UI endpoints
  app/stardag-api/src/stardag_api/auth/__init__.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-api/src/stardag_api/routes/ui.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_auth.py
  app/stardag-api/tests/test_organizations.py
Due: pyright-stardag-api

multiple follow ups and bug fixes, up to nesting registry command under config in CLI
  _NOTES.md
  app/stardag-api/src/stardag_api/auth/__init__.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-api/src/stardag_api/routes/ui.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_auth.py
  app/stardag-api/tests/test_organizations.py
  app/stardag-ui/src/hooks/useTasks.ts
  lib/stardag-examples/uv.lock
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/cli/__init__.py
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/registry.py
  lib/stardag/uv.lock
Due: pyright-stardag, pyright-stardag-api

adds draft task on integration tests
  .claude/tasks/README.md
  .claude/tasks/registry-service/integration-tests.md
Due: none

fix switching orgs in CLI/profile
  _NOTES.md
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
Due: pyright-stardag

use slugs in profile and cache id mappings separately
  _NOTES.md
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/config.py
Due: pyright-stardag

renames keycloak -> oicd in code for all generic handling
  app/stardag-api/src/stardag_api/auth/__init__.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/auth/tokens.py
  app/stardag-api/src/stardag_api/routes/auth.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-api/src/stardag_api/routes/ui.py
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/credentials.py
Due: pyright-stardag, pyright-stardag-api

update CONFIGURATION_GUIDE.md according recent changes
  CONFIGURATION_GUIDE.md
  _NOTES.md
Due: none

install frontend deps in GitHub workflows for eslint etc.
  .github/workflows/ci.yml
Due: none

claude plan for integration tests
  .claude/tasks/registry-service/integration-tests.md
Due: none

docs(examples): sample project config (Phase 6)
  .claude/tasks/registry-service/config-and-auth-cleanup.md
  lib/stardag-examples/.stardag/README.md
  lib/stardag-examples/.stardag/config.json
Due: none

fix api unit tests
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_auth.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

fix org creation and landing page
  app/stardag-api/migrations/versions/20251221_021110_add_created_by_id_to_organizations.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/models/organization.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/CreateOrganization.tsx
  app/stardag-ui/src/components/PendingInvites.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
  app/stardag-ui/src/context/WorkspaceContext.tsx
Due: pyright-stardag-api

feat(api,ui): personal workspaces (Phase 4)
  .claude/tasks/registry-service/config-and-auth-cleanup.md
  app/stardag-api/migrations/versions/20251223_150000_add_workspace_owner.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-ui/src/api/organizations.ts
  app/stardag-ui/src/components/OrganizationSettings.tsx
Due: pyright-stardag-api

first stab at phase 2
  app/stardag-api/pyproject.toml
  app/stardag-api/src/stardag_api/auth/__init__.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/auth/jwt.py
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/ui.py
  app/stardag-api/tests/test_auth.py
  app/stardag-api/uv.lock
  docker-compose.yml
  docker/keycloak/realm-export.json
Due: pyright-stardag-api

feat(cli): improved login flow and slug support (Phase 5)
  .claude/tasks/registry-service/config-and-auth-cleanup.md
  lib/stardag/src/stardag/cli/__init__.py
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
Due: pyright-stardag

fix: allow slugs in allowed_organizations validation
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/config.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

first stab at phase 5
  .claude/tasks/registry-service/auth.md
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/organizations.ts
  app/stardag-ui/src/components/OrganizationSettings.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
  app/stardag-ui/src/context/WorkspaceContext.tsx
  app/stardag-ui/src/hooks/useTasks.ts
Due: none

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
