Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Fix test_task_reuse_across_runs to expect global task status
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

Fix autocomplete race condition when keys load after user types
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Add task event log modal and hide stale error messages
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/types/task.ts
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Show event timestamps with 1/100 second precision
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Only create TASK_REFERENCED (not both PENDING and REFERENCED) for existing tasks
  app/stardag-api/src/stardag_api/routes/builds.py
Due: pyright-stardag-api

Refactor registry methods: prefix with build_ or task_ for clarity
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag

Register previously completed tasks in build for visibility
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Fix event timestamp format to use 24-hour time
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Make APIRegistry stateless and add GlobalLock support to sequential build
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag

Fix integration tests to get build_id from BuildSummary
  integration-tests/tests/test_full_flow.py
  integration-tests/uv.lock
Due: pyright-integration-tests

Fix Task Explorer to show correct global status across builds
  app/stardag-api/src/stardag_api/routes/search.py
Due: pyright-stardag-api

Phase 5: UI updates for concurrent builds events
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/types/task.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Add cross-build status indicator with status_build_id field
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/components/TaskTable.tsx
  app/stardag-ui/src/types/task.ts
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Always re-acquire lock for tasks resuming after dynamic deps
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Skip lock re-acquisition for tasks resuming after dynamic deps
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Extend benchmarks for real registry and add lock tests
  lib/stardag-examples/src/stardag_examples/benchmarks/README.md
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag, pyright-stardag-examples

Add clickable cross-build status navigation in UI
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/components/TaskTable.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Add back heavy_cpu_flat benchmark case to README
  lib/stardag-examples/src/stardag_examples/benchmarks/README.md
Due: none

Fix build view to show global task status across all builds
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
Due: pyright-stardag-api

Add concurrent builds event system improvements
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/status.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag, pyright-stardag-api

Fix blocking lock acquisition by wrapping as async task
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Add local registry benchmark results with lock comparison
  lib/stardag-examples/src/stardag_examples/benchmarks/README.md
  lib/stardag-examples/src/stardag_examples/benchmarks/results.json
Due: none

Fix benchmark registry conflicts with unique run prefixes
  lib/stardag-examples/src/stardag_examples/benchmarks/dags.py
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag-examples/src/stardag_examples/benchmarks/tasks.py
Due: pyright-stardag-examples

Add global concurrency lock for distributed task execution
  app/stardag-api/migrations/versions/20260111_143920_add_distributed_locks_table_and_.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/lock.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/locks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/__init__.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/tests/test_locks.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_lock.py
Due: pyright-stardag, pyright-stardag-api

Add build override state dropdown and user attribution
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/types/task.ts
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Refactor global lock to use LockHandle and GlobalConcurrencyLockManager patterns
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/src/stardag/registry/_lock.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag

Integrate global concurrency lock into build system
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag

tweak ml-pipeline class_api example
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
Due: pyright-stardag-examples
