Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Stop discovery at complete tasks in sequential build
  lib/stardag/src/stardag/build/_sequential.py
Due: pyright-stardag

draft of build v2
  lib/stardag/src/stardag/build/_v2.py
Due: pyright-stardag

Move registry calls from TaskExecutor to build functions
  lib/stardag-examples/src/stardag_examples/benchmarks/completion_check.py
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag, pyright-stardag-examples

Reorganize test_build tests to match package module structure
  lib/stardag/tests/test_build/__init__.py
  lib/stardag/tests/test_build/_helpers.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_async_interface.py
  lib/stardag/tests/test_build/test_build.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

adds pyright to CI
  tox.ini
Due: none

cleanup test structure for build
  lib/stardag/src/stardag/utils/testing/helper_tasks.py
  lib/stardag/tests/test_build/__init__.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

Implement v2 build system with hybrid async/thread/process execution
  lib/stardag/src/stardag/build/_v2.py
  lib/stardag/tests/test_build/test_v2.py
Due: pyright-stardag

Improve build module documentation and error handling (Phase 1)
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Replace mocked Modal async tests with real integration tests
  lib/stardag/tests/test_integration/test_modal/test__target.py
Due: pyright-stardag

Add concurrent build implementations with dynamic deps support
  lib/stardag/src/stardag/build/concurrent/asyncio_builder.py
  lib/stardag/src/stardag/build/concurrent/multiprocess.py
  lib/stardag/tests/conftest.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag

Add async file handle support and async implementations for S3/Modal
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/integration/aws/s3.py
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/uv.lock
Due: pyright-stardag

Add pyright hook for integration-tests, remove stale benchmarks
  .pre-commit-config.yaml
  lib/stardag/benchmarks/README.md
  lib/stardag/benchmarks/__init__.py
  lib/stardag/benchmarks/dags.py
  lib/stardag/benchmarks/results.json
  lib/stardag/benchmarks/run_benchmark.py
  lib/stardag/benchmarks/tasks.py
Due: pyright-stardag

Remove RunWrapper, add RoutedTaskExecutor for flexible routing
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/uv.lock
Due: pyright-stardag

Fix _run_task_in_process to respect dynamic deps contract
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Add bidirectional run/run_aio symmetry for Task interface
  lib/stardag/src/stardag/_auto_task.py
  lib/stardag/src/stardag/_task.py
  lib/stardag/src/stardag/build/task_runner.py
  lib/stardag/tests/test_task.py
Due: pyright-stardag

Move ExecutionMode types from _base.py to _concurrent.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Refactor task event endpoints to reduce duplication
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

Update benchmarks to demonstrate async task execution
  lib/stardag/benchmarks/dags.py
  lib/stardag/benchmarks/results.json
  lib/stardag/benchmarks/run_benchmark.py
  lib/stardag/benchmarks/tasks.py
Due: pyright-stardag

Add benchmarks package to stardag-examples
  lib/stardag-examples/src/stardag_examples/benchmarks/README.md
  lib/stardag-examples/src/stardag_examples/benchmarks/__init__.py
  lib/stardag-examples/src/stardag_examples/benchmarks/dags.py
  lib/stardag-examples/src/stardag_examples/benchmarks/results.json
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag-examples/src/stardag_examples/benchmarks/tasks.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Rename TaskRunner → TaskExecutor across codebase
  lib/stardag-examples/src/stardag_examples/benchmarks/completion_check.py
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/prefect_build.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag, pyright-stardag-examples

Add failing tests for dynamic deps with process pool execution
  lib/stardag/tests/test_build/test_build.py
Due: pyright-stardag

Add registry event for dynamic dependency discovery
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag

Use asyncio.wait with FIRST_COMPLETED for better concurrency
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

pyright and ci fixes
  .github/workflows/ci.yml
  integration-tests/pyproject.toml
  tox.ini
Due: none

Add concurrent DAG discovery with TaskGroup
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Implement async task interface across codebase
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/_target_base.py
  lib/stardag/src/stardag/build/concurrent/asyncio_builder.py
  lib/stardag/src/stardag/build/registry/_api_registry.py
  lib/stardag/src/stardag/build/registry/_base.py
  lib/stardag/src/stardag/build/task_runner.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/src/stardag/target/_in_memory.py
  lib/stardag/src/stardag/target/serialize.py
  lib/stardag/tests/test_build/test_async_interface.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/uv.lock
Due: pyright-stardag

Use asyncio.gather for parallel completion checking
  lib/stardag-examples/src/stardag_examples/benchmarks/README.md
  lib/stardag-examples/src/stardag_examples/benchmarks/completion_check.py
  lib/stardag/src/stardag/build/_v2.py
Due: pyright-stardag, pyright-stardag-examples

Refactor build system: consistent API naming and module cleanup
  lib/stardag-examples/src/stardag_examples/api_registry_demo.py
  lib/stardag-examples/src/stardag_examples/benchmarks/completion_check.py
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag-examples/src/stardag_examples/composability.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/decorator_api.py
  lib/stardag-examples/src/stardag_examples/registry_assets_demo.py
  lib/stardag-examples/tests/test_ml_pipeline/test_decorator_api.py
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/build/_v2.py
  lib/stardag/src/stardag/build/concurrent/__init__.py
  lib/stardag/src/stardag/build/concurrent/asyncio_builder.py
  lib/stardag/src/stardag/build/concurrent/multiprocess.py
  lib/stardag/src/stardag/build/concurrent/threadpool.py
  lib/stardag/src/stardag/build/sequential.py
  lib/stardag/src/stardag/build/task_runner.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_async_interface.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_build/test_v2.py
Due: pyright-stardag, pyright-stardag-examples

Add suspend/resume task events for dynamic dependency tracking
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskFilters.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/types/task.ts
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

align aio client with sync
  lib/stardag/src/stardag/integration/aws/s3.py
Due: pyright-stardag

minor docs fix
  lib/stardag-examples/src/stardag_examples/ml_pipeline/prefect_build.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Address remaining PR review comments
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag

Fix browser tests: use build_sequential to avoid event loop conflict
  integration-tests/tests/test_full_flow.py
Due: none

Rename test_v2.py to test_build.py for consistency
  lib/stardag/tests/test_build/test_build.py
Due: pyright-stardag

Add TODO for concurrent completion checks in subprocess
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
