Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Review fixes: guard cloudpickle test import; type _dedupe_secrets set
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_resource_provider.py
Due: pyright-stardag

Release notes for v0.10.1 (Modal reactive scheduling bug fixes)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Modal reactive fixes (0.10.1): provider cloudpickle, secret propagation, write-once store (#170)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/utils/resource_provider.py
  lib/stardag/tests/test_build/test_task_store.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_resource_provider.py
Due: pyright-stardag

StardagApp: explicit stardag_api_key_secret + Modal workspace deep-link fix
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-examples

Review fix: missing-secret error names the requested secret
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Fix Modal workspace resolution: fall back to username
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
Due: pyright-stardag

Stamp 0.10.2 + scope the workspace note to the app-level link
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

StardagApp: explicit stardag_api_key_secret + Modal workspace deep-link fix (0.10.2) (#172)
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-examples

Docs review fixes: unbreak inline code span; front-load 0.10.1 requirement
  docs/docs/how-to/integrate-modal.md
Due: none

Docs: registry credentials only need to be declared on the builder
  docs/docs/how-to/integrate-modal.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
Due: pyright-stardag-examples

Examples: bump stardag to 0.10.1 (secret propagation + write-once store)
  lib/stardag-examples/uv.lock
Due: none

Fix walkthrough crash-loop: move selectors to an importable module
  docs/docs/how-to/integrate-modal.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/configure_limits.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/selectors.py
  lib/stardag-examples/tests/test_modal/test_walkthrough.py
Due: pyright-stardag-examples

Walkthrough: adopt 0.10.2 (stardag_api_key_secret default), bump lockfile
  docs/docs/how-to/integrate-modal.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Capture Modal app_id + function_id in executor metadata (stable deep links)
  CHANGELOG.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/conftest.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
Due: pyright-stardag

UI: stable Modal deep links + execution details + sidebar nav label
  CHANGELOG.md
  app/stardag-ui/src/components/ConcurrencyLimits.test.tsx
  app/stardag-ui/src/components/Sidebar.test.tsx
  app/stardag-ui/src/components/Sidebar.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/modalLinks.test.ts
  app/stardag-ui/src/utils/modalLinks.ts
Due: eslint-stardag-ui, tsc-stardag-ui

CLI: concurrency-limit CRUD (list/set/delete/holders/evict)
  .claude/skills/stardag/registry-and-platform.md
  CHANGELOG.md
  docs/docs/configuration/cli.md
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/limits.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test__cli/test_limits.py
Due: pyright-stardag

Move reactive build metadata to the registry
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260714_011326_add_build_reactive_meta.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/target/_in_memory.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_task_store.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-api

Modal id metadata: bound lookups with timeout + cache negatives
  CHANGELOG.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
Due: pyright-stardag

UI: address PR review — gate Modal details, stable app-page fallback, nav tooltips
  CHANGELOG.md
  app/stardag-ui/src/components/Sidebar.test.tsx
  app/stardag-ui/src/components/Sidebar.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/utils/modalLinks.test.ts
  app/stardag-ui/src/utils/modalLinks.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Examples: make the walkthrough's stardag >= 0.10.2 floor explicit
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag-examples/uv.lock
Due: none

CLI concurrency-limits: URL-encode path segments, accept raw env UUID
  CHANGELOG.md
  lib/stardag/src/stardag/_cli/limits.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test__cli/test_limits.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

tests(browser): resolve nav button by role, not text/title union
  integration-tests/tests/test_browser.py
Due: pyright-integration-tests

Address review: typed reactive_app_name column, filter, and gate fixes
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/migrations/versions/20260714_011326_add_build_reactive_meta.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-api

Modal executor metadata: capture app_id + function_id for stable deep links (#175)
  CHANGELOG.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/conftest.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
Due: pyright-stardag

CLI: concurrency-limit CRUD (list/set/delete/holders/evict) (#177)
  .claude/skills/stardag/registry-and-platform.md
  CHANGELOG.md
  docs/docs/configuration/cli.md
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/limits.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test__cli/test_limits.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

Reactive build metadata: move to registry (typed reactive_app_name + reactive_tick_kwargs) (#171)
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/migrations/versions/20260714_011326_add_build_reactive_meta.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/target/_in_memory.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_task_store.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-api

UI: stable Modal deep links + execution details + sidebar nav label (#176)
  CHANGELOG.md
  app/stardag-ui/src/components/ConcurrencyLimits.test.tsx
  app/stardag-ui/src/components/Sidebar.test.tsx
  app/stardag-ui/src/components/Sidebar.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/modalLinks.test.ts
  app/stardag-ui/src/utils/modalLinks.ts
  integration-tests/tests/test_browser.py
Due: pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

Finalize 0.11.0 release notes: date + deep-links/CLI highlights
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Examples: bump lockfile to stardag 0.11.0
  lib/stardag-examples/uv.lock
Due: none

Modal walkthrough example: serialized-safe selectors module + 0.11.0 lockfile (#169)
  docs/docs/how-to/integrate-modal.md
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/configure_limits.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/selectors.py
  lib/stardag-examples/tests/test_modal/test_walkthrough.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

UI: hierarchical breadcrumb for the task Execution section
  CHANGELOG.md
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/utils/modalLinks.test.ts
  app/stardag-ui/src/utils/modalLinks.ts
Due: eslint-stardag-ui, tsc-stardag-ui

UI: address PR review on the Execution breadcrumb
  CHANGELOG.md
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

UI: hierarchical breadcrumb for the task Execution section (#178)
  CHANGELOG.md
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/utils/modalLinks.test.ts
  app/stardag-ui/src/utils/modalLinks.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Reject bare abstract-polymorphic field annotations at class definition (#153)
  CHANGELOG.md
  docs/docs/how-to/define-tasks.md
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/src/stardag/utils/testing/helper_tasks.py
  lib/stardag/tests/test__core/test_rehydrate.py
  lib/stardag/tests/test_polymorphic.py
Due: pyright-stardag

Enforce exact-type on bare concrete polymorphic fields (#153)
  CHANGELOG.md
  docs/docs/how-to/define-tasks.md
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_polymorphic.py
Due: pyright-stardag

Prepare v0.12.0 release (#153)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Reject bare abstract polymorphic fields; enforce exact-type on concrete ones (#179)
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/docs/how-to/define-tasks.md
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/src/stardag/utils/testing/helper_tasks.py
  lib/stardag/tests/test__core/test_rehydrate.py
  lib/stardag/tests/test_polymorphic.py
Due: pyright-stardag

UI: Execution shows only the call ref; per-level links in More details
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

CHANGELOG: supersede the breadcrumb UI note with the call-ref-only design
  CHANGELOG.md
Due: none

CHANGELOG: clarify the copy button copies the id, not the link
  CHANGELOG.md
Due: none
