Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Release v0.19.0 — a task can survive being interrupted
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Release notes: TargetTask, matching the docs fix in #266
  RELEASE_NOTES.md
Due: none

Release v0.19.0 — a task can survive being interrupted (#265)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Bump aws-cdk CLI 2.1030.0 -> 2.1136.0 to match aws-cdk-lib 2.264
  infra/aws-cdk/package-lock.json
  infra/aws-cdk/package.json
Due: none

Bump aws-cdk CLI 2.1030.0 -> 2.1136.0 to match aws-cdk-lib 2.264 (#267)
  infra/aws-cdk/package-lock.json
  infra/aws-cdk/package.json
Due: none

Changelog: record the aws-cdk CLI bump under 0.19.0 Deployment
  CHANGELOG.md
Due: none

Changelog: record the aws-cdk CLI bump under 0.19.0 Deployment (#268)
  CHANGELOG.md
Due: none

docs: bind the directory target once in the checkpoint recipe
  .claude/skills/stardag/sdk-advanced.md
  RELEASE_NOTES.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
  lib/stardag/src/stardag/exceptions.py
Due: pyright-stardag

docs: bind the directory target once in the checkpoint recipe (#269)
  .claude/skills/stardag/sdk-advanced.md
  RELEASE_NOTES.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
  lib/stardag/src/stardag/exceptions.py
Due: pyright-stardag

docs(examples): a task that survives preemption and function timeouts
  lib/stardag-examples/src/stardag_examples/modal/README.md
  lib/stardag-examples/src/stardag_examples/modal/checkpointing/__init__.py
  lib/stardag-examples/src/stardag_examples/modal/checkpointing/app.py
  lib/stardag-examples/src/stardag_examples/modal/checkpointing/main.py
  lib/stardag-examples/src/stardag_examples/modal/checkpointing/task.py
Due: pyright-stardag-examples

Example: bind the directory target once; lock stardag 0.19.0
  lib/stardag-examples/src/stardag_examples/modal/checkpointing/task.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Example: trim commentary that is not what the example is about
  lib/stardag-examples/src/stardag_examples/modal/checkpointing/task.py
Due: pyright-stardag-examples

docs(examples): a task that survives preemption and function timeouts (#264)
  lib/stardag-examples/src/stardag_examples/modal/README.md
  lib/stardag-examples/src/stardag_examples/modal/checkpointing/__init__.py
  lib/stardag-examples/src/stardag_examples/modal/checkpointing/app.py
  lib/stardag-examples/src/stardag_examples/modal/checkpointing/main.py
  lib/stardag-examples/src/stardag_examples/modal/checkpointing/task.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

fix(modal): do not read modal.exception off a bare `import modal`
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/tests/test_integration/test_modal/test_import.py
  lib/stardag/tests/test_target/test__factory.py
Due: pyright-stardag

Correct the root-cause claim: this is hardening, not an observed fix
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/tests/test_integration/test_modal/test_import.py
  lib/stardag/tests/test_target/test__factory.py
Due: pyright-stardag

Root cause established: a consumer package shadowing `modal`
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/tests/test_integration/test_modal/test_import.py
Due: pyright-stardag

docs: how to recognise a shadowed package from the traceback
  RELEASE_NOTES.md
Due: none

Add StardagApp(container_setup=...) for per-container app setup
  .claude/skills/stardag/sdk-advanced.md
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_builder.py
  lib/stardag/src/stardag/integration/modal/_container_setup.py
  lib/stardag/src/stardag/integration/modal/_logging.py
  lib/stardag/src/stardag/integration/modal/_protocols.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Warn at deploy when an app's extra workers are unreachable
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Address review: per-hook setup guard, and precise import wording
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_container_setup.py
  lib/stardag/src/stardag/integration/modal/_protocols.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Default worker_selector on `is None`, not truthiness
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag

Address independent review: pin ordering, validate arity, close doc gaps
  RELEASE_NOTES.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_container_setup.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Fail deploy when no worker is routable at all
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Refuse a callable no container of the app can unpickle
  .claude/skills/stardag/sdk-advanced.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_container_setup.py
  lib/stardag/src/stardag/integration/modal/_protocols.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Changelog: serialized-callable placement guardrail
  CHANGELOG.md
Due: none

Prepare v0.20.1: changelog entry and release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Demote the task-store miss from ERROR to DEBUG
  CHANGELOG.md
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/tests/test_build/test_task_store.py
Due: pyright-stardag

Reword the regression test's comment to match its assertions
  lib/stardag/tests/test_build/test_task_store.py
Due: pyright-stardag

Scope the log assertions to the task store's own logger
  lib/stardag/tests/test_build/test_task_store.py
Due: pyright-stardag

build(deps): hold back three updates that need code changes
  app/stardag-ui/package-lock.json
  app/stardag-ui/package.json
  infra/aws-cdk/package-lock.json
  infra/aws-cdk/package.json
  infra/aws-cdk/tsconfig.json
Due: none

chore(deps): refresh lib/stardag's lockfile after the cryptography bump
  lib/stardag/uv.lock
Due: none

Ship the working tree, not a version its metadata froze years ago
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/integration/modal/_config.py
  lib/stardag/tests/test_integration/test_modal/test__config.py
Due: pyright-stardag

The remedy is --reinstall-package: a plain uv sync leaves it stale
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/integration/modal/_config.py
Due: pyright-stardag

Give the explicit-pin case its own warning
  lib/stardag/src/stardag/integration/modal/_config.py
  lib/stardag/tests/test_integration/test_modal/test__config.py
Due: pyright-stardag

Two on the PyPI branch: lenient on purpose, and name the direction
  lib/stardag/src/stardag/integration/modal/_config.py
  lib/stardag/tests/test_integration/test_modal/test__config.py
Due: pyright-stardag

Say "after the write", not "at the moment of it"
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag, pyright-stardag-api

Only an explicit True may suppress the spawn
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
Due: pyright-stardag

Bound the hand-off, and stop claiming it is crash recovery
  CHANGELOG.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

Wake the scheduler conditionally, and close the exit window first
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/tests/test_builds.py
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-api

Stop recommending the watchdog; the default is the right answer
  .claude/skills/stardag/sdk-advanced.md
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag-examples/src/stardag_examples/modal/checkpointing/app.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag, pyright-stardag-examples

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
