Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Watchdog ticks do one pass and exit
  CHANGELOG.md
  docs/docs/concepts/modal-orchestration.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_spawn.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Address the independent review: a real test, and honest cost documentation
  CHANGELOG.md
  docs/docs/concepts/modal-orchestration.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Watchdog sweep spawns one tick per build instead of running them inline
  CHANGELOG.md
  docs/docs/concepts/modal-orchestration.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Watchdog sweep spawns one tick per build instead of running them inline (#288)
  CHANGELOG.md
  docs/docs/concepts/modal-orchestration.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_spawn.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Assert the Modal workspace, not the profile name, in the live guard
  .github/workflows/modal-live.yml
  DEV_README.md
  lib/stardag/src/stardag/testing/modal/_live.py
  lib/stardag/tests/test_integration/test_modal/test__live_guard.py
Due: pyright-stardag

Cache only a successful workspace resolution
  lib/stardag/src/stardag/testing/modal/_live.py
  lib/stardag/tests/test_integration/test_modal/test__live_guard.py
Due: pyright-stardag

Give 0.22.0 its own changelog section; default server image -> 0.2.0
  CHANGELOG.md
  lib/stardag/src/stardag/selfhost/_modal_app.py
Due: pyright-stardag

Document the server release cadence, and `latest` for self-hosters
  DEV_README.md
  docs/docs/how-to/self-host-modal.md
Due: none

Address review: the image tag is 0.2.0, server-v prefixes the git tag
  CHANGELOG.md
Due: none

Drop the `latest` guidance; it describes behaviour we are replacing
  DEV_README.md
  docs/docs/how-to/self-host-modal.md
Due: none

Server release 0.2.0: changelog split, version bump, and the release cadence (#293)
  CHANGELOG.md
  DEV_README.md
  lib/stardag/src/stardag/selfhost/_modal_app.py
Due: pyright-stardag

Resolve `--server-version latest` at deploy time; let upgrade roll forward
  CHANGELOG.md
  docs/docs/how-to/self-host-modal.md
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/src/stardag/selfhost/_modal_app.py
  lib/stardag/tests/test_selfhost/test_cli_config.py
Due: pyright-stardag

Address review: exit cleanly on an unexpected releases payload
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/tests/test_selfhost/test_cli_config.py
Due: pyright-stardag

Registry-live tier: a deployable registry and the harness around it
  integration-tests/pyproject.toml
  integration-tests/src/stardag_integration_tests/registry_live/__init__.py
  integration-tests/src/stardag_integration_tests/registry_live/_guard.py
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/src/stardag_integration_tests/registry_live/_registry_app.py
  integration-tests/src/stardag_integration_tests/registry_live/dag_app.py
  integration-tests/src/stardag_integration_tests/registry_live/selectors.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/conftest.py
  integration-tests/uv.lock
Due: pyright-integration-tests

Run the registry-live tier in CI, alongside the Modal-execution one
  .github/workflows/modal-live.yml
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  tox.ini
Due: pyright-integration-tests

Use a generic worktree name in the example
  DEV_README.md
Due: none

Provision the stack outside pytest, and run the scenarios concurrently
  integration-tests/.gitignore
  integration-tests/pyproject.toml
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  integration-tests/tests_registry_live/conftest.py
  integration-tests/uv.lock
  tox.ini
Due: pyright-integration-tests

The first registry-live scenario: a worker wakes its own build
  integration-tests/pyproject.toml
  integration-tests/src/stardag_integration_tests/registry_live/_guard.py
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/conftest.py
  integration-tests/tests_registry_live/test_reactive_e2e.py
  tox.ini
Due: pyright-integration-tests

Document the registry-live tier
  DEV_README.md
Due: none

Formatting: ruff
  integration-tests/tests_registry_live/test_claim_race.py
Due: pyright-integration-tests

Two more scenarios: the claim across builds, and the cross-build wake
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/tests_registry_live/conftest.py
  integration-tests/tests_registry_live/test_claim_race.py
  integration-tests/tests_registry_live/test_cross_build_wake.py
Due: pyright-integration-tests

Two things only a fresh CI environment could find
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
Due: pyright-integration-tests

A build goes terminal before its last tick reports; wait for both
  .github/workflows/modal-live.yml
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/tests_registry_live/test_claim_race.py
Due: pyright-integration-tests

Address the Copilot review: six real ones
  integration-tests/src/stardag_integration_tests/registry_live/_registry_app.py
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  integration-tests/src/stardag_integration_tests/registry_live/selectors.py
Due: pyright-integration-tests

Resolve `--server-version latest` at deploy time; let upgrade roll forward (#294)
  CHANGELOG.md
  docs/docs/how-to/self-host-modal.md
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/src/stardag/selfhost/_modal_app.py
  lib/stardag/tests/test_selfhost/test_cli_config.py
Due: pyright-stardag

Read the wake-up flag from its own row, not from the whole frontier
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_wakeups.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Address the independent review: a malformed read must mean "no"
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_wakeups.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Read the wake-up flag from its own row, not from the whole frontier (#289)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_wakeups.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Sweep on every run, and correct what a leaked environment costs
  .github/workflows/modal-live.yml
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
Due: pyright-integration-tests

Address the independent review: nine defects
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_guard.py
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  integration-tests/src/stardag_integration_tests/registry_live/selectors.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/conftest.py
  integration-tests/tests_registry_live/test_claim_race.py
  integration-tests/tests_registry_live/test_cross_build_wake.py
  integration-tests/tests_registry_live/test_reactive_e2e.py
Due: pyright-integration-tests

Test a real Modal worker against a real registry (#295)
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/.gitignore
  integration-tests/pyproject.toml
  integration-tests/src/stardag_integration_tests/registry_live/__init__.py
  integration-tests/src/stardag_integration_tests/registry_live/_guard.py
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/src/stardag_integration_tests/registry_live/_registry_app.py
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/src/stardag_integration_tests/registry_live/dag_app.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  integration-tests/src/stardag_integration_tests/registry_live/selectors.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/conftest.py
  integration-tests/tests_registry_live/test_claim_race.py
  integration-tests/tests_registry_live/test_cross_build_wake.py
  integration-tests/tests_registry_live/test_reactive_e2e.py
  integration-tests/uv.lock
  tox.ini
Due: pyright-integration-tests

Give the scheduler lease its own home on the build row
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260830_190000_add_builds_scheduler_lease.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_wakeups.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_wakeups.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-api

Independent re-review: three fixes the two PR reviews left behind
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Address the independent review: the lease must be able to lose itself
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260830_190000_add_builds_scheduler_lease.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Address the Copilot review: a lost lease must not hand off
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

The lease against the deployed registry: contention, lapse, outage
  integration-tests/tests_registry_live/test_scheduler_lease_live.py
Due: pyright-integration-tests

Address the Copilot re-review: strict boolean, and an honest fake
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

Fail the build when a uv.lock has drifted from its pyproject
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  lib/stardag-examples/standalone/stardag-modal/uv.lock
  scripts/check-uv-locks.sh
Due: none

Build infra/aws-cdk and the standalone Modal example in CI
  .github/workflows/ci.yml
Due: none

Declare the Python projects under `uv`, the ecosystem dependabot uses
  .github/dependabot.yml
Due: none
