Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Review: a closed window is acted on at once, not at the next deadline
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
Due: pyright-stardag

The worker classifies its own execution; the probe waits for it (#350)
  docs/docs/concepts/modal-orchestration.md
  docs/docs/how-to/integrate-modal.md
  integration-tests/tests_registry_live/test_interruption_classification.py
  lib/stardag/src/stardag/build/_reactive/__init__.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_report_window.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
Due: pyright-stardag, pyright-integration-tests

Clearer class grouping in the refusal message; note why the remedy is not truncated
  lib/stardag/src/stardag/build/_task_modules.py
Due: pyright-stardag

A __main__ class gets the remedy that works, not one that cannot
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_task_modules.py
  lib/stardag/tests/test_build/test_task_modules.py
Due: pyright-stardag

Test comment says what the double actually proves
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
Due: pyright-stardag

Refusal message lists distinct classes, not every task
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_task_modules.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_bootstrap.py
  lib/stardag/tests/test_build/test_task_modules.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Group the refusal listing by (class, reason), not class alone
  lib/stardag/src/stardag/build/_task_modules.py
  lib/stardag/tests/test_build/test_task_modules.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Docs: no dangling v0.25.0 reference
  docs/docs/how-to/evolve-dags.md
Due: none

Retire the pickle-based task store: registry data is the only task representation
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/design/execution-claims-and-liveness.md
  docs/docs/concepts/modal-orchestration.md
  docs/docs/how-to/evolve-dags.md
  docs/docs/how-to/integrate-modal.md
  integration-tests/src/stardag_integration_tests/registry_live/_scenario_app.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_reactive/__init__.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/build/_task_modules.py
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_bootstrap.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_budgets.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_build/test_task_modules.py
  lib/stardag/tests/test_build/test_task_store.py
  lib/stardag/tests/test_build/test_wakeups.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-integration-tests

Docs: the concepts page states the task_modules requirement too
  docs/docs/concepts/modal-orchestration.md
Due: none

Rebase fixups: STA-65's new tests use the post-store signatures
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
Due: pyright-stardag

_load_task propagates transient registry errors instead of failing the task
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
Due: pyright-stardag

Retire the pickle-based task store: registry data is the only task representation (#349)
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/design/execution-claims-and-liveness.md
  docs/docs/concepts/modal-orchestration.md
  docs/docs/how-to/evolve-dags.md
  docs/docs/how-to/integrate-modal.md
  integration-tests/src/stardag_integration_tests/registry_live/_scenario_app.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_reactive/__init__.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/build/_task_modules.py
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_bootstrap.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_budgets.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_build/test_task_modules.py
  lib/stardag/tests/test_build/test_task_store.py
  lib/stardag/tests/test_build/test_wakeups.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-integration-tests

Changelog and release notes for the report window (#350)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Review: say plainly that keyword callers are unaffected
  RELEASE_NOTES.md
Due: none

Changelog and release notes for the report window (#350) (#351)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Design note: an execution gets a row, not eight reconstructions
  docs/design/README.md
  docs/design/executions-as-records.md
Due: none

Give an execution an identity the claim can carry before it has a ref
  app/stardag-api/migrations/versions/20260921_150000_add_tasks_latest_execution_id.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_execution_identity.py
Due: pyright-stardag-api

Mint the execution identity in both engines and carry it to the worker
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/design/README.md
  docs/design/executions-as-records.md
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_detached.py
  lib/stardag/tests/test_build/test_execution_identity.py
  lib/stardag/tests/test_build/test_reactive_budgets.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_build/test_registry_limiter.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
  lib/stardag/tests/test_integration/test_modal/test_live_claim_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_registry/test_executor_metadata.py
Due: pyright-stardag

Surface the execution identity, and pin both rules on the live tier
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_execution_identity.py
  integration-tests/tests_registry_live/test_execution_identity.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Copilot round one: the build is part of the identity test, both ways
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_execution_identity.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_claim.py
Due: pyright-stardag, pyright-stardag-api

Copilot round two: silence is not a statement, in the fold too
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_execution_identity.py
  lib/stardag/tests/test_build/reactive_fakes.py
Due: pyright-stardag, pyright-stardag-api

Copilot round three: correct the model comment the fold no longer matches
  app/stardag-api/src/stardag_api/models/task.py
Due: pyright-stardag-api

Copilot round four: the recording double swallowed the identity
  lib/stardag/tests/test_build/conftest.py
Due: pyright-stardag

Copilot round five: a report may not contradict either identity
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_execution_identity.py
Due: pyright-stardag-api

Copilot round six: two more doubles that swallowed the identity
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_integration/test_modal/test_live_claim_e2e.py
Due: pyright-stardag

Copilot round seven: a granted claim inherits no identity
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_execution_identity.py
Due: pyright-stardag-api

A non-task model with significance= fields can be named by a build config
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/docs/concepts/parameters.md
  lib/stardag/src/stardag/base_model.py
  lib/stardag/src/stardag/build_config.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_base_model.py
  lib/stardag/tests/test_build_config.py
  lib/stardag/tests/test_integration/test_modal/test_runner.py
Due: pyright-stardag

Refuse a model that shadows a task's build-config key
  docs/docs/concepts/parameters.md
  lib/stardag/src/stardag/build_config.py
  lib/stardag/tests/test_base_model.py
Due: pyright-stardag

Copilot round eight: the last two delegating doubles, and the submit limit
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/tests/test_build/test_detached.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
Due: pyright-stardag

An abstract model takes its own key, and is not indexed at all
  lib/stardag/src/stardag/base_model.py
  lib/stardag/src/stardag/build_config.py
  lib/stardag/tests/test_base_model.py
Due: pyright-stardag

Copilot round nine: the fake modelled half the ownership rule
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_execution_identity.py
Due: pyright-stardag

A generic alias resolves against its origin's key
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test_base_model.py
Due: pyright-stardag

Copilot round ten: the eviction echo, and the claim contract
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/tests/test_execution_identity.py
Due: pyright-stardag-api

Docs: say when a task/model key clash is caught, not just that it is
  docs/docs/concepts/parameters.md
Due: none

Agent review: drop the unsound ownership clause, survive a lost spawn
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_execution_identity.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_execution_identity.py
Due: pyright-stardag, pyright-stardag-api

A non-task model with significance= fields can be named by a build config (#354)
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/docs/concepts/parameters.md
  lib/stardag/src/stardag/base_model.py
  lib/stardag/src/stardag/build_config.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_base_model.py
  lib/stardag/tests/test_build_config.py
  lib/stardag/tests/test_integration/test_modal/test_runner.py
Due: pyright-stardag

Copilot round two: the panel pages, and rows can be ticked
  CHANGELOG.md
  app/stardag-ui/src/components/BuildStopPanel.test.tsx
  app/stardag-ui/src/components/BuildStopPanel.tsx
  app/stardag-ui/src/utils/stoppable.test.ts
  app/stardag-ui/src/utils/stoppable.ts
  docs/docs/configuration/cli.md
Due: eslint-stardag-ui, tsc-stardag-ui

Copilot round one: JSON before the refusal, and four smaller ones
  app/stardag-ui/src/components/BuildStopPanel.test.tsx
  app/stardag-ui/src/components/BuildStopPanel.tsx
  app/stardag-ui/src/utils/stoppable.test.ts
  app/stardag-ui/src/utils/stoppable.ts
  docs/docs/configuration/cli.md
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  lib/stardag/src/stardag/_cli/_stop.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/tests/test__cli/test_stop.py
Due: pyright-stardag, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

Self-review: one filter pass, a clearer prompt, a detected scan
  lib/stardag/src/stardag/_cli/_stop.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/tests/test__cli/test_stop.py
Due: pyright-stardag
