Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Fix _run_task_in_process to respect dynamic deps contract
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Reorganize test_build tests to match package module structure
  lib/stardag/tests/test_build/__init__.py
  lib/stardag/tests/test_build/_helpers.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_async_interface.py
  lib/stardag/tests/test_build/test_build.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

cleanup test structure for build
  lib/stardag/src/stardag/utils/testing/helper_tasks.py
  lib/stardag/tests/test_build/__init__.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

Fix integration tests for new build API
  integration-tests/tests/test_full_flow.py
  integration-tests/uv.lock
Due: none

Update benchmarks to use new build API
  lib/stardag/benchmarks/README.md
  lib/stardag/benchmarks/run_benchmark.py
Due: pyright-stardag

Add pyright hook for integration-tests, remove stale benchmarks
  .pre-commit-config.yaml
  lib/stardag/benchmarks/README.md
  lib/stardag/benchmarks/__init__.py
  lib/stardag/benchmarks/dags.py
  lib/stardag/benchmarks/results.json
  lib/stardag/benchmarks/run_benchmark.py
  lib/stardag/benchmarks/tasks.py
Due: pyright-stardag

Add integration-pyright to tox envlist and SKIP
  tox.ini
Due: none

pyright and ci fixes
  .github/workflows/ci.yml
  integration-tests/pyproject.toml
  tox.ini
Due: none

fix typo in tox.ini
  integration-tests/uv.lock
  tox.ini
Due: none

Fix browser tests: use build_sequential to avoid event loop conflict
  integration-tests/tests/test_full_flow.py
Due: none

adds pyright to CI
  tox.ini
Due: none

Extract shared HTTP client factory for Registry API
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/src/stardag/registry/_lock.py
Due: pyright-stardag

Refactor GlobalConcurrencyLock to GlobalConcurrencyLockManager protocol
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_lock.py
Due: pyright-stardag

Add global concurrency lock for distributed task execution
  app/stardag-api/migrations/versions/20260111_143920_add_distributed_locks_table_and_.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/lock.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/locks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/__init__.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/tests/test_locks.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_lock.py
Due: pyright-stardag, pyright-stardag-api

Move handle_response_error to shared HTTP client module
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/src/stardag/registry/_lock.py
Due: pyright-stardag

Integrate global concurrency lock into build system
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Fix lock wait behavior for HELD_BY_OTHER and CONCURRENCY_LIMIT_REACHED
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Add exponential backoff for lock polling and comprehensive tests
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag

improves defualt registry selection in build methods, adds tests for modal async target and file system methods
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/tests/test_integration/test_modal/test__target.py
Due: pyright-stardag

Improve build module documentation and error handling (Phase 1)
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Rename TaskRunner → TaskExecutor across codebase
  lib/stardag-examples/src/stardag_examples/benchmarks/completion_check.py
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/prefect_build.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag, pyright-stardag-examples

Move registry calls from TaskExecutor to build functions
  lib/stardag-examples/src/stardag_examples/benchmarks/completion_check.py
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag, pyright-stardag-examples

Remove RunWrapper, add RoutedTaskExecutor for flexible routing
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/uv.lock
Due: pyright-stardag

Use asyncio.wait with FIRST_COMPLETED for better concurrency
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Optimize discovery to stop traversal at complete tasks
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Add registry event for dynamic dependency discovery
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag

Address remaining PR review comments
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag

Add TODO for concurrent completion checks in subprocess
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Add suspend/resume task events for dynamic dependency tracking
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskFilters.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/types/task.ts
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Rename _PrefectBuildOrchestrator to _PrefectTaskRunWrapper
  lib/stardag/src/stardag/integration/prefect/build.py
Due: pyright-stardag

Move ExecutionMode types from _base.py to _concurrent.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Add concurrent DAG discovery with TaskGroup
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Stop discovery at complete tasks in sequential build
  lib/stardag/src/stardag/build/_sequential.py
Due: pyright-stardag

Refactor task event endpoints to reduce duplication
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

minor docs fix
  lib/stardag-examples/src/stardag_examples/ml_pipeline/prefect_build.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Add async serialization support with _DumpsLoadsSerializer base class
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/target/serialize.py
  lib/stardag/tests/test_target/test_serialize.py
  scripts/test.sh
Due: pyright-stardag

Replace run_version_checked with __init_subclass__ precheck wrapping
  lib/stardag/src/stardag/_task.py
  lib/stardag/tests/test_task.py
Due: pyright-stardag

Replace mocked Modal async tests with real integration tests
  lib/stardag/tests/test_integration/test_modal/test__target.py
Due: pyright-stardag

Add bidirectional run/run_aio symmetry for Task interface
  lib/stardag/src/stardag/_auto_task.py
  lib/stardag/src/stardag/_task.py
  lib/stardag/src/stardag/build/task_runner.py
  lib/stardag/tests/test_task.py
Due: pyright-stardag

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
