Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

first draft of hosted docs, a lot to cleanup and some remaining TODOs
  .github/workflows/docs.yml
  .gitignore
  .pre-commit-config.yaml
  docs/README.md
  docs/docs/concepts/build-execution.md
  docs/docs/concepts/dependencies.md
  docs/docs/concepts/index.md
  docs/docs/concepts/parameter-hashing.md
  docs/docs/concepts/targets.md
  docs/docs/concepts/tasks.md
  docs/docs/configuration/cli.md
  docs/docs/configuration/index.md
  docs/docs/configuration/profiles.md
  docs/docs/configuration/workspaces.md
  docs/docs/getting-started/first-dag.md
  docs/docs/getting-started/index.md
  docs/docs/getting-started/installation.md
  docs/docs/getting-started/quickstart.md
  docs/docs/how-to/configure-storage.md
  docs/docs/how-to/define-tasks.md
  docs/docs/how-to/index.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/integrate-prefect.md
  docs/docs/how-to/use-api-registry.md
  docs/docs/index.md
  docs/docs/platform/api.md
  docs/docs/platform/index.md
  docs/docs/platform/self-hosting.md
  docs/docs/platform/ui.md
  docs/docs/reference/api.md
  docs/docs/reference/exceptions.md
  docs/docs/reference/index.md
  docs/mkdocs.yml
  docs/pyproject.toml
  docs/uv.lock
  lib/stardag/src/stardag/__init__.py
  stardag.code-workspace
Due: pyright-stardag

uv sync in docs and add defualt python interpreter in docs codespace
  docs/uv.lock
  stardag.code-workspace
Due: none

make cli private module
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/auth.py
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/credentials.py
  lib/stardag/src/stardag/_cli/registry.py
  lib/stardag/tests/test__cli/__init__.py
  lib/stardag/tests/test__cli/test_config.py
  lib/stardag/tests/test__cli/test_registry.py
Due: pyright-stardag

clean up package and tests structure
  lib/stardag-examples/src/stardag_examples/benchmarks/completion_check.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag-examples/src/stardag_examples/registry_assets_demo.py
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_core/auto_task.py
  lib/stardag/src/stardag/_core/decorator.py
  lib/stardag/src/stardag/_core/hashable_set.py
  lib/stardag/src/stardag/_core/registry_asset.py
  lib/stardag/src/stardag/_core/target_base.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/_core/task_id.py
  lib/stardag/src/stardag/_core/task_loads.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/integration/aws/s3.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/target/__init__.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/src/stardag/utils/testing/__init__.py
  lib/stardag/src/stardag/utils/testing/dynamic_deps_dag.py
  lib/stardag/src/stardag/utils/testing/helper_tasks.py
  lib/stardag/src/stardag/utils/testing/namepace.py
  lib/stardag/src/stardag/utils/testing/simple_dag.py
  lib/stardag/tests/test__core/test_auto_task.py
  lib/stardag/tests/test__core/test_decorator.py
  lib/stardag/tests/test__core/test_hashable_set.py
  lib/stardag/tests/test__core/test_registry_asset.py
  lib/stardag/tests/test__core/test_task.py
  lib/stardag/tests/test__core/test_task_loads.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag, pyright-stardag-examples

move out registry asset from core
  lib/stardag-examples/src/stardag_examples/registry_assets_demo.py
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/registry_asset.py
  lib/stardag/tests/test_registry_asset.py
Due: pyright-stardag, pyright-stardag-examples

makes docs build and adds basic styling
  docs/docs/assets/favicon.svg
  docs/docs/assets/icon.svg
  docs/docs/assets/logo.svg
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/integrate-prefect.md
  docs/docs/how-to/use-api-registry.md
  docs/docs/platform/api.md
  docs/docs/reference/api.md
  docs/docs/stylesheets/extra.css
  docs/mkdocs.yml
Due: none

fix too dark active navigation title color
  docs/docs/stylesheets/extra.css
Due: none

rename Home -> Stardag
  docs/mkdocs.yml
Due: none

adds alias task and smoke test
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/_core/auto_task.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/base_model.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test__core/test_aliased_task.py
Due: pyright-stardag

adds AliasTask.from_registry classmethod and TODOs for API implementation
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag

adds output_uri to task registry
  app/stardag-api/migrations/versions/20260116_142453_add_output_uri_to_tasks.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_tasks.py
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/hooks/useTasks.ts
  app/stardag-ui/src/types/task.ts
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

make output uri copyable in UI
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/tests/test_builds.py
  app/stardag-ui/src/components/TaskDetail.tsx
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

adds validation that loaded type is passed
  lib/stardag/src/stardag/_core/alias_task.py
Due: pyright-stardag

adds TaskBase.from_registry
  lib/stardag/src/stardag/_core/task.py
Due: pyright-stardag

fix serialization of AliasTask loads type, fix missnamed name_space in TaskMetadata
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test__core/test_alias_task.py
  lib/stardag/tests/test__core/test_task.py
Due: pyright-stardag, pyright-stardag-api

fix api test
  app/stardag-api/tests/test_tasks.py
Due: pyright-stardag-api

rename FileSystemTarget.path to .uri for clarity
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/src/stardag/target/_in_memory.py
  lib/stardag/src/stardag/target/serialize.py
  lib/stardag/tests/test__core/test_alias_task.py
  lib/stardag/tests/test__core/test_auto_task.py
  lib/stardag/tests/test__core/test_decorator.py
  lib/stardag/tests/test__core/test_task.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_conftest.py
  lib/stardag/tests/test_integration/test_modal/test__target.py
  lib/stardag/tests/test_target/test__base.py
Due: pyright-stardag

fix outdated target path reference in examples
  lib/stardag-examples/tests/test_ml_pipeline/test_decorator_api.py
Due: pyright-stardag-examples

rename LocalTarget._path -> path
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/src/stardag/target/_base.py
Due: pyright-stardag

adds markdown-docs, updates examples and fix for circular imports (expose alias task from top level
  docs/pyproject.toml
  docs/uv.lock
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_core/__init__.py
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/src/stardag/utils/resource_provider.py
  lib/stardag/tests/test__core/test_alias_task.py
  lib/stardag/tests/test_build/__init__.py
  lib/stardag/tests/test_integration/__init__.py
  lib/stardag/tests/test_integration/test_prefect/__init__.py
  lib/stardag/uv.lock
  tox.ini
Due: pyright-stardag

adds USER_GUIDE.md to docs tests (as a poc) and breaks out fixtures (todo some duplication)
  USER_GUIDE.md
  conftest.py
  lib/stardag/conftest.py
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/_core/alias_task.py
Due: pyright-stardag

poc of pytest-codeblock (failing)
  docs/conftest.py
  docs/docs/concepts/build-execution.md
  docs/pyproject.toml
  docs/uv.lock
Due: none

switch to pytest-markdown-docs also for ./docs
  docs/pyproject.toml
  docs/uv.lock
Due: none
