Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

run-migrations.sh: MIGRATION_ENV passes environment to the migration run
  infra/aws-cdk/README.md
  infra/aws-cdk/scripts/run-migrations.sh
Due: none

Agent skill: rewrite the bundled stardag skill for the v2 line
  .claude/skills/stardag/README.md
  .claude/skills/stardag/SKILL.md
  .claude/skills/stardag/examples.md
  .claude/skills/stardag/registry-and-platform.md
  .claude/skills/stardag/sdk-advanced.md
  .claude/skills/stardag/sdk-core.md
  .claude/skills/stardag/sdk-targets.md
Due: none

Changelog and plan: the pre-release polish items
  CHANGELOG.md
  docs/design/registry-v2/plan.md
Due: none

Docs: four v1 claims the v2 code contradicts
  docs/docs/concepts/build-execution.md
  docs/docs/concepts/modal-orchestration.md
  docs/docs/how-to/integrate-modal.md
Due: none

Address Copilot review: import order, MIGRATION_ENV off argv, route split
  .claude/skills/stardag/registry-and-platform.md
  app/stardag-api/migrations/versions/20260924_004916_registry_v2_core_schema.py
  docs/docs/how-to/integrate-modal.md
  infra/aws-cdk/scripts/run-migrations.sh
Due: pyright-stardag-api

run-migrations.sh: pass the overrides to the AWS CLI through a temp file
  infra/aws-cdk/scripts/run-migrations.sh
Due: none

run-migrations.sh: hand MIGRATION_ENV to the helper only, not exported
  infra/aws-cdk/scripts/run-migrations.sh
Due: none

Release 0.27.0 / server-v0.6.0: date the entries, pin the final server
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/design/registry-v2/plan.md
  lib/stardag-examples/README.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag/src/stardag/selfhost/_modal_app.py
Due: pyright-stardag

DEFAULT_SERVER_VERSION comment: state the merge-to-tag window honestly
  lib/stardag/src/stardag/selfhost/_modal_app.py
Due: pyright-stardag

Examples: relock on the released stardag 0.27.0
  CHANGELOG.md
  docs/design/registry-v2/plan.md
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/standalone/stardag-modal/pyproject.toml
  lib/stardag-examples/standalone/stardag-modal/uv.lock
  lib/stardag-examples/uv.lock
Due: none

Examples relock: drop the two comments that still described the rc pin as pending
  docs/design/registry-v2/plan.md
  lib/stardag-examples/pyproject.toml
Due: none

Examples: relock on the released stardag 0.27.0 (#416)
  CHANGELOG.md
  docs/design/registry-v2/plan.md
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/standalone/stardag-modal/pyproject.toml
  lib/stardag-examples/standalone/stardag-modal/uv.lock
  lib/stardag-examples/uv.lock
Due: none

Retry a registry answer lost in transit, body read included
  CHANGELOG.md
  docs/uv.lock
  integration-tests/uv.lock
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/registry/_api_http.py
  lib/stardag/tests/test_registry/test_api_registry.py
  lib/stardag/uv.lock
Due: pyright-stardag

Bound the retry by time, jitter it, and say where re-delivery is unsafe
  CHANGELOG.md
  lib/stardag/src/stardag/registry/_api_http.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

Let a timed-out attempt be retried: bound the call at two timeouts
  CHANGELOG.md
  lib/stardag/src/stardag/registry/_api_http.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

Mint the build id client-side, so a re-sent create finds its own build
  CHANGELOG.md
  lib/stardag/src/stardag/registry/_api_http.py
  lib/stardag/src/stardag/registry/_api_routes.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

Do not re-send a tick summary: better lost than doubled
  lib/stardag/src/stardag/registry/_api_http.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

Retry a registry answer lost in transit, body read included (#417)
  CHANGELOG.md
  docs/uv.lock
  integration-tests/uv.lock
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/registry/_api_http.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_api_routes.py
  lib/stardag/tests/test_registry/test_api_registry.py
  lib/stardag/uv.lock
Due: pyright-stardag

Registry-live: a fail-fast label for iterating on a PR
  .github/workflows/modal-live.yml
Due: none

Registry-live: absorb lost answers, count them, re-run only what failed
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/src/stardag_integration_tests/registry_live/_events.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  integration-tests/tests/test_registry_live_diagnostics.py
  integration-tests/tests_registry_live/conftest.py
  tox.ini
Due: pyright-integration-tests

Hand a re-flagged build out again once its tick has ended
  CHANGELOG.md
  DEV_README.md
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_v2_wakeups.py
Due: pyright-stardag-api

Record the release on the build row, not by writing the wake row
  CHANGELOG.md
  DEV_README.md
  app/stardag-api/migrations/versions/20260926_120000_add_build_scheduler_lease_released_at.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_v2_wakeups.py
  docs/docs/concepts/modal-orchestration.md
  integration-tests/tests_registry_live/test_suspended_blocker.py
Due: pyright-stardag-api, pyright-integration-tests

A strictly older hand-out is spent; mirror it in the in-memory registry
  app/stardag-api/src/stardag_api/models/build_wake.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  docs/design/registry-v2/design.md
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/testing/_registry_state.py
  lib/stardag/tests/test_build/test_wakeups.py
Due: pyright-stardag, pyright-stardag-api

Bound the harness's read retry by time, and name the annotation a fault
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_events.py
Due: pyright-integration-tests

Registry-live: absorb lost answers, count them, re-run only what failed (#419)
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/src/stardag_integration_tests/registry_live/_events.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  integration-tests/tests/test_registry_live_diagnostics.py
  integration-tests/tests_registry_live/conftest.py
  tox.ini
Due: pyright-integration-tests

Registry-live: gates instead of clock-sized windows, planned order
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_gates.py
  integration-tests/src/stardag_integration_tests/registry_live/_ordering.py
  integration-tests/src/stardag_integration_tests/registry_live/_rollover.py
  integration-tests/src/stardag_integration_tests/registry_live/_scenario_app.py
  integration-tests/src/stardag_integration_tests/registry_live/rollover_app.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests/test_registry_live_gates.py
  integration-tests/tests_registry_live/conftest.py
  integration-tests/tests_registry_live/test_builds_stop.py
  integration-tests/tests_registry_live/test_cancel_authority.py
  integration-tests/tests_registry_live/test_claim_race.py
  integration-tests/tests_registry_live/test_cross_build_wake.py
  integration-tests/tests_registry_live/test_execution_identity.py
  integration-tests/tests_registry_live/test_failed_blocker.py
  integration-tests/tests_registry_live/test_interruption_classification.py
  integration-tests/tests_registry_live/test_limit_slot_wake.py
  integration-tests/tests_registry_live/test_reactive_e2e.py
  integration-tests/tests_registry_live/test_rollover.py
  integration-tests/tests_registry_live/test_s14_resume_under_new_settings.py
  integration-tests/tests_registry_live/test_s1_scopes_diverge_on_structure.py
  integration-tests/tests_registry_live/test_s20_root_identity_changed_at_rollover.py
  integration-tests/tests_registry_live/test_s21_dead_worker_claim_is_taken_over.py
  integration-tests/tests_registry_live/test_s22_closure_admits_a_withdrawn_yield.py
  integration-tests/tests_registry_live/test_s24_distinct_instances_do_not_share_yields.py
  integration-tests/tests_registry_live/test_s26_hybrid_driver_plans_under_the_app.py
  integration-tests/tests_registry_live/test_s33_seal_refuses_a_superseded_rollover.py
  integration-tests/tests_registry_live/test_s37_deploy_recorded_late.py
  integration-tests/tests_registry_live/test_s5_deleted_target_is_invalidated.py
  integration-tests/tests_registry_live/test_s6_redeploy_without_change.py
  integration-tests/tests_registry_live/test_s7_old_deployment_yield_after_switch.py
  integration-tests/tests_registry_live/test_s8_settings_scopes.py
  integration-tests/tests_registry_live/test_scheduler_lease_live.py
  integration-tests/tests_registry_live/test_shared_structure_scope.py
  integration-tests/tests_registry_live/test_suspended_blocker.py
  integration-tests/tests_registry_live/test_wake_storm.py
  integration-tests/tests_registry_live/test_watchdog_sweep.py
  integration-tests/tests_registry_live/test_wide_fan_out.py
  tox.ini
Due: pyright-integration-tests

Only a live lease's release spends a hand-out; notify re-stamps after its check
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_v2_wakeups.py
  lib/stardag/src/stardag/testing/_registry.py
Due: pyright-stardag, pyright-stardag-api

Registry-live: a deploy that never serves fails; gate records are removed
  integration-tests/src/stardag_integration_tests/registry_live/_gates.py
  integration-tests/src/stardag_integration_tests/registry_live/_rollover.py
Due: pyright-integration-tests

notify orders its lease check against lease writes with FOR SHARE
  app/stardag-api/src/stardag_api/services/wakeups.py
Due: pyright-stardag-api

Registry-live: no serving wait for an unactivated deploy; keep release keys
  integration-tests/src/stardag_integration_tests/registry_live/_gates.py
  integration-tests/src/stardag_integration_tests/registry_live/_rollover.py
Due: pyright-integration-tests

Registry-live: keep the serving wait for S37's unactivated deploy
  integration-tests/src/stardag_integration_tests/registry_live/_rollover.py
Due: pyright-integration-tests

Hand a re-flagged build out again once its tick has ended (#420)
  CHANGELOG.md
  DEV_README.md
  app/stardag-api/migrations/versions/20260926_120000_add_build_scheduler_lease_released_at.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/models/build_wake.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_v2_wakeups.py
  docs/design/registry-v2/design.md
  docs/docs/concepts/modal-orchestration.md
  integration-tests/tests_registry_live/test_suspended_blocker.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/testing/_registry_state.py
  lib/stardag/tests/test_build/test_wakeups.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Registry-live: gates instead of clock-sized windows, planned order (#418)
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_gates.py
  integration-tests/src/stardag_integration_tests/registry_live/_ordering.py
  integration-tests/src/stardag_integration_tests/registry_live/_rollover.py
  integration-tests/src/stardag_integration_tests/registry_live/_scenario_app.py
  integration-tests/src/stardag_integration_tests/registry_live/rollover_app.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests/test_registry_live_gates.py
  integration-tests/tests_registry_live/conftest.py
  integration-tests/tests_registry_live/test_builds_stop.py
  integration-tests/tests_registry_live/test_cancel_authority.py
  integration-tests/tests_registry_live/test_claim_race.py
  integration-tests/tests_registry_live/test_cross_build_wake.py
  integration-tests/tests_registry_live/test_execution_identity.py
  integration-tests/tests_registry_live/test_failed_blocker.py
  integration-tests/tests_registry_live/test_interruption_classification.py
  integration-tests/tests_registry_live/test_limit_slot_wake.py
  integration-tests/tests_registry_live/test_reactive_e2e.py
  integration-tests/tests_registry_live/test_rollover.py
  integration-tests/tests_registry_live/test_s14_resume_under_new_settings.py
  integration-tests/tests_registry_live/test_s1_scopes_diverge_on_structure.py
  integration-tests/tests_registry_live/test_s20_root_identity_changed_at_rollover.py
  integration-tests/tests_registry_live/test_s21_dead_worker_claim_is_taken_over.py
  integration-tests/tests_registry_live/test_s22_closure_admits_a_withdrawn_yield.py
  integration-tests/tests_registry_live/test_s24_distinct_instances_do_not_share_yields.py
  integration-tests/tests_registry_live/test_s26_hybrid_driver_plans_under_the_app.py
  integration-tests/tests_registry_live/test_s33_seal_refuses_a_superseded_rollover.py
  integration-tests/tests_registry_live/test_s37_deploy_recorded_late.py
  integration-tests/tests_registry_live/test_s5_deleted_target_is_invalidated.py
  integration-tests/tests_registry_live/test_s6_redeploy_without_change.py
  integration-tests/tests_registry_live/test_s7_old_deployment_yield_after_switch.py
  integration-tests/tests_registry_live/test_s8_settings_scopes.py
  integration-tests/tests_registry_live/test_scheduler_lease_live.py
  integration-tests/tests_registry_live/test_shared_structure_scope.py
  integration-tests/tests_registry_live/test_suspended_blocker.py
  integration-tests/tests_registry_live/test_wake_storm.py
  integration-tests/tests_registry_live/test_watchdog_sweep.py
  integration-tests/tests_registry_live/test_wide_fan_out.py
  tox.ini
Due: pyright-integration-tests

Reactive ticks: exit pass, lifetime bound, drain after every pass
  CHANGELOG.md
  app/stardag-ui/src/components/TickSummaryTrail.tsx
  app/stardag-ui/src/types/task.ts
  integration-tests/src/stardag_integration_tests/registry_live/_scenario_app.py
  lib/stardag/src/stardag/build/_reactive/__init__.py
  lib/stardag/src/stardag/build/_reactive/_config.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/build/_resident.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_build/test_resident_detached.py
Due: pyright-stardag, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

CLI writes wake what they changed; builds tick; stall measurement
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/registry_v2/reactive.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_v2_wakeups.py
  docs/docs/concepts/modal-orchestration.md
  docs/docs/configuration/cli.md
  docs/docs/how-to/integrate-modal.md
  integration-tests/tests_registry_live/conftest.py
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/_wake.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/_cli/builds_stop.py
  lib/stardag/src/stardag/_cli/builds_tick.py
  lib/stardag/src/stardag/_cli/tasks_actions.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_reads.py
  lib/stardag/src/stardag/registry/_base_reads.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/tests/test__cli/conftest.py
  lib/stardag/tests/test__cli/test_builds_tick.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Anchor the tick lifetime at invocation start; re-drain a mid-flight request
  app/stardag-ui/src/components/TickSummaryTrail.tsx
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/build/_resident.py
  lib/stardag/src/stardag/integration/modal/_functions.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_build/test_resident_detached.py
Due: pyright-stardag, eslint-stardag-ui, tsc-stardag-ui

Stall ordering by the reported since; whole Modal token; exclude lookup first
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_v2_wakeups.py
  lib/stardag/src/stardag/_cli/_wake.py
  lib/stardag/src/stardag/_cli/tasks_actions.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/testing/_registry_state.py
  lib/stardag/tests/test__cli/test_builds_tick.py
Due: pyright-stardag, pyright-stardag-api

Hold sqlalchemy at 2.0 until 2.1 is decided on its own
  .github/dependabot.yml
Due: none

Start no acting pass past the lifetime bound; cap the poll sleep by it
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/tests/test_build/test_reactive_tick.py
Due: pyright-stardag

Hold sqlalchemy at 2.0 until 2.1 is decided on its own (#433)
  .github/dependabot.yml
Due: none
