Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Require user in all credential and token cache functions
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/config.py
Due: pyright-stardag

Improve org/workspace selection display format
  lib/stardag/src/stardag/cli/auth.py
Due: pyright-stardag

Add multi-user support for credentials and access tokens
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/config.py
Due: pyright-stardag

Fix user extraction from OIDC tokens (use ID token first)
  lib/stardag/src/stardag/cli/auth.py
Due: pyright-stardag

Require verified org/workspace when adding CLI profiles
  lib/stardag/src/stardag/cli/config.py
Due: pyright-stardag

Add unit tests for profile add org/workspace verification
  lib/stardag/tests/test_cli_config.py
Due: pyright-stardag

Fix ruff formatting in test file
  lib/stardag/tests/test_cli_config.py
Due: pyright-stardag

Address Copilot review comments on test file
  lib/stardag/tests/test_cli_config.py
Due: pyright-stardag

Add user field to profile list output
  lib/stardag/src/stardag/cli/config.py
Due: pyright-stardag

Improve Task Explorer search UX with 3-stage autocomplete
  app/stardag-ui/docs/SEARCH_UX.md
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Add Task Explorer with advanced filtering and sidebar navigation
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/Sidebar.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  integration-tests/tests/test_browser.py
  integration-tests/uv.lock
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Fix search not waiting for user to complete query before executing
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix browser test selectors and login fixtures
  integration-tests/tests/test_browser.py
Due: none

Improve search UX: space-based syntax, auto-show autocomplete, filter composition
  app/stardag-ui/docs/SEARCH_UX.md
  app/stardag-ui/src/components/TaskExplorer.tsx
  integration-tests/tests/test_browser.py
Due: eslint-stardag-ui, tsc-stardag-ui

Fix param filtering and add search API tests
  app/stardag-api/src/stardag_api/routes/search.py
  integration-tests/tests/test_api_auth.py
Due: pyright-stardag-api

Address PR review feedback: value autocomplete, caching, and fixes
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-ui/src/components/TaskExplorer.tsx
  integration-tests/tests/test_browser.py
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Auto-collapse DAG when multiple builds selected, restore on single build
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix DAG panel collapse and resize behavior in BuildView and TaskExplorer
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  integration-tests/tests/test_browser.py
Due: eslint-stardag-ui, tsc-stardag-ui

Keep DAG header visible when collapsed, move DAG to top in TaskExplorer
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix build filter SQL - scalar subquery must return single column
  app/stardag-api/src/stardag_api/routes/search.py
Due: pyright-stardag-api

Fix Task Explorer detail panel to extend full height
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Add Task Explorer enhancements: duplicate filter prevention, click-to-edit, range queries fix, task detail panel, DAG view
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

UI improvements: collapsible DAG, link icons, sidebar fixes
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/Sidebar.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

adds integration tests to to level workspace root
  stardag.code-workspace
Due: none

Fix DAG toggle test for disabled button and reduce Playwright timeouts
  integration-tests/tests/conftest.py
  integration-tests/tests/test_browser.py
Due: none

Add column management for TaskExplorer with asset filtering support
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-ui/package-lock.json
  app/stardag-ui/package.json
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/ColumnManagerModal.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/truncateKey.ts
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Fix column header truncation to match actual CSS rendering
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/utils/truncateKey.ts
Due: eslint-stardag-ui, tsc-stardag-ui

fix failing integration tests
  integration-tests/tests/test_browser.py
  tox.ini
Due: none
