Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Fix misleading slug display in stardag modal CLI (v0.7.3) (#143)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/config/cache.py
Due: pyright-stardag

Surface API detail on 403 in environment CLI
  lib/stardag/src/stardag/_cli/environment.py
Due: pyright-stardag

Surface API detail on 403 in environment CLI (#145)
  lib/stardag/src/stardag/_cli/environment.py
Due: pyright-stardag

Fix compat_default hash-skip to compare raw value, not serialized
  CHANGELOG.md
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test_base_model.py
Due: pyright-stardag

Address review: short-circuit hash_exclude, 3.10-compatible enum, docstring
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test_base_model.py
Due: pyright-stardag

Draft v0.8.0 changelog and release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Fix flaky ml_pipeline example test by making data generation deterministic
  lib/stardag-examples/src/stardag_examples/ml_pipeline/base.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/decorator_api.py
  lib/stardag-examples/tests/test_ml_pipeline/test_decorator_api.py
Due: pyright-stardag-examples

Fix compat_default hash-skip to compare raw value, not serialized (#147)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag-examples/src/stardag_examples/ml_pipeline/base.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/decorator_api.py
  lib/stardag-examples/tests/test_ml_pipeline/test_decorator_api.py
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test_base_model.py
Due: pyright-stardag, pyright-stardag-examples

Make tenancy quotas configurable via LIMITS_* env vars
  app/stardag-api/src/stardag_api/limits.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/workspaces.py
  app/stardag-api/tests/test_workspaces.py
  infra/aws-cdk/lib/api-stack.ts
Due: pyright-stardag-api

Make tenancy quotas configurable via LIMITS_* env vars (#144)
  app/stardag-api/src/stardag_api/limits.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/workspaces.py
  app/stardag-api/tests/test_workspaces.py
  infra/aws-cdk/lib/api-stack.ts
Due: pyright-stardag-api

CDK: rename LIMITS_MAX_ASSET(S)_* env vars to ARTIFACT(S)_*
  infra/aws-cdk/lib/api-stack.ts
Due: none

CDK: rename LIMITS_MAX_ASSET(S)_* env vars to ARTIFACT(S)_* (#149)
  infra/aws-cdk/lib/api-stack.ts
Due: none

Fix stardag modal deploy on modal >= 1.4.3 (ensure_env import)
  CHANGELOG.md
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/tests/test__cli/test_modal.py
Due: pyright-stardag

Draft changelog and release notes for v0.8.1
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Bump dev lockfile to modal 1.5.0 so CI covers the new import path
  CHANGELOG.md
  lib/stardag/uv.lock
Due: none

Fix `stardag modal deploy` on modal >= 1.4.3 (`ensure_env` import) (#150)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/tests/test__cli/test_modal.py
  lib/stardag/uv.lock
Due: pyright-stardag

Add granular concurrency limits for task execution
  .claude/skills/stardag/sdk-core.md
  docs/docs/concepts/build-execution.md
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_concurrency.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_concurrency_limits.py
Due: pyright-stardag

Add changelog entry for concurrency limits
  CHANGELOG.md
Due: none

Address PR review: keyword args in build() + Prefect docstring note
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/prefect/_build.py
Due: pyright-stardag

Add granular concurrency limits for task execution (#151)
  .claude/skills/stardag/sdk-core.md
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_concurrency.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/prefect/_build.py
  lib/stardag/tests/test_build/test_concurrency_limits.py
Due: pyright-stardag

Modal: per-task env overrides from worker selector + cache worker functions
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/testing/_env.py
  lib/stardag/src/stardag/utils/env.py
  lib/stardag/tests/test_integration/test_modal/test_env_overrides.py
Due: pyright-stardag

docs: release notes + changelog for v0.9.0
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Address review feedback
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/utils/env.py
  lib/stardag/tests/test_integration/test_modal/test_env_overrides.py
Due: pyright-stardag

Modal: per-task env overrides from worker selector + cache worker functions (#152)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/testing/_env.py
  lib/stardag/src/stardag/utils/env.py
  lib/stardag/tests/test_integration/test_modal/test_env_overrides.py
Due: pyright-stardag

Modal: restart-safe build triggering + live-test tier restructure
  CHANGELOG.md
  DEV_README.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
  docs/docs/how-to/integrate-modal.md
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/testing/modal/__init__.py
  lib/stardag/src/stardag/testing/modal/_live.py
  lib/stardag/tests/test_integration/test_modal/conftest.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
  lib/stardag/tests/test_integration/test_modal/test__target.py
  lib/stardag/tests/test_integration/test_modal/test__target_cache.py
  lib/stardag/tests/test_integration/test_modal/test_live_semantics.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-api

Modal: restart-safe build triggering + live-test tier restructure (#154)
  CHANGELOG.md
  DEV_README.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
  docs/docs/how-to/integrate-modal.md
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/testing/modal/__init__.py
  lib/stardag/src/stardag/testing/modal/_live.py
  lib/stardag/tests/test_integration/test_modal/conftest.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
  lib/stardag/tests/test_integration/test_modal/test__target.py
  lib/stardag/tests/test_integration/test_modal/test__target_cache.py
  lib/stardag/tests/test_integration/test_modal/test_live_semantics.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-api

API: record executor refs on task start, surface in bulk-register response
  app/stardag-api/migrations/versions/20260712_003624_add_task_latest_executor_ref_columns.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

Detached task execution: restart-safe long-running tasks on Modal
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/testing/modal/_tasks.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_detached.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
  lib/stardag/tests/test_integration/test_modal/test_live_detached_e2e.py
Due: pyright-stardag

Format alembic migration (ruff-format)
  app/stardag-api/migrations/versions/20260712_003624_add_task_latest_executor_ref_columns.py
Due: pyright-stardag-api

Address review: cancel remote call on await-cancellation, signature-based ref compat
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_detached.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
Due: pyright-stardag

Document the TimeoutError probe ambiguity in reattach (review)
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag

Worker-side lifecycle reporting for Modal tasks
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_build/test_detached.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
Due: pyright-stardag

Address review: report lifecycle inside env-overrides context, log tracebacks
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
Due: pyright-stardag

Address stack review: reporter creation guard + skew-visibility log
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
Due: pyright-stardag

Detached task execution: restart-safe long-running tasks on Modal (#155)
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260712_003624_add_task_latest_executor_ref_columns.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/testing/modal/_tasks.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_detached.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
  lib/stardag/tests/test_integration/test_modal/test_live_detached_e2e.py
Due: pyright-stardag, pyright-stardag-api

Worker-side lifecycle reporting for Modal tasks (flattened)
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_build/test_detached.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
Due: pyright-stardag

Worker-side lifecycle reporting for Modal tasks (flattened) (#161)
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_build/test_detached.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
Due: pyright-stardag

Reactive (tick-based) build scheduling: no resident orchestrator (experimental) (flattened)
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260712_014329_add_build_needs_tick_at.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/target/_in_memory.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-api

Reactive (tick-based) build scheduling: no resident orchestrator (experimental) (flattened) (#157)
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260712_014329_add_build_needs_tick_at.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/target/_in_memory.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-api

Registry-backed named concurrency limits for reactive scheduling (flattened)
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260712_082223_add_concurrency_limit_tables.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/concurrency_limit.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-api

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
