Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

removes left over user guide
  USER_GUIDE.md
Due: none

Add LoadableTask abstraction with diamond inheritance for Task
  RELEASE_NOTES.md
  docs/docs/concepts/dependencies.md
  docs/docs/concepts/tasks.md
  docs/docs/getting-started/class-api.md
  docs/docs/how-to/define-tasks.md
  docs/docs/reference/api.md
  docs/docs/reference/index.md
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/_core/base_task.py
  lib/stardag/src/stardag/_core/decorator.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/_core/task_loads.py
  lib/stardag/tests/test__core/test_decorator.py
  lib/stardag/tests/test__core/test_task_loads.py
Due: pyright-stardag

Add target_root_key parameter to @task decorator
  lib/stardag/src/stardag/_core/decorator.py
  lib/stardag/tests/test__core/test_decorator.py
Due: pyright-stardag

Update project structure in CLAUDE.md
  .claude/CLAUDE.md
Due: none

Rename TargetBaseTask -> TargetTask and output() -> target()
  .claude/CLAUDE.md
  README.md
  RELEASE_NOTES.md
  docs/docs/concepts/decorator-vs-class-api.md
  docs/docs/concepts/parameters.md
  docs/docs/concepts/targets.md
  docs/docs/concepts/tasks.md
  docs/docs/getting-started/class-api.md
  docs/docs/getting-started/first-dag.md
  docs/docs/getting-started/quickstart.md
  docs/docs/getting-started/registry-ui.md
  docs/docs/how-to/define-tasks.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/index.md
  docs/docs/reference/api.md
  docs/docs/reference/index.md
  lib/stardag-examples/src/stardag_examples/benchmarks/tasks.py
  lib/stardag-examples/src/stardag_examples/general/artifacts_demo.py
  lib/stardag-examples/src/stardag_examples/general/task_api_three_levels.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/decorator_api.py
  lib/stardag-examples/src/stardag_examples/prefect/main.py
  lib/stardag-examples/tests/test_ml_pipeline/test_decorator_api.py
  lib/stardag/README.md
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/_core/base_task.py
  lib/stardag/src/stardag/_core/decorator.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/utils/testing/simple_dag.py
  lib/stardag/tests/test__core/test_alias_task.py
  lib/stardag/tests/test__core/test_base_task.py
  lib/stardag/tests/test__core/test_decorator.py
  lib/stardag/tests/test__core/test_task.py
  lib/stardag/tests/test__core/test_task_loads.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag, pyright-stardag-examples

docs fixes WIP
  docs/docs/concepts/targets.md
  docs/docs/concepts/tasks.md
  docs/uv.lock
Due: none

fix plain TaskLoads example
  docs/docs/concepts/tasks.md
Due: none

fix getting-started/class-api docs
  docs/docs/getting-started/class-api.md
Due: none

replace .target().load() with .load() in decorator api docs examples
  docs/docs/getting-started/first-dag.md
  docs/docs/getting-started/quickstart.md
  docs/docs/getting-started/registry-ui.md
Due: none

fixes more .target().load() with .load() replacements
  docs/docs/how-to/integrate-modal.md
  docs/docs/index.md
  lib/stardag-examples/src/stardag_examples/ml_pipeline/decorator_api.py
  lib/stardag-examples/src/stardag_examples/prefect/main.py
Due: pyright-stardag-examples

use Task in AliasedMetadata.from_task
  lib/stardag/src/stardag/_core/alias_task.py
Due: pyright-stardag

Remove redundant _FunctionTask.result() in favor of inherited load()
  lib/stardag/src/stardag/_core/decorator.py
  lib/stardag/tests/test__core/test_decorator.py
Due: pyright-stardag

cleanup: more target().load() to load() and remove old _NOTES file
  README.md
  _NOTES.md
  lib/stardag/README.md
Due: none

Update release notes to match current state of changes
  RELEASE_NOTES.md
Due: none

adds missing raise in flatten_task_struct
  lib/stardag/src/stardag/_core/base_task.py
Due: pyright-stardag

Add rationale section to release notes
  RELEASE_NOTES.md
Due: none

Revert editable install workaround now that stardag v0.3.0 is published
  .pre-commit-config.yaml
  lib/stardag-examples/uv.lock
  tox.ini
Due: none

update deps of standalone modal example
  lib/stardag-examples/standalone/stardag-modal/pyproject.toml
  lib/stardag-examples/standalone/stardag-modal/uv.lock
Due: none

Revert editable install workaround (stardag v0.3.0 published) (#82)
  .pre-commit-config.yaml
  lib/stardag-examples/standalone/stardag-modal/pyproject.toml
  lib/stardag-examples/standalone/stardag-modal/uv.lock
  lib/stardag-examples/uv.lock
  tox.ini
Due: none

Add code example tabs to landing page with shiki syntax highlighting
  .pre-commit-config.yaml
  app/stardag-ui/package-lock.json
  app/stardag-ui/package.json
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/code-examples/class-api.py
  app/stardag-ui/src/code-examples/decorator-api.py
  app/stardag-ui/src/code-examples/ml-pipeline.py
  app/stardag-ui/src/components/CodeExampleTabs.tsx
  app/stardag-ui/src/components/LandingPageDemo.tsx
  app/stardag-ui/src/components/PythonCodeBlock.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

adds ruff.toml to skip strict formatting
  app/stardag-ui/src/code-examples/class-api.py
  app/stardag-ui/src/code-examples/decorator-api.py
  app/stardag-ui/src/code-examples/ruff.toml
Due: none

examples WIP
  app/stardag-ui/src/code-examples/async-io.py
  app/stardag-ui/src/code-examples/s3-storage.py
  app/stardag-ui/src/code-examples/task-are-pydantic.py
  app/stardag-ui/src/code-examples/task-composition.py
  app/stardag-ui/src/components/CodeExampleTabs.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Add async support to @task decorator API and LoadableTask.load_aio
  lib/stardag/src/stardag/_core/base_task.py
  lib/stardag/src/stardag/_core/decorator.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/target/_in_memory.py
  lib/stardag/tests/test__core/test_decorator.py
Due: pyright-stardag

Add Task._save_aio and use _save/_save_aio in _FunctionTask
  lib/stardag/src/stardag/_core/decorator.py
  lib/stardag/src/stardag/_core/task.py
Due: pyright-stardag

Add async support to @task decorator API (#83)
  lib/stardag/src/stardag/_core/base_task.py
  lib/stardag/src/stardag/_core/decorator.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/target/_in_memory.py
  lib/stardag/tests/test__core/test_decorator.py
Due: pyright-stardag

Add async support to @task decorator API and LoadableTask.load_aio
  lib/stardag/src/stardag/_core/decorator.py
Due: pyright-stardag

Add Task._save_aio and use _save/_save_aio in _FunctionTask
  lib/stardag/src/stardag/_core/decorator.py
Due: pyright-stardag

Add async generator support for dynamic deps in build system
  lib/stardag/src/stardag/_core/decorator.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/utils/testing/helper_tasks.py
  lib/stardag/tests/test__core/test_decorator.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

Clean up sequential build dedup, fix Modal _run for dynamic deps
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag

Move imports to module level in modal/_app.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag

Refactor CodeExampleTabs: data-driven feature showcase with sub-tabs
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/code-examples/async-io/class-api.py
  app/stardag-ui/src/code-examples/async-io/decorator-api.py
  app/stardag-ui/src/code-examples/compose/class-api.py
  app/stardag-ui/src/code-examples/compose/decorator-api.py
  app/stardag-ui/src/code-examples/configure-env/customize.py
  app/stardag-ui/src/code-examples/configure-env/env-vars.py
  app/stardag-ui/src/code-examples/configure-env/profile.py
  app/stardag-ui/src/code-examples/modal.py
  app/stardag-ui/src/code-examples/parameter-hashing/composability.py
  app/stardag-ui/src/code-examples/parameter-hashing/control.py
  app/stardag-ui/src/code-examples/prefect.py
  app/stardag-ui/src/code-examples/pydantic/class-api.py
  app/stardag-ui/src/code-examples/pydantic/decorator-api.py
  app/stardag-ui/src/code-examples/serialization/customize.py
  app/stardag-ui/src/code-examples/serialization/load-from-registry.py
  app/stardag-ui/src/components/CodeExampleTabs.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Replace mobile select dropdown with horizontal scroll pills
  app/stardag-ui/src/components/CodeExampleTabs.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix landing page code examples and add CI testing
  app/stardag-ui/src/code-examples/async-io/class-api.py
  app/stardag-ui/src/code-examples/async-io/decorator-api.py
  app/stardag-ui/src/code-examples/compose/class-api.py
  app/stardag-ui/src/code-examples/compose/decorator-api.py
  app/stardag-ui/src/code-examples/configure-env/customize.py
  app/stardag-ui/src/code-examples/configure-env/env-vars.py
  app/stardag-ui/src/code-examples/configure-env/profile.py
  app/stardag-ui/src/code-examples/modal.py
  app/stardag-ui/src/code-examples/parameter-hashing/composability.py
  app/stardag-ui/src/code-examples/parameter-hashing/control.py
  app/stardag-ui/src/code-examples/prefect.py
  app/stardag-ui/src/code-examples/pydantic/class-api.py
  app/stardag-ui/src/code-examples/pydantic/decorator-api.py
  app/stardag-ui/src/code-examples/serialization/customize.py
  app/stardag-ui/src/code-examples/serialization/load-from-registry.py
  app/stardag-ui/src/components/CodeExampleTabs.tsx
  lib/stardag-examples/tests/test_landing_page.py
Due: pyright-stardag-examples, eslint-stardag-ui, tsc-stardag-ui

cleanup examples up to configure storage
  app/stardag-ui/src/code-examples/async-io/class-api.py
  app/stardag-ui/src/code-examples/async-io/decorator-api.py
  app/stardag-ui/src/code-examples/compose/class-api.py
  app/stardag-ui/src/code-examples/compose/decorator-api.py
  app/stardag-ui/src/code-examples/configure-env/env-vars.py
  app/stardag-ui/src/code-examples/configure-env/profile.py
  app/stardag-ui/src/code-examples/parameter-hashing/composability.py
  app/stardag-ui/src/code-examples/parameter-hashing/control.py
  app/stardag-ui/src/code-examples/pydantic/class-api.py
  app/stardag-ui/src/code-examples/pydantic/decorator-api.py
  app/stardag-ui/src/components/CodeExampleTabs.tsx
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/uv.lock
Due: eslint-stardag-ui, tsc-stardag-ui

complete examples
  app/stardag-ui/src/code-examples/modal.py
  app/stardag-ui/src/code-examples/prefect.py
  app/stardag-ui/src/code-examples/serialization/customize.py
  app/stardag-ui/src/code-examples/serialization/load-from-registry.py
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/uv.lock
Due: none

fix typos and skip failing tests
  app/stardag-ui/src/code-examples/configure-env/env-vars.py
  app/stardag-ui/src/code-examples/configure-env/profile.py
  app/stardag-ui/src/code-examples/modal.py
  app/stardag-ui/src/code-examples/parameter-hashing/composability.py
  app/stardag-ui/src/code-examples/parameter-hashing/control.py
  app/stardag-ui/src/code-examples/prefect.py
  app/stardag-ui/src/code-examples/pydantic/class-api.py
  app/stardag-ui/src/code-examples/pydantic/decorator-api.py
  app/stardag-ui/src/code-examples/serialization/load-from-registry.py
  lib/stardag-examples/tests/test_landing_page.py
Due: pyright-stardag-examples

Add scroll fade gradients to feature pill tabs
  app/stardag-ui/src/components/CodeExampleTabs.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Add code examples to landing page (#85)
  .pre-commit-config.yaml
  app/stardag-ui/package-lock.json
  app/stardag-ui/package.json
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/code-examples/async-io/class-api.py
  app/stardag-ui/src/code-examples/async-io/decorator-api.py
  app/stardag-ui/src/code-examples/compose/class-api.py
  app/stardag-ui/src/code-examples/compose/decorator-api.py
  app/stardag-ui/src/code-examples/configure-env/customize.py
  app/stardag-ui/src/code-examples/configure-env/env-vars.py
  app/stardag-ui/src/code-examples/configure-env/profile.py
  app/stardag-ui/src/code-examples/ml-pipeline.py
  app/stardag-ui/src/code-examples/modal.py
  app/stardag-ui/src/code-examples/parameter-hashing/composability.py
  app/stardag-ui/src/code-examples/parameter-hashing/control.py
  app/stardag-ui/src/code-examples/prefect.py
  app/stardag-ui/src/code-examples/pydantic/class-api.py
  app/stardag-ui/src/code-examples/pydantic/decorator-api.py
  app/stardag-ui/src/code-examples/ruff.toml
  app/stardag-ui/src/code-examples/serialization/customize.py
  app/stardag-ui/src/code-examples/serialization/load-from-registry.py
  app/stardag-ui/src/components/CodeExampleTabs.tsx
  app/stardag-ui/src/components/LandingPageDemo.tsx
  app/stardag-ui/src/components/PythonCodeBlock.tsx
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/tests/test_landing_page.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples, eslint-stardag-ui, tsc-stardag-ui
