Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Flush a deferred resident drain on every exit; tests for the review gaps
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/build/_resident.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_build/test_resident_detached.py
Due: pyright-stardag

CLI wake-up scoped to the build's own Modal deployment; stall age from first flag
  CHANGELOG.md
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_v2_wakeups.py
  docs/docs/concepts/modal-orchestration.md
  docs/docs/configuration/cli.md
  integration-tests/tests_registry_live/conftest.py
  lib/stardag/src/stardag/_cli/_wake.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/_cli/builds_stop.py
  lib/stardag/src/stardag/_cli/builds_tick.py
  lib/stardag/src/stardag/integration/modal/_spawn.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/testing/_registry_state.py
  lib/stardag/tests/test__cli/conftest.py
  lib/stardag/tests/test__cli/test_builds_tick.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Bound a pass's claims by the clock, not only by the spawn cap
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/tests/test_build/test_reactive_tick.py
Due: pyright-stardag

Clamp a caller's tick timeout; deadline before metadata and budget claims
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_resident.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_build/test_resident_detached.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Reactive ticks: exit pass, lifetime bound, drain after every pass (#431)
  CHANGELOG.md
  app/stardag-ui/src/components/TickSummaryTrail.tsx
  app/stardag-ui/src/types/task.ts
  integration-tests/src/stardag_integration_tests/registry_live/_scenario_app.py
  lib/stardag/src/stardag/build/_reactive/__init__.py
  lib/stardag/src/stardag/build/_reactive/_config.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/build/_resident.py
  lib/stardag/src/stardag/integration/modal/_functions.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_build/test_resident_detached.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

Claim-deadline test: time the spawns, not the whole tick
  lib/stardag/tests/test_build/test_reactive_tick.py
Due: pyright-stardag

Send tasks across Modal calls as instance bodies, not pickles
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  integration-tests/src/stardag_integration_tests/registry_live/_gates.py
  integration-tests/src/stardag_integration_tests/registry_live/_rollover.py
  integration-tests/src/stardag_integration_tests/registry_live/rollover_app.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_s38_added_field_across_deploys.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/integration/modal/_functions.py
  lib/stardag/src/stardag/integration/modal/_payload.py
  lib/stardag/src/stardag/integration/modal/_trigger.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
  lib/stardag/tests/test_integration/test_modal/test_payload.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app_reactive.py
Due: pyright-stardag, pyright-integration-tests

CLI writes wake what they changed; builds tick; stall measurement (#432)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/registry_v2/reactive.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_v2_wakeups.py
  docs/docs/concepts/modal-orchestration.md
  docs/docs/configuration/cli.md
  docs/docs/how-to/integrate-modal.md
  integration-tests/tests_registry_live/conftest.py
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/_wake.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/_cli/builds_stop.py
  lib/stardag/src/stardag/_cli/builds_tick.py
  lib/stardag/src/stardag/_cli/tasks_actions.py
  lib/stardag/src/stardag/integration/modal/_spawn.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_reads.py
  lib/stardag/src/stardag/registry/_base_reads.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/testing/_registry_state.py
  lib/stardag/tests/test__cli/conftest.py
  lib/stardag/tests/test__cli/test_builds_tick.py
  lib/stardag/tests/test_build/test_reactive_tick.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

S38: check the build status first, and report the root's error
  integration-tests/tests_registry_live/test_s38_added_field_across_deploys.py
Due: pyright-integration-tests

Address review: settings guards, full-body stability, scenario S40
  docs/design/registry-v2/design.md
  docs/design/registry-v2/plan.md
  integration-tests/src/stardag_integration_tests/registry_live/_rollover.py
  integration-tests/src/stardag_integration_tests/registry_live/rollover_app.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_s40_added_field_across_deploys.py
  lib/stardag/src/stardag/integration/modal/_functions.py
  lib/stardag/src/stardag/integration/modal/_payload.py
  lib/stardag/tests/test_integration/test_modal/test_payload.py
Due: pyright-stardag, pyright-integration-tests

Send @sd.task classes as payloads too
  lib/stardag/src/stardag/integration/modal/_payload.py
  lib/stardag/tests/test_integration/test_modal/test_payload.py
Due: pyright-stardag

Address local review and Copilot round 3
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/integration/modal/_functions.py
  lib/stardag/src/stardag/integration/modal/_payload.py
  lib/stardag/src/stardag/integration/modal/_reporter.py
  lib/stardag/tests/test_integration/test_modal/_payload_pkg/__init__.py
  lib/stardag/tests/test_integration/test_modal/_payload_pkg/root.py
  lib/stardag/tests/test_integration/test_modal/_payload_pkg/upstream.py
  lib/stardag/tests/test_integration/test_modal/test_payload.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Payload test helpers into stardag.utils.testing; reactive claim corrected
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/integration/modal/_payload.py
  lib/stardag/src/stardag/utils/testing/payload_root.py
  lib/stardag/src/stardag/utils/testing/payload_upstream.py
  lib/stardag/tests/test_integration/test_modal/_payload_pkg/__init__.py
  lib/stardag/tests/test_integration/test_modal/_payload_pkg/root.py
  lib/stardag/tests/test_integration/test_modal/_payload_pkg/upstream.py
  lib/stardag/tests/test_integration/test_modal/test_payload.py
Due: pyright-stardag

build: rehydrate under the resolved settings; reporting never masks a refusal
  lib/stardag/src/stardag/integration/modal/_functions.py
  lib/stardag/src/stardag/integration/modal/_reporter.py
  lib/stardag/tests/test_integration/test_modal/test_payload.py
Due: pyright-stardag

Refuse a task whose classes come from a module that failed to import
  lib/stardag/src/stardag/integration/modal/_payload.py
  lib/stardag/tests/test_integration/test_modal/test_payload.py
Due: pyright-stardag

Send tasks across Modal calls as instance bodies, not pickles (#437)
  CHANGELOG.md
  docs/design/registry-v2/design.md
  docs/design/registry-v2/plan.md
  docs/docs/how-to/integrate-modal.md
  integration-tests/src/stardag_integration_tests/registry_live/_gates.py
  integration-tests/src/stardag_integration_tests/registry_live/_rollover.py
  integration-tests/src/stardag_integration_tests/registry_live/rollover_app.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_s40_added_field_across_deploys.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/integration/modal/_functions.py
  lib/stardag/src/stardag/integration/modal/_payload.py
  lib/stardag/src/stardag/integration/modal/_reporter.py
  lib/stardag/src/stardag/integration/modal/_trigger.py
  lib/stardag/src/stardag/utils/testing/payload_root.py
  lib/stardag/src/stardag/utils/testing/payload_upstream.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
  lib/stardag/tests/test_integration/test_modal/test_payload.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app_reactive.py
Due: pyright-stardag, pyright-integration-tests

Recompute cached task identity on model_copy
  CHANGELOG.md
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test__core/test_base_task.py
Due: pyright-stardag

Classify a cancelled input as a timeout whatever interrupts it next
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
Due: pyright-stardag

Reconcile a body cut short as itself, not as another timeout
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/src/stardag_integration_tests/registry_live/diagnose.py
  integration-tests/tests/test_registry_live_diagnostics.py
  integration-tests/tests/test_registry_live_verdicts.py
Due: pyright-integration-tests

Warn about dropped compat keys only for models that were built
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test_base_model.py
Due: pyright-stardag

Changelog: compat drop warning only for built models
  CHANGELOG.md
Due: none

Identify a body cut short by its message, from the selected fault
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/src/stardag_integration_tests/registry_live/diagnose.py
  integration-tests/tests/test_registry_live_diagnostics.py
Due: pyright-integration-tests

Dedupe dropped-key warnings by key set, and reach models in dataclasses
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test_base_model.py
Due: pyright-stardag

Let a tick wait out a preemption restart that may never come
  CHANGELOG.md
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/frontier.py
  app/stardag-api/tests/test_v2_frontier.py
  docs/design/registry-v2/design.md
  docs/docs/concepts/modal-orchestration.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
  lib/stardag/src/stardag/build/_reactive/_config.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/src/stardag/testing/_registry_plans.py
  lib/stardag/tests/test_build/test_reactive_tick.py
Due: pyright-stardag, pyright-stardag-api

Keep the compat drop a before validator; defer only the warning
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test_base_model.py
Due: pyright-stardag

Override the chain at the timeout itself, and clear preempted_at on renew
  app/stardag-api/src/stardag_api/services/transition_reports.py
  app/stardag-api/tests/test_v2_frontier.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/testing/_registry_plans.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
Due: pyright-stardag, pyright-stardag-api

Take the restart wait from the frontier a rollover returns
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/tests/test_build/test_reactive_tick.py
Due: pyright-stardag

Split the interruption classifier and the fake's transitions out
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_interruptions.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/testing/_registry_plans.py
  lib/stardag/src/stardag/testing/_registry_transitions.py
  lib/stardag/tests/test_integration/test_modal/test_live_semantics.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
Due: pyright-stardag

Docs: a cut-short checkpoint must still raise the resumption request
  docs/docs/how-to/integrate-modal.md
Due: none

Read a cancelled input as a timeout, and wait out a preemption restart that never comes (#442)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/frontier.py
  app/stardag-api/src/stardag_api/services/transition_reports.py
  app/stardag-api/tests/test_v2_frontier.py
  docs/design/registry-v2/design.md
  docs/docs/concepts/modal-orchestration.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
  lib/stardag/src/stardag/build/_reactive/_config.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_interruptions.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/testing/_registry_plans.py
  lib/stardag/src/stardag/testing/_registry_transitions.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_integration/test_modal/test_live_semantics.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
Due: pyright-stardag, pyright-stardag-api

Drop cached properties before a deep copy, not after
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test__core/test_base_task.py
Due: pyright-stardag

Recompute cached task identity on model_copy (#439)
  CHANGELOG.md
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test__core/test_base_task.py
Due: pyright-stardag

Reconcile a body cut short as itself, not as another timeout (#440)
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/src/stardag_integration_tests/registry_live/diagnose.py
  integration-tests/tests/test_registry_live_diagnostics.py
  integration-tests/tests/test_registry_live_verdicts.py
Due: pyright-integration-tests

Document where outscored union members are filtered
  lib/stardag/src/stardag/base_model.py
Due: pyright-stardag

Warn about dropped compat keys only for models that were built (#441)
  CHANGELOG.md
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test_base_model.py
Due: pyright-stardag

Release 0.28.0 / server-v0.7.0: date the entries, pin the server
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/selfhost/_modal_app.py
Due: pyright-stardag

Keep the compat-drops ContextVar out of a pickled task class
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test_task_cloudpickle.py
Due: pyright-stardag

Keep the compat-drops ContextVar out of a pickled task class (#452)
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test_task_cloudpickle.py
Due: pyright-stardag

Release 0.28.0 / server-v0.7.0: date the entries, pin the server (#444)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/selfhost/_modal_app.py
Due: pyright-stardag

Run the live tiers on any SDK source change, not a list of packages
  .github/workflows/modal-live.yml
  DEV_README.md
  lib/stardag/tests/test_task_cloudpickle.py
Due: pyright-stardag

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
