Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Builds list: restore the "Idle for" filter (idle_for_seconds)
  app/stardag-api/src/stardag_api/routes/registry_v2/builds.py
  app/stardag-api/src/stardag_api/services/reads.py
  app/stardag-api/tests/test_v2_read_routes.py
  app/stardag-ui/src/api/registry.test.ts
  app/stardag-ui/src/api/registry.ts
  app/stardag-ui/src/components/BuildsList.test.tsx
  app/stardag-ui/src/components/BuildsList.tsx
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Build view: double-click refresh toggles auto-refresh, as in v1
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Build view: the plan row moves into "Plans and scheduling"
  app/stardag-ui/src/api/registry.ts
  app/stardag-ui/src/components/BuildPlans.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/PlanHeader.tsx
  app/stardag-ui/src/types/task.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Build view: v1's collapse/expand chevron on the plan graph
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Task table: explain the Membership column; show it in the task detail
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/MemberTable.test.tsx
  app/stardag-ui/src/components/MemberTable.tsx
  app/stardag-ui/src/components/MembershipFacts.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/utils/membership.test.ts
  app/stardag-ui/src/utils/membership.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Task detail: a link icon by the header replaces the task-page banner
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Task detail: v1's expand-to-fullscreen icons on instances
  app/stardag-ui/src/components/TaskInstances.test.tsx
  app/stardag-ui/src/components/TaskInstances.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Task detail: restore "See full event log" over GET /tasks/{id}/events
  app/stardag-ui/src/api/registry.ts
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskEventLog.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/events.test.ts
  app/stardag-ui/src/utils/events.ts
Due: eslint-stardag-ui, tsc-stardag-ui

UI: restore the Concurrency Limits page and its nav entry
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/registry.test.ts
  app/stardag-ui/src/api/registry.ts
  app/stardag-ui/src/components/ConcurrencyLimits.test.tsx
  app/stardag-ui/src/components/ConcurrencyLimits.tsx
  app/stardag-ui/src/components/Sidebar.test.tsx
  app/stardag-ui/src/components/Sidebar.tsx
  app/stardag-ui/src/types/task.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Tasks view: say task search returns in a later release
  app/stardag-ui/src/components/TaskPage.test.tsx
  app/stardag-ui/src/components/TaskPage.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

UI: name a deployment "app gen N · kind"
  app/stardag-ui/src/components/BuildPlans.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/TaskInstances.test.tsx
  app/stardag-ui/src/components/TaskInstances.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

plan.md I9 and CHANGELOG: what the UI feedback PR restored
  CHANGELOG.md
  docs/design/registry-v2/plan.md
Due: none

Tick: cap restarts of an interrupted member at max_interruptions
  CHANGELOG.md
  docs/design/registry-v2/design.md
  lib/stardag/src/stardag/build/_reactive/_config.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/src/stardag/testing/_registry_plans.py
  lib/stardag/tests/test_build/test_reactive_budgets.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

SDK client: the reads the server serves and the client lacked
  CHANGELOG.md
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_reads.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_api_routes.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/registry/_base_reads.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/testing/_registry_reads.py
  lib/stardag/tests/test_registry/test_api_registry_reads.py
  lib/stardag/tests/test_registry/test_in_memory_reads.py
Due: pyright-stardag

CLI: tasks retry/cancel confirm again, and --build defaults to the claim
  CHANGELOG.md
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/tasks.py
  lib/stardag/src/stardag/_cli/tasks_actions.py
  lib/stardag/tests/test__cli/conftest.py
  lib/stardag/tests/test__cli/test_tasks_actions.py
  lib/stardag/tests/test__cli/test_v2_commands.py
Due: pyright-stardag

CLI: commands on the v2 reads
  CHANGELOG.md
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/_stop.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/_cli/builds_frontier.py
  lib/stardag/src/stardag/_cli/builds_stop.py
  lib/stardag/src/stardag/_cli/deployments.py
  lib/stardag/src/stardag/_cli/executions.py
  lib/stardag/src/stardag/_cli/limits.py
  lib/stardag/src/stardag/_cli/plans.py
  lib/stardag/src/stardag/_cli/tasks.py
  lib/stardag/tests/test__cli/conftest.py
  lib/stardag/tests/test__cli/test_builds.py
  lib/stardag/tests/test__cli/test_builds_stop.py
  lib/stardag/tests/test__cli/test_cli_reads.py
  lib/stardag/tests/test__cli/test_plans.py
  lib/stardag/tests/test__cli/test_usage.py
  lib/stardag/tests/test__cli/test_v2_commands.py
Due: pyright-stardag

Docs: CLI and API reference match the code; plan and release notes
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/design/registry-v2/plan.md
  docs/docs/configuration/cli.md
  docs/docs/platform/api.md
Due: none

Prefect local path records the execution mode it runs in
  lib/stardag/src/stardag/integration/prefect/_build.py
  lib/stardag/tests/test_integration/test_prefect/test_build.py
Due: pyright-stardag

Address Copilot review: stale-environment reloads, slash in limit keys
  app/stardag-ui/src/api/registry.test.ts
  app/stardag-ui/src/api/registry.ts
  app/stardag-ui/src/components/ConcurrencyLimits.test.tsx
  app/stardag-ui/src/components/ConcurrencyLimits.tsx
  docs/design/registry-v2/plan.md
Due: eslint-stardag-ui, tsc-stardag-ui

SDK client: correct the reads module's note on who calls them
  lib/stardag/src/stardag/registry/_base_reads.py
Due: pyright-stardag

Address Copilot review: guard the limits load's error path too
  app/stardag-ui/src/components/ConcurrencyLimits.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Address Copilot review: --events bounds JSON; fake events and plans carry timestamps
  lib/stardag/src/stardag/_cli/tasks.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/testing/_registry_plans.py
  lib/stardag/src/stardag/testing/_registry_reads.py
  lib/stardag/src/stardag/testing/_registry_state.py
  lib/stardag/src/stardag/testing/_registry_yield.py
  lib/stardag/tests/test__cli/test_cli_reads.py
  lib/stardag/tests/test_registry/test_in_memory_reads.py
Due: pyright-stardag

Docs: no minimum-SDK gate on the v2 line
  CHANGELOG.md
  DEV_README.md
  docs/docs/how-to/self-host-modal.md
  docs/docs/reference/exceptions.md
Due: none

UI: say what the stop command does in each mode
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/utils/stoppable.test.ts
  app/stardag-ui/src/utils/stoppable.ts
Due: eslint-stardag-ui, tsc-stardag-ui

UI: read the executor as the CLI does, falling back to the metadata kind
  app/stardag-ui/src/utils/stoppable.test.ts
  app/stardag-ui/src/utils/stoppable.ts
Due: eslint-stardag-ui, tsc-stardag-ui

UI: the builds list says it is ordered by last activity
  app/stardag-ui/src/components/BuildsList.test.tsx
  app/stardag-ui/src/components/BuildsList.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

UI: restore the build failure reason banner
  app/stardag-ui/src/components/BuildFailureReason.test.tsx
  app/stardag-ui/src/components/BuildFailureReason.tsx
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/utils/builds.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Address Copilot review: event types are lowercase on the wire; JSON shapes match the reads
  lib/stardag/src/stardag/_cli/tasks.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/src/stardag/testing/_registry_reads.py
  lib/stardag/tests/test__cli/test_cli_reads.py
  lib/stardag/tests/test_registry/test_api_registry_reads.py
  lib/stardag/tests/test_registry/test_in_memory_reads.py
Due: pyright-stardag

UI: name the claim holder and address the release to it
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/ClaimActionDialog.tsx
  app/stardag-ui/src/components/TaskClaimPanel.test.tsx
  app/stardag-ui/src/components/TaskClaimPanel.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskPage.tsx
  app/stardag-ui/src/utils/claims.ts
Due: eslint-stardag-ui, tsc-stardag-ui

UI: jump to another build from the status badge and the event log
  app/stardag-ui/src/components/StatusBadge.test.tsx
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskClaimPanel.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskEventLog.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

UI: list a task's executions across builds
  app/stardag-ui/src/api/registry.ts
  app/stardag-ui/src/components/TaskClaimPanel.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskExecutions.tsx
  app/stardag-ui/src/types/task.ts
Due: eslint-stardag-ui, tsc-stardag-ui

UI: look up a deployment past the list's first page by id
  app/stardag-ui/src/api/registry.ts
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/hooks/useDeployments.test.ts
  app/stardag-ui/src/hooks/useDeployments.ts
Due: eslint-stardag-ui, tsc-stardag-ui

UI: scheduling panel counts, wake-up verdict, spinner and terminal wording
  app/stardag-ui/src/api/registry.ts
  app/stardag-ui/src/components/BuildPlans.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/ui/Spinner.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/scheduling.test.ts
  app/stardag-ui/src/utils/scheduling.ts
Due: eslint-stardag-ui, tsc-stardag-ui

UI: delete the assumed-route scaffolding for the plan graph
  app/stardag-ui/src/api/registry.test.ts
  app/stardag-ui/src/api/registry.ts
  app/stardag-ui/src/components/BuildPlans.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/LandingPageDemo.tsx
  app/stardag-ui/src/hooks/useBuildPlan.ts
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/planGraph.test.ts
  app/stardag-ui/src/utils/planGraph.ts
Due: eslint-stardag-ui, tsc-stardag-ui

UI: fullscreen plan graph, Esc to leave
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

UI: batch wide fan-outs in the plan graph, client-side
  app/stardag-ui/src/components/BatchNode.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/DagGraph.test.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/GroupAfterControl.tsx
  app/stardag-ui/src/utils/planGraph.test.ts
  app/stardag-ui/src/utils/planGraph.ts
Due: eslint-stardag-ui, tsc-stardag-ui

UI: stop list names tasks, shows status, and says what it leaves running
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/ExecutionTable.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

UI: pin the /limits deep link with a routing test
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/utils/routes.test.ts
  app/stardag-ui/src/utils/routes.ts
Due: eslint-stardag-ui, tsc-stardag-ui

UI: one build-view refresh at a time
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Docs: rewrite the Web UI page for the v2 registry
  docs/docs/platform/ui.md
Due: none

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
