Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Nothing automatic stops a container: delete the revocation machinery
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_cancel_authority.py
  app/stardag-api/tests/test_wakeups.py
  app/stardag-ui/src/components/TickSummaryTrail.tsx
  docs/design/execution-claims-and-liveness.md
  docs/design/executions-as-records.md
  docs/docs/concepts/modal-orchestration.md
  integration-tests/tests_registry_live/test_builds_stop.py
  integration-tests/tests_registry_live/test_cancel_authority.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_budgets.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
  lib/stardag/tests/test_build/test_registry_limiter.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

The tick-summary help string follows the counter it explains
  app/stardag-ui/src/components/TickSummaryTrail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Keep cancelled_refs: it now counts the one stop a tick can make honestly
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-ui/src/components/TickSummaryTrail.tsx
  lib/stardag/src/stardag/build/_reactive/_tick.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Adversarial review: the claims the deletion left too strong
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  docs/design/execution-claims-and-liveness.md
  docs/docs/concepts/modal-orchestration.md
  integration-tests/tests_registry_live/test_builds_stop.py
  integration-tests/tests_registry_live/test_cancel_authority.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/tests/test_build/reactive_fakes.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

The two carry-overs the drain was blocking
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_worker_execution_identity.py
  integration-tests/tests_registry_live/test_execution_identity.py
Due: pyright-stardag-api, pyright-integration-tests

Prettier: the blank line a conflict resolution doubled
  RELEASE_NOTES.md
Due: none

A cancel releases the build's claims too, which the drain had been doing
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/tests/test_build_cleanup.py
  docs/design/execution-claims-and-liveness.md
  docs/docs/concepts/modal-orchestration.md
  lib/stardag/src/stardag/build/_reactive/_terminal.py
Due: pyright-stardag, pyright-stardag-api

Copilot round one: fail closed on the legacy conditional cancel
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_cancel_authority.py
  lib/stardag/src/stardag/build/_base.py
Due: pyright-stardag, pyright-stardag-api

One header baseline, and a tool-and-info bar for the build view (#371)
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/EnvironmentSelector.test.tsx
  app/stardag-ui/src/components/EnvironmentSelector.tsx
  app/stardag-ui/src/components/TaskFilters.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
  app/stardag-ui/src/components/ui/Crumb.tsx
  app/stardag-ui/src/context/BreadcrumbContext.tsx
  app/stardag-ui/src/hooks/useClickOutside.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Show the build id in the builds list, and say what each chip is (#372)
  app/stardag-ui/src/components/BuildsList.test.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/ui/CopyChip.tsx
  app/stardag-ui/src/utils/ids.test.ts
  app/stardag-ui/src/utils/ids.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Put the record and the work in one dialog, and say which is which
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/utils/builds.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Build info and Scheduling become toolbar icons, with fast tooltips
  app/stardag-ui/src/components/BuildInfoDialog.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/BuildStopPanel.tsx
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/ui/ToolbarButton.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Stop running tasks becomes a dialog, and stops scanning unbidden
  app/stardag-ui/src/components/BuildStopPanel.test.tsx
  app/stardag-ui/src/components/BuildStopPanel.tsx
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

State the cancel difference as ordering, not as a flag
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Copilot round three: the fail-closed 400 had a cost, and it is paid here
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_build_cleanup.py
  docs/docs/configuration/cli.md
  integration-tests/tests_registry_live/test_execution_identity.py
  lib/stardag/src/stardag/_cli/builds.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Copilot round four: the message the operator actually reads
  lib/stardag/src/stardag/_cli/builds.py
Due: pyright-stardag

Name the gap this widens, where a reader meets the change
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

The STA-40 scenario is named for what it still asserts
  integration-tests/tests_registry_live/test_cancel_authority.py
Due: pyright-integration-tests

Address the Copilot review: seven findings, all real
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/components/BuildInfoDialog.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/Modal.test.tsx
  app/stardag-ui/src/components/Modal.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Copilot round six: the response contract described the old condition
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/types/task.ts
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Keep the view across a refresh, not across a change of build
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

`cascade` now means two things, so say which route
  CHANGELOG.md
Due: none

Give the build load an identity, not just a build id
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Name the environment in what invalidates a build-scoped component
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Copilot round seven: the invariant was true of the defaults, not the system
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  docs/design/execution-claims-and-liveness.md
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag, pyright-stardag-api

The cascade sweep: every statement of the old contract, at once
  CHANGELOG.md
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  docs/design/execution-claims-and-liveness.md
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag, pyright-stardag-api

Act on a local adversarial review of the whole diff
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/ui/ToolbarButton.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Round eight: the sweep was keyed on the wrong word
  docs/docs/concepts/modal-orchestration.md
  lib/stardag/src/stardag/build/_reactive/_terminal.py
Due: pyright-stardag

Bound the refresh gesture to the identity it was aimed at
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

One identity, and everything it invalidates in one place
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Clear the spinner under the same check as the marker that drives it
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Say when the scheduler state on screen is from a failed re-read
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Nothing between the toolbar and the DAG: Stop, Scheduling and build info become dialogs (#374)
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/components/BuildInfoDialog.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/BuildStopPanel.test.tsx
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/Modal.test.tsx
  app/stardag-ui/src/components/Modal.tsx
  app/stardag-ui/src/components/ui/ToolbarButton.tsx
  app/stardag-ui/src/utils/builds.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Round nine: the fail reports its skips, and the server pin is load-bearing
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_build_cleanup.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/selfhost/_modal_app.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
Due: pyright-stardag, pyright-stardag-api

Round ten: the fake's closure skipped INTERRUPTED, the server does not
  lib/stardag/tests/test_build/reactive_fakes.py
Due: pyright-stardag

Nothing automatic stops a container: delete the revocation machinery (STA-81) (#373)
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_build_cleanup.py
  app/stardag-api/tests/test_cancel_authority.py
  app/stardag-api/tests/test_wakeups.py
  app/stardag-api/tests/test_worker_execution_identity.py
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/TickSummaryTrail.tsx
  app/stardag-ui/src/types/task.ts
  docs/design/execution-claims-and-liveness.md
  docs/design/executions-as-records.md
  docs/docs/concepts/modal-orchestration.md
  docs/docs/configuration/cli.md
  integration-tests/tests_registry_live/test_builds_stop.py
  integration-tests/tests_registry_live/test_cancel_authority.py
  integration-tests/tests_registry_live/test_execution_identity.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/selfhost/_modal_app.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_budgets.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
  lib/stardag/tests/test_build/test_registry_limiter.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

The override dialog described claim behaviour that STA-81 inverted
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Make the silence assertion able to fail
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

The override dialog described claim behaviour that STA-81 inverted (#375)
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Two verbs in the build dialog: stop the work, or record the outcome
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
