Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

removes api and cli from extras -> always include
  README.md
  docs/docs/configuration/cli.md
  docs/docs/configuration/index.md
  docs/docs/getting-started/installation.md
  docs/docs/how-to/use-api-registry.md
  docs/pyproject.toml
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/uv.lock
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/auth.py
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/credentials.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/uv.lock
Due: pyright-stardag

updates docs realted to configuration (outdated org and workspace references), removes depreceated funbction in config.py
  CONFIGURATION_GUIDE.md
  docs/docs/configuration/cli.md
  docs/docs/configuration/environments.md
  docs/docs/configuration/index.md
  docs/docs/configuration/profiles.md
  docs/docs/configuration/workspaces.md
  docs/mkdocs.yml
  docs/uv.lock
  lib/stardag/src/stardag/config.py
Due: pyright-stardag

allow passed a single task to build functions, clean up docs index
  docs/conftest.py
  docs/docs/index.md
  docs/pyproject.toml
  docs/uv.lock
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
Due: pyright-stardag

completes top level index file
  docs/docs/index.md
Due: none

compeltes getting started: installation and quick start
  docs/README.md
  docs/docs/getting-started/installation.md
  docs/docs/getting-started/quickstart.md
  docs/docs/index.md
Due: none

completes first-dag.md
  docs/conftest.py
  docs/docs/getting-started/first-dag.md
Due: none

completes the class-api section
  docs/docs/concepts/decorator-vs-class-api.md
  docs/docs/getting-started/class-api.md
  docs/docs/getting-started/first-dag.md
  docs/docs/getting-started/registry-ui.md
  docs/docs/stylesheets/extra.css
  docs/mkdocs.yml
Due: none

class-api section fixes
  docs/docs/getting-started/class-api.md
Due: none

draft of use registry ui page
  docs/docs/getting-started/registry-ui.md
Due: none

Improve user onboarding: auto-create personal workspace on signup
  app/stardag-api/migrations/versions/20260119_200340_add_is_personal_to_workspace.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/ui.py
  app/stardag-api/src/stardag_api/routes/workspaces.py
  app/stardag-api/tests/test_workspaces.py
  app/stardag-ui/src/api/workspaces.ts
  app/stardag-ui/src/components/CreateWorkspace.tsx
  app/stardag-ui/src/components/OnboardingModal.tsx
  docs/docs/getting-started/registry-ui.md
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/tests/test_target/test__base.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Clean up personal environments and improve Settings UI clarity
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/routes/workspaces.py
  app/stardag-ui/src/api/workspaces.ts
  app/stardag-ui/src/components/WorkspaceSettings.tsx
  lib/stardag/src/stardag/config.py
  lib/stardag/tests/test_target/test__base.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

fix examples in getting-started/registry-ui.md
  docs/docs/getting-started/registry-ui.md
Due: none

Improve workspace creation wizard with multi-step flow
  app/stardag-ui/src/components/CreateWorkspace.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Add workspace creation limit (3 per user)
  app/stardag-ui/src/components/CreateWorkspace.tsx
  app/stardag-ui/src/components/OnboardingModal.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix invite acceptance for users with personal workspaces
  app/stardag-api/tests/test_workspaces.py
  app/stardag-ui/src/api/client.ts
  app/stardag-ui/src/api/workspaces.ts
  app/stardag-ui/src/components/WorkspaceSelector.tsx
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Improve onboarding UX and add notification badge
  app/stardag-api/tests/test_workspaces.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/OnboardingModal.tsx
  app/stardag-ui/src/components/PendingInvites.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Navigate to home page when switching workspaces
  app/stardag-ui/src/context/EnvironmentContext.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

cleanup/tweaks + complete core concepts draft
  docs/docs/concepts/index.md
  docs/docs/getting-started/class-api.md
  docs/docs/getting-started/first-dag.md
  docs/docs/getting-started/quickstart.md
  docs/docs/getting-started/registry-ui.md
  docs/docs/index.md
  docs/mkdocs.yml
Due: none

adds disclaimer + cleanup
  docs/docs/getting-started/index.md
  docs/docs/getting-started/registry-ui.md
  docs/docs/index.md
  docs/mkdocs.yml
Due: none

document task core contract and targets intro
  docs/docs/concepts/index.md
  docs/docs/concepts/tasks.md
  docs/mkdocs.yml
Due: none

complete up to Targets, added back params and dependencies placeholders
  docs/docs/concepts/index.md
  docs/docs/concepts/parameters.md
  docs/docs/concepts/targets.md
  docs/docs/concepts/tasks.md
  docs/docs/getting-started/class-api.md
  docs/mkdocs.yml
  lib/stardag/src/stardag/_core/auto_task.py
Due: pyright-stardag

complete draft of dependencies docs
  docs/docs/concepts/asyncio.md
  docs/docs/concepts/dependencies.md
  docs/docs/concepts/index.md
  docs/docs/concepts/targets.md
  docs/mkdocs.yml
Due: none

complete draft up to build and execution
  docs/docs/concepts/asyncio.md
  docs/docs/concepts/build-execution.md
  docs/docs/concepts/dependencies.md
  docs/docs/concepts/parameters.md
  docs/docs/concepts/tasks.md
Due: none

fix typo in target factory name
  lib/stardag/conftest.py
  lib/stardag/src/stardag/_core/decorator.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/src/stardag/utils/testing/__init__.py
  lib/stardag/tests/conftest.py
  lib/stardag/tests/test_conftest.py
Due: pyright-stardag

docs fixes cont.
  docs/conftest.py
  docs/docs/concepts/dependencies.md
  docs/docs/concepts/parameters.md
  docs/docs/how-to/configure-storage.md
  docs/docs/how-to/define-tasks.md
  docs/docs/how-to/index.md
  docs/mkdocs.yml
Due: none

claude update configuration and platform docs
  docs/docs/configuration/cli.md
  docs/docs/configuration/environments.md
  docs/docs/configuration/index.md
  docs/docs/configuration/profiles.md
  docs/docs/platform/api.md
  docs/docs/platform/index.md
  docs/docs/platform/self-hosting.md
  docs/docs/platform/ui.md
Due: none

work through environments and profiles
  docs/docs/configuration/environments.md
  docs/docs/configuration/profiles.md
Due: none

updates platform section
  docs/docs/platform/api.md
  docs/docs/platform/index.md
  docs/docs/platform/self-hosting.md
  docs/docs/platform/ui.md
Due: none

complete rough cleanup
  docs/docs/getting-started/first-dag.md
  docs/docs/how-to/configure-storage.md
  docs/docs/how-to/define-tasks.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/integrate-prefect.md
  docs/docs/how-to/use-api-registry.md
Due: none

Fix spelling, grammar, and outdated links in docs
  docs/README.md
  docs/docs/concepts/asyncio.md
  docs/docs/concepts/build-execution.md
  docs/docs/concepts/dependencies.md
  docs/docs/concepts/index.md
  docs/docs/concepts/parameters.md
  docs/docs/concepts/targets.md
  docs/docs/concepts/tasks.md
  docs/docs/getting-started/class-api.md
  docs/docs/getting-started/index.md
  docs/docs/getting-started/registry-ui.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/integrate-prefect.md
  docs/docs/platform/self-hosting.md
  docs/docs/reference/exceptions.md
  docs/docs/reference/index.md
  docs/mkdocs.yml
Due: none

fix left over typo fix prefixt_to_target_prototype
  conftest.py
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag-examples/tests/conftest.py
Due: pyright-stardag-examples

switch to pytest-markdown-docs also for ./docs
  docs/pyproject.toml
  docs/uv.lock
Due: none

make cli private module
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/auth.py
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/credentials.py
  lib/stardag/src/stardag/_cli/registry.py
  lib/stardag/tests/test__cli/__init__.py
  lib/stardag/tests/test__cli/test_config.py
  lib/stardag/tests/test__cli/test_registry.py
Due: pyright-stardag

fix outdated target path reference in examples
  lib/stardag-examples/tests/test_ml_pipeline/test_decorator_api.py
Due: pyright-stardag-examples

clean up package and tests structure
  lib/stardag-examples/src/stardag_examples/benchmarks/completion_check.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag-examples/src/stardag_examples/registry_assets_demo.py
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_core/auto_task.py
  lib/stardag/src/stardag/_core/decorator.py
  lib/stardag/src/stardag/_core/hashable_set.py
  lib/stardag/src/stardag/_core/registry_asset.py
  lib/stardag/src/stardag/_core/target_base.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/_core/task_id.py
  lib/stardag/src/stardag/_core/task_loads.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/integration/aws/s3.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/target/__init__.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/src/stardag/utils/testing/__init__.py
  lib/stardag/src/stardag/utils/testing/dynamic_deps_dag.py
  lib/stardag/src/stardag/utils/testing/helper_tasks.py
  lib/stardag/src/stardag/utils/testing/namepace.py
  lib/stardag/src/stardag/utils/testing/simple_dag.py
  lib/stardag/tests/test__core/test_auto_task.py
  lib/stardag/tests/test__core/test_decorator.py
  lib/stardag/tests/test__core/test_hashable_set.py
  lib/stardag/tests/test__core/test_registry_asset.py
  lib/stardag/tests/test__core/test_task.py
  lib/stardag/tests/test__core/test_task_loads.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag, pyright-stardag-examples
