Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

UI: minimal call-ref Execution line + per-level links in More details (#182)
  CHANGELOG.md
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Make the unit test suite hermetic w.r.t. ambient config
  lib/stardag/tests/conftest.py
  lib/stardag/tests/test_hermetic_config.py
Due: pyright-stardag

Make the unit test suite hermetic w.r.t. ambient config (#183)
  lib/stardag/tests/conftest.py
  lib/stardag/tests/test_hermetic_config.py
Due: pyright-stardag

Enforce strict polymorphic exact-type on the deserialize path too
  CHANGELOG.md
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_polymorphic.py
Due: pyright-stardag

Prepare v0.13.0 release (#181)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Enforce strict polymorphic exact-type on the deserialize path (#184)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_polymorphic.py
Due: pyright-stardag

Exactly-once task execution by default: atomic per-task start claims
  .claude/skills/stardag/sdk-advanced.md
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
  docs/docs/concepts/build-execution.md
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/registry/_lock.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_live_claim_e2e.py
Due: pyright-stardag, pyright-stardag-api

Address review feedback: probe hardening, local-only timeouts, graceful degradation
  docs/docs/concepts/build-execution.md
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_claim.py
Due: pyright-stardag

Re-review follow-up: always attempt the claim once, even with zero wait timeout
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_claim.py
Due: pyright-stardag

Release prep: 0.14.0 changelog + release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Exactly-once task execution by default: atomic per-task start claims (#186)
  .claude/skills/stardag/sdk-advanced.md
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
  docs/docs/concepts/build-execution.md
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/registry/_lock.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_live_claim_e2e.py
Due: pyright-stardag, pyright-stardag-api

Runtime auth config: serve full auth config from API, UI fetches at boot
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/routes/auth.py
  app/stardag-api/tests/test_auth.py
  app/stardag-ui/src/auth/config.ts
  app/stardag-ui/src/auth/userManager.ts
  app/stardag-ui/src/main.tsx
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Serverless/pooler hardening: direct migration DB URL + PgBouncer compat
  app/stardag-api/migrations/env.py
  app/stardag-api/src/stardag_api/auth/tokens.py
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/db/__init__.py
  app/stardag-api/tests/test_config.py
Due: pyright-stardag-api

Local auth mode: email/password accounts managed by the API
  app/stardag-api/migrations/versions/20260716_164310_add_user_password_hash_for_local_auth.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/auth/passwords.py
  app/stardag-api/src/stardag_api/auth/tokens.py
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/models/user.py
  app/stardag-api/src/stardag_api/routes/auth.py
  app/stardag-api/src/stardag_api/services/local_auth.py
  app/stardag-api/tests/test_local_auth.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/auth.ts
  app/stardag-ui/src/components/LocalLoginPage.tsx
  app/stardag-ui/src/components/SessionExpiredOverlay.tsx
  app/stardag-ui/src/context/AuthContext.tsx
  lib/stardag/src/stardag/_cli/auth.py
  lib/stardag/src/stardag/registry/_auth.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

stardag self-host: one-command deployment of API + UI on Modal
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/src/stardag/selfhost/__init__.py
  lib/stardag/src/stardag/selfhost/_modal_app.py
  lib/stardag/src/stardag/selfhost/_neon.py
  lib/stardag/tests/test_selfhost/__init__.py
  lib/stardag/tests/test_selfhost/test_cli_config.py
  lib/stardag/tests/test_selfhost/test_neon.py
  lib/stardag/uv.lock
Due: pyright-stardag

Docs: self-host on Modal guide (quickstart + both auth modes)
  docs/docs/how-to/index.md
  docs/docs/how-to/self-host-modal.md
  docs/mkdocs.yml
  docs/uv.lock
Due: none

Update stardag skill bundle: local auth mode + self-host CLI
  .claude/skills/stardag/registry-and-platform.md
Due: none

self-host: --neon-pg-version flag (default 16, project-wide tested version)
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/src/stardag/selfhost/_neon.py
Due: pyright-stardag

ui: change-password dialog for local auth mode
  app/stardag-ui/src/api/auth.ts
  app/stardag-ui/src/components/ChangePasswordModal.test.tsx
  app/stardag-ui/src/components/ChangePasswordModal.tsx
  app/stardag-ui/src/components/UserMenu.tsx
  docs/docs/how-to/self-host-modal.md
Due: eslint-stardag-ui, tsc-stardag-ui

Fix e2e-test.sh: broken since examples reorg + auth-era API
  scripts/e2e-test.sh
Due: none

CDK: consume prebuilt public server images (apiImageUri, uiApiProxy, --release)
  infra/aws-cdk/.env.deploy.example
  infra/aws-cdk/README.md
  infra/aws-cdk/lib/api-stack.ts
  infra/aws-cdk/lib/constructs/api.ts
  infra/aws-cdk/lib/frontend-stack.ts
  infra/aws-cdk/scripts/deploy-all.sh
  infra/aws-cdk/scripts/deploy-api.sh
  infra/aws-cdk/scripts/deploy-infra.sh
  infra/aws-cdk/scripts/deploy-ui.sh
  infra/aws-cdk/scripts/run-migrations.sh
  infra/aws-cdk/test/stardag.test.ts
Due: none

Changelog + release notes: self-hosting on Modal, local auth mode, server release pipeline
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Address review: fail-fast curl checks + keep cwd at repo root
  scripts/e2e-test.sh
Due: none

Address review: normalize imageUri in StardagApi construct, shlex-split MIGRATION_COMMAND
  infra/aws-cdk/lib/constructs/api.ts
  infra/aws-cdk/scripts/run-migrations.sh
  infra/aws-cdk/test/stardag.test.ts
Due: none

ui: address review feedback on change-password dialog
  app/stardag-ui/src/components/ChangePasswordModal.test.tsx
  app/stardag-ui/src/components/ChangePasswordModal.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Address review feedback: auth-mode gating, bootstrap password policy, self-host UX
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/routes/auth.py
  app/stardag-api/src/stardag_api/services/local_auth.py
  app/stardag-api/tests/test_local_auth.py
  app/stardag-ui/src/auth/config.ts
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/tests/test_selfhost/test_cli_config.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

e2e: pipefail + fail-fast bootstrap curls (review follow-up)
  scripts/e2e-test.sh
Due: none

Harden local-auth login: XFF handling, per-email rate limit, session invalidation on password change
  app/stardag-api/migrations/versions/20260716_223441_add_user_password_changed_at_for_.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/models/user.py
  app/stardag-api/src/stardag_api/routes/auth.py
  app/stardag-api/src/stardag_api/services/local_auth.py
  app/stardag-api/tests/test_local_auth.py
Due: pyright-stardag-api

Self-host CLI: admin password byte limit, API-path 404s, persist keep-warm
  docs/docs/how-to/self-host-modal.md
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/src/stardag/selfhost/_modal_app.py
  lib/stardag/tests/test_selfhost/test_cli_config.py
Due: pyright-stardag

Address review: runtime-UI OIDC env vars + SPA rewrite static-asset allowlist
  infra/aws-cdk/README.md
  infra/aws-cdk/lib/api-stack.ts
  infra/aws-cdk/lib/frontend-stack.ts
  infra/aws-cdk/test/stardag.test.ts
Due: none

api: combined server module (API + UI) and version endpoint
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/server.py
  app/stardag-api/tests/test_server.py
Due: pyright-stardag-api

server: release pipeline - Dockerfile + GHCR publish workflow
  .github/workflows/publish-server-image.yml
  app/server.Dockerfile
  app/server.Dockerfile.dockerignore
Due: none

CLI: annotate --server-version as str | None in self-host up/upgrade
  lib/stardag/src/stardag/_cli/selfhost.py
Due: pyright-stardag

server: git-describe version convention for non-release builds
  DEV_README.md
  app/stardag-api/src/stardag_api/main.py
  scripts/server-version.sh
Due: pyright-stardag-api

Server releases: link CHANGELOG from release notes; document the pre-tag checklist
  .github/workflows/publish-server-image.yml
  DEV_README.md
Due: none

self-host: deploy the prebuilt server image by default
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/src/stardag/selfhost/_modal_app.py
  lib/stardag/tests/test_selfhost/test_image_source.py
Due: pyright-stardag

SPA fallback: don't swallow unknown API paths
  app/stardag-api/src/stardag_api/server.py
  app/stardag-api/tests/test_server.py
Due: pyright-stardag-api

docs: prebuilt server image as self-host default; server release guide
  DEV_README.md
  docs/docs/how-to/self-host-modal.md
Due: none

ui: show the server version in the Settings page footer
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/version.ts
  app/stardag-ui/src/components/ServerVersionFooter.test.tsx
  app/stardag-ui/src/components/ServerVersionFooter.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

self-host: persist deployed server version; upgrade defaults to it
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/tests/test_selfhost/test_cli_config.py
Due: pyright-stardag
