Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Observe the dormancy as well as predicting it, behind the skip
  integration-tests/tests_registry_live/test_cross_build_wake.py
  integration-tests/tests_registry_live/test_limit_slot_wake.py
  integration-tests/tests_registry_live/test_wake_storm.py
Due: pyright-integration-tests

Stop asserting a cause the harness cannot know
  .github/workflows/modal-live.yml
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/tests_registry_live/test_cross_build_wake.py
Due: pyright-integration-tests

Take the wake-up precondition from the constants, not from a tick's report (#367)
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_events.py
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/tests_registry_live/test_cancel_authority.py
  integration-tests/tests_registry_live/test_claim_race.py
  integration-tests/tests_registry_live/test_cross_build_wake.py
  integration-tests/tests_registry_live/test_failed_blocker.py
  integration-tests/tests_registry_live/test_limit_slot_wake.py
  integration-tests/tests_registry_live/test_reactive_e2e.py
  integration-tests/tests_registry_live/test_wake_storm.py
  integration-tests/tests_registry_live/test_watchdog_sweep.py
  integration-tests/tests_registry_live/test_wide_fan_out.py
Due: pyright-integration-tests

Say what the boot probe establishes, and read the access log for the rest
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/src/stardag_integration_tests/registry_live/diagnose.py
  integration-tests/tests/test_registry_live_diagnostics.py
  integration-tests/tests/test_registry_live_verdicts.py
Due: pyright-integration-tests

A truncated dump withdraws the third verdict, not the first two
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/diagnose.py
  integration-tests/tests/test_registry_live_verdicts.py
Due: pyright-integration-tests

The access log and the record can be in different timezones
  integration-tests/tests/test_registry_live_verdicts.py
Due: pyright-integration-tests

One decision function for both paths, and the verdict on the run summary
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/diagnose.py
  integration-tests/tests/test_registry_live_verdicts.py
Due: pyright-integration-tests

Gate each diagnostic step on the capability it actually calls
  .github/workflows/modal-live.yml
  DEV_README.md
Due: none

Say what the boot probe establishes, and read the access log for the rest (#369)
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_diagnostics.py
  integration-tests/src/stardag_integration_tests/registry_live/diagnose.py
  integration-tests/tests/test_registry_live_diagnostics.py
  integration-tests/tests/test_registry_live_verdicts.py
Due: pyright-integration-tests

Copilot round three: the fix covered one branch and not its sibling, twice
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Copilot round five: a borrowed handle, and a replay that cleared what the row keeps
  CHANGELOG.md
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_worker_execution_identity.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_claim.py
Due: pyright-stardag, pyright-stardag-api

The worker carries its execution identity, and asks if it is still wanted
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/cancellation.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_detached.py
  lib/stardag/tests/test_build/test_reactive_budgets.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
  lib/stardag/tests/test_integration/test_modal/test_live_claim_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_registry/test_executor_metadata.py
Due: pyright-stardag, pyright-stardag-api

Copilot round one: a cancel in the queued window, and two true claims
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_worker_execution_identity.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_detached.py
Due: pyright-stardag, pyright-stardag-api

Design note: the worker half is no longer future tense
  docs/design/executions-as-records.md
Due: none

Copilot round two: losing a task must not be reported as its failure
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_detached.py
Due: pyright-stardag

Say why the resident engine needs no catch for the refusal
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Rebase onto v0.25.0: move the STA-79 notes out of a shipped section
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Write down the limit the cancelled-task refusal leaves
  app/stardag-api/src/stardag_api/routes/builds.py
Due: pyright-stardag-api

Tests: the three rules, the two checkpoints, and the replays agreeing
  app/stardag-api/tests/test_worker_execution_identity.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_execution_identity.py
  lib/stardag/tests/test_cancellation.py
  lib/stardag/tests/test_integration/test_modal/test_runner_cancellation.py
Due: pyright-stardag, pyright-stardag-api

Adversarial review: the cancelled-task refusal was one predicate too wide
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_worker_execution_identity.py
  lib/stardag/src/stardag/integration/modal/_runner.py
Due: pyright-stardag, pyright-stardag-api

A non-finite throttle interval switches cancellation off in silence
  lib/stardag/src/stardag/cancellation.py
  lib/stardag/tests/test_cancellation.py
Due: pyright-stardag

Registry-live: the STA-49 takeover, and a worker that stops itself
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_execution_identity.py
Due: pyright-integration-tests

Docs, changelog and release notes for the two rules
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_worker_execution_identity.py
  docs/docs/concepts/build-execution.md
  docs/docs/reference/exceptions.md
  integration-tests/tests_registry_live/test_execution_identity.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Fold the execution-status degrade paths into one place
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag

Round four: the docs invited the bug the runner is careful about
  docs/docs/concepts/build-execution.md
  lib/stardag/src/stardag/cancellation.py
Due: pyright-stardag

Round six: a new exit became a new leak on the global lock
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_claim.py
Due: pyright-stardag

Serialise the registry-live tier across every PR and the schedule
  .github/workflows/modal-live.yml
  DEV_README.md
Due: none

The build-scoped task read never carried the identity
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_worker_execution_identity.py
Due: pyright-stardag-api

One header baseline, and a tool-and-info bar for the build view
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/EnvironmentSelector.test.tsx
  app/stardag-ui/src/components/EnvironmentSelector.tsx
  app/stardag-ui/src/components/TaskFilters.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
  app/stardag-ui/src/components/ui/Crumb.tsx
  app/stardag-ui/src/context/BreadcrumbContext.tsx
  app/stardag-ui/src/hooks/useClickOutside.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Show the build id in the builds list, and say what each chip is
  app/stardag-ui/src/components/BuildsList.test.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/ui/CopyChip.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Do not claim menu semantics these dropdowns do not implement
  app/stardag-ui/src/components/EnvironmentSelector.test.tsx
  app/stardag-ui/src/components/EnvironmentSelector.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
  app/stardag-ui/src/components/ui/Crumb.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Name both causes of a logless cancellation, and state the leak honestly
  .github/workflows/modal-live.yml
  DEV_README.md
Due: none

Give the builds fixtures real ids, so the abbreviation test bites
  app/stardag-ui/src/components/BuildsList.test.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Count the orphan stop on the tick's trail, not only in claim_denied
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/tests/test_build/test_execution_identity.py
Due: pyright-stardag

The changelog still described the scope the review made me narrow
  CHANGELOG.md
Due: none

Name STA-99 as a known limitation in the changelog and release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Abbreviate a build id from the end, where the difference is
  app/stardag-ui/src/components/BuildsList.test.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/utils/ids.test.ts
  app/stardag-ui/src/utils/ids.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Serialise the registry-live tier across every PR and the schedule (#370)
  .github/workflows/modal-live.yml
  DEV_README.md
Due: none

Say where the replays stop agreeing with the row, and pin it
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_worker_execution_identity.py
Due: pyright-stardag-api
