Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Reduce SDK bulk chunk to 50 + gzip request bodies on the wire
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/middleware/__init__.py
  app/stardag-api/src/stardag_api/middleware/gzip_request.py
  app/stardag-api/tests/test_gzip_request.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Address PR review: streaming gzip decompression + replay-receive cleanup + test fixes
  app/stardag-api/src/stardag_api/middleware/gzip_request.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_gzip_request.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Address PR review: bulk-endpoint perf refactor + deadlock + auth-order + tests
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Bulk endpoint: id_only query param for slim response (SDK adopts it)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Discover-time task registration + bulk register + UX polish (#133)
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/middleware/__init__.py
  app/stardag-api/src/stardag_api/middleware/gzip_request.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_gzip_request.py
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/types/task.ts
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/integration/prefect/_build.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Post-v0.6.0 docs cleanup: corrected fan-out example + dated changelog
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Bump stardag-examples to v0.6.0 + fix latent 0.5.x API drift
  lib/stardag-examples/src/stardag_examples/general/artifacts_demo.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/app.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Post-v0.6.0 cleanup: docs fixes + stardag-examples lockfile bump + 0.5.x API drift (#134)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag-examples/src/stardag_examples/general/artifacts_demo.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/app.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Add optional local-disk cache for modalvol RemoteFileSystem (mirrors S3)
  lib/stardag/src/stardag/integration/modal/_target.py
Due: pyright-stardag

Add tests for modalvol RemoteFileSystem disk cache
  lib/stardag/tests/test_integration/test_modal/test__target_cache.py
Due: pyright-stardag

Document credentials/profile responsibility for modal cache tests
  lib/stardag/tests/test_integration/test_modal/test__target_cache.py
Due: pyright-stardag

Address PR #135 review: opt-in cache root + safer test setup
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/tests/test_integration/test_modal/test__target_cache.py
  lib/stardag/tests/test_integration/test_modal/test__target_cache_config.py
Due: pyright-stardag

Add optional local-disk cache for modalvol RemoteFileSystem (mirrors S3) (#135)
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/tests/test_integration/test_modal/test__target_cache.py
  lib/stardag/tests/test_integration/test_modal/test__target_cache_config.py
Due: pyright-stardag

Fix volume-reload staleness in ModalMountedVolumeFileTarget
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/tests/test_integration/test_modal/test__target_reload.py
Due: pyright-stardag

Address PR #136 review: issue-time semantics + cross-loop lock safety
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/tests/test_integration/test_modal/test__target_reload.py
Due: pyright-stardag

Fix volume-reload staleness in ModalMountedVolumeFileTarget (#136)
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/tests/test_integration/test_modal/test__target_reload.py
Due: pyright-stardag

Make CachedRemoteFileSystem.upload(_aio) crash-atomic
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/tests/test_target/test__base.py
Due: pyright-stardag

Skip the temp hop on ok_remove=True (POSIX rename(2) is already atomic)
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/tests/test_target/test__base.py
Due: pyright-stardag

Use Path.replace (not Path.rename) for cross-platform cache publish
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/tests/test_target/test__base.py
Due: pyright-stardag

Make CachedRemoteFileSystem.upload(_aio) crash-atomic (#138)
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/tests/test_target/test__base.py
Due: pyright-stardag

Draft v0.6.1 changelog and release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Draft v0.6.1 changelog and release notes (#137)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Cancel in-flight siblings on FAIL_FAST + emit TASK_SKIPPED for blocked tasks
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/testing/modal/_tasks.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
Due: pyright-stardag, pyright-stardag-api

Address PR review on FAIL_FAST cancellation
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
Due: pyright-stardag

Address PR review v2: deflake race test, rename Modal #2, add lock-release-on-cancel test
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
Due: pyright-stardag

Graceful 404 degrade for task_skip on older Registry API
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

Draft v0.7.0 changelog and release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Cancel in-flight siblings on FAIL_FAST + emit TASK_SKIPPED for blocked tasks (#139)
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/testing/modal/_tasks.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Modal: support multiple root tasks in build_spawn/build_remote + build_kwargs
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Draft v0.7.1 changelog and release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Address PR review: docstring, kw forwarding, PrefectBuilder reserved key
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Modal: support multiple root tasks in build_spawn/build_remote + build_kwargs (#140)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Build resume lifecycle + skipped-status UI polish
  app/stardag-api/migrations/versions/20260507_121615_add_build_resumed_event_type_and_last_.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_search.py
  app/stardag-ui/src/components/BuildStatusBadge.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskExplorerTable.tsx
  app/stardag-ui/src/components/TaskFilters.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/types/task.ts
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Touch last_active_at on lifecycle events only + ORDER BY tiebreaker
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

Reset is_resumed on BUILD_STARTED in status replay
  app/stardag-api/src/stardag_api/services/status.py
Due: pyright-stardag-api

Build resume lifecycle + SKIPPED status UI polish (#141)
  app/stardag-api/migrations/versions/20260507_121615_add_build_resumed_event_type_and_last_.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_search.py
  app/stardag-ui/src/components/BuildStatusBadge.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskExplorerTable.tsx
  app/stardag-ui/src/components/TaskFilters.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/types/task.ts
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Draft v0.7.2 changelog and release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Draft v0.7.2 changelog and release notes (#142)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Fix misleading slug display in stardag modal CLI (v0.7.3)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/config/cache.py
Due: pyright-stardag

Pin id-cache lookup to the resolved registry URL, single-load
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/config/cache.py
Due: pyright-stardag
