Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Restructure target & serializer type hierarchy for file/directory support
  .pre-commit-config.yaml
  RELEASE_NOTES.md
  app/stardag-ui/src/code-examples/configure-env/customize.py
  app/stardag-ui/src/code-examples/serialization/customize.py
  conftest.py
  docs/conftest.py
  docs/docs/concepts/asyncio.md
  docs/docs/concepts/targets.md
  docs/docs/concepts/tasks.md
  docs/docs/getting-started/class-api.md
  docs/docs/how-to/configure-storage.md
  docs/docs/how-to/define-tasks.md
  docs/docs/reference/api.md
  docs/docs/reference/index.md
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag-examples/src/stardag_examples/benchmarks/tasks.py
  lib/stardag-examples/src/stardag_examples/general/task_api_three_levels.py
  lib/stardag-examples/tests/conftest.py
  lib/stardag/conftest.py
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/src/stardag/target/__init__.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/src/stardag/target/_in_memory.py
  lib/stardag/src/stardag/target/serialize.py
  lib/stardag/tests/conftest.py
  lib/stardag/tests/test__core/test_task.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_conftest.py
  lib/stardag/tests/test_integration/test_modal/test__target.py
  lib/stardag/tests/test_target/test__base.py
  lib/stardag/tests/test_target/test_serialize.py
Due: pyright-stardag, pyright-stardag-examples

Use editable stardag install for examples in tox.ini (pre-publish)
  tox.ini
Due: none

Address PR review comments
  RELEASE_NOTES.md
  docs/docs/how-to/define-tasks.md
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/target/serialize.py
Due: pyright-stardag

Add tests for directory serializer support
  lib/stardag/tests/test__core/test_task.py
  lib/stardag/tests/test_target/test_serialize.py
Due: pyright-stardag

minor cleanup docs and alias type
  app/stardag-ui/src/code-examples/serialization/customize.py
  lib/stardag/src/stardag/_core/alias_task.py
Due: pyright-stardag

Rename LocalTarget → LocalFileTarget, ModalMountedVolumeTarget → ModalMountedVolumeFileTarget, remove mark_done from DirectorySerializable
  RELEASE_NOTES.md
  conftest.py
  docs/conftest.py
  docs/docs/concepts/targets.md
  docs/docs/reference/api.md
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/src/stardag/target/__init__.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/src/stardag/target/serialize.py
  lib/stardag/tests/test__core/test_task.py
  lib/stardag/tests/test_conftest.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
  lib/stardag/tests/test_integration/test_modal/test__target.py
  lib/stardag/tests/test_target/test__base.py
  lib/stardag/tests/test_target/test_serialize.py
Due: pyright-stardag

Add mark_done check in DirectorySerializable.save/save_aio
  lib/stardag/src/stardag/target/serialize.py
  lib/stardag/tests/test_target/test_serialize.py
Due: pyright-stardag

Restructure target & serializer type hierarchy for file/directory support (#86)
  .pre-commit-config.yaml
  RELEASE_NOTES.md
  app/stardag-ui/src/code-examples/configure-env/customize.py
  app/stardag-ui/src/code-examples/serialization/customize.py
  conftest.py
  docs/conftest.py
  docs/docs/concepts/asyncio.md
  docs/docs/concepts/targets.md
  docs/docs/concepts/tasks.md
  docs/docs/getting-started/class-api.md
  docs/docs/how-to/configure-storage.md
  docs/docs/how-to/define-tasks.md
  docs/docs/reference/api.md
  docs/docs/reference/index.md
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag-examples/src/stardag_examples/benchmarks/tasks.py
  lib/stardag-examples/src/stardag_examples/general/task_api_three_levels.py
  lib/stardag-examples/tests/conftest.py
  lib/stardag/conftest.py
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/src/stardag/target/__init__.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/src/stardag/target/_in_memory.py
  lib/stardag/src/stardag/target/serialize.py
  lib/stardag/tests/conftest.py
  lib/stardag/tests/test__core/test_task.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_conftest.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
  lib/stardag/tests/test_integration/test_modal/test__target.py
  lib/stardag/tests/test_target/test__base.py
  lib/stardag/tests/test_target/test_serialize.py
  tox.ini
Due: pyright-stardag, pyright-stardag-examples

Revert editable install workaround (stardag v0.4.0 published)
  .pre-commit-config.yaml
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/uv.lock
  tox.ini
Due: none

Fix release notes: add missing mark_done() and fix migration guide formatting
  RELEASE_NOTES.md
Due: none

Revert editable install workaround (stardag v0.4.0 published) (#87)
  .pre-commit-config.yaml
  RELEASE_NOTES.md
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/uv.lock
  tox.ini
Due: none

Add recursive upstream traversal, batch grouping, and fullscreen DAG view
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/graph.py
  app/stardag-api/tests/test_graph.py
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BatchNode.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/DagControls.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/types/task.ts
  scripts/seed-example-graphs.py
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Add bidirectional traversal, status grouping, and UX improvements
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/graph.py
  app/stardag-api/tests/test_graph.py
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BatchNode.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/DagControls.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/types/task.ts
  scripts/seed-example-graphs.py
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Replace page headers with breadcrumb navigation in global header
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/BuildStatusBadge.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/components/TaskFilters.tsx
  app/stardag-ui/src/context/BreadcrumbContext.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Replace depth button rows with number inputs in DAG controls
  app/stardag-ui/src/components/DagControls.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix integration tests: update Task Explorer selector for breadcrumb nav
  integration-tests/tests/test_browser.py
Due: pyright-integration-tests

Tighten layout density across Task Explorer and Build View
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/components/TaskFilters.tsx
  app/stardag-ui/src/components/TaskTable.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Bump breadcrumb nav font size from 14px to 16px
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Address PR review: fix bugs, harden APIs, refactor TaskExplorer
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/graph.py
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/DagControls.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/LandingPageDemo.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/components/TaskExplorerSearch.tsx
  app/stardag-ui/src/components/TaskExplorerTable.tsx
  app/stardag-ui/src/hooks/useTasks.ts
  app/stardag-ui/src/types/task.ts
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Fix test_graph.py: update /tasks/graph tests from GET to POST
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/tests/test_graph.py
Due: pyright-stardag-api

Add CHANGELOG.md covering all components, clarify RELEASE_NOTES.md scope
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Address review: sync DagControls state, fix falsy filter, pass environmentId
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/DagControls.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/components/TaskExplorerTable.tsx
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Fix CHANGELOG dates to match actual tag dates, soften RELEASE_NOTES wording
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Extended DAG view: recursive traversal, grouping, and breadcrumb nav (#88)
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/graph.py
  app/stardag-api/tests/test_graph.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BatchNode.tsx
  app/stardag-ui/src/components/BuildStatusBadge.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/DagControls.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/LandingPageDemo.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/components/TaskExplorerSearch.tsx
  app/stardag-ui/src/components/TaskExplorerTable.tsx
  app/stardag-ui/src/components/TaskFilters.tsx
  app/stardag-ui/src/components/TaskTable.tsx
  app/stardag-ui/src/context/BreadcrumbContext.tsx
  app/stardag-ui/src/hooks/useTasks.ts
  app/stardag-ui/src/types/task.ts
  integration-tests/tests/test_browser.py
  scripts/seed-example-graphs.py
Due: pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

Tweak landing page section ordering and spacing
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Tweak landing page section ordering and spacing (#89)
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

clean up examples
  app/stardag-ui/src/code-examples/async-io/class-api.py
  app/stardag-ui/src/code-examples/async-io/decorator-api.py
  app/stardag-ui/src/code-examples/compose/class-api.py
  app/stardag-ui/src/code-examples/compose/decorator-api.py
  app/stardag-ui/src/code-examples/configure-env/env-vars.py
  app/stardag-ui/src/code-examples/configure-env/profile.py
  app/stardag-ui/src/code-examples/parameter-hashing/control.py
  app/stardag-ui/src/code-examples/pydantic/class-api.py
  app/stardag-ui/src/code-examples/pydantic/decorator-api.py
  app/stardag-ui/src/code-examples/serialization/load-from-registry.py
Due: none

clean up examples (#90)
  app/stardag-ui/src/code-examples/async-io/class-api.py
  app/stardag-ui/src/code-examples/async-io/decorator-api.py
  app/stardag-ui/src/code-examples/compose/class-api.py
  app/stardag-ui/src/code-examples/compose/decorator-api.py
  app/stardag-ui/src/code-examples/configure-env/env-vars.py
  app/stardag-ui/src/code-examples/configure-env/profile.py
  app/stardag-ui/src/code-examples/parameter-hashing/control.py
  app/stardag-ui/src/code-examples/pydantic/class-api.py
  app/stardag-ui/src/code-examples/pydantic/decorator-api.py
  app/stardag-ui/src/code-examples/serialization/load-from-registry.py
Due: none

Add Claude Code skill bundle for Stardag SDK usage
  .claude/CLAUDE.md
  .claude/skills/stardag/README.md
  .claude/skills/stardag/SKILL.md
  .claude/skills/stardag/examples.md
  .claude/skills/stardag/registry-and-platform.md
  .claude/skills/stardag/sdk-advanced.md
  .claude/skills/stardag/sdk-core.md
  .claude/skills/stardag/sdk-targets.md
Due: none

Fix code examples in skill bundle against actual SDK API
  .claude/skills/stardag/examples.md
  .claude/skills/stardag/sdk-advanced.md
  .claude/skills/stardag/sdk-core.md
  .claude/skills/stardag/sdk-targets.md
Due: none

Add skill bundle note to CLAUDE.md (#91)
  .claude/CLAUDE.md
  .claude/skills/stardag/README.md
  .claude/skills/stardag/SKILL.md
  .claude/skills/stardag/examples.md
  .claude/skills/stardag/registry-and-platform.md
  .claude/skills/stardag/sdk-advanced.md
  .claude/skills/stardag/sdk-core.md
  .claude/skills/stardag/sdk-targets.md
Due: none

WIP fix raise exception in build sequential
  lib/stardag/src/stardag/build/_sequential.py
Due: pyright-stardag

Add TaskExecutionError dataclass to preserve tracebacks from executors
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/prefect/_build.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

Add backward compat fallback for custom executors returning bare Exception
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/prefect/_build.py
Due: pyright-stardag

Fix FAIL_FAST exception surfacing and add TaskExecutionError (#92)
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/prefect/_build.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

Fix previously-completed tasks left PENDING in registry (sequential builds)
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

Wrap registry.task_fail in try/except in sequential builds
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

Address PR review: logging accuracy, lock-fail registration, unused var
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

Fix sequential build registry communication (#93)
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

Phantom tasks, edge reconciliation, and register_all flag
  app/stardag-api/migrations/versions/20260317_165619_add_is_phantom_to_tasks.py
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/graph.py
  app/stardag-ui/src/components/BatchNode.tsx
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskExplorerTable.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/types/task.ts
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui
