Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

CHANGELOG and plan.md I9: the UI audit fixes
  CHANGELOG.md
  docs/design/registry-v2/plan.md
Due: none

Docs: fix stale v1 retry/interruption mechanics after #400
  docs/docs/concepts/modal-orchestration.md
  docs/docs/how-to/integrate-modal.md
Due: none

Docs: address Copilot review round 1 on #402
  docs/docs/concepts/modal-orchestration.md
  docs/docs/how-to/integrate-modal.md
Due: none

Address Copilot review: keep the stop filters alongside ticked task ids
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/utils/stoppable.test.ts
  app/stardag-ui/src/utils/stoppable.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Address Copilot review: an executions read failure is not 'no executions'
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Docs: address Copilot review round 2 on #402
  docs/docs/concepts/modal-orchestration.md
Due: none

Address Copilot review: batch nodes are keyboard-operable
  app/stardag-ui/src/components/BatchNode.tsx
  app/stardag-ui/src/components/DagGraph.test.tsx
  app/stardag-ui/src/components/DagGraph.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix the batch-node keyboard test's query
  app/stardag-ui/src/components/DagGraph.test.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Release plumbing: next-minor wording, and one docstring per parameter
  lib/stardag/src/stardag/build/_resident.py
Due: pyright-stardag

Drop Python 3.10 support
  .claude/CLAUDE.md
  CHANGELOG.md
  CONTRIBUTING.md
  RELEASE_NOTES.md
  app/stardag-api/pyproject.toml
  app/stardag-api/uv.lock
  docs/docs/getting-started/index.md
  docs/docs/getting-started/installation.md
  docs/docs/how-to/self-host-modal.md
  docs/pyproject.toml
  docs/uv.lock
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/uv.lock
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/base_model.py
  lib/stardag/src/stardag/config/io.py
  lib/stardag/src/stardag/selfhost/_modal_app.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/src/stardag/target/serialize.py
  lib/stardag/tests/test_selfhost/test_image_source.py
  lib/stardag/uv.lock
  pyrightconfig.json
Due: pyright-stardag

Bound lapsed-claim takeovers: TickConfig.max_executions (default 20)
  CHANGELOG.md
  docs/design/registry-v2/design.md
  docs/design/registry-v2/plan.md
  docs/docs/concepts/modal-orchestration.md
  docs/docs/configuration/cli.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive/_config.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/tests/test_build/test_reactive_budgets.py
Due: pyright-stardag

Test the actual 3.11 boundary, not the old 3.10 one
  lib/stardag/tests/test_selfhost/test_image_source.py
Due: pyright-stardag

Allow release-candidate tags on the v2 publish workflows
  .github/workflows/publish-server-image.yml
  .github/workflows/publish.yml
  CHANGELOG.md
  DEV_README.md
  app/stardag-api/src/stardag_api/main.py
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/src/stardag/selfhost/_modal_app.py
  lib/stardag/tests/test_selfhost/test_cli_config.py
  lib/stardag/tests/test_selfhost/test_image_source.py
Due: pyright-stardag, pyright-stardag-api

Docs: clarify what stays unaffected by an rc's mutable-latest omission
  DEV_README.md
Due: none

Workflow comment: fix the same latest-vs-default conflation
  .github/workflows/publish-server-image.yml
Due: none

Workflow comment: fix the same conflation in the build-and-push step
  .github/workflows/publish-server-image.yml
Due: none

Test: cover rc-to-rc ordering in _parse_semver
  lib/stardag/tests/test_selfhost/test_cli_config.py
Due: pyright-stardag

Bump build.last_active_at on task activity, as in v1
  CHANGELOG.md
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/routes/registry_v2/builds.py
  app/stardag-api/src/stardag_api/services/reads.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_v2_read_routes.py
  app/stardag-api/tests/test_v2_wakeups.py
  app/stardag-ui/src/components/BuildsList.tsx
  docs/docs/platform/ui.md
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

last_active_at bump is monotonic: GREATEST of the stored stamp and now
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_v2_wakeups.py
Due: pyright-stardag-api

Docs: the task-retries bullet names the execution budget too
  docs/docs/how-to/integrate-modal.md
Due: none

UI: Group after in the plan graph header; one instant tooltip everywhere
  app/stardag-ui/src/components/BatchNode.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/components/BuildPlans.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/BuildStatusBadge.tsx
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/DagGraph.test.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/ExecutionTable.tsx
  app/stardag-ui/src/components/ExecutorBadge.tsx
  app/stardag-ui/src/components/GroupAfterControl.tsx
  app/stardag-ui/src/components/LayoutToggle.tsx
  app/stardag-ui/src/components/MemberTable.test.tsx
  app/stardag-ui/src/components/MemberTable.tsx
  app/stardag-ui/src/components/MembershipFacts.tsx
  app/stardag-ui/src/components/StatusBadge.test.tsx
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskEventLog.tsx
  app/stardag-ui/src/components/TickSummaryTrail.tsx
  app/stardag-ui/src/components/ui/ToolbarButton.tsx
  app/stardag-ui/src/components/ui/Tooltip.test.tsx
  app/stardag-ui/src/components/ui/Tooltip.tsx
  app/stardag-ui/src/test/tooltip.ts
  app/stardag-ui/src/utils/planGraph.ts
  docs/docs/platform/ui.md
Due: eslint-stardag-ui, tsc-stardag-ui

UI: Task Parameters box replaces the instance cards (version A)
  app/stardag-ui/src/components/ArtifactViewer.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskInstances.test.tsx
  app/stardag-ui/src/components/TaskInstances.tsx
  app/stardag-ui/src/components/TaskParameters.test.tsx
  app/stardag-ui/src/components/TaskParameters.tsx
  docs/docs/platform/ui.md
Due: eslint-stardag-ui, tsc-stardag-ui

UI: builds list never breaks the build slug or its id chip
  app/stardag-ui/src/components/BuildsList.test.tsx
  app/stardag-ui/src/components/BuildsList.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

UI: collapse the claim box to one line and a Manage modal
  app/stardag-ui/src/components/TaskClaimPanel.test.tsx
  app/stardag-ui/src/components/TaskClaimPanel.tsx
  docs/docs/platform/ui.md
Due: eslint-stardag-ui, tsc-stardag-ui

Make the settings hash a uuid5, like the task id and instance hash
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260924_004916_registry_v2_core_schema.py
  app/stardag-api/src/stardag_api/models/plan.py
  app/stardag-api/src/stardag_api/models/settings.py
  app/stardag-api/src/stardag_api/models/task_instance.py
  app/stardag-api/src/stardag_api/routes/registry_v2/scope.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/schemas_v2_reads.py
  app/stardag-api/src/stardag_api/services/deployments.py
  app/stardag-api/src/stardag_api/services/frontier.py
  app/stardag-api/src/stardag_api/services/plan_reads.py
  app/stardag-api/src/stardag_api/services/reads.py
  app/stardag-api/src/stardag_api/services/registration.py
  app/stardag-api/tests/test_v2_deployments.py
  app/stardag-api/tests/test_v2_schema_constraints.py
  app/stardag-ui/src/components/BuildInfoDialog.tsx
  app/stardag-ui/src/components/BuildPlans.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskInstances.test.tsx
  app/stardag-ui/src/components/TaskInstances.tsx
  app/stardag-ui/src/utils/ids.ts
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/_cli/plans.py
  lib/stardag/src/stardag/_cli/tasks.py
  lib/stardag/src/stardag/build/_settings.py
  lib/stardag/src/stardag/registry/_api_routes.py
  lib/stardag/src/stardag/testing/_registry_state.py
  lib/stardag/tests/test__cli/test_builds.py
  lib/stardag/tests/test__cli/test_plans.py
  lib/stardag/tests/test_build/test_settings_hash.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Pin sqlalchemy below 2.1 for the API image build
  app/stardag-api/pyproject.toml
  app/stardag-api/uv.lock
Due: none

UI: address Copilot on #408 (executor fallback, keyboard rows, tooltip)
  app/stardag-ui/src/components/TaskClaimPanel.test.tsx
  app/stardag-ui/src/components/TaskClaimPanel.tsx
  app/stardag-ui/src/components/TaskParameters.test.tsx
  app/stardag-ui/src/components/TaskParameters.tsx
  app/stardag-ui/src/components/ui/ToolbarButton.tsx
  app/stardag-ui/src/components/ui/Tooltip.test.tsx
  app/stardag-ui/src/components/ui/Tooltip.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Design doc: say what the empty settings hash to, in a sentence that parses
  docs/design/registry-v2/design.md
Due: none

Lease race: a retried acquire may echo a later expiry than the denials
  integration-tests/tests_registry_live/test_scheduler_lease_live.py
Due: pyright-integration-tests

Lease race: denials may differ among themselves too; drop the one-value check
  integration-tests/tests_registry_live/test_scheduler_lease_live.py
Due: pyright-integration-tests

Guard the v2 migration against dropping v1 data unasked
  CHANGELOG.md
  DEV_README.md
  RELEASE_NOTES.md
  app/stardag-api/migrations/env.py
  app/stardag-api/migrations/versions/20260924_004916_registry_v2_core_schema.py
  app/stardag-api/tests/test_migrations.py
  docs/design/registry-v2/design.md
  docs/docs/how-to/self-host-modal.md
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/src/stardag/selfhost/_modal_app.py
  lib/stardag/src/stardag/selfhost/_modal_entry.py
Due: pyright-stardag, pyright-stardag-api

Lock v1 builds/tasks before counting; name the derived tables dropped
  RELEASE_NOTES.md
  app/stardag-api/migrations/versions/20260924_004916_registry_v2_core_schema.py
Due: pyright-stardag-api

Migration guard: count without locking
  app/stardag-api/migrations/versions/20260924_004916_registry_v2_core_schema.py
Due: pyright-stardag-api

Examples: port to the v2 SDK and pin stardag 0.27.0rc1
  CHANGELOG.md
  docs/design/registry-v2/plan.md
  docs/docs/how-to/ml-pipeline-example.md
  lib/stardag-examples/README.md
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/src/stardag_examples/benchmarks/README.md
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag-examples/src/stardag_examples/modal/README.md
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag-examples/src/stardag_examples/modal/ml_pipeline/app.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/configure_limits.py
  lib/stardag-examples/standalone/stardag-modal/pyproject.toml
  lib/stardag-examples/standalone/stardag-modal/uv.lock
  lib/stardag-examples/tests/conftest.py
  lib/stardag-examples/tests/test_modal/test_walkthrough.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Landing-page snippet: significant=False replaces hash_exclude
  app/stardag-ui/src/code-examples/parameter-hashing/control.py
Due: none

Examples: name the rc server as the minimum; conftest env after imports
  lib/stardag-examples/README.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag-examples/tests/conftest.py
Due: pyright-stardag-examples

Examples: the modal extra takes stardag[modal]
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/uv.lock
Due: none

Accept Mapping[str, str] as settings on every build entry point
  docs/docs/how-to/evolve-dags.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_resident.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/tests/test_build/test_resident_registry.py
Due: pyright-stardag

Log the dropped v1 row counts when the v2 migration's loss is accepted
  app/stardag-api/migrations/versions/20260924_004916_registry_v2_core_schema.py
  app/stardag-api/tests/test_migrations.py
Due: pyright-stardag-api

Release notes: route prefixes, id-neutral rename, unvalidated settings keys
  RELEASE_NOTES.md
  docs/docs/how-to/integrate-modal.md
Due: none
