Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Add async serialization support with _DumpsLoadsSerializer base class
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/target/serialize.py
  lib/stardag/tests/test_target/test_serialize.py
  scripts/test.sh
Due: pyright-stardag

Improve abstract class detection for run/run_aio validation
  lib/stardag/src/stardag/_auto_task.py
  lib/stardag/src/stardag/_task.py
  lib/stardag/tests/test_task.py
Due: pyright-stardag

Fix integration tests for new build API
  integration-tests/tests/test_full_flow.py
  integration-tests/uv.lock
Due: pyright-integration-tests

updates benchmarks, several issues present WIP
  lib/stardag/benchmarks/README.md
  lib/stardag/benchmarks/dags.py
  lib/stardag/benchmarks/results.json
  lib/stardag/benchmarks/run_benchmark.py
  lib/stardag/benchmarks/tasks.py
Due: pyright-stardag

draft aio interface
  lib/stardag/src/stardag/_target_base.py
  lib/stardag/src/stardag/_task.py
Due: pyright-stardag

Document dynamic deps contract; update test to enforce it
  DEV_README.md
  lib/stardag/src/stardag/_task.py
  lib/stardag/src/stardag/utils/testing/dynamic_deps_dag.py
Due: pyright-stardag

Add integration-pyright to tox envlist and SKIP
  tox.ini
Due: none

first draft of prefect independent concurrent building
  lib/stardag/src/stardag/build/concurrent/__init__.py
  lib/stardag/src/stardag/build/concurrent/asyncio_builder.py
  lib/stardag/src/stardag/build/concurrent/multiprocess.py
  lib/stardag/src/stardag/build/concurrent/threadpool.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag

Improve S3 async support and add async target tests
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/integration/aws/s3.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/tests/test_target/test__base.py
  lib/stardag/uv.lock
Due: pyright-stardag

Rename _PrefectBuildOrchestrator to _PrefectTaskRunWrapper
  lib/stardag/src/stardag/integration/prefect/build.py
Due: pyright-stardag

Optimize discovery to stop traversal at complete tasks
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Support dynamic deps with process pool execution
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/tests/test_build/test_build.py
Due: pyright-stardag

Stop discovery at complete tasks in sequential build
  lib/stardag/src/stardag/build/_sequential.py
Due: pyright-stardag

Add heavy CPU benchmark demonstrating multiprocess advantage
  lib/stardag/benchmarks/README.md
  lib/stardag/benchmarks/dags.py
  lib/stardag/benchmarks/results.json
  lib/stardag/benchmarks/run_benchmark.py
  lib/stardag/benchmarks/tasks.py
Due: pyright-stardag

Update benchmarks to use new build API
  lib/stardag/benchmarks/README.md
  lib/stardag/benchmarks/run_benchmark.py
Due: pyright-stardag

Replace run_version_checked with __init_subclass__ precheck wrapping
  lib/stardag/src/stardag/_task.py
  lib/stardag/tests/test_task.py
Due: pyright-stardag

Reorganize test_build tests to match package module structure
  lib/stardag/tests/test_build/__init__.py
  lib/stardag/tests/test_build/_helpers.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_async_interface.py
  lib/stardag/tests/test_build/test_build.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

improves defualt registry selection in build methods, adds tests for modal async target and file system methods
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/tests/test_integration/test_modal/test__target.py
Due: pyright-stardag

Move registry calls from TaskExecutor to build functions
  lib/stardag-examples/src/stardag_examples/benchmarks/completion_check.py
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag, pyright-stardag-examples

fix typo in tox.ini
  integration-tests/uv.lock
  tox.ini
Due: none

Add concurrent build benchmarks with analysis
  lib/stardag/benchmarks/README.md
  lib/stardag/benchmarks/__init__.py
  lib/stardag/benchmarks/dags.py
  lib/stardag/benchmarks/results.json
  lib/stardag/benchmarks/run_benchmark.py
  lib/stardag/benchmarks/tasks.py
Due: pyright-stardag

Implement v2 build system with hybrid async/thread/process execution
  lib/stardag/src/stardag/build/_v2.py
  lib/stardag/tests/test_build/test_v2.py
Due: pyright-stardag

fix model test app (missing dependency)
  lib/stardag/tests/test_integration/test_modal/test__target.py
Due: pyright-stardag

Add global concurrency lock for distributed task execution
  app/stardag-api/migrations/versions/20260111_143920_add_distributed_locks_table_and_.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/lock.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/locks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/__init__.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/tests/test_locks.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_lock.py
Due: pyright-stardag, pyright-stardag-api

Integrate global concurrency lock into build system
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag

Refactor global lock to use LockHandle and GlobalConcurrencyLockManager patterns
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/src/stardag/registry/_lock.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag

Fix blocking lock acquisition by wrapping as async task
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Skip lock re-acquisition for tasks resuming after dynamic deps
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

Always re-acquire lock for tasks resuming after dynamic deps
  lib/stardag/src/stardag/build/_concurrent.py
Due: pyright-stardag

tweak ml-pipeline class_api example
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
Due: pyright-stardag-examples

Extend benchmarks for real registry and add lock tests
  lib/stardag-examples/src/stardag_examples/benchmarks/README.md
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag, pyright-stardag-examples

Fix benchmark registry conflicts with unique run prefixes
  lib/stardag-examples/src/stardag_examples/benchmarks/dags.py
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag-examples/src/stardag_examples/benchmarks/tasks.py
Due: pyright-stardag-examples

Add local registry benchmark results with lock comparison
  lib/stardag-examples/src/stardag_examples/benchmarks/README.md
  lib/stardag-examples/src/stardag_examples/benchmarks/results.json
Due: none

Add back heavy_cpu_flat benchmark case to README
  lib/stardag-examples/src/stardag_examples/benchmarks/README.md
Due: none

Add concurrent builds event system improvements
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/status.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag, pyright-stardag-api

Phase 5: UI updates for concurrent builds events
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/types/task.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Fix build view to show global task status across all builds
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
Due: pyright-stardag-api

Add cross-build status indicator with status_build_id field
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/components/TaskTable.tsx
  app/stardag-ui/src/types/task.ts
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Add clickable cross-build status navigation in UI
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/components/TaskTable.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Add build override state dropdown and user attribution
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/types/task.ts
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
