Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Address Copilot findings on #387: JSON contract, dry-run docs, artifact ids
  lib/stardag/src/stardag/_cli/_modal_deployments.py
  lib/stardag/src/stardag/_cli/build.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/testing/_registry_state.py
  lib/stardag/tests/test__cli/test_build_command.py
  lib/stardag/tests/test__cli/test_modal.py
  lib/stardag/tests/test__cli/test_v2_commands.py
Due: pyright-stardag

Cursor: reject naive timestamps; batch plan-list deployment reads
  app/stardag-api/src/stardag_api/services/deployments.py
  app/stardag-api/src/stardag_api/services/paging.py
  app/stardag-api/src/stardag_api/services/plan_reads.py
  app/stardag-api/tests/test_paging.py
  app/stardag-api/tests/test_v2_read_routes.py
Due: pyright-stardag-api

v2 e2e: re-point docker-compose integration tests to the v2 API and UI
  docs/design/registry-v2/plan.md
  integration-tests/tests/conftest.py
  integration-tests/tests/test_api_auth.py
  integration-tests/tests/test_browser.py
  integration-tests/tests/test_full_flow.py
  integration-tests/tests/test_smoke.py
Due: pyright-integration-tests

Close the CLI's settings context before dispatching into sd.build
  lib/stardag/src/stardag/_cli/build.py
  lib/stardag/tests/test__cli/test_build_command.py
Due: pyright-stardag

SDK: a walk's completion checks are at least as fresh as the walk
  lib/stardag/src/stardag/build/_registration.py
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/src/stardag/target/_freshness.py
  lib/stardag/tests/test_integration/test_modal/test__target_reload.py
Due: pyright-stardag

Live tier: S5 leaves a warm view of the deleted target, then observes it
  integration-tests/tests_registry_live/test_s5_deleted_target_is_invalidated.py
Due: pyright-integration-tests

Live tier: S6 counts only its own deployment rows
  integration-tests/tests_registry_live/test_s6_redeploy_without_change.py
Due: pyright-integration-tests

plan.md: I10, the S5 defect and the tier's measured budget
  docs/design/registry-v2/plan.md
Due: none

e2e: keep the unauthenticated task-read check on the v2 item route
  integration-tests/tests/test_api_auth.py
Due: pyright-integration-tests

plan.md: I10, the tier green in CI
  docs/design/registry-v2/plan.md
Due: none

Add docs/design/principles.md for the v2 line
  docs/design/README.md
  docs/design/principles.md
Due: none

CHANGELOG: an entry for the v2 line, by surface
  CHANGELOG.md
Due: none

RELEASE_NOTES: a draft entry for the v2 line
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

plan.md: I11 status, principles and release notes in review
  docs/design/registry-v2/plan.md
Due: none

v2 docs: rewrite parameters, build-execution, modal-orchestration, evolve-dags, integrate-modal, platform/api for the v2 entities (STA-111)
  docs/docs/concepts/build-execution.md
  docs/docs/concepts/dependencies.md
  docs/docs/concepts/index.md
  docs/docs/concepts/modal-orchestration.md
  docs/docs/concepts/parameters.md
  docs/docs/configuration/cli.md
  docs/docs/how-to/evolve-dags.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/platform/api.md
Due: none

Task doc: I11 user docs in review
  docs/design/registry-v2/plan.md
Due: none

Fix overstated settings-isolation wording in release notes and principles
  RELEASE_NOTES.md
  docs/design/principles.md
Due: none

Fix two Copilot findings on stardag builds stop / deployments
  lib/stardag/src/stardag/_cli/builds_stop.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/testing/_registry_plans.py
  lib/stardag/src/stardag/testing/_registry_state.py
  lib/stardag/tests/test__cli/test_builds_stop.py
  lib/stardag/tests/test__cli/test_v2_commands.py
Due: pyright-stardag

Review: one reload per walk on a miss too, a thread-safe fence, singular test names
  DEV_README.md
  integration-tests/tests_registry_live/test_s21_dead_worker_claim_is_taken_over.py
  integration-tests/tests_registry_live/test_s22_closure_admits_a_withdrawn_yield.py
  integration-tests/tests_registry_live/test_s7_old_deployment_yield_after_switch.py
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/src/stardag/target/_freshness.py
  lib/stardag/tests/test_integration/test_modal/test__target_reload.py
Due: pyright-stardag, pyright-integration-tests

Live tier: test_builds_stop on the v2 CLI, over the execution ledger
  docs/design/registry-v2/plan.md
  integration-tests/tests_registry_live/test_builds_stop.py
Due: pyright-integration-tests

SDK: a volume miss always reloads; a walk re-observes prior completions
  lib/stardag/src/stardag/build/_registration.py
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/tests/test_integration/test_modal/test__target_reload.py
Due: pyright-stardag

Fix docs accuracy issues from Copilot review round on PR #393
  docs/docs/concepts/parameters.md
  docs/docs/configuration/cli.md
  docs/docs/how-to/evolve-dags.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/platform/api.md
Due: none

Restore --mark-lost docs to the outcome served since #390
  docs/docs/configuration/cli.md
Due: none

plan.md: I1–I11 merged, I12 is the open package
  docs/design/registry-v2/plan.md
Due: none

Server: sticky terminal build status, per-call exclude result, v2 version route
  CHANGELOG.md
  DEV_README.md
  app/server.Dockerfile
  app/stardag-api/Dockerfile
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/schemas_v2_reads.py
  app/stardag-api/src/stardag_api/server.py
  app/stardag-api/src/stardag_api/services/builds.py
  app/stardag-api/src/stardag_api/services/exclusion.py
  app/stardag-api/src/stardag_api/services/transition_reports.py
  app/stardag-api/tests/test_server.py
  app/stardag-api/tests/test_v2_builds.py
  app/stardag-api/tests/test_v2_deployments.py
  app/stardag-api/tests/test_v2_exclusion.py
  app/stardag-api/tests/test_v2_transitions.py
  app/stardag-ui/src/api/version.ts
  app/stardag-ui/src/components/ServerVersionFooter.test.tsx
  app/stardag-ui/src/components/ServerVersionFooter.tsx
  docs/design/registry-v2/design.md
  docs/docs/platform/api.md
  infra/aws-cdk/README.md
  infra/aws-cdk/scripts/deploy-api.sh
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

SDK/CLI: stop cleanly on a stopped build, name the failed task, record local executors
  CHANGELOG.md
  lib/stardag/src/stardag/_cli/build.py
  lib/stardag/src/stardag/_cli/tasks.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/build/_resident.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/build/_session.py
  lib/stardag/src/stardag/integration/prefect/_build.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/testing/_registry_exclusion.py
  lib/stardag/src/stardag/testing/_registry_plans.py
  lib/stardag/src/stardag/testing/_registry_state.py
  lib/stardag/tests/test__cli/test_build_command.py
  lib/stardag/tests/test__cli/test_v2_commands.py
  lib/stardag/tests/test_build/test_build_stopped_and_failed.py
Due: pyright-stardag

Restore stardag concurrency-limits CLI, and holders in the list route
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/registry_v2/scope.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/concurrency_limits.py
  app/stardag-api/tests/test_v2_wakeups.py
  docs/design/registry-v2/plan.md
  docs/docs/configuration/cli.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/platform/api.md
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/limits.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/tests/test__cli/conftest.py
  lib/stardag/tests/test__cli/test_limits.py
Due: pyright-stardag, pyright-stardag-api

Docs: build_terminal row without re-aligning the table; plan.md notes the fixes
  docs/design/registry-v2/plan.md
  docs/docs/platform/api.md
Due: none

Prefect path: a claim refused build_not_running raises BuildStopped
  lib/stardag/src/stardag/integration/prefect/_build.py
  lib/stardag/tests/test_integration/test_prefect/test_build.py
Due: pyright-stardag

S21: drive the watchdog periodically until the takeover lands
  integration-tests/tests_registry_live/test_s21_dead_worker_claim_is_taken_over.py
Due: pyright-integration-tests

plan.md: S21 drives the watchdog periodically
  docs/design/registry-v2/plan.md
Due: none

Tick: a tick refused the lease flags the build for the holder
  CHANGELOG.md
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_build/test_reactive_tick.py
Due: pyright-stardag

Address Copilot review: drop stale UI reference, add client test
  docs/docs/configuration/cli.md
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

Skip-blocked leaves a cancelled build alone; sequential marks a failing dynamic child failed
  CHANGELOG.md
  app/stardag-api/src/stardag_api/services/exclusion.py
  app/stardag-api/tests/test_v2_exclusion.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/testing/_registry_exclusion.py
  lib/stardag/tests/test_build/test_build_stopped_and_failed.py
Due: pyright-stardag, pyright-stardag-api

Tick: an unknown scheduler state spawns a successor, as a worker's notify does
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/tests/test_build/test_reactive_tick.py
Due: pyright-stardag

SDK deployment listings omit created; sequential failed_task by identity
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/tests/test__cli/test_v2_commands.py
Due: pyright-stardag

Tick: a claim refused build_not_running is denied, not an error; fake cascade stops at COMPLETED
  CHANGELOG.md
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/testing/_registry_exclusion.py
  lib/stardag/tests/test_build/test_build_stopped_and_failed.py
  lib/stardag/tests/test_build/test_reactive_tick.py
Due: pyright-stardag

Release v0.26.0 / server-v0.5.0: date the notes, move the server pin
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/selfhost/_modal_app.py
Due: pyright-stardag

Prefect path: executor details are best-effort, as in the resident engine
  lib/stardag/src/stardag/integration/prefect/_build.py
Due: pyright-stardag

UI: page the builds list with the server's cursor and total
  app/stardag-ui/src/api/registry.test.ts
  app/stardag-ui/src/api/registry.ts
  app/stardag-ui/src/components/BuildsList.test.tsx
  app/stardag-ui/src/components/BuildsList.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
