Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.7
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true

fix: CI test failures in integration tests
  integration-tests/tests/test_cli.py
  integration-tests/tests/test_full_flow.py
Due: none

fix: CI integration test failures
  .github/workflows/ci.yml
  integration-tests/pyproject.toml
  integration-tests/tests/test_cli.py
Due: none

docs: update integration-tests task document with completion status
  .claude/tasks/registry-service/integration-tests.md
Due: none

Fix authentication for /tasks and GET /builds endpoints
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  tests/integration/test_api_auth.py
Due: pyright-stardag-api

Add frontend browser tests (Phase 4)
  tests/integration/test_browser.py
Due: none

Add API auth integration tests (Phase 2)
  tests/integration/test_api_auth.py
Due: none

Add full end-to-end flow tests (Phase 5)
  tests/integration/test_full_flow.py
Due: none

Add CLI integration tests (Phase 3)
  tests/integration/test_cli.py
Due: none

phase 1 of integration tests
  .claude/tasks/registry-service/integration-tests.md
  docker-compose.yml
  docker/keycloak/realm-export.json
  tests/integration/README.md
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/docker_fixtures.py
  tests/integration/pyproject.toml
  tests/integration/test_frontend/__init__.py
  tests/integration/test_smoke.py
  tests/integration/uv.lock
  tox.ini
Due: none

Add SDK-based DAG building tests to integration tests
  tests/integration/test_full_flow.py
Due: none

restructure integration-tests package and add CI workflow
  .github/workflows/ci.yml
  integration-tests/README.md
  integration-tests/pyproject.toml
  integration-tests/pyrightconfig.json
  integration-tests/src/stardag_integration_tests/__init__.py
  integration-tests/src/stardag_integration_tests/conftest.py
  integration-tests/src/stardag_integration_tests/docker_fixtures.py
  integration-tests/tests/conftest.py
  integration-tests/tests/test_api_auth.py
  integration-tests/tests/test_browser.py
  integration-tests/tests/test_cli.py
  integration-tests/tests/test_full_flow.py
  integration-tests/tests/test_smoke.py
  integration-tests/uv.lock
  tests/integration/test_frontend/__init__.py
  tox.ini
Due: none

start integration tests implementation
  .claude/CLAUDE.md
  .claude/tasks/registry-service/integration-tests.md
Due: none

initial instructions for aws-deployment
  .claude/CLAUDE.md
  .claude/tasks/registry-service/aws-deployment.md
Due: none

phase 0 of aws deployment completed
  .claude/tasks/registry-service/aws-deployment.md
  .gitignore
  infra/aws-cdk/.env.deploy.example
Due: none

refactored stack into three stacks, api still failing
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/db/__init__.py
  app/stardag-api/src/stardag_api/main.py
  infra/aws-cdk/.gitignore
  infra/aws-cdk/.npmignore
  infra/aws-cdk/README.md
  infra/aws-cdk/bin/stardag.ts
  infra/aws-cdk/cdk.json
  infra/aws-cdk/jest.config.js
  infra/aws-cdk/lib/api-stack.ts
  infra/aws-cdk/lib/config.ts
  infra/aws-cdk/lib/constructs/api.ts
  infra/aws-cdk/lib/constructs/cognito.ts
  infra/aws-cdk/lib/constructs/database.ts
  infra/aws-cdk/lib/constructs/dns.ts
  infra/aws-cdk/lib/constructs/frontend.ts
  infra/aws-cdk/lib/constructs/vpc.ts
  infra/aws-cdk/lib/foundation-stack.ts
  infra/aws-cdk/lib/frontend-stack.ts
  infra/aws-cdk/lib/stardag-stack.ts
  infra/aws-cdk/package-lock.json
  infra/aws-cdk/package.json
  infra/aws-cdk/scripts/deploy-all.sh
  infra/aws-cdk/scripts/deploy-api.sh
  infra/aws-cdk/scripts/deploy-infra.sh
  infra/aws-cdk/scripts/deploy-ui.sh
  infra/aws-cdk/scripts/run-migrations.sh
  infra/aws-cdk/test/stardag.test.ts
  infra/aws-cdk/tsconfig.json
  stardag.code-workspace
Due: pyright-stardag-api

debug deployment, use python for health check (curl not available)
  app/stardag-ui/src/api/auth.ts
  app/stardag-ui/src/api/config.ts
  app/stardag-ui/src/api/organizations.ts
  app/stardag-ui/src/api/tasks.ts
  infra/aws-cdk/lib/api-stack.ts
Due: none

updated task and added private reference README
  .claude/tasks/registry-service/aws-deployment.md
  .gitignore
Due: none

Fix 1: Double-callback issue - Added useRef guard to prevent handleAuthCallback from being called twice (React re-renders) - Clear URL params after successful callback
  app/stardag-ui/src/auth/userManager.ts
  app/stardag-ui/src/components/AuthCallback.tsx
  app/stardag-ui/src/context/AuthContext.tsx
  infra/aws-cdk/lib/api-stack.ts
Due: none

Login works. Replaces keycloak with oidc in app/stardag-ui
  app/stardag-api/src/stardag_api/auth/jwt.py
  app/stardag-ui/src/api/auth.ts
  app/stardag-ui/src/api/client.ts
  app/stardag-ui/src/context/AuthContext.tsx
Due: pyright-stardag-api

fix CLI login, expose auth url from api
  _NOTES.md
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/routes/auth.py
  infra/aws-cdk/lib/api-stack.ts
  infra/aws-cdk/lib/constructs/cognito.ts
  lib/stardag-examples/.stardag/README.md
  lib/stardag-examples/.stardag/config.json
  lib/stardag/src/stardag/cli/auth.py
Due: pyright-stardag, pyright-stardag-api

fix fetch tasks, include workspace id
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/hooks/useTasks.ts
Due: none

clarify api_registry_demo.py example printout
  _NOTES.md
  lib/stardag-examples/src/stardag_examples/api_registry_demo.py
Due: pyright-stardag-examples

several CLI fixes
  _NOTES.md
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
Due: pyright-stardag

fix validate active profile
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
Due: pyright-stardag

fixed logout error
  .claude/draft-settings.md
  .claude/tasks/registry-service/aws-deployment.md
  app/stardag-ui/src/auth/config.ts
  app/stardag-ui/src/context/AuthContext.tsx
  infra/aws-cdk/scripts/deploy-ui.sh
Due: none
