Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Lock the task row before the artifact quota check
  app/stardag-api/src/stardag_api/services/artifacts.py
  app/stardag-api/tests/test_v2_reads.py
Due: pyright-stardag-api

Registry v2: the reads and the limit routes the live tier needs
  app/stardag-api/src/stardag_api/routes/registry_v2_executions.py
  app/stardag-api/src/stardag_api/routes/registry_v2_reads.py
  app/stardag-api/src/stardag_api/routes/registry_v2_scope.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/concurrency_limits.py
  app/stardag-api/src/stardag_api/services/executions.py
  app/stardag-api/src/stardag_api/services/reads.py
  app/stardag-api/tests/test_v2_executions.py
  app/stardag-api/tests/test_v2_reads.py
  app/stardag-api/tests/test_v2_wakeups.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_api_routes.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_build/test_resident_registry.py
  lib/stardag/tests/test_integration/test_modal/test_runner_cancellation.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Registry-live harness on v2; test_reactive_e2e green
  integration-tests/src/stardag_integration_tests/registry_live/_events.py
  integration-tests/src/stardag_integration_tests/registry_live/_guard.py
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/tests_registry_live/conftest.py
  integration-tests/tests_registry_live/test_cancel_authority.py
  integration-tests/tests_registry_live/test_claim_race.py
  integration-tests/tests_registry_live/test_execution_identity.py
  integration-tests/tests_registry_live/test_interruption_classification.py
  integration-tests/tests_registry_live/test_rollover.py
  integration-tests/tests_registry_live/test_shared_structure_scope.py
  integration-tests/tests_registry_live/test_structure_scope_dynamic.py
  integration-tests/tests_registry_live/test_structure_scope_static.py
  integration-tests/tests_registry_live/test_suspended_blocker.py
Due: pyright-integration-tests

SDK: the carried #384 findings; a lease release answers held
  lib/stardag/src/stardag/build/_deployment.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/integration/modal/_functions.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_build/test_resident_registry.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

v2 CLI: stardag build, builds stop over the ledger, executions/plans/deployments/tasks
  docs/design/registry-v2/plan.md
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/_modal_deployments.py
  lib/stardag/src/stardag/_cli/_output.py
  lib/stardag/src/stardag/_cli/_roots.py
  lib/stardag/src/stardag/_cli/_stop.py
  lib/stardag/src/stardag/_cli/build.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/_cli/builds_stop.py
  lib/stardag/src/stardag/_cli/deployments.py
  lib/stardag/src/stardag/_cli/executions.py
  lib/stardag/src/stardag/_cli/plans.py
  lib/stardag/src/stardag/_cli/tasks.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_api_routes.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/tests/test__cli/conftest.py
  lib/stardag/tests/test__cli/test_build_command.py
  lib/stardag/tests/test__cli/test_builds.py
  lib/stardag/tests/test__cli/test_builds_stop.py
  lib/stardag/tests/test__cli/test_v2_commands.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

plan.md: I8 status line without a code span across a line break
  docs/design/registry-v2/plan.md
Due: none

Live tier: lease scenario on v2, builds stop skipped for I8; lib live fix
  .pre-commit-config.yaml
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_builds_stop.py
  integration-tests/tests_registry_live/test_scheduler_lease_live.py
  lib/stardag/src/stardag/_cli/_modal_deployments.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/tests/test__cli/test_modal.py
  lib/stardag/tests/test_integration/test_modal/test_live_detached_e2e.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-integration-tests

builds stop --mark-lost; the fake's stop releases the claim cancelled
  lib/stardag/src/stardag/_cli/_stop.py
  lib/stardag/src/stardag/_cli/builds_stop.py
  lib/stardag/src/stardag/_cli/tasks.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_api_routes.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/tests/test__cli/test_builds_stop.py
  lib/stardag/tests/test__cli/test_v2_commands.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

v2 UI: builds, plan view, task page, deployments and executions on /api/v2
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/registry.test.ts
  app/stardag-ui/src/api/registry.ts
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/components/BuildInfoDialog.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/ClaimActionDialog.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/DeploymentsPage.test.tsx
  app/stardag-ui/src/components/DeploymentsPage.tsx
  app/stardag-ui/src/components/ExecutionTable.tsx
  app/stardag-ui/src/components/PlanHeader.tsx
  app/stardag-ui/src/components/Sidebar.test.tsx
  app/stardag-ui/src/components/Sidebar.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskInstances.test.tsx
  app/stardag-ui/src/components/TaskInstances.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/components/TaskPage.tsx
  app/stardag-ui/src/components/TickSummaryTrail.tsx
  app/stardag-ui/src/hooks/useDeployments.ts
  app/stardag-ui/src/utils/claims.test.ts
  app/stardag-ui/src/utils/instances.ts
  app/stardag-ui/src/utils/planGraph.test.ts
  app/stardag-ui/src/utils/planGraph.ts
  app/stardag-ui/src/utils/scheduling.ts
  app/stardag-ui/src/utils/stoppable.test.ts
  app/stardag-ui/src/utils/stoppable.ts
Due: eslint-stardag-ui, tsc-stardag-ui

plan.md: I9 status
  docs/design/registry-v2/plan.md
Due: none

plan.md: I0 done, with the per-scenario table; execution_identity setup
  docs/design/registry-v2/plan.md
  integration-tests/tests_registry_live/test_execution_identity.py
Due: pyright-integration-tests

Live tier: S8, two settings scopes share one completion
  integration-tests/src/stardag_integration_tests/registry_live/_events.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_s8_settings_scopes.py
Due: pyright-integration-tests

Registry v2: the reads the CLI and the UI need
  app/stardag-api/migrations/versions/20260924_004916_registry_v2_core_schema.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/routes/registry_v2_executions.py
  app/stardag-api/src/stardag_api/routes/registry_v2_reads.py
  app/stardag-api/src/stardag_api/routes/registry_v2_scope.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/schemas_v2_reads.py
  app/stardag-api/src/stardag_api/services/builds.py
  app/stardag-api/src/stardag_api/services/deployments.py
  app/stardag-api/src/stardag_api/services/executions.py
  app/stardag-api/src/stardag_api/services/frontier.py
  app/stardag-api/src/stardag_api/services/paging.py
  app/stardag-api/src/stardag_api/services/plan_reads.py
  app/stardag-api/src/stardag_api/services/reads.py
  app/stardag-api/tests/test_v2_read_routes.py
Due: pyright-stardag-api

Registry v2: an operator end can record an execution as lost
  app/stardag-api/migrations/versions/20260924_004916_registry_v2_core_schema.py
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/routes/registry_v2_executions.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/executions.py
  app/stardag-api/src/stardag_api/services/transition_reports.py
  app/stardag-api/src/stardag_api/services/transition_types.py
  app/stardag-api/tests/test_v2_executions.py
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
Due: pyright-stardag-api

Live tier: S24, distinct instances in one scope do not share yields
  integration-tests/tests_registry_live/test_s24_distinct_instances_do_not_share_yields.py
Due: pyright-integration-tests

Registry v2: the 24-hour artifact quota, per environment
  app/stardag-api/src/stardag_api/limits.py
  app/stardag-api/src/stardag_api/services/artifacts.py
  app/stardag-api/src/stardag_api/services/quotas.py
  app/stardag-api/tests/test_v2_reads.py
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
Due: pyright-stardag-api

Live tier: S22, closure admits a cancelled build's yield
  integration-tests/tests_registry_live/test_s22_closure_admits_a_withdrawn_yield.py
Due: pyright-integration-tests

Registry v2: routes one module per resource; workspaces.py split
  app/stardag-api/src/stardag_api/limits.py
  app/stardag-api/src/stardag_api/routes/registry_v2/__init__.py
  app/stardag-api/src/stardag_api/routes/registry_v2/_common.py
  app/stardag-api/src/stardag_api/routes/registry_v2/builds.py
  app/stardag-api/src/stardag_api/routes/registry_v2/executions.py
  app/stardag-api/src/stardag_api/routes/registry_v2/guard.py
  app/stardag-api/src/stardag_api/routes/registry_v2/plans.py
  app/stardag-api/src/stardag_api/routes/registry_v2/reactive.py
  app/stardag-api/src/stardag_api/routes/registry_v2/scope.py
  app/stardag-api/src/stardag_api/routes/registry_v2/tasks.py
  app/stardag-api/src/stardag_api/routes/registry_v2_builds.py
  app/stardag-api/src/stardag_api/routes/registry_v2_executions.py
  app/stardag-api/src/stardag_api/routes/registry_v2_reads.py
  app/stardag-api/src/stardag_api/routes/workspace_access.py
  app/stardag-api/src/stardag_api/routes/workspace_environments.py
  app/stardag-api/src/stardag_api/routes/workspaces.py
  app/stardag-api/tests/test_workspaces.py
Due: pyright-stardag-api

plan.md: I5 status; the I8/I9 server gaps point at #390
  docs/design/registry-v2/plan.md
Due: none

Live tier: S1, diverging scopes run one completion once
  integration-tests/tests_registry_live/test_s1_scopes_diverge_on_structure.py
Due: pyright-integration-tests

Live tier: S14, a resume under new settings plans anew and reuses completions
  integration-tests/tests_registry_live/test_s14_resume_under_new_settings.py
Due: pyright-integration-tests

Address Copilot findings on #388: kind-aware plan/build hints, honest deployment-cap text, gated call link, task-identity reset
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildInfoDialog.tsx
  app/stardag-ui/src/components/DeploymentsPage.test.tsx
  app/stardag-ui/src/components/DeploymentsPage.tsx
  app/stardag-ui/src/components/ExecutionTable.tsx
  app/stardag-ui/src/components/LandingPageDemo.tsx
  app/stardag-ui/src/components/MemberTable.tsx
  app/stardag-ui/src/components/PlanHeader.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/planGraph.test.ts
  app/stardag-ui/src/utils/planGraph.ts
  app/stardag-ui/src/utils/stoppable.test.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Address Copilot review findings on #387
  lib/stardag/src/stardag/_cli/build.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/_cli/plans.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/testing/_registry_state.py
  lib/stardag/tests/test__cli/test_build_command.py
  lib/stardag/tests/test__cli/test_builds.py
  lib/stardag/tests/test__cli/test_plans.py
  lib/stardag/tests/test__cli/test_v2_commands.py
Due: pyright-stardag

Live-tier harness: a lapse app, and rollover apps named per scenario
  integration-tests/src/stardag_integration_tests/registry_live/_rollover.py
  integration-tests/src/stardag_integration_tests/registry_live/_scenario_app.py
  integration-tests/src/stardag_integration_tests/registry_live/lapse_app.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  integration-tests/src/stardag_integration_tests/registry_live/rollover_app.py
Due: pyright-integration-tests

Live tier: S5, a deleted target is invalidated and re-run
  integration-tests/src/stardag_integration_tests/registry_live/_targets.py
  integration-tests/tests_registry_live/test_s5_deleted_target_is_invalidated.py
Due: pyright-integration-tests

Live tier: S21, a dead worker's lapsed claim is taken over
  integration-tests/tests_registry_live/test_s21_dead_worker_claim_is_taken_over.py
Due: pyright-integration-tests

Live tier: S26, a hybrid driver plans under the app's current deployment
  integration-tests/tests_registry_live/test_s1_scopes_diverge_on_structure.py
  integration-tests/tests_registry_live/test_s26_hybrid_driver_plans_under_the_app.py
Due: pyright-integration-tests

Cursor decode: validate shape before UUID/datetime parsing
  app/stardag-api/src/stardag_api/services/paging.py
  app/stardag-api/tests/test_paging.py
Due: pyright-stardag-api

Apply --settings before resolve_roots; fake registry orders build_list_running
  lib/stardag/src/stardag/_cli/build.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/utils/testing/simple_dag.py
  lib/stardag/tests/test__cli/test_build_command.py
  lib/stardag/tests/test__cli/test_v2_commands.py
Due: pyright-stardag

Live-tier harness: bake a variant's env before the local SDK is added
  integration-tests/src/stardag_integration_tests/registry_live/_scenario_app.py
Due: pyright-integration-tests

Live tier: S6, a redeploy of unchanged code re-plans without re-running
  integration-tests/tests_registry_live/test_s6_redeploy_without_change.py
Due: pyright-integration-tests

Live tier: S7, an old deployment's yield lands and the parent restarts on new code
  integration-tests/tests_registry_live/test_s7_old_deployment_yield_after_switch.py
Due: pyright-integration-tests

Live tier: S20, a root whose id changes under new code fails the build
  integration-tests/tests_registry_live/test_s20_root_identity_changed_at_rollover.py
Due: pyright-integration-tests

Live tier: S33, the older of two rollovers is refused at seal
  integration-tests/tests_registry_live/test_s33_seal_refuses_a_superseded_rollover.py
Due: pyright-integration-tests

Live tier: S37, a deploy without its record stalls until it is re-sent
  integration-tests/tests_registry_live/test_s37_deploy_recorded_late.py
Due: pyright-integration-tests

DEV_README: the v2 live scenarios and the apps they run on
  DEV_README.md
Due: none

Resolve a bare resume's stored settings before resolve_roots
  lib/stardag/src/stardag/_cli/build.py
  lib/stardag/tests/test__cli/test_build_command.py
Due: pyright-stardag

Live tier: S7's pre-yield window sized to one deploy, not two
  integration-tests/tests_registry_live/test_s7_old_deployment_yield_after_switch.py
Due: pyright-integration-tests

plan.md: I10 status, the per-scenario table
  docs/design/registry-v2/plan.md
Due: none

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
