Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Registry v2: transition_task() and the frontier for the static path
  app/stardag-api/src/stardag_api/services/errors.py
  app/stardag-api/src/stardag_api/services/frontier.py
  app/stardag-api/src/stardag_api/services/plans.py
  app/stardag-api/src/stardag_api/services/registration.py
  app/stardag-api/src/stardag_api/services/transitions.py
  app/stardag-api/src/stardag_api/services/tx.py
  app/stardag-api/tests/test_v2_transitions.py
Due: pyright-stardag-api

Registry v2: the /api/v2 routes of the static path
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/registry_v2.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/builds.py
  app/stardag-api/tests/test_v2_routes.py
Due: pyright-stardag-api

Design: the step-1 schema corrections, and I0 step 2 done
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
  docs/design/registry-v2/plan.md
Due: none

Pin that a HashableSet member's nested sets are canonical
  lib/stardag/src/stardag/_core/hashable_set.py
  lib/stardag/tests/test__core/test_instance.py
Due: pyright-stardag

Registry v2: a lapsed claim's report is applied; limit keys on the start
  app/stardag-api/src/stardag_api/routes/registry_v2.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/claim_limits.py
  app/stardag-api/src/stardag_api/services/transitions.py
  app/stardag-api/tests/test_v2_transitions.py
Due: pyright-stardag-api

Registry v2: deployments and settings
  app/stardag-api/src/stardag_api/routes/registry_v2.py
  app/stardag-api/src/stardag_api/routes/registry_v2_scope.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/deployments.py
  app/stardag-api/src/stardag_api/services/plans.py
  app/stardag-api/src/stardag_api/services/registration.py
  app/stardag-api/tests/test_v2_deployments.py
  app/stardag-api/tests/v2_support.py
Due: pyright-stardag-api

Registry v2: build lifecycle
  app/stardag-api/src/stardag_api/routes/registry_v2.py
  app/stardag-api/src/stardag_api/routes/registry_v2_builds.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/builds.py
  app/stardag-api/src/stardag_api/services/plans.py
  app/stardag-api/src/stardag_api/services/registration.py
  app/stardag-api/src/stardag_api/services/transitions.py
  app/stardag-api/tests/test_v2_builds.py
  app/stardag-api/tests/test_v2_registration.py
  app/stardag-api/tests/test_v2_routes.py
  app/stardag-api/tests/test_v2_transitions.py
Due: pyright-stardag-api

Registry v2: a re-sent plan validates its roots, not only their hashes
  app/stardag-api/src/stardag_api/services/registration.py
  app/stardag-api/tests/test_v2_registration.py
Due: pyright-stardag-api

Close two rehydration gaps Copilot flagged on #381
  lib/stardag/src/stardag/_core/base_task.py
  lib/stardag/src/stardag/_core/instance.py
  lib/stardag/tests/test__core/test_base_task.py
  lib/stardag/tests/test__core/test_instance.py
Due: pyright-stardag

Registry v2: wake-ups, notify, scheduler lease, reactive meta
  app/stardag-api/src/stardag_api/routes/registry_v2.py
  app/stardag-api/src/stardag_api/routes/registry_v2_wakeups.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/claim_limits.py
  app/stardag-api/src/stardag_api/services/frontier.py
  app/stardag-api/src/stardag_api/services/reactive.py
  app/stardag-api/src/stardag_api/services/transition_types.py
  app/stardag-api/src/stardag_api/services/transitions.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_v2_transitions.py
  app/stardag-api/tests/test_v2_wakeups.py
Due: pyright-stardag-api

Design: the step-3a decisions and readings, and I0 step 3a done
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
  docs/design/registry-v2/plan.md
Due: none

Registry v2: /yield, the dynamic phase
  app/stardag-api/src/stardag_api/routes/registry_v2.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/event_log.py
  app/stardag-api/src/stardag_api/services/registration_chunk.py
  app/stardag-api/src/stardag_api/services/transitions.py
  app/stardag-api/src/stardag_api/services/yields.py
  app/stardag-api/tests/test_v2_yield.py
  app/stardag-api/tests/v2_support.py
Due: pyright-stardag-api

Fix root-mismatch in resent-plan tests after merging root_task_ids check
  app/stardag-api/tests/test_v2_registration.py
Due: pyright-stardag-api

Registry v2: interrupt, preempt, skip and cancel; the coordinator's rulings
  app/stardag-api/src/stardag_api/routes/registry_v2.py
  app/stardag-api/src/stardag_api/services/builds.py
  app/stardag-api/src/stardag_api/services/deployments.py
  app/stardag-api/src/stardag_api/services/transition_reports.py
  app/stardag-api/src/stardag_api/services/transition_step.py
  app/stardag-api/src/stardag_api/services/transition_types.py
  app/stardag-api/src/stardag_api/services/transitions.py
  app/stardag-api/tests/test_v2_builds.py
  app/stardag-api/tests/test_v2_deployments.py
  app/stardag-api/tests/test_v2_transitions.py
Due: pyright-stardag-api

Registry v2: a sealed plan, a stopped build and a doubled item refuse
  app/stardag-api/src/stardag_api/services/frontier.py
  app/stardag-api/src/stardag_api/services/registration_chunk.py
  app/stardag-api/src/stardag_api/services/transitions.py
  app/stardag-api/tests/test_v2_frontier.py
  app/stardag-api/tests/test_v2_registration.py
  app/stardag-api/tests/test_v2_transitions.py
  docs/design/registry-v2/design.md
Due: pyright-stardag-api

Registry v2: skip-blocked and the exclusion cascade
  app/stardag-api/src/stardag_api/routes/registry_v2.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/builds.py
  app/stardag-api/src/stardag_api/services/exclusion.py
  app/stardag-api/tests/test_v2_exclusion.py
  app/stardag-api/tests/test_v2_frontier.py
  app/stardag-api/tests/v2_support.py
Due: pyright-stardag-api

Registry v2: builds stop, orphans, and the route guardrails
  app/stardag-api/src/stardag_api/limits.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/routes/registry_v2.py
  app/stardag-api/src/stardag_api/routes/registry_v2_executions.py
  app/stardag-api/src/stardag_api/routes/registry_v2_guard.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/errors.py
  app/stardag-api/src/stardag_api/services/executions.py
  app/stardag-api/src/stardag_api/services/quotas.py
  app/stardag-api/src/stardag_api/services/registration_chunk.py
  app/stardag-api/src/stardag_api/services/transition_reports.py
  app/stardag-api/src/stardag_api/services/transition_types.py
  app/stardag-api/src/stardag_api/services/transitions.py
  app/stardag-api/tests/test_v2_executions.py
Due: pyright-stardag-api

Design: the step-3b rulings and readings, and I0 step 3b done
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
  docs/design/registry-v2/plan.md
Due: none

Registry v2: the build row is locked first, and a start obeys ACTIONABLE
  app/stardag-api/src/stardag_api/services/frontier.py
  app/stardag-api/src/stardag_api/services/plans.py
  app/stardag-api/src/stardag_api/services/registration.py
  app/stardag-api/src/stardag_api/services/transitions.py
  app/stardag-api/tests/test_v2_frontier.py
  app/stardag-api/tests/test_v2_registration.py
  app/stardag-api/tests/test_v2_transitions.py
Due: pyright-stardag-api

Registry v2: deployment is referenced ON DELETE NO ACTION, not RESTRICT
  app/stardag-api/migrations/versions/20260924_004916_registry_v2_core_schema.py
  app/stardag-api/src/stardag_api/models/deployment.py
  app/stardag-api/src/stardag_api/models/plan.py
  app/stardag-api/src/stardag_api/models/task_instance.py
  app/stardag-api/tests/test_v2_schema_constraints.py
  docs/design/registry-v2/design.md
Due: pyright-stardag-api

Registry v2: a report comes through the plan holding the claim
  app/stardag-api/src/stardag_api/services/transitions.py
  app/stardag-api/tests/test_v2_transitions.py
  docs/design/registry-v2/design.md
Due: pyright-stardag-api

Registry v2: claims synchronise on the build row; closure on /complete
  app/stardag-api/src/stardag_api/services/builds.py
  app/stardag-api/src/stardag_api/services/deployments.py
  app/stardag-api/src/stardag_api/services/plans.py
  app/stardag-api/src/stardag_api/services/reactive.py
  app/stardag-api/src/stardag_api/services/transitions.py
  app/stardag-api/tests/test_v2_builds.py
  app/stardag-api/tests/test_v2_deployments.py
  app/stardag-api/tests/test_v2_registration.py
  app/stardag-api/tests/test_v2_transitions.py
  app/stardag-api/tests/test_v2_wakeups.py
  docs/design/registry-v2/design.md
Due: pyright-stardag-api

v2 SDK client: the registry client on /api/v2
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/_core/base_task.py
  lib/stardag/src/stardag/_core/rehydrate.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_http.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_api_routes.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/src/stardag/registry/_lock.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/tests/test__core/test_base_task.py
  lib/stardag/tests/test_registry/test_api_registry.py
  lib/stardag/tests/test_registry/test_base_adapters.py
  lib/stardag/tests/test_registry/test_executor_metadata.py
  lib/stardag/tests/test_registry/test_start_claim.py
Due: pyright-stardag

v2 SDK: settings replace build_config
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/build/_settings.py
  lib/stardag/src/stardag/build_config.py
  lib/stardag/tests/test_build/test_build_config_context.py
  lib/stardag/tests/test_build_config.py
Due: pyright-stardag

v2 SDK engines: shared discovery and plan-based registration
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_claims.py
  lib/stardag/src/stardag/build/_concurrency.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_registration.py
  lib/stardag/src/stardag/build/_registry_limiter.py
  lib/stardag/src/stardag/build/_resident.py
  lib/stardag/src/stardag/build/_scope.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/build/_session.py
  lib/stardag/src/stardag/integration/prefect/_build.py
  lib/stardag/src/stardag/testing/__init__.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/src/stardag/testing/_registry_exclusion.py
  lib/stardag/src/stardag/testing/_registry_plans.py
  lib/stardag/src/stardag/testing/_registry_state.py
  lib/stardag/src/stardag/testing/_registry_yield.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/fakes.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_concurrency_limits.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_detached.py
  lib/stardag/tests/test_build/test_execution_identity.py
  lib/stardag/tests/test_build/test_handle_registry_error.py
  lib/stardag/tests/test_build/test_instance_conflict.py
  lib/stardag/tests/test_build/test_registration.py
  lib/stardag/tests/test_build/test_registry_limiter.py
  lib/stardag/tests/test_build/test_resident_detached.py
  lib/stardag/tests/test_build/test_resident_registry.py
  lib/stardag/tests/test_build/test_scope.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

v2 SDK deployments: stardag modal deploy records and activates
  lib/stardag/src/stardag/_cli/_modal_deployments.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/build/_deployment.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_functions.py
  lib/stardag/tests/test__cli/test_modal.py
Due: pyright-stardag

v2 SDK reactive tick: frontier, discovery jobs, rollover
  lib/stardag/src/stardag/build/_reactive/__init__.py
  lib/stardag/src/stardag/build/_reactive/_budgets.py
  lib/stardag/src/stardag/build/_reactive/_config.py
  lib/stardag/src/stardag/build/_reactive/_discovery.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_lease.py
  lib/stardag/src/stardag/build/_reactive/_report_window.py
  lib/stardag/src/stardag/build/_reactive/_rollover.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/build/_wakeups.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_bootstrap.py
  lib/stardag/src/stardag/integration/modal/_builder.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/integration/modal/_trigger.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_budgets.py
  lib/stardag/tests/test_build/test_reactive_discovery.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_build/test_wakeups.py
  lib/stardag/tests/test_integration/test_modal/_app_helpers.py
  lib/stardag/tests/test_integration/test_modal/test__settings.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app_preflight.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app_rollover.py
Due: pyright-stardag

v2 SDK worker: reports name their execution and plan
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/integration/modal/_limit_keys.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_reporter.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/tests/test_integration/test_modal/_planned.py
  lib/stardag/tests/test_integration/test_modal/conftest.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
  lib/stardag/tests/test_integration/test_modal/test_live_claim_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_live_detached_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_runner.py
  lib/stardag/tests/test_integration/test_modal/test_runner_cancellation.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
Due: pyright-stardag

v2 SDK CLI and status: builds show/frontier/ticks/cancel; plan.md I7
  docs/design/registry-v2/plan.md
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/_helpers.py
  lib/stardag/src/stardag/_cli/_registry_ctx.py
  lib/stardag/src/stardag/_cli/_stop.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/_cli/limits.py
  lib/stardag/src/stardag/_cli/tasks.py
  lib/stardag/tests/test__cli/test_builds.py
  lib/stardag/tests/test__cli/test_limits.py
  lib/stardag/tests/test__cli/test_registry_ctx.py
  lib/stardag/tests/test__cli/test_stop.py
  lib/stardag/tests/test__cli/test_tasks.py
Due: pyright-stardag

v2 SDK: a bare resume reuses the build's settings
  lib/stardag/src/stardag/build/_resident.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/build/_settings.py
  lib/stardag/src/stardag/integration/modal/_trigger.py
  lib/stardag/tests/test_build/test_resident_registry.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Registry v2: the wake-up flags move off the build row onto build_wake
  app/stardag-api/migrations/versions/20260924_004916_registry_v2_core_schema.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/models/build_wake.py
  app/stardag-api/src/stardag_api/services/builds.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_v2_wakeups.py
  app/stardag-api/tests/v2_support.py
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
Due: pyright-stardag-api

v2 SDK: one build per settings-applying process; deployments list without a registry
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/_cli/_modal_deployments.py
  lib/stardag/src/stardag/build/_reactive/_rollover.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/build/_settings.py
  lib/stardag/src/stardag/integration/modal/_bootstrap.py
  lib/stardag/src/stardag/integration/modal/_functions.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test__cli/test_modal.py
  lib/stardag/tests/test_build/test_settings_owner.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Registry v2: seals serialise with activation; a renewal locks its slots
  app/stardag-api/src/stardag_api/services/claim_limits.py
  app/stardag-api/src/stardag_api/services/deployments.py
  app/stardag-api/src/stardag_api/services/transition_reports.py
  app/stardag-api/tests/test_v2_deployments.py
  app/stardag-api/tests/test_v2_wakeups.py
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
Due: pyright-stardag-api

Registry v2: the read routes the SDK client calls, and task artifacts
  app/stardag-api/src/stardag_api/routes/registry_v2.py
  app/stardag-api/src/stardag_api/routes/registry_v2_reads.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/artifacts.py
  app/stardag-api/src/stardag_api/services/reads.py
  app/stardag-api/tests/test_v2_reads.py
  docs/design/registry-v2/design.md
Due: pyright-stardag-api

Registry v2: attempt and interruption counts on the frontier
  app/stardag-api/migrations/versions/20260924_004916_registry_v2_core_schema.py
  app/stardag-api/src/stardag_api/models/execution.py
  app/stardag-api/src/stardag_api/models/task_instance.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/frontier.py
  app/stardag-api/tests/test_v2_frontier.py
  app/stardag-api/tests/test_v2_routes.py
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
Due: pyright-stardag-api

Registry v2: /deployments/{id}/activate records modal_app_id and image_id
  app/stardag-api/src/stardag_api/routes/registry_v2_scope.py
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/deployments.py
  app/stardag-api/tests/test_v2_deployments.py
  docs/design/registry-v2/design.md
Due: pyright-stardag-api

plan.md: I0 step 3c done (PR #385); step 4 (live) next
  docs/design/registry-v2/plan.md
Due: none

Align artifact/task-get client with the server: plan-scoped upload, newest instance body
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/_core/base_task.py
  lib/stardag/src/stardag/build/_session.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/integration/modal/_reporter.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/registry/_models.py
  lib/stardag/src/stardag/testing/_registry.py
  lib/stardag/tests/test__core/test_base_task.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
Due: pyright-stardag

Registry v2: lock what the exclusion cascade, a stop and the quota decide on
  app/stardag-api/src/stardag_api/services/exclusion.py
  app/stardag-api/src/stardag_api/services/executions.py
  app/stardag-api/src/stardag_api/services/quotas.py
  app/stardag-api/src/stardag_api/services/transition_step.py
  app/stardag-api/tests/test_v2_exclusion.py
  app/stardag-api/tests/test_v2_executions.py
  app/stardag-api/tests/v2_support.py
Due: pyright-stardag-api

Execution-over refusals, lease checks per action, claim inside the slot
  docs/design/registry-v2/design.md
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/build/_resident.py
  lib/stardag/src/stardag/build/_session.py
  lib/stardag/src/stardag/build/_settings.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_build/test_resident_detached.py
  lib/stardag/tests/test_build/test_resident_registry.py
  lib/stardag/tests/test_build/test_settings_owner.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
Due: pyright-stardag

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
