Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

make output uri copyable in UI
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/tests/test_builds.py
  app/stardag-ui/src/components/TaskDetail.tsx
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

fix examples in getting-started/registry-ui.md
  docs/docs/getting-started/registry-ui.md
Due: none

adds alias task and smoke test
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/_core/auto_task.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/base_model.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test__core/test_aliased_task.py
Due: pyright-stardag

updates platform section
  docs/docs/platform/api.md
  docs/docs/platform/index.md
  docs/docs/platform/self-hosting.md
  docs/docs/platform/ui.md
Due: none

complete up to Targets, added back params and dependencies placeholders
  docs/docs/concepts/index.md
  docs/docs/concepts/parameters.md
  docs/docs/concepts/targets.md
  docs/docs/concepts/tasks.md
  docs/docs/getting-started/class-api.md
  docs/mkdocs.yml
  lib/stardag/src/stardag/_core/auto_task.py
Due: pyright-stardag

cleanup README.md
  README.md
Due: none

Add licensing structure and contribution guidelines
  CONTRIBUTING.md
  LICENSE
  README.md
  app/CLA.md
  app/LICENSE
  lib/stardag/LICENSE
Due: none

Update copyright holder and contact email
  CONTRIBUTING.md
  LICENSE
  app/CLA.md
  app/LICENSE
  lib/stardag/LICENSE
Due: none

Update copyright year to 2024 (project start date)
  app/LICENSE
  lib/stardag/LICENSE
Due: none

Clarify that lib/ (SDK & Examples) is Apache 2.0
  CONTRIBUTING.md
  LICENSE
  README.md
Due: none

Move Apache 2.0 license to lib/ root
  LICENSE
  README.md
  lib/LICENSE
Due: none

Add PyPI metadata: README, license, classifiers
  lib/stardag/pyproject.toml
Due: none

Add Python 3.14 support
  .github/workflows/ci.yml
  lib/stardag/pyproject.toml
  tox.ini
Due: none

Add package README for PyPI description
  lib/stardag/README.md
  lib/stardag/pyproject.toml
Due: none

Fix Python 3.14 process pool test failure
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/uv.lock
Due: pyright-stardag

fix deps parsing in modal test
  lib/stardag/tests/test_integration/test_modal/test__target.py
Due: pyright-stardag

Fix DistributedLock.owner_id: use UUID type consistently
  app/stardag-api/src/stardag_api/models/lock.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/tests/test_locks.py
Due: pyright-stardag-api

Fix browser tests: auto-dismiss onboarding modal
  integration-tests/tests/conftest.py
Due: pyright-integration-tests

Fix 500 error when invalid UUID passed as environment_id
  app/stardag-api/src/stardag_api/auth/dependencies.py
Due: pyright-stardag-api

update code example
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/LandingPageDemo.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Improve landing page: responsive USPs, mobile carousel, copy updates
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Adjust responsive breakpoints for demo section
  app/stardag-ui/src/components/LandingPageDemo.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Landing page: increase spacing, reduce header logo size
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Add humorous final CTA section on landing page
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui
