Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Add Task Explorer with advanced filtering and sidebar navigation
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/Sidebar.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  integration-tests/tests/test_browser.py
  integration-tests/uv.lock
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Address PR review feedback: value autocomplete, caching, and fixes
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-ui/src/components/TaskExplorer.tsx
  integration-tests/tests/test_browser.py
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Fix DAG toggle test for disabled button and reduce Playwright timeouts
  integration-tests/tests/conftest.py
  integration-tests/tests/test_browser.py
Due: none

Improve Task Explorer search UX with 3-stage autocomplete
  app/stardag-ui/docs/SEARCH_UX.md
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

adds integration tests to to level workspace root
  stardag.code-workspace
Due: none

Improve search UX: space-based syntax, auto-show autocomplete, filter composition
  app/stardag-ui/docs/SEARCH_UX.md
  app/stardag-ui/src/components/TaskExplorer.tsx
  integration-tests/tests/test_browser.py
Due: eslint-stardag-ui, tsc-stardag-ui

Fix browser test selectors and login fixtures
  integration-tests/tests/test_browser.py
Due: none

Fix build filter SQL - scalar subquery must return single column
  app/stardag-api/src/stardag_api/routes/search.py
Due: pyright-stardag-api

fix failing integration tests
  integration-tests/tests/test_browser.py
  tox.ini
Due: none

Add column management for TaskExplorer with asset filtering support
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-ui/package-lock.json
  app/stardag-ui/package.json
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/ColumnManagerModal.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/truncateKey.ts
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

UI improvements: collapsible DAG, link icons, sidebar fixes
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/Sidebar.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Keep DAG header visible when collapsed, move DAG to top in TaskExplorer
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Update SEARCH_UX.md with column management and asset filtering docs
  app/stardag-ui/docs/SEARCH_UX.md
Due: none

Optimize browser integration tests - 9x speedup (36s vs 330s)
  integration-tests/tests/conftest.py
  integration-tests/tests/test_browser.py
Due: none

Fix settings page scroll - change overflow-hidden to overflow-auto
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

first draft of prefect independent concurrent building
  lib/stardag/src/stardag/build/concurrent/__init__.py
  lib/stardag/src/stardag/build/concurrent/asyncio_builder.py
  lib/stardag/src/stardag/build/concurrent/multiprocess.py
  lib/stardag/src/stardag/build/concurrent/threadpool.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag

Add concurrent build implementations with dynamic deps support
  lib/stardag/src/stardag/build/concurrent/asyncio_builder.py
  lib/stardag/src/stardag/build/concurrent/multiprocess.py
  lib/stardag/tests/conftest.py
  lib/stardag/tests/test_build/test_concurrent.py
Due: pyright-stardag

Add concurrent build benchmarks with analysis
  lib/stardag/benchmarks/README.md
  lib/stardag/benchmarks/__init__.py
  lib/stardag/benchmarks/dags.py
  lib/stardag/benchmarks/results.json
  lib/stardag/benchmarks/run_benchmark.py
  lib/stardag/benchmarks/tasks.py
Due: pyright-stardag

Add heavy CPU benchmark demonstrating multiprocess advantage
  lib/stardag/benchmarks/README.md
  lib/stardag/benchmarks/dags.py
  lib/stardag/benchmarks/results.json
  lib/stardag/benchmarks/run_benchmark.py
  lib/stardag/benchmarks/tasks.py
Due: pyright-stardag

draft aio interface
  lib/stardag/src/stardag/_target_base.py
  lib/stardag/src/stardag/_task.py
Due: pyright-stardag

Implement async task interface across codebase
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/_target_base.py
  lib/stardag/src/stardag/build/concurrent/asyncio_builder.py
  lib/stardag/src/stardag/build/registry/_api_registry.py
  lib/stardag/src/stardag/build/registry/_base.py
  lib/stardag/src/stardag/build/task_runner.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/src/stardag/target/_in_memory.py
  lib/stardag/src/stardag/target/serialize.py
  lib/stardag/tests/test_build/test_async_interface.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/uv.lock
Due: pyright-stardag

Add bidirectional run/run_aio symmetry for Task interface
  lib/stardag/src/stardag/_auto_task.py
  lib/stardag/src/stardag/_task.py
  lib/stardag/src/stardag/build/task_runner.py
  lib/stardag/tests/test_task.py
Due: pyright-stardag

Improve abstract class detection for run/run_aio validation
  lib/stardag/src/stardag/_auto_task.py
  lib/stardag/src/stardag/_task.py
  lib/stardag/tests/test_task.py
Due: pyright-stardag

fix model test app (missing dependency)
  lib/stardag/tests/test_integration/test_modal/test__target.py
Due: pyright-stardag

Add async file handle support and async implementations for S3/Modal
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/integration/aws/s3.py
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/uv.lock
Due: pyright-stardag

Improve S3 async support and add async target tests
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/integration/aws/s3.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/tests/test_target/test__base.py
  lib/stardag/uv.lock
Due: pyright-stardag

align aio client with sync
  lib/stardag/src/stardag/integration/aws/s3.py
Due: pyright-stardag

Update benchmarks to demonstrate async task execution
  lib/stardag/benchmarks/dags.py
  lib/stardag/benchmarks/results.json
  lib/stardag/benchmarks/run_benchmark.py
  lib/stardag/benchmarks/tasks.py
Due: pyright-stardag

updates benchmarks, several issues present WIP
  lib/stardag/benchmarks/README.md
  lib/stardag/benchmarks/dags.py
  lib/stardag/benchmarks/results.json
  lib/stardag/benchmarks/run_benchmark.py
  lib/stardag/benchmarks/tasks.py
Due: pyright-stardag

draft of build v2
  lib/stardag/src/stardag/build/_v2.py
Due: pyright-stardag

Implement v2 build system with hybrid async/thread/process execution
  lib/stardag/src/stardag/build/_v2.py
  lib/stardag/tests/test_build/test_v2.py
Due: pyright-stardag

Add benchmarks package to stardag-examples
  lib/stardag-examples/src/stardag_examples/benchmarks/README.md
  lib/stardag-examples/src/stardag_examples/benchmarks/__init__.py
  lib/stardag-examples/src/stardag_examples/benchmarks/dags.py
  lib/stardag-examples/src/stardag_examples/benchmarks/results.json
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag-examples/src/stardag_examples/benchmarks/tasks.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Use asyncio.gather for parallel completion checking
  lib/stardag-examples/src/stardag_examples/benchmarks/README.md
  lib/stardag-examples/src/stardag_examples/benchmarks/completion_check.py
  lib/stardag/src/stardag/build/_v2.py
Due: pyright-stardag, pyright-stardag-examples

Refactor build system: consistent API naming and module cleanup
  lib/stardag-examples/src/stardag_examples/api_registry_demo.py
  lib/stardag-examples/src/stardag_examples/benchmarks/completion_check.py
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag-examples/src/stardag_examples/composability.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/decorator_api.py
  lib/stardag-examples/src/stardag_examples/registry_assets_demo.py
  lib/stardag-examples/tests/test_ml_pipeline/test_decorator_api.py
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/build/_v2.py
  lib/stardag/src/stardag/build/concurrent/__init__.py
  lib/stardag/src/stardag/build/concurrent/asyncio_builder.py
  lib/stardag/src/stardag/build/concurrent/multiprocess.py
  lib/stardag/src/stardag/build/concurrent/threadpool.py
  lib/stardag/src/stardag/build/sequential.py
  lib/stardag/src/stardag/build/task_runner.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_async_interface.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_build/test_v2.py
Due: pyright-stardag, pyright-stardag-examples

Rename test_v2.py to test_build.py for consistency
  lib/stardag/tests/test_build/test_build.py
Due: pyright-stardag

Add failing tests for dynamic deps with process pool execution
  lib/stardag/tests/test_build/test_build.py
Due: pyright-stardag

Support dynamic deps with process pool execution
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/tests/test_build/test_build.py
Due: pyright-stardag

Document dynamic deps contract; update test to enforce it
  DEV_README.md
  lib/stardag/src/stardag/_task.py
  lib/stardag/src/stardag/utils/testing/dynamic_deps_dag.py
Due: pyright-stardag
