Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Add See It in Action demo section with custom Python syntax highlighting
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/LandingPageDemo.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Control line break in hero subtitle for small screens
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Style final CTA as tongue-in-cheek testimonial
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Add "See It in Action" demo section to landing page
  app/stardag-ui/package-lock.json
  app/stardag-ui/package.json
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/LandingPageDemo.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix TypeScript errors and remove unused syntax highlighter dependency
  app/stardag-ui/package-lock.json
  app/stardag-ui/package.json
  app/stardag-ui/src/components/LandingPageDemo.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Adjust responsive breakpoints for demo section
  app/stardag-ui/src/components/LandingPageDemo.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Add humorous final CTA section on landing page
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

update code example
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/LandingPageDemo.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Landing page: increase spacing, reduce header logo size
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Improve landing page: responsive USPs, mobile carousel, copy updates
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix publish workflow for nested package structure
  .github/workflows/publish.yml
Due: none

Enable automatic docs deployment and fix overrides directory
  .github/workflows/docs.yml
  docs/overrides/.gitkeep
Due: none

Enable automatic docs deployment and fix overrides directory (#58)
  .github/workflows/docs.yml
  docs/overrides/.gitkeep
Due: none

Add CNAME for docs.stardag.com custom domain
  docs/docs/CNAME
Due: none

fix incorrect docs link
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix incorrect docs link (#59)
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Clean up DEV_README.md and CONTRIBUTING.md overlap
  CONTRIBUTING.md
  DEV_README.md
Due: none

Clean up DEV_README.md and CONTRIBUTING.md overlap (#60)
  CONTRIBUTING.md
  DEV_README.md
Due: none

WIP update deps in modal example, and take env vars fro config
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
Due: pyright-stardag-examples

fix links
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/CreateWorkspace.tsx
  app/stardag-ui/src/components/OnboardingModal.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

[app/stardag-ui] Fix broken links to documentation (#61)
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/CreateWorkspace.tsx
  app/stardag-ui/src/components/OnboardingModal.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Remove unique constraint from workspace name
  app/stardag-api/migrations/versions/20260202_112515_remove_unique_constraint_from_workspace_.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/tests/test_auth.py
Due: pyright-stardag-api

Remove unique constraint from workspace name (#62)
  app/stardag-api/migrations/versions/20260202_112515_remove_unique_constraint_from_workspace_.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/tests/test_auth.py
Due: pyright-stardag-api

Add transactional email support via AWS SES
  app/stardag-api/pyproject.toml
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/routes/workspaces.py
  app/stardag-api/src/stardag_api/services/email.py
  app/stardag-api/uv.lock
  infra/aws-cdk/.env.deploy.example
  infra/aws-cdk/README.md
  infra/aws-cdk/lib/api-stack.ts
  infra/aws-cdk/lib/config.ts
  infra/aws-cdk/lib/constructs/ses.ts
  infra/aws-cdk/lib/foundation-stack.ts
  infra/aws-cdk/test/stardag.test.ts
Due: pyright-stardag-api

Add email tests and fix config defaults for self-hosting
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/tests/test_email.py
Due: pyright-stardag-api

Move email service import to top of file
  app/stardag-api/src/stardag_api/routes/workspaces.py
Due: pyright-stardag-api

Fix integration test mock path after import move
  app/stardag-api/tests/test_email.py
Due: pyright-stardag-api

Add email support via AWS SES (#63)
  app/stardag-api/pyproject.toml
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/routes/workspaces.py
  app/stardag-api/src/stardag_api/services/email.py
  app/stardag-api/tests/test_email.py
  app/stardag-api/uv.lock
  infra/aws-cdk/.env.deploy.example
  infra/aws-cdk/README.md
  infra/aws-cdk/lib/api-stack.ts
  infra/aws-cdk/lib/config.ts
  infra/aws-cdk/lib/constructs/ses.ts
  infra/aws-cdk/lib/foundation-stack.ts
  infra/aws-cdk/test/stardag.test.ts
Due: pyright-stardag-api

Add deferred finalization and profile support for Modal deployment
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag, pyright-stardag-examples

Add target roots to Modal profile env vars
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag

make basic example run with significant cleanup
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag-examples/src/stardag_examples/modal/basic/main.py
  lib/stardag-examples/src/stardag_examples/modal/basic/task.py
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/config.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_config.py
  lib/stardag/src/stardag/utils/resource_provider.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag, pyright-stardag-examples

updates prefect based example (not working)
  lib/stardag-examples/src/stardag_examples/modal/prefect/app.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/main.py
Due: pyright-stardag-examples

modal basic and ml_pipeline works
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag-examples/src/stardag_examples/modal/ml_pipeline/__init__.py
  lib/stardag-examples/src/stardag_examples/modal/ml_pipeline/app.py
  lib/stardag-examples/src/stardag_examples/modal/ml_pipeline/main.py
  lib/stardag-examples/src/stardag_examples/prefect/__init__.py
  lib/stardag/src/stardag/_cli/auth.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_config.py
  lib/stardag/tests/test_integration/test_modal/test__config.py
Due: pyright-stardag, pyright-stardag-examples
