Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.7
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true

fix typo
  tox.ini
Due: none

code worspace, ui pre-commit hooks
  .pre-commit-config.yaml
  _NOTES.md
  app/stardag-ui/src/context/ThemeContext.tsx
  app/stardag-ui/src/hooks/useTasks.ts
  stardag.code-workspace
Due: none

async db
  .claude/settings.json
  .claude/tasks/registry-service/db-schemas.md
  _NOTES.md
  app/stardag-api/pyproject.toml
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/db/__init__.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_health.py
  app/stardag-api/tests/test_tasks.py
  app/stardag-api/uv.lock
Due: pyright-stardag-api

adds alemic migrations
  .claude/tasks/registry-service/db-schemas.md
  app/stardag-api/Dockerfile
  app/stardag-api/README.md
  app/stardag-api/alembic.ini
  app/stardag-api/migrations/README
  app/stardag-api/migrations/create_sql_file.sh
  app/stardag-api/migrations/env.py
  app/stardag-api/migrations/script.py.mako
  app/stardag-api/migrations/versions/5b1fb3cab891_create_tasks_table.py
  app/stardag-api/migrations/versions/5b1fb3cab891_create_tasks_table.sql
  app/stardag-api/tests/conftest.py
  docker-compose.yml
Due: pyright-stardag-api

standard migrations
  .claude/tasks/registry-service/db-schemas.md
  app/stardag-api/README.md
  app/stardag-api/alembic.ini
  app/stardag-api/migrations/create_sql_file.sh
  app/stardag-api/migrations/script.py.mako
  app/stardag-api/migrations/versions/20251211_203643_create_tasks_table.py
  app/stardag-api/migrations/versions/5b1fb3cab891_create_tasks_table.py
  app/stardag-api/migrations/versions/5b1fb3cab891_create_tasks_table.sql
Due: pyright-stardag-api

cleanup imports add README info
  .claude/tasks/registry-service/db-schemas.md
  _NOTES.md
  app/stardag-api/README.md
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/decorator_api.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/prefect_build.py
Due: pyright-stardag-examples

e2e test
  .claude/CLAUDE.md
  scripts/e2e-test.sh
Due: none

first draft of normalized schemas instructions
  .claude/tasks/registry-service/db-schemas.md
Due: none

plan first try
  app/stardag-api/migrations/versions/20251211_203643_create_tasks_table.py
  app/stardag-api/migrations/versions/20251211_220000_normalized_schema.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/base.py
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/models/event.py
  app/stardag-api/src/stardag_api/models/organization.py
  app/stardag-api/src/stardag_api/models/run.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/models/task_dependency.py
  app/stardag-api/src/stardag_api/models/user.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/runs.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/__init__.py
  app/stardag-api/src/stardag_api/services/slug.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_runs.py
  app/stardag-api/tests/test_tasks.py
  lib/stardag/src/stardag/build/api_registry.py
  lib/stardag/src/stardag/build/registry.py
  lib/stardag/src/stardag/build/sequential.py
  scripts/e2e-test.sh
Due: pyright-stardag, pyright-stardag-api

rename run to build
  app/stardag-api/migrations/versions/20251211_220000_normalized_schema.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/models/event.py
  app/stardag-api/src/stardag_api/models/user.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/__init__.py
  app/stardag-api/src/stardag_api/services/slug.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_runs.py
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/uv.lock
  lib/stardag/src/stardag/build/api_registry.py
  lib/stardag/src/stardag/build/sequential.py
  scripts/e2e-test.sh
Due: pyright-stardag, pyright-stardag-api

updates UI accordingly
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskList.tsx
  app/stardag-ui/src/hooks/useTasks.ts
  app/stardag-ui/src/types/task.ts
Due: pyright-stardag-api

fix filtering
  app/stardag-ui/src/hooks/useTasks.ts
Due: none

toggle horizontal vs vertical DAG layout
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/TaskNode.tsx
Due: none

draft of auth task
  .claude/CLAUDE.md
  .claude/tasks/registry-service/auth.md
Due: none

execution plan
  .claude/tasks/registry-service/auth.md
Due: none

first stab at phase 1
  .claude/tasks/registry-service/auth.md
  app/stardag-api/migrations/versions/20251211_220000_normalized_schema.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/api_key.py
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/models/invite.py
  app/stardag-api/src/stardag_api/models/organization.py
  app/stardag-api/src/stardag_api/models/organization_member.py
  app/stardag-api/src/stardag_api/models/user.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_auth_models.py
  docker-compose.yml
  docker/postgres/init.sql
Due: pyright-stardag-api

first stab at phase 2
  app/stardag-api/pyproject.toml
  app/stardag-api/src/stardag_api/auth/__init__.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/auth/jwt.py
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/ui.py
  app/stardag-api/tests/test_auth.py
  app/stardag-api/uv.lock
  docker-compose.yml
  docker/keycloak/realm-export.json
Due: pyright-stardag-api

first stab at phase 3
  app/stardag-ui/package-lock.json
  app/stardag-ui/package.json
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/client.ts
  app/stardag-ui/src/auth/config.ts
  app/stardag-ui/src/auth/userManager.ts
  app/stardag-ui/src/components/AuthCallback.tsx
  app/stardag-ui/src/components/UserMenu.tsx
  app/stardag-ui/src/context/AuthContext.tsx
Due: none

phase 3 fixup: buildargs
  app/stardag-ui/Dockerfile
  docker/keycloak/realm-export.json
Due: none

completed phase 4 and updated auth.md progres
  .claude/tasks/registry-service/auth.md
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-api/tests/test_organizations.py
Due: pyright-stardag-api

first stab at phase 5
  .claude/tasks/registry-service/auth.md
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/organizations.ts
  app/stardag-ui/src/components/OrganizationSettings.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
  app/stardag-ui/src/context/WorkspaceContext.tsx
  app/stardag-ui/src/hooks/useTasks.ts
Due: none

tweak invites and org creation
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/models/invite.py
  app/stardag-api/src/stardag_api/models/organization_member.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/PendingInvites.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
  docker/keycloak/realm-export.json
Due: pyright-stardag-api

fix org creation and landing page
  app/stardag-api/migrations/versions/20251221_021110_add_created_by_id_to_organizations.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/models/organization.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/CreateOrganization.tsx
  app/stardag-ui/src/components/PendingInvites.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
  app/stardag-ui/src/context/WorkspaceContext.tsx
Due: pyright-stardag-api

fix DAG issues, incl. dimming
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/hooks/useTasks.ts
Due: none

fix workspace auth
  .claude/tasks/registry-service/auth.md
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/hooks/useTasks.ts
Due: pyright-stardag-api

add api key management
  .claude/tasks/registry-service/auth.md
  app/stardag-api/pyproject.toml
  app/stardag-api/src/stardag_api/auth/__init__.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/api_keys.py
  app/stardag-api/uv.lock
  app/stardag-ui/src/api/organizations.ts
  app/stardag-ui/src/components/OrganizationSettings.tsx
Due: pyright-stardag-api

first stab at phase 6 (cli auth)
  .claude/tasks/registry-service/auth.md
  DEV_README.md
  README.md
  lib/stardag-examples/uv.lock
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/build/api_registry.py
  lib/stardag/src/stardag/cli/__init__.py
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/uv.lock
Due: pyright-stardag

fix CLI config
  _NOTES.md
  app/stardag-api/src/stardag_api/auth/jwt.py
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/tests/test_auth.py
  docker-compose.yml
  docker/keycloak/realm-export.json
  lib/stardag/src/stardag/build/api_registry.py
  lib/stardag/src/stardag/cli/__init__.py
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
Due: pyright-stardag, pyright-stardag-api

fix api unit tests
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_auth.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

fix Docker compose up/down state sync between DB and keycloak, fix no-org-modal
  _NOTES.md
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/Modal.tsx
  app/stardag-ui/src/components/OnboardingModal.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
  docker-compose.yml
Due: none

fixed token expiration and auth error handling
  _NOTES.md
  app/stardag-api/src/stardag_api/auth/jwt.py
  app/stardag-api/tests/test_auth.py
  docker/keycloak/realm-export.json
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/build/api_registry.py
  lib/stardag/src/stardag/exceptions.py
Due: pyright-stardag, pyright-stardag-api

prep for config cleanup
  .claude/CLAUDE.md
  .claude/tasks/registry-service/auth.md
  .claude/tasks/registry-service/config-and-auth-cleanup.md
  .claude/tasks/registry-service/db-schemas.md
  _NOTES.md
Due: none

feat(sdk): centralized config module (Phase 1)
  .claude/CLAUDE.md
  .claude/tasks/registry-service/config-and-auth-cleanup.md
  CONFIGURATION_GUIDE.md
  lib/stardag/src/stardag/build/api_registry.py
  lib/stardag/src/stardag/build/registry.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/config.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

feat: workspace target roots (Phase 2)
  .claude/settings.json
  app/stardag-api/migrations/versions/20251223_120000_add_target_roots.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/target_root.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-api/src/stardag_api/routes/target_roots.py
  app/stardag-api/tests/test_organizations.py
  app/stardag-ui/src/api/organizations.ts
  app/stardag-ui/src/components/OrganizationSettings.tsx
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
Due: pyright-stardag, pyright-stardag-api

feat(cli): profile management commands (Phase 3)
  .claude/tasks/registry-service/config-and-auth-cleanup.md
  lib/stardag/src/stardag/build/registry.py
  lib/stardag/src/stardag/cli/__init__.py
  lib/stardag/src/stardag/cli/profile.py
  lib/stardag/tests/test_cli_profile.py
Due: pyright-stardag

feat(api,ui): personal workspaces (Phase 4)
  .claude/tasks/registry-service/config-and-auth-cleanup.md
  app/stardag-api/migrations/versions/20251223_150000_add_workspace_owner.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-ui/src/api/organizations.ts
  app/stardag-ui/src/components/OrganizationSettings.tsx
Due: pyright-stardag-api

feat(cli): improved login flow and slug support (Phase 5)
  .claude/tasks/registry-service/config-and-auth-cleanup.md
  lib/stardag/src/stardag/cli/__init__.py
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
Due: pyright-stardag

docs(examples): sample project config (Phase 6)
  .claude/tasks/registry-service/config-and-auth-cleanup.md
  lib/stardag-examples/.stardag/README.md
  lib/stardag-examples/.stardag/config.json
Due: none

fix: allow slugs in allowed_organizations validation
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/config.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

fix: correct migration revision chain
  app/stardag-api/migrations/versions/20251223_150000_add_workspace_owner.py
Due: pyright-stardag-api
