Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

An interruption applies only to the claim the reporting build holds
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_task_interruptions.py
Due: pyright-stardag-api

Review 6: the other way a report is refused, and a replay that needed an order
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_task_interruptions.py
Due: pyright-stardag-api

TASK_PREEMPTED: record that a restart is due, without releasing the claim
  app/stardag-api/migrations/versions/20260913_210000_add_tasks_latest_preempted_at.py
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/claims.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_task_interruptions.py
Due: pyright-stardag-api

Review 4: a retry clears the ref in the replays too, and a test that tested it
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_task_interruptions.py
Due: pyright-stardag-api

Review 5: a refused report is audit, not an interruption
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_task_interruptions.py
Due: pyright-stardag-api

Size the restart grace against a queued restart, not a normal one
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/tests/test_task_interruptions.py
Due: pyright-stardag-api

Keep the lock order the other writers use
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_concurrent_task_registration.py
Due: pyright-stardag-api

A refused report is not an attempt predecessor either
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_task_interruptions.py
Due: pyright-stardag-api

Trust a status only where this call holds the row
  app/stardag-api/src/stardag_api/routes/builds.py
Due: pyright-stardag-api

An interruption applies only to the claim the reporting build holds (#334)
  app/stardag-api/migrations/versions/20260913_210000_add_tasks_latest_preempted_at.py
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/claims.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_task_interruptions.py
Due: pyright-stardag-api

Docs: the signal decides, and the watchdog is the only timed wake-up
  CHANGELOG.md
  docs/docs/concepts/modal-orchestration.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
Due: none

Classify an interruption by the exception it was raised from
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

Review 6: "at or past" its timeout is more than the fallback knows
  lib/stardag/src/stardag/integration/modal/_runner.py
Due: pyright-stardag

A registry-live scenario for the misclassification, run against the old code
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_interruption_classification.py
Due: pyright-integration-tests

Review 4: "a plain raise" meant the opposite of what it said
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
  lib/stardag/src/stardag/integration/modal/_runner.py
Due: pyright-stardag

Changelog: the restart grace is 900s, and say why it is not shorter
  CHANGELOG.md
Due: none

The live scenario was cancelling before the task body ran
  integration-tests/tests_registry_live/test_interruption_classification.py
Due: pyright-integration-tests

Review 3: the chain signal set is exactly MODAL_INTERRUPTIONS
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
Due: pyright-stardag

Review: follow both chain links, send the ref, and correct four docs claims
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
Due: pyright-stardag

Review 5: an empty ref in the client too, and what a bare raise really does
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag

Surface a preemption in the UI: the event, and a claim still waiting
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-ui/src/components/ClaimTriage.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/claims.test.ts
  app/stardag-ui/src/utils/claims.ts
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Review 2: resolve the call id on the container's own thread
  CHANGELOG.md
  lib/stardag/src/stardag/integration/modal/_runner.py
Due: pyright-stardag

Name the trade the raced-row path makes
  app/stardag-api/src/stardag_api/routes/builds.py
Due: pyright-stardag-api

A task somebody else is creating is a reference, not a conflict (#341)
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_concurrent_task_registration.py
Due: pyright-stardag-api

Classify an interruption by the exception it was raised from (#335)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-ui/src/components/ClaimTriage.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/claims.test.ts
  app/stardag-ui/src/utils/claims.ts
  docs/docs/concepts/modal-orchestration.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_interruption_classification.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

Asking twice is not losing: the holder's re-acquire is granted
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_wakeups.py
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag, pyright-stardag-api

The comment was wrong about /start, which is the point of the comment
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag

Claim only what the comment can defend, and pin the TTL it promises
  app/stardag-api/tests/test_wakeups.py
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Asking twice is not losing: the lease holder's re-acquire is granted (#342)
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_wakeups.py
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Say what the endpoint does now, and what the estimate actually claims
  app/stardag-api/src/stardag_api/routes/builds.py
Due: pyright-stardag-api

Two more cycles, from the two writers this change had not reached
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_concurrent_task_registration.py
Due: pyright-stardag-api

One order for creating tasks, whichever endpoint creates them
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_concurrent_task_registration.py
Due: pyright-stardag-api

Answer "what did I start?" from the event log, not the task row
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_cancel_authority.py
  docs/design/execution-claims-and-liveness.md
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag, pyright-stardag-api

Make the cancel scenario wait on the owner, not on the status
  integration-tests/tests_registry_live/test_cancel_authority.py
Due: pyright-integration-tests

Cancel only the executions this build owns, and stop them
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/src/stardag_api/services/claims.py
  app/stardag-api/tests/test_cancel_authority.py
  app/stardag-api/tests/test_wakeups.py
  docs/design/execution-claims-and-liveness.md
  integration-tests/tests_registry_live/test_cancel_authority.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Run a blocker the tick just reset, instead of lingering
  CHANGELOG.md
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
Due: pyright-stardag

Copilot review: three real defects, two of them mine
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_cancel_authority.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
  lib/stardag/tests/test_build/test_registry_limiter.py
Due: pyright-stardag, pyright-stardag-api

Copilot round two: page the executions, and stop degrading quietly
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_cancel_authority.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
Due: pyright-stardag, pyright-stardag-api

Rank refs within a backend, and reconcile only once the claim is released
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_cancel_authority.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/tests/test_build/reactive_fakes.py
Due: pyright-stardag, pyright-stardag-api

Re-list the drain until nothing new comes back
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
Due: pyright-stardag

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
