Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

fix(api): make the resume lookup the seek its comment claims
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/status.py
Due: pyright-stardag-api

feat(ui): claim triage in the task explorer (#208 B2/B5)
  app/stardag-ui/src/components/ClaimTriage.test.tsx
  app/stardag-ui/src/components/ClaimTriage.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

fix(ui): only offer to release a claim the task is actually holding
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/ClaimTriage.test.tsx
  app/stardag-ui/src/components/ClaimTriage.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

feat(ui): name the claim holder on the task detail panel (#208 B5)
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

docs(ui): correct two comments the compaction pass invalidated
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/utils/claims.ts
Due: eslint-stardag-ui, tsc-stardag-ui

feat(ui): explain a stalled build on the build view (#208 B5)
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/ClaimActionDialog.tsx
  app/stardag-ui/src/components/TickSummaryTrail.tsx
  app/stardag-ui/src/utils/claims.ts
Due: eslint-stardag-ui, tsc-stardag-ui

fix(ui): compact the stalled-build panel so the build view still fits
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/TickSummaryTrail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

feat(ui): frontier, tick-summary and claim-holder API surface
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/types/task.ts
Due: eslint-stardag-ui, tsc-stardag-ui

docs: raising the SDK floor is a promise, not a config change
  CHANGELOG.md
  CONTRIBUTING.md
  DEV_README.md
Due: none

feat(api): read the calling SDK's version, and publish the policy
  app/stardag-api/pyproject.toml
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/middleware/__init__.py
  app/stardag-api/src/stardag_api/middleware/sdk_version.py
  app/stardag-api/src/stardag_api/sdk_compat.py
  app/stardag-api/uv.lock
  app/stardag-ui/src/api/version.ts
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

fix(api): record callers that send no SDK header, and exempt /health/
  app/stardag-api/src/stardag_api/middleware/sdk_version.py
  app/stardag-api/src/stardag_api/sdk_compat.py
  app/stardag-api/tests/test_sdk_version.py
Due: pyright-stardag-api

test(api): pin the SDK-version contract, absence first
  app/stardag-api/tests/test_sdk_version.py
Due: pyright-stardag-api

fix(api): stop alembic from disabling application logging
  app/stardag-api/migrations/env.py
Due: pyright-stardag-api

docs(design): mark which mechanisms this note's reader will not find on main
  docs/design/execution-claims-and-liveness.md
Due: none

docs(cli): say that --older-than implies --status running
  CHANGELOG.md
  docs/docs/configuration/cli.md
Due: none

refactor(build): make execution claims unconditional
  .claude/skills/stardag/sdk-advanced.md
  docs/docs/concepts/build-execution.md
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_registry/test_start_claim.py
Due: pyright-stardag

refactor(registry): one name for the missing-route check
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

refactor(registry): drop signature reflection from the registry call sites
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_detached.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
  lib/stardag/tests/test_registry/test_executor_metadata.py
Due: pyright-stardag

test: fix a typo in a test name
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

refactor(claim): read a claim's liveness from its expiry, not from a bound
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_registry_limiter.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_registry_limiter.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_integration/test_modal/test_live_claim_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_live_detached_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_registry/test_executor_metadata.py
Due: pyright-stardag

fix(reactive): parse the registry's UTC expiries on Python 3.10
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag

refactor(reactive): decide blocker liveness from claim expiry, and derive the TTL
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
Due: pyright-stardag

docs: claim expiry replaces the staleness knobs
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
Due: none

feat(reactive): per-tick spawn cap derived from the executor's timeout
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

fix(reactive): treat a configured tick timeout of 0 as a value
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

fix(reactive): derive the spawn cap from the tick's own timeout
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

perf(reactive): bounded-concurrent DAG discovery
  CHANGELOG.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

perf(reactive): bounded-concurrent fan-out in the scheduler tick
  CHANGELOG.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

fix(reactive): the attempt budget is per build ROUND, and a re-trigger resets it
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

docs(sdk): attempt_count 0 means the round, not the build
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag

test(reactive): cover the attempt budget end to end
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

feat(registry): carry a per-build attempt count on frontier task refs
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag

docs: the reactive attempt budget, and how it differs from backend retries
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
Due: none

feat(reactive): task-level retry policy for failures the backend cannot retry
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag

docs: SDK/registry version skew, in both directions
  CHANGELOG.md
  docs/docs/how-to/self-host-modal.md
  docs/docs/reference/exceptions.md
Due: none

fix(reactive): bound discovery by the target backend, not the registry
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

fix(cli): name the cause when the registry is too old for a command
  lib/stardag/src/stardag/_cli/_registry_ctx.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/tests/test__cli/test_builds.py
Due: pyright-stardag

feat(registry): identify the SDK version on every request, and act on 426
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_cli/_helpers.py
  lib/stardag/src/stardag/_version.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

fix(modal): degrade gracefully when the volume API rate-limits
  lib/stardag/src/stardag/integration/modal/_target.py
Due: pyright-stardag

fix(cli): don't tell the user a finished build might be stuck
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/tests/test__cli/test_builds.py
Due: pyright-stardag

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
