Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Registry-live: structure-scope scenarios, blocker scenarios re-observed
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_failed_blocker.py
  integration-tests/tests_registry_live/test_suspended_blocker.py
Due: pyright-integration-tests

Ticks and workers compare the code id half of the scope only
  docs/design/scope-keyed-dependency-structure.md
  docs/docs/concepts/modal-orchestration.md
  lib/stardag/src/stardag/build/_scope.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_significance.py
Due: pyright-stardag

Registry-live: fan-out child ids overlap across widths, resume-after-children is collaboration
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_structure_scope_dynamic.py
  integration-tests/tests_registry_live/test_suspended_blocker.py
Due: pyright-integration-tests

Address the Copilot review: config reaches every worker, old servers refused, retire before stop
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-api/migrations/versions/20260919_005845_scope_keyed_dependency_edges_and_.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/deployments.py
  app/stardag-api/tests/test_deployments.py
  app/stardag-api/tests/test_scope.py
  app/stardag-api/tests/test_scope_migration.py
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/build_config.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_builder.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test__cli/test_modal.py
  lib/stardag/tests/test_build/test_build_config_context.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Second review round: the echoed scope must match, a bare re-trigger reuses its config
  RELEASE_NOTES.md
  integration-tests/tests_registry_live/test_structure_scope_static.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-integration-tests

Third review round: the echo must carry the config, a bare resume adopts its own
  lib/stardag/src/stardag/base_model.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_scope.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_builder.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_build/test_build_config_context.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_api_registry.py
  lib/stardag/tests/test_significance.py
Due: pyright-stardag

Fourth review round: nobody claims a placeholder scope, a bad forwarded config fails the attempt
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_scope.py
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/utils/scope.test.ts
  app/stardag-ui/src/utils/scope.ts
  lib/stardag/src/stardag/build/_scope.py
  lib/stardag/src/stardag/integration/modal/_builder.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_significance.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Fifth review round: the placeholder shape is exact on both sides, closure stops at complete tasks
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_scope.py
  app/stardag-api/tests/test_take_task_rows.py
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/utils/graphEdges.test.ts
  app/stardag-ui/src/utils/graphEdges.ts
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Release notes and docs: the idea first, then what changes, then how to use it
  RELEASE_NOTES.md
  docs/docs/concepts/build-execution.md
  docs/docs/concepts/index.md
  docs/docs/concepts/modal-orchestration.md
  docs/docs/concepts/parameters.md
  docs/docs/how-to/evolve-dags.md
  docs/docs/how-to/index.md
  docs/docs/how-to/integrate-modal.md
  docs/mkdocs.yml
  lib/stardag/src/stardag/build/_base.py
Due: pyright-stardag

Sixth review round: a resume names its scope, a legacy field still travels, no orphan on an old server
  RELEASE_NOTES.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_scope.py
  app/stardag-ui/src/components/BuildView.tsx
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/base_model.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_bootstrap.py
  lib/stardag/src/stardag/integration/modal/_builder.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test__cli/test_modal.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_api_registry.py
  lib/stardag/tests/test_registry/test_base_adapters.py
  lib/stardag/tests/test_significance.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Plan membership is per scope: a registration says which scope it planned under
  app/stardag-api/migrations/versions/20260807_235511_denormalised_build_status_columns_with_.py
  app/stardag-api/migrations/versions/20260919_005845_scope_keyed_dependency_edges_and_.py
  app/stardag-api/src/stardag_api/models/event.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_scope.py
  app/stardag-api/tests/test_scope_migration.py
  app/stardag-ui/src/types/task.ts
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Rollover under the lease, roots from registry data, and the last two server holes
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/deployments.py
  app/stardag-api/tests/test_deployments.py
  app/stardag-api/tests/test_scope.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_reactive/__init__.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/integration/modal/_bootstrap.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-api

Rollover scenario: assert the graph's view of the parent by task id
  integration-tests/tests_registry_live/test_rollover.py
Due: pyright-integration-tests

Provenance is frozen at status time; the edge insert names its dialect
  app/stardag-api/migrations/versions/20260919_005845_scope_keyed_dependency_edges_and_.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/graph.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_graph.py
  app/stardag-api/tests/test_scope.py
  app/stardag-api/tests/test_scope_migration.py
  app/stardag-api/tests/test_take_task_rows.py
  app/stardag-ui/src/types/task.ts
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Rollover only moves forward, and a worker checks its scope before it does anything
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_scope.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-api

Rollover needs a recorded deployment and a pickle-free store; workers name their placeholder
  CHANGELOG.md
  RELEASE_NOTES.md
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  docs/docs/concepts/modal-orchestration.md
  docs/docs/how-to/evolve-dags.md
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/integration/modal/_builder.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test__cli/test_modal.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, eslint-stardag-ui, tsc-stardag-ui

StardagField: the legacy flag and an explicit significance are one or the other
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test_significance.py
Due: pyright-stardag

Docs: the example's thread count goes to the merge, not to _save
  RELEASE_NOTES.md
  docs/docs/concepts/parameters.md
  docs/docs/how-to/evolve-dags.md
Due: none

Tests by module: build_config, build/_scope and the base model each own their tests
  lib/stardag/tests/test_base_model.py
  lib/stardag/tests/test_build/test_scope.py
  lib/stardag/tests/test_build_config.py
  lib/stardag/tests/test_significance.py
Due: pyright-stardag

Docs: a level 2 or 3 field carries a default
  docs/docs/concepts/parameters.md
  lib/stardag/src/stardag/base_model.py
Due: pyright-stardag

Docs: the build-config key for a task without a namespace is its bare name
  docs/docs/concepts/parameters.md
Due: none

Docs: the Aggregate example slices a loaded file list
  RELEASE_NOTES.md
  docs/docs/concepts/parameters.md
  docs/docs/how-to/evolve-dags.md
Due: none

Settle the build config into JSON at the entry; re-bind covered pickles
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/build_config.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_build/test_scope.py
  lib/stardag/tests/test_build_config.py
Due: pyright-stardag, pyright-integration-tests

Rollover gate reads the elision decision; a missing deployments route fails the deploy
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test__cli/test_modal.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

A registry refusal propagates whatever on_registry_failure says
  app/stardag-api/src/stardag_api/models/event.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/tests/test_build/test_handle_registry_error.py
  lib/stardag/tests/test_build/test_scope.py
Due: pyright-stardag, pyright-stardag-api

Refuse a pre-scope server at build start; list PR files through the API
  .github/workflows/modal-live.yml
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_registry/test_api_registry.py
  lib/stardag/tests/test_registry/test_executor_metadata.py
Due: pyright-stardag

An executor built before the build forwards the build's config and scope
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
Due: pyright-stardag

Release v0.24.0 / server 0.4.0: changelog and release notes dated
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/selfhost/_modal_app.py
Due: pyright-stardag

Release v0.24.0 / server 0.4.0: changelog and release notes dated (#347)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/selfhost/_modal_app.py
Due: pyright-stardag

Examples: execution_only with a build config, and redeploying while builds run
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Walkthrough README: sanitise the branch name in the branch-app example
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
Due: none

Examples: execution_only with a build config, and redeploying while builds run (#348)
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

The worker classifies its own execution; the probe waits for it
  docs/docs/concepts/modal-orchestration.md
  docs/docs/how-to/integrate-modal.md
  integration-tests/tests_registry_live/test_interruption_classification.py
  lib/stardag/src/stardag/build/_reactive/__init__.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_report_window.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
Due: pyright-stardag, pyright-integration-tests

Review: a lapsed claim is not a closed report window
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
Due: pyright-stardag

Review: the report window never outlives its own container
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
Due: pyright-stardag

Review: measure the container's life from entry, not from the lease
  docs/docs/concepts/modal-orchestration.md
  lib/stardag/src/stardag/build/_reactive/_tick.py
Due: pyright-stardag

Review: the watchdog sweep waits for a verdict too
  lib/stardag/src/stardag/build/_reactive/_report_window.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
Due: pyright-stardag

Review: trim a grace the container cannot honour, don't truncate it
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_report_window.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
Due: pyright-stardag

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
