Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Use tenacity for Modal volume rate-limit retries
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/uv.lock
Due: pyright-stardag

go back to PyPI by default in modal examples, uv sync --upgrade
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag-examples/src/stardag_examples/modal/ml_pipeline/app.py
  lib/stardag-examples/uv.lock
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/uv.lock
Due: pyright-stardag, pyright-stardag-examples

Modal integration follow up (#67)
  docs/docs/configuration/cli.md
  docs/docs/configuration/environments.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/use-api-registry.md
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag-examples/src/stardag_examples/modal/ml_pipeline/app.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/app.py
  lib/stardag-examples/standalone/stardag-modal/pyproject.toml
  lib/stardag-examples/standalone/stardag-modal/stardag_modal/main.py
  lib/stardag-examples/standalone/stardag-modal/uv.lock
  lib/stardag-examples/uv.lock
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/credentials.py
  lib/stardag/src/stardag/_cli/environment.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/uv.lock
Due: pyright-stardag, pyright-stardag-examples

docs fixes
  docs/docs/how-to/integrate-modal.md
  lib/stardag-examples/src/stardag_examples/modal/README.md
  lib/stardag-examples/src/stardag_examples/modal/ml_pipeline/app.py
Due: pyright-stardag-examples

Modal docs fixes (#68)
  docs/docs/how-to/integrate-modal.md
  lib/stardag-examples/src/stardag_examples/modal/README.md
  lib/stardag-examples/src/stardag_examples/modal/ml_pipeline/app.py
Due: pyright-stardag-examples

Bump Keycloak image from 26.0 to 26.1
  docker-compose.yml
Due: none

Bump Keycloak image from 26.0 to 26.1 (#70)
  docker-compose.yml
Due: none

Auto-mount Modal volumes in StardagApp.finalize()
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
Due: pyright-stardag

Raise on build failure and self-heal stale task states
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag

Auto-mount Modal volumes in StardagApp.finalize() (#69)
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
Due: pyright-stardag

Add read-only database user role
  docker/postgres/init.sql
  infra/aws-cdk/lib/constructs/database.ts
Due: none

Add read-only database user role (#71)
  docker/postgres/init.sql
  infra/aws-cdk/lib/constructs/database.ts
Due: none

Add SaaS guardrails: rate limits, payload size limits, and entity creation limits
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/limits.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_limits.py
  infra/aws-cdk/lib/api-stack.ts
Due: pyright-stardag-api

SDK client: retry with backoff on rate limits, surface quota exceeded
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag

Add rate limiting to lock write endpoints
  app/stardag-api/src/stardag_api/routes/locks.py
Due: pyright-stardag-api

Address PR review: lazy imports, validation, cache cleanup, public API
  app/stardag-api/src/stardag_api/limits.py
  app/stardag-api/src/stardag_api/routes/builds.py
Due: pyright-stardag-api

Tighten InMemoryRateLimiter concurrency docstring
  app/stardag-api/src/stardag_api/limits.py
Due: pyright-stardag-api

tweak limits
  infra/aws-cdk/lib/api-stack.ts
Due: none

Add SaaS guardrails: rate limits and entity creation limits (#72)
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/limits.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/locks.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_limits.py
  infra/aws-cdk/lib/api-stack.ts
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Relax dependency lower bounds for better downstream compatibility
  lib/stardag/pyproject.toml
  lib/stardag/uv.lock
Due: none

Relax dependency lower bounds for better downstream compatibility (#73)
  lib/stardag/pyproject.toml
  lib/stardag/uv.lock
Due: none

Fix flaky TestUserVolumesOverride by clearing config cache
  lib/stardag/tests/test_integration/test_modal/test__app.py
Due: pyright-stardag

Fix flaky TestUserVolumesOverride by clearing config cache (#75)
  lib/stardag/tests/test_integration/test_modal/test__app.py
Due: pyright-stardag

Rename RegistryAsset to Artifact across the entire codebase
  app/stardag-api/migrations/versions/20260225_120000_rename_registry_assets_to_artifacts.py
  app/stardag-api/src/stardag_api/limits.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/models/task_artifact.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_limits.py
  app/stardag-api/tests/test_task_artifacts.py
  app/stardag-api/tests/test_task_assets.py
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/ArtifactViewer.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/ColumnManagerModal.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/LandingPageDemo.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/components/TaskTable.tsx
  app/stardag-ui/src/hooks/useTasks.ts
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/truncateKey.ts
  lib/stardag-examples/src/stardag_examples/general/README.md
  lib/stardag-examples/src/stardag_examples/general/artifacts_demo.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/artifact.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/integration/prefect/_build.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_artifact.py
  lib/stardag/tests/test_registry_asset.py
Due: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Fix CI: rename assets→artifacts in integration tests, use local stardag for examples
  .pre-commit-config.yaml
  integration-tests/tests/test_full_flow.py
  integration-tests/uv.lock
  tox.ini
Due: pyright-integration-tests

Rename RegistryAsset to Artifact (#74)
  .pre-commit-config.yaml
  app/stardag-api/migrations/versions/20260225_120000_rename_registry_assets_to_artifacts.py
  app/stardag-api/src/stardag_api/limits.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/models/task_artifact.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_limits.py
  app/stardag-api/tests/test_task_artifacts.py
  app/stardag-api/tests/test_task_assets.py
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/ArtifactViewer.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/ColumnManagerModal.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/LandingPageDemo.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/components/TaskTable.tsx
  app/stardag-ui/src/hooks/useTasks.ts
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/truncateKey.ts
  integration-tests/tests/test_full_flow.py
  integration-tests/uv.lock
  lib/stardag-examples/src/stardag_examples/general/README.md
  lib/stardag-examples/src/stardag_examples/general/artifacts_demo.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/artifact.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/integration/prefect/_build.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_artifact.py
  lib/stardag/tests/test_registry_asset.py
  tox.ini
Due: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

Use published stardag v0.2.0 for stardag-examples CI
  .pre-commit-config.yaml
  lib/stardag-examples/uv.lock
  tox.ini
Due: none

Use published stardag v0.2.0 for stardag-examples CI (#76)
  .pre-commit-config.yaml
  lib/stardag-examples/uv.lock
  tox.ini
Due: none

Fix Task Explorer: increase param depth limit and support JSONB sorting
  app/stardag-api/src/stardag_api/routes/search.py
Due: pyright-stardag-api

Increase max_depth to 8 and add search tests
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/tests/test_search.py
Due: pyright-stardag-api

Fix Task Explorer: param depth limit and JSONB sorting (#78)
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/tests/test_search.py
Due: pyright-stardag-api

Add native artifacts to Metrics and Benchmark tasks in ML pipeline example
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Add native artifacts to Metrics and Benchmark tasks in ML pipeline example (#77)
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Fix Task Explorer: filter-aware columns, artifact sorting, remove key limits
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Improve Column Manager modal: wider layout, full key on hover, overflow fix
  app/stardag-ui/src/components/ColumnManagerModal.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix Task Explorer: filter-aware columns, artifact sorting, key limits (#79)
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/ColumnManagerModal.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Sync target roots cache in auth refresh, profile add/use, and env create
  lib/stardag/src/stardag/_cli/auth.py
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/environment.py
Due: pyright-stardag

Fix outdated --env flag in Modal integration docs
  docs/docs/how-to/integrate-modal.md
Due: none

Fix tests for target roots sync in profile add
  lib/stardag/tests/test__cli/test_config.py
Due: pyright-stardag

Fix: sync target roots cache in CLI commands (#80)
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/_cli/auth.py
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/environment.py
  lib/stardag/tests/test__cli/test_config.py
Due: pyright-stardag

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
