Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

An execution is identified by its backend, not by the newest ref
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_cancel_authority.py
  app/stardag-api/tests/test_wakeups.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
Due: pyright-stardag, pyright-stardag-api

Compare the execution pair, and say what the listing cannot see
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_registry_limiter.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Key the executions cursor on the task, the only thing that does not move
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_cancel_authority.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/tests/test_build/reactive_fakes.py
Due: pyright-stardag, pyright-stardag-api

Ask the event log whether the execution is still mine, not the row
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_cancel_authority.py
Due: pyright-stardag-api

Copilot round three: bind the cancel to the execution, not the holder
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_cancel_authority.py
  integration-tests/src/stardag_integration_tests/registry_live/_guard.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_registry_limiter.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Either half of an execution identity is incomplete, and two fakes lied
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_cancel_authority.py
  lib/stardag/tests/test_build/reactive_fakes.py
Due: pyright-stardag, pyright-stardag-api

A declaration outranks a yield, and cannot be added to at runtime
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_immutable_declarations.py
Due: pyright-stardag-api

A task's declared static dependencies are immutable
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/dependencies.py
  app/stardag-api/tests/test_build_cleanup.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_claim_expiry.py
  app/stardag-api/tests/test_immutable_declarations.py
  app/stardag-api/tests/test_task_attempts.py
  app/stardag-api/tests/test_task_interruptions.py
  app/stardag-api/tests/test_wakeups.py
  docs/design/README.md
  docs/design/immutable-dependency-declarations.md
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_immutable_declarations.py
  lib/stardag/src/stardag/build/_reactive/_discovery.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_concurrent.py
  lib/stardag/tests/test_build/test_reactive_discovery.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_build/test_wakeups.py
  lib/stardag/tests/test_integration/test_modal/test_live_detached_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_registry/test_start_claim.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Rebase onto main and chain the migration off the new head
  app/stardag-api/migrations/versions/20260914_000000_add_tasks_static_deps_declared.py
Due: pyright-stardag-api

Widen the last registration double, an inline closure the sweep missed
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
Due: pyright-stardag

A leaf must not quietly gain a dependency, and both engines must agree
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260914_000000_add_tasks_static_deps_declared.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/dependencies.py
  app/stardag-api/tests/test_immutable_declarations.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
Due: pyright-stardag, pyright-stardag-api

A claim held by this same execution is not somebody else's claim
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_claim_retry.py
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Count what was inserted, say how many statements, and assert the wait
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_concurrent_task_registration.py
Due: pyright-stardag-api

Say which starts this reaches, because it is not the one that matters most
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag

Cancel only the executions this build started, and actually stop them (#330)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/src/stardag_api/services/claims.py
  app/stardag-api/tests/test_cancel_authority.py
  app/stardag-api/tests/test_wakeups.py
  docs/design/execution-claims-and-liveness.md
  integration-tests/src/stardag_integration_tests/registry_live/_guard.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  integration-tests/tests_registry_live/test_cancel_authority.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
  lib/stardag/tests/test_build/test_registry_limiter.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Restore the blank line the conflict resolution ate
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
Due: pyright-integration-tests

A server-side rule cannot depend on the caller's SDK version
  CHANGELOG.md
  app/stardag-api/src/stardag_api/models/task_dependency.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/dependencies.py
  app/stardag-api/tests/test_immutable_declarations.py
  docs/design/immutable-dependency-declarations.md
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag, pyright-stardag-api

A refusal is not a failure, and warn mode must not swallow one
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

Lock the reload the immutability check now writes through
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/dependencies.py
  docs/design/immutable-dependency-declarations.md
Due: pyright-stardag-api

Bump vitest to 5, and register the jest-dom matchers the way vitest 5 wants
  app/stardag-ui/package-lock.json
  app/stardag-ui/package.json
  app/stardag-ui/src/test/setup.ts
Due: eslint-stardag-ui, tsc-stardag-ui

CONTRIBUTING: the UI's Node floor is 22, not 18
  CONTRIBUTING.md
Due: none

Say what the endpoint does now, and what the estimate actually claims
  app/stardag-api/src/stardag_api/routes/builds.py
Due: pyright-stardag-api

One order for creating tasks, whichever endpoint creates them
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_concurrent_task_registration.py
Due: pyright-stardag-api

Two more cycles, from the two writers this change had not reached
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_concurrent_task_registration.py
Due: pyright-stardag-api

Lock the edge's rows whether or not a phantom was needed
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_concurrent_task_registration.py
Due: pyright-stardag-api

Regenerate the lockfile with npm 11, and give the Node floor its real value
  CONTRIBUTING.md
  app/stardag-ui/package-lock.json
Due: none

CONTRIBUTING: 22.22.2, not 22.22
  CONTRIBUTING.md
Due: none

Bump vitest to 5, and register the jest-dom matchers the way vitest 5 wants (#345)
  CONTRIBUTING.md
  app/stardag-ui/package-lock.json
  app/stardag-ui/package.json
  app/stardag-ui/src/test/setup.ts
Due: eslint-stardag-ui, tsc-stardag-ui

One statement takes every row, because two acquisitions cannot be ordered
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_concurrent_task_registration.py
  app/stardag-api/tests/test_dependency_reconciliation.py
Due: pyright-stardag-api

One order for creating tasks, whichever endpoint creates them (#343)
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_concurrent_task_registration.py
  app/stardag-api/tests/test_dependency_reconciliation.py
Due: pyright-stardag-api

Say the whole identity everywhere it is stated
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_claim_retry.py
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag, pyright-stardag-api

A claim held by this same execution is not somebody else's claim (#344)
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_claim_retry.py
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag, pyright-stardag-api

Design note: scope-keyed dependency structure
  docs/design/README.md
  docs/design/scope-keyed-dependency-structure.md
Due: none

Registry: dependency edges keyed by structure scope, phantoms removed
  app/stardag-api/migrations/versions/20260919_005845_scope_keyed_dependency_edges_and_.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/models/deployment.py
  app/stardag-api/src/stardag_api/models/task_dependency.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/deployments.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/graph.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_claim_expiry.py
  app/stardag-api/tests/test_concurrent_task_registration.py
  app/stardag-api/tests/test_dependency_reconciliation.py
  app/stardag-api/tests/test_deployments.py
  app/stardag-api/tests/test_graph.py
  app/stardag-api/tests/test_scope.py
  app/stardag-api/tests/test_scope_migration.py
Due: pyright-stardag-api

UI: structure scope on builds, cross-scope edges, awaiting-reset tasks
  app/stardag-ui/src/api/deployments.ts
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/types/task.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Docs: three levels of significance, structure scope, versioned deployments
  .claude/skills/stardag/SKILL.md
  .claude/skills/stardag/examples.md
  .claude/skills/stardag/registry-and-platform.md
  .claude/skills/stardag/sdk-core.md
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/docs/concepts/build-execution.md
  docs/docs/concepts/modal-orchestration.md
  docs/docs/concepts/parameters.md
  docs/docs/how-to/integrate-modal.md
Due: none

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
