Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Fix modal >=1.4 import error: remove modal.gpu.GPU_T (#113)
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_import.py
Due: pyright-stardag

Add v0.5.4 changelog and release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Fix modal >=1.4 import error: remove modal.gpu.GPU_T (#114)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_import.py
Due: pyright-stardag

Add build_function and run_function params to StardagApp
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

generalize builder and runner (no-verify)
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag

Propagate Builder/Runner cleanup, fix teardown bug, update tests
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Make Builder/Runner robust for subclassing via _ModalCallable mixin
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag

Add comprehensive tests for Builder/Runner orchestration and subclassing
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Add E2E build test, fix Modal compat, add testing.modal package
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/testing/modal/__init__.py
  lib/stardag/src/stardag/testing/modal/_app.py
  lib/stardag/src/stardag/testing/modal/_tasks.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Make E2E test reproducible: delete targets before build, verify load
  lib/stardag/tests/test_integration/test_modal/test__app.py
Due: pyright-stardag

Add v0.5.5 changelog and release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Remove _ModalCallable, convert _prefect_build to PrefectBuilder
  CHANGELOG.md
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Allow BuildFunction to return BuildSummary | None
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag

Remove public exports from testing.modal — internal only
  lib/stardag/src/stardag/testing/modal/__init__.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
Due: pyright-stardag

Address PR review: propagate run results, handle None summary, fix docs
  RELEASE_NOTES.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/testing/modal/_app.py
Due: pyright-stardag

Add custom build_function and run_function to StardagApp (#115)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/testing/modal/__init__.py
  lib/stardag/src/stardag/testing/modal/_app.py
  lib/stardag/src/stardag/testing/modal/_tasks.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Default Polymorphic.on_generic_type_mismatch to warn; add env-var override
  CHANGELOG.md
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test__core/test_task_loads.py
Due: pyright-stardag

Promote changelog entry to 0.5.6 and add release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Tighten invalid-env-var test to assert ValidationError
  lib/stardag/tests/test__core/test_task_loads.py
Due: pyright-stardag

Default Polymorphic.on_generic_type_mismatch to warn; add env-var override (#117)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test__core/test_task_loads.py
Due: pyright-stardag

Support direct instantiation of generic task classes
  lib/stardag/src/stardag/_core/base_task.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test__core/test_task.py
  lib/stardag/tests/test_polymorphic.py
Due: pyright-stardag

Support TypeVar-bound PolymorphicRoot in SubClass field annotations
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test__core/test_task.py
Due: pyright-stardag

Cover nested TypeVar inside TaskLoads[LoadedValue[T]]
  lib/stardag/tests/test__core/test_task.py
Due: pyright-stardag

Drop pickle-transfer of generic type args
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test__core/test_task.py
Due: pyright-stardag

Add CHANGELOG + release notes for 0.5.7
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Address Copilot review: accurate wording + 3.10-compatible examples
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Support user-defined generic task classes (#116)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/_core/base_task.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test__core/test_task.py
  lib/stardag/tests/test_polymorphic.py
Due: pyright-stardag

Fix build_sequential to resolve yielded deps' requires() chain (#118)
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/utils/testing/dynamic_deps_dag.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

Register previously-completed tasks surfaced at runtime (PR #119 review)
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

Fix build_sequential resolving yielded deps' requires() chain (#118) (#119)
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/utils/testing/dynamic_deps_dag.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

Add async generator support for dynamic deps + Modal re-exec
  lib/stardag/src/stardag/_core/decorator.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/utils/testing/helper_tasks.py
  lib/stardag/tests/test__core/test_decorator.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

Add Modal tests + docstring fixes (PR #120 review)
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/testing/modal/_tasks.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
  lib/stardag/tests/test_integration/test_modal/test_runner.py
Due: pyright-stardag

Async generator support for dynamic deps + Modal re-exec (replaces #84) (#120)
  lib/stardag/src/stardag/_core/decorator.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/testing/modal/_tasks.py
  lib/stardag/src/stardag/utils/testing/helper_tasks.py
  lib/stardag/tests/test__core/test_decorator.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
  lib/stardag/tests/test_integration/test_modal/test_runner.py
Due: pyright-stardag

Draft v0.5.8 release notes and changelog
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

API: persist dynamic dep edges + is_dynamic flag
  app/stardag-api/migrations/versions/20260420_162610_add_is_dynamic_column_to_task_.py
  app/stardag-api/src/stardag_api/models/task_dependency.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/graph.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

SDK: record dynamic dep edges at runtime via task_add_dependencies
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag

UI: render dynamic dep edges in a distinct color
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/types/task.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Address PR #122 review: fix paths, spelling, missing imports
  RELEASE_NOTES.md
Due: none

Draft v0.5.8 release notes and changelog (#122)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Address PR #123 review (graph is_dynamic in groups, narrower 404, docs)
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/graph.py
  app/stardag-api/tests/test_graph.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api
