Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

fix(api): record callers that send no SDK header, and exempt /health/
  app/stardag-api/src/stardag_api/middleware/sdk_version.py
  app/stardag-api/src/stardag_api/sdk_compat.py
  app/stardag-api/tests/test_sdk_version.py
Due: pyright-stardag-api

test(api): pin the SDK-version contract, absence first
  app/stardag-api/tests/test_sdk_version.py
Due: pyright-stardag-api

test(e2e): follow the Home -> Builds nav rename in the browser tests
  integration-tests/tests/test_browser.py
  integration-tests/uv.lock
Due: pyright-integration-tests

fix(ui,e2e): give the DAG disclosure an accessible state, and assert it
  app/stardag-ui/src/components/BuildView.tsx
  integration-tests/tests/test_browser.py
Due: pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

feat(ui): filter builds by idleness server-side
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BuildsList.test.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/Modal.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

feat(ui): say what the idle filter actually selects
  app/stardag-ui/src/components/BuildsList.test.tsx
  app/stardag-ui/src/components/BuildsList.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

fix(ui): invalidate in-flight requests on every abandon path
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/BulkCancelDialog.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

refactor(ui): name the root view "Builds", not "Home"
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/Sidebar.test.tsx
  app/stardag-ui/src/components/Sidebar.tsx
  app/stardag-ui/src/context/EnvironmentContext.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

fix(ui): theme the native controls, and make dates and long durations readable
  app/stardag-ui/src/context/ThemeContext.tsx
  app/stardag-ui/src/utils/time.test.ts
  app/stardag-ui/src/utils/time.ts
Due: eslint-stardag-ui, tsc-stardag-ui

feat(ui): offer a claim-releasing cancel on the build view
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

feat(ui): builds table with staleness, filters and bulk cleanup (#208 B3/B5)
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BuildsList.test.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/BulkCancelDialog.tsx
  app/stardag-ui/src/components/ui/BulkActionBar.tsx
  app/stardag-ui/src/components/ui/Checkbox.test.tsx
  app/stardag-ui/src/components/ui/ConfirmDialog.tsx
  app/stardag-ui/src/hooks/useRowSelection.ts
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/time.ts
Due: eslint-stardag-ui, tsc-stardag-ui

feat(ui): shared primitives for selection, confirmation and results
  app/stardag-ui/src/components/Modal.tsx
  app/stardag-ui/src/components/ui/BulkActionBar.tsx
  app/stardag-ui/src/components/ui/Checkbox.test.tsx
  app/stardag-ui/src/components/ui/Checkbox.tsx
  app/stardag-ui/src/components/ui/ConfirmDialog.tsx
  app/stardag-ui/src/components/ui/ResultBanner.tsx
  app/stardag-ui/src/hooks/useRowSelection.ts
  app/stardag-ui/src/utils/time.ts
Due: eslint-stardag-ui, tsc-stardag-ui

feat(ui): frontier, tick-summary and claim-holder API surface
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/types/task.ts
Due: eslint-stardag-ui, tsc-stardag-ui

fix(ui): compact the stalled-build panel so the build view still fits
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/TickSummaryTrail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

docs(ui): correct two comments the compaction pass invalidated
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/utils/claims.ts
Due: eslint-stardag-ui, tsc-stardag-ui

fix(ui): only offer to release a claim the task is actually holding
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/ClaimTriage.test.tsx
  app/stardag-ui/src/components/ClaimTriage.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

feat(ui): claim triage in the task explorer (#208 B2/B5)
  app/stardag-ui/src/components/ClaimTriage.test.tsx
  app/stardag-ui/src/components/ClaimTriage.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

feat(ui): explain a stalled build on the build view (#208 B5)
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/ClaimActionDialog.tsx
  app/stardag-ui/src/components/TickSummaryTrail.tsx
  app/stardag-ui/src/utils/claims.ts
Due: eslint-stardag-ui, tsc-stardag-ui

feat(ui): name the claim holder on the task detail panel (#208 B5)
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

fix(ui): judge a claim release by the global status, not this build's
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/ClaimTriage.test.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

docs: record the UI surface in the changelog
  CHANGELOG.md
Due: none

docs: release notes and changelog for v0.18.0
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

fix(reactive): a task in this build's plan is this build's to run
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag, pyright-stardag-api

test(api): pin the dynamic-dependency deadlock as a strict xfail
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

fix(api): close a build's plan over every recorded dependency edge
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_graph.py
Due: pyright-stardag-api

fix(api): admit running upstreams too — closure runs once, RUNNING does not
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_claim_expiry.py
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  docs/design/execution-claims-and-liveness.md
  docs/docs/configuration/cli.md
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

docs: release notes describe the collaboration model, not the intermediate one
  RELEASE_NOTES.md
Due: none

fix(reactive): a cancel is a revocation, a failure is a result
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

docs,ui,cli: one remedy, chosen by status rather than by plan membership
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  docs/design/execution-claims-and-liveness.md
  docs/docs/configuration/cli.md
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test__cli/test_builds.py
Due: pyright-stardag, eslint-stardag-ui, tsc-stardag-ui

fix(reactive): punctuate the inert-blocker failure message
  lib/stardag/src/stardag/build/_reactive.py
Due: pyright-stardag

docs: changelog describes the shipped model, not the intermediate ones
  CHANGELOG.md
Due: none

Address review: dedupe the reset, name the owning build, label the columns
  app/stardag-api/src/stardag_api/routes/builds.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag, pyright-stardag-api

Remedies name the UI and the CLI, not the REST routes underneath
  docs/docs/configuration/cli.md
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

docs: closure runs once, so an out-of-plan blocker is still reachable
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  docs/design/execution-claims-and-liveness.md
  docs/docs/configuration/cli.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag, eslint-stardag-ui, tsc-stardag-ui

docs: `blocking_in_build = false` is reachable, not legacy-only
  CHANGELOG.md
Due: none

fix(ui): re-read the task after a claim action, and make forgetting a type error
  app/stardag-ui/src/components/ClaimTriage.tsx
  app/stardag-ui/src/components/ConcurrencyLimits.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

feat(api): report why a failed build failed, on the build itself
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag, pyright-stardag-api

Address review: guard the re-read on (environment, task), not task alone
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

fix(ui): a failed build says why
  app/stardag-ui/src/components/BuildFailureReason.test.tsx
  app/stardag-ui/src/components/BuildFailureReason.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/types/task.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Address review: deterministic ordering, no N+1 on a reasonless failure, one representation of "no reason"
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
  lib/stardag/src/stardag/_cli/builds.py
Due: pyright-stardag, pyright-stardag-api

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
