Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Task detail states the claim, and the dialog explains it
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/ClaimActionDialog.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Four review findings, one of them a permission hole
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Ask the build's own task list whether it holds a claim
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

The gate read fields that endpoint never sends, so it never fired
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

One signal was answering two questions that disagree
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

One name for the claim action, in one place
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/ClaimActionDialog.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/utils/claims.ts
Due: eslint-stardag-ui, tsc-stardag-ui

An unknown claim owner counts as ours
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

The gate's explanation still described the source it no longer reads
  app/stardag-ui/src/components/BuildOverrideSection.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

The line explaining the absent button described the wrong state
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

A claim with no recorded holder had no way to be released
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Point at Stop only where the stop list could act
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Treat an empty truncated stop scan as unknown, not none
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Pin that suspended keeps one claim action, not two
  app/stardag-ui/src/components/TaskDetail.test.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix two ways the cancel warning pointed at nothing
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Make the running-work warning name the command too
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Two verbs for cancel and stop, said the same way on both surfaces (#376)
  app/stardag-ui/src/components/BuildControlsDialog.test.tsx
  app/stardag-ui/src/components/BuildControlsDialog.tsx
  app/stardag-ui/src/components/BuildOverrideSection.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.test.tsx
  app/stardag-ui/src/components/BuildView.test.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/ClaimActionDialog.tsx
  app/stardag-ui/src/components/TaskDetail.test.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/utils/claims.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Start the v2 line: placeholder design and plan documents
  docs/design/README.md
  docs/design/registry-v2/design.md
  docs/design/registry-v2/plan.md
Due: none

Design: registry v2 core entities, plan and decisions log
  docs/design/README.md
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
  docs/design/registry-v2/plan.md
  docs/design/registry-v2/research/README.md
  docs/design/registry-v2/research/adjacent-issues.md
  docs/design/registry-v2/research/review-2026-09-23.md
  docs/design/registry-v2/research/v1-design-notes-and-invariants.md
  docs/design/registry-v2/research/v1-schema.md
  docs/design/registry-v2/research/v1-sdk.md
  docs/design/registry-v2/research/v1-server-logic.md
  docs/design/registry-v2/research/v1-ui.md
  docs/design/scope-keyed-dependency-structure.md
Due: none

Design: address the first Copilot round
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
  docs/design/registry-v2/plan.md
Due: none

Design: settle D1–D13 with the maintainer
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
  docs/design/registry-v2/plan.md
  docs/design/registry-v2/research/review-2026-09-23.md
Due: none

Design: address the second Copilot round
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
Due: none

decisions.md: repair the table (separator width, duplicated D11 cell)
  docs/design/registry-v2/decisions.md
Due: none

design.md: state the output/structure/execution rules separately
  docs/design/registry-v2/design.md
Due: none

design.md: a nested task enters the instance hash as its full body
  docs/design/registry-v2/design.md
Due: none

Design: address Copilot rounds three to five
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
  docs/design/registry-v2/plan.md
Due: none

Plan: methodology for the v2 line, and how scope is signalled to reviewers
  .github/PULL_REQUEST_TEMPLATE/v2.md
  .github/copilot-instructions.md
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
  docs/design/registry-v2/plan.md
Due: none

Design: address Copilot round six
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
Due: none

Design: registry v2 core entities (STA-105) (#379)
  .github/PULL_REQUEST_TEMPLATE/v2.md
  .github/copilot-instructions.md
  docs/design/README.md
  docs/design/registry-v2/decisions.md
  docs/design/registry-v2/design.md
  docs/design/registry-v2/plan.md
  docs/design/registry-v2/research/README.md
  docs/design/registry-v2/research/adjacent-issues.md
  docs/design/registry-v2/research/review-2026-09-23.md
  docs/design/registry-v2/research/v1-design-notes-and-invariants.md
  docs/design/registry-v2/research/v1-schema.md
  docs/design/registry-v2/research/v1-sdk.md
  docs/design/registry-v2/research/v1-server-logic.md
  docs/design/registry-v2/research/v1-ui.md
  docs/design/scope-keyed-dependency-structure.md
Due: none

Registry v2: core models and the migration that replaces v1's
  app/stardag-api/migrations/versions/20260924_004916_registry_v2_core_schema.py
  app/stardag-api/src/stardag_api/limits.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/base.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/models/build_tick_summary.py
  app/stardag-api/src/stardag_api/models/concurrency_limit.py
  app/stardag-api/src/stardag_api/models/deployment.py
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/models/event.py
  app/stardag-api/src/stardag_api/models/execution.py
  app/stardag-api/src/stardag_api/models/lock.py
  app/stardag-api/src/stardag_api/models/plan.py
  app/stardag-api/src/stardag_api/models/settings.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/models/task_artifact.py
  app/stardag-api/src/stardag_api/models/task_dependency.py
  app/stardag-api/src/stardag_api/models/task_instance.py
Due: pyright-stardag-api

SDK v2 core: StardagField(significant), two hashes, stability check
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/_core/base_task.py
  lib/stardag/src/stardag/_core/hashable_set.py
  lib/stardag/src/stardag/_core/instance.py
  lib/stardag/src/stardag/_core/rehydrate.py
  lib/stardag/src/stardag/_core/task_id.py
  lib/stardag/src/stardag/base_model.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive/_discovery.py
  lib/stardag/src/stardag/build/_task_modules.py
  lib/stardag/src/stardag/build_config.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test__core/test_base_task.py
  lib/stardag/tests/test__core/test_hashable_set.py
  lib/stardag/tests/test__core/test_instance.py
  lib/stardag/tests/test__core/test_task_loads.py
  lib/stardag/tests/test_base_model.py
  lib/stardag/tests/test_build/test_build_config_context.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_build/test_scope.py
  lib/stardag/tests/test_build/test_task_modules.py
  lib/stardag/tests/test_build_config.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
  lib/stardag/tests/test_integration/test_modal/test_runner.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

Plan: I6 in progress, hashing and field layer done
  docs/design/registry-v2/plan.md
Due: none

Registry v2: the API suite runs on Postgres, and only there
  .github/workflows/ci.yml
  app/stardag-api/migrations/versions/20260807_233150_add_tasks_latest_status_expires_at_.py
  app/stardag-api/migrations/versions/20260924_004916_registry_v2_core_schema.py
  app/stardag-api/pyproject.toml
  app/stardag-api/src/stardag_api/db/__init__.py
  app/stardag-api/src/stardag_api/models/base.py
  app/stardag-api/src/stardag_api/models/event.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_migrations.py
  app/stardag-api/tests/test_v2_schema_constraints.py
  app/stardag-api/uv.lock
  tox.ini
Due: pyright-stardag-api

plan.md: Linear issue ids, and I0 step 1 done
  docs/design/registry-v2/plan.md
Due: none

tox: keep the Postgres-only API test envs out of envlist
  tox.ini
Due: none

Registry v2: the static path's invariant tests, before the services
  app/stardag-api/src/stardag_api/schemas_v2.py
  app/stardag-api/src/stardag_api/services/errors.py
  app/stardag-api/src/stardag_api/services/frontier.py
  app/stardag-api/src/stardag_api/services/registration.py
  app/stardag-api/src/stardag_api/services/transitions.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_v2_frontier.py
  app/stardag-api/tests/test_v2_registration.py
  app/stardag-api/tests/test_v2_transitions.py
  app/stardag-api/tests/v2_support.py
Due: pyright-stardag-api

Canonical set order at every nesting level, with a tie-break
  lib/stardag/src/stardag/_core/hashable_set.py
  lib/stardag/src/stardag/_core/task_id.py
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test__core/test_instance.py
Due: pyright-stardag

Instance-conflict guard in every discovery walk, naming both paths
  lib/stardag/src/stardag/_core/instance.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive/_discovery.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/tests/test_build/test_instance_conflict.py
Due: pyright-stardag

Registry-live harness: compile against the v2 SDK
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_structure_scope_dynamic.py
  integration-tests/tests_registry_live/test_structure_scope_static.py
Due: pyright-integration-tests

Registry v2: the registration service for the static path
  app/stardag-api/src/stardag_api/services/event_log.py
  app/stardag-api/src/stardag_api/services/frontier.py
  app/stardag-api/src/stardag_api/services/plans.py
  app/stardag-api/src/stardag_api/services/registration.py
  app/stardag-api/src/stardag_api/services/registration_chunk.py
  app/stardag-api/tests/test_v2_registration.py
  app/stardag-api/tests/v2_support.py
Due: pyright-stardag-api
