Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Address review: trim the presence check
  app/stardag-ui/src/components/BuildFailureReason.test.tsx
  app/stardag-ui/src/components/BuildFailureReason.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

docs: changelog covers the three UI-review fixes
  CHANGELOG.md
Due: none

docs: release date is the day it ships, not the day it was drafted
  CHANGELOG.md
Due: none

docs: the registry ships four migrations, not three
  RELEASE_NOTES.md
Due: none

feat(examples): declare task_modules on the Modal example apps
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag-examples/src/stardag_examples/modal/ml_pipeline/app.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/app.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Slim the task_modules comment; drop it from the prefect example
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag-examples/src/stardag_examples/modal/ml_pipeline/app.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/app.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
Due: pyright-stardag-examples

fix(ui): stop telling a build it needs intervention after its work is done
  app/stardag-ui/src/components/BuildFailureReason.test.tsx
  app/stardag-ui/src/components/BuildFailureReason.tsx
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/utils/claims.test.ts
  app/stardag-ui/src/utils/claims.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Format the test file prettier had not seen
  app/stardag-ui/src/components/BuildFailureReason.test.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Address review: exclude cancelled builds, and fix a comment that drifted
  app/stardag-ui/src/utils/claims.test.ts
  app/stardag-ui/src/utils/claims.ts
Due: eslint-stardag-ui, tsc-stardag-ui

refactor(modal): split the 3.6k-line _app.py into cohesive modules
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_bootstrap.py
  lib/stardag/src/stardag/integration/modal/_builder.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/integration/modal/_logging.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_profile.py
  lib/stardag/src/stardag/integration/modal/_protocols.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_selector.py
  lib/stardag/src/stardag/integration/modal/_settings.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/integration/modal/_volumes.py
  lib/stardag/tests/test_integration/test_modal/conftest.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
  lib/stardag/tests/test_integration/test_modal/test_detached_executor.py
  lib/stardag/tests/test_integration/test_modal/test_env_overrides.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
  lib/stardag/tests/test_integration/test_modal/test_live_claim_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_live_detached_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_runner.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Address review: name the bootstrap's patterns, and say what the drivers return
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_bootstrap.py
  lib/stardag/src/stardag/integration/modal/_runner.py
Due: pyright-stardag

fix(modal): don't swallow StopAsyncIteration from the async driver's loop body
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/tests/test_integration/test_modal/test_runner.py
Due: pyright-stardag

Validate search filter keys and sort fields
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/tests/test_search.py
Due: pyright-stardag-api

Validate path segments with a charset test, not a regex
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/tests/test_search.py
Due: pyright-stardag-api

Create the auth storage-state file with mkstemp, not mktemp
  integration-tests/tests/conftest.py
Due: pyright-integration-tests

Prepare server image 0.1.2 (search SQL injection fix)
  CHANGELOG.md
  lib/stardag/src/stardag/selfhost/_modal_app.py
Due: pyright-stardag

Changelog: link the published GHSA id for the search fix
  CHANGELOG.md
Due: none

Changelog: clarify the breach is metadata, not task output
  CHANGELOG.md
Due: none

Changelog: severity is 7.7 High (was 6.5); scope is cross-tenant
  CHANGELOG.md
Due: none

Default Cognito self-signup to off; make it opt-in
  infra/aws-cdk/.env.deploy.example
  infra/aws-cdk/README.md
  infra/aws-cdk/lib/config.ts
  infra/aws-cdk/lib/constructs/cognito.ts
  infra/aws-cdk/lib/foundation-stack.ts
  infra/aws-cdk/lib/stardag-stack.ts
  infra/aws-cdk/test/stardag.test.ts
Due: none

feat: a platform interruption is not a failure (#245)
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/__init__.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_task_interruptions.py
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskFilters.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/claims.ts
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

feat(modal): the worker says what ended its execution (#245)
  CHANGELOG.md
  app/stardag-ui/src/utils/claims.ts
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_settings.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_integration/test_modal/test_live_semantics.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
Due: pyright-stardag, eslint-stardag-ui, tsc-stardag-ui

Address review: do not name a timeout the worker does not know
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
Due: pyright-stardag

Format: one-line signature, per the pinned ruff
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
Due: pyright-stardag

Raise stardag-api security floors on transitive deps
  app/stardag-api/pyproject.toml
  app/stardag-api/uv.lock
Due: none

npm audit fix for stardag-ui dev/build tooling
  app/stardag-ui/package-lock.json
Due: none

Docs: the exceptions reference and the skill bundle knew nothing about this
  .claude/skills/stardag/SKILL.md
  .claude/skills/stardag/sdk-advanced.md
  docs/docs/reference/exceptions.md
Due: none

Bump aws-cdk-lib 2.215 -> 2.264 (handlebars critical + CDK tooling CVEs)
  infra/aws-cdk/package-lock.json
  infra/aws-cdk/package.json
Due: none

Drop the blank line the conflict resolution left in CHANGELOG
  CHANGELOG.md
Due: none

Relock dev Python envs to patched versions; add dependabot.yml
  .github/dependabot.yml
  docs/uv.lock
  integration-tests/uv.lock
  lib/stardag-examples/standalone/stardag-modal/uv.lock
  lib/stardag-examples/uv.lock
  lib/stardag/uv.lock
Due: none

fix: route an interruption by what can still recover it, and resume by default
  .claude/skills/stardag/sdk-advanced.md
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
Due: pyright-stardag

refactor: the task decides whether it is resumable, not configuration
  .claude/skills/stardag/SKILL.md
  .claude/skills/stardag/sdk-advanced.md
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_settings.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_live_semantics.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
Due: pyright-stardag

fix: three ways an interrupted task could be stranded (review findings)
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_search.py
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/TaskExplorerTable.tsx
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

fix: cancel on a fresh frontier, and re-probe only what is being waited on
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag, pyright-stardag-api

Replace python-jose with PyJWT for token auth
  app/stardag-api/pyproject.toml
  app/stardag-api/src/stardag_api/auth/jwt.py
  app/stardag-api/src/stardag_api/auth/tokens.py
  app/stardag-api/tests/test_auth.py
  app/stardag-api/uv.lock
Due: pyright-stardag-api

Correct two comments that live data contradicted
  app/stardag-api/src/stardag_api/services/status.py
  lib/stardag/src/stardag/integration/modal/_runner.py
Due: pyright-stardag, pyright-stardag-api

feat: a task can survive preemption and function timeouts (closes #245) (#250)
  .claude/skills/stardag/SKILL.md
  .claude/skills/stardag/sdk-advanced.md
  CHANGELOG.md
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/__init__.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_search.py
  app/stardag-api/tests/test_task_interruptions.py
  app/stardag-ui/src/components/BuildSchedulingPanel.tsx
  app/stardag-ui/src/components/StatusBadge.tsx
  app/stardag-ui/src/components/TaskExplorerTable.tsx
  app/stardag-ui/src/components/TaskFilters.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/claims.ts
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/integration/modal/_metadata.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_settings.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_live_semantics.py
  lib/stardag/tests/test_integration/test_modal/test_runner_interruptions.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Address review: map malformed-JWK errors to 401; document aud-skip
  app/stardag-api/src/stardag_api/auth/jwt.py
  app/stardag-api/tests/test_auth.py
Due: pyright-stardag-api

fix(docs): the checkpoint recipe needs TargetTask, not Task
  .claude/skills/stardag/sdk-advanced.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
  lib/stardag/src/stardag/exceptions.py
Due: pyright-stardag

fix(docs): the checkpoint recipe needs TargetTask, not Task (#266)
  .claude/skills/stardag/sdk-advanced.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/reference/exceptions.md
  lib/stardag/src/stardag/exceptions.py
Due: pyright-stardag
