Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

fix too dark active navigation title color
  docs/docs/stylesheets/extra.css
Due: none

completes the class-api section
  docs/docs/concepts/decorator-vs-class-api.md
  docs/docs/getting-started/class-api.md
  docs/docs/getting-started/first-dag.md
  docs/docs/getting-started/registry-ui.md
  docs/docs/stylesheets/extra.css
  docs/mkdocs.yml
Due: none

updates docs realted to configuration (outdated org and workspace references), removes depreceated funbction in config.py
  CONFIGURATION_GUIDE.md
  docs/docs/configuration/cli.md
  docs/docs/configuration/environments.md
  docs/docs/configuration/index.md
  docs/docs/configuration/profiles.md
  docs/docs/configuration/workspaces.md
  docs/mkdocs.yml
  docs/uv.lock
  lib/stardag/src/stardag/config.py
Due: pyright-stardag

Navigate to home page when switching workspaces
  app/stardag-ui/src/context/EnvironmentContext.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Improve onboarding UX and add notification badge
  app/stardag-api/tests/test_workspaces.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/OnboardingModal.tsx
  app/stardag-ui/src/components/PendingInvites.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

rename FileSystemTarget.path to .uri for clarity
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/src/stardag/target/_in_memory.py
  lib/stardag/src/stardag/target/serialize.py
  lib/stardag/tests/test__core/test_alias_task.py
  lib/stardag/tests/test__core/test_auto_task.py
  lib/stardag/tests/test__core/test_decorator.py
  lib/stardag/tests/test__core/test_task.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_conftest.py
  lib/stardag/tests/test_integration/test_modal/test__target.py
  lib/stardag/tests/test_target/test__base.py
Due: pyright-stardag

completes top level index file
  docs/docs/index.md
Due: none

docs fixes cont.
  docs/conftest.py
  docs/docs/concepts/dependencies.md
  docs/docs/concepts/parameters.md
  docs/docs/how-to/configure-storage.md
  docs/docs/how-to/define-tasks.md
  docs/docs/how-to/index.md
  docs/mkdocs.yml
Due: none

fix left over typo fix prefixt_to_target_prototype
  conftest.py
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag-examples/tests/conftest.py
Due: pyright-stardag-examples

uv sync in docs and add defualt python interpreter in docs codespace
  docs/uv.lock
  stardag.code-workspace
Due: none

claude update configuration and platform docs
  docs/docs/configuration/cli.md
  docs/docs/configuration/environments.md
  docs/docs/configuration/index.md
  docs/docs/configuration/profiles.md
  docs/docs/platform/api.md
  docs/docs/platform/index.md
  docs/docs/platform/self-hosting.md
  docs/docs/platform/ui.md
Due: none

Improve user onboarding: auto-create personal workspace on signup
  app/stardag-api/migrations/versions/20260119_200340_add_is_personal_to_workspace.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/ui.py
  app/stardag-api/src/stardag_api/routes/workspaces.py
  app/stardag-api/tests/test_workspaces.py
  app/stardag-ui/src/api/workspaces.ts
  app/stardag-ui/src/components/CreateWorkspace.tsx
  app/stardag-ui/src/components/OnboardingModal.tsx
  docs/docs/getting-started/registry-ui.md
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/tests/test_target/test__base.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

poc of pytest-codeblock (failing)
  docs/conftest.py
  docs/docs/concepts/build-execution.md
  docs/pyproject.toml
  docs/uv.lock
Due: none

fix serialization of AliasTask loads type, fix missnamed name_space in TaskMetadata
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test__core/test_alias_task.py
  lib/stardag/tests/test__core/test_task.py
Due: pyright-stardag, pyright-stardag-api

first draft of hosted docs, a lot to cleanup and some remaining TODOs
  .github/workflows/docs.yml
  .gitignore
  .pre-commit-config.yaml
  docs/README.md
  docs/docs/concepts/build-execution.md
  docs/docs/concepts/dependencies.md
  docs/docs/concepts/index.md
  docs/docs/concepts/parameter-hashing.md
  docs/docs/concepts/targets.md
  docs/docs/concepts/tasks.md
  docs/docs/configuration/cli.md
  docs/docs/configuration/index.md
  docs/docs/configuration/profiles.md
  docs/docs/configuration/workspaces.md
  docs/docs/getting-started/first-dag.md
  docs/docs/getting-started/index.md
  docs/docs/getting-started/installation.md
  docs/docs/getting-started/quickstart.md
  docs/docs/how-to/configure-storage.md
  docs/docs/how-to/define-tasks.md
  docs/docs/how-to/index.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/integrate-prefect.md
  docs/docs/how-to/use-api-registry.md
  docs/docs/index.md
  docs/docs/platform/api.md
  docs/docs/platform/index.md
  docs/docs/platform/self-hosting.md
  docs/docs/platform/ui.md
  docs/docs/reference/api.md
  docs/docs/reference/exceptions.md
  docs/docs/reference/index.md
  docs/mkdocs.yml
  docs/pyproject.toml
  docs/uv.lock
  lib/stardag/src/stardag/__init__.py
  stardag.code-workspace
Due: pyright-stardag

completes first-dag.md
  docs/conftest.py
  docs/docs/getting-started/first-dag.md
Due: none

rename Home -> Stardag
  docs/mkdocs.yml
Due: none

rename LocalTarget._path -> path
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/src/stardag/target/_base.py
Due: pyright-stardag

cleanup/tweaks + complete core concepts draft
  docs/docs/concepts/index.md
  docs/docs/getting-started/class-api.md
  docs/docs/getting-started/first-dag.md
  docs/docs/getting-started/quickstart.md
  docs/docs/getting-started/registry-ui.md
  docs/docs/index.md
  docs/mkdocs.yml
Due: none

adds AliasTask.from_registry classmethod and TODOs for API implementation
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag

fix typo in target factory name
  lib/stardag/conftest.py
  lib/stardag/src/stardag/_core/decorator.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/src/stardag/utils/testing/__init__.py
  lib/stardag/tests/conftest.py
  lib/stardag/tests/test_conftest.py
Due: pyright-stardag

fix api test
  app/stardag-api/tests/test_tasks.py
Due: pyright-stardag-api

Fix spelling, grammar, and outdated links in docs
  docs/README.md
  docs/docs/concepts/asyncio.md
  docs/docs/concepts/build-execution.md
  docs/docs/concepts/dependencies.md
  docs/docs/concepts/index.md
  docs/docs/concepts/parameters.md
  docs/docs/concepts/targets.md
  docs/docs/concepts/tasks.md
  docs/docs/getting-started/class-api.md
  docs/docs/getting-started/index.md
  docs/docs/getting-started/registry-ui.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/integrate-prefect.md
  docs/docs/platform/self-hosting.md
  docs/docs/reference/exceptions.md
  docs/docs/reference/index.md
  docs/mkdocs.yml
Due: none

complete draft up to build and execution
  docs/docs/concepts/asyncio.md
  docs/docs/concepts/build-execution.md
  docs/docs/concepts/dependencies.md
  docs/docs/concepts/parameters.md
  docs/docs/concepts/tasks.md
Due: none

class-api section fixes
  docs/docs/getting-started/class-api.md
Due: none

Add workspace creation limit (3 per user)
  app/stardag-ui/src/components/CreateWorkspace.tsx
  app/stardag-ui/src/components/OnboardingModal.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

adds output_uri to task registry
  app/stardag-api/migrations/versions/20260116_142453_add_output_uri_to_tasks.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_tasks.py
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/hooks/useTasks.ts
  app/stardag-ui/src/types/task.ts
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

move out registry asset from core
  lib/stardag-examples/src/stardag_examples/registry_assets_demo.py
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/registry_asset.py
  lib/stardag/tests/test_registry_asset.py
Due: pyright-stardag, pyright-stardag-examples

adds markdown-docs, updates examples and fix for circular imports (expose alias task from top level
  docs/pyproject.toml
  docs/uv.lock
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_core/__init__.py
  lib/stardag/src/stardag/_core/alias_task.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/src/stardag/utils/resource_provider.py
  lib/stardag/tests/test__core/test_alias_task.py
  lib/stardag/tests/test_build/__init__.py
  lib/stardag/tests/test_integration/__init__.py
  lib/stardag/tests/test_integration/test_prefect/__init__.py
  lib/stardag/uv.lock
  tox.ini
Due: pyright-stardag

adds TaskBase.from_registry
  lib/stardag/src/stardag/_core/task.py
Due: pyright-stardag

draft of use registry ui page
  docs/docs/getting-started/registry-ui.md
Due: none

makes docs build and adds basic styling
  docs/docs/assets/favicon.svg
  docs/docs/assets/icon.svg
  docs/docs/assets/logo.svg
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/integrate-prefect.md
  docs/docs/how-to/use-api-registry.md
  docs/docs/platform/api.md
  docs/docs/reference/api.md
  docs/docs/stylesheets/extra.css
  docs/mkdocs.yml
Due: none

adds validation that loaded type is passed
  lib/stardag/src/stardag/_core/alias_task.py
Due: pyright-stardag

complete rough cleanup
  docs/docs/getting-started/first-dag.md
  docs/docs/how-to/configure-storage.md
  docs/docs/how-to/define-tasks.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/integrate-prefect.md
  docs/docs/how-to/use-api-registry.md
Due: none

Improve workspace creation wizard with multi-step flow
  app/stardag-ui/src/components/CreateWorkspace.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

compeltes getting started: installation and quick start
  docs/README.md
  docs/docs/getting-started/installation.md
  docs/docs/getting-started/quickstart.md
  docs/docs/index.md
Due: none

adds disclaimer + cleanup
  docs/docs/getting-started/index.md
  docs/docs/getting-started/registry-ui.md
  docs/docs/index.md
  docs/mkdocs.yml
Due: none

document task core contract and targets intro
  docs/docs/concepts/index.md
  docs/docs/concepts/tasks.md
  docs/mkdocs.yml
Due: none

Fix invite acceptance for users with personal workspaces
  app/stardag-api/tests/test_workspaces.py
  app/stardag-ui/src/api/client.ts
  app/stardag-ui/src/api/workspaces.ts
  app/stardag-ui/src/components/WorkspaceSelector.tsx
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

adds USER_GUIDE.md to docs tests (as a poc) and breaks out fixtures (todo some duplication)
  USER_GUIDE.md
  conftest.py
  lib/stardag/conftest.py
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/_core/alias_task.py
Due: pyright-stardag
