Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Fix CLI issues: conditional modal import and auto token refresh
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/config.py
Due: pyright-stardag

examples cleanup WIP, trying to amake prefect pass
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/app.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/main.py
  lib/stardag-examples/src/stardag_examples/prefect/README.md
  lib/stardag-examples/src/stardag_examples/prefect/main.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Use httpx-retries for HTTP client retry logic
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/uv.lock
Due: pyright-stardag

modal prefect examples also runs
  lib/stardag-examples/src/stardag_examples/ml_pipeline/README.md
  lib/stardag-examples/src/stardag_examples/modal/prefect/app.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/main.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

examples structure
  docs/uv.lock
  lib/stardag-examples/src/stardag_examples/api_registry_demo.py
  lib/stardag-examples/src/stardag_examples/composability.py
  lib/stardag-examples/src/stardag_examples/general/registry_assets_demo.py
  lib/stardag-examples/src/stardag_examples/general/task_api_three_levels.py
Due: pyright-stardag-examples

Fix pyright error: use config_provider.clear() instead of reset()
  integration-tests/tests/test_full_flow.py
  integration-tests/uv.lock
Due: pyright-integration-tests

Add documentation for stardag-examples and How-To guides
  docs/docs/how-to/index.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/integrate-prefect.md
  docs/docs/how-to/ml-pipeline-example.md
  docs/mkdocs.yml
  lib/stardag-examples/README.md
  lib/stardag-examples/src/stardag_examples/general/README.md
  lib/stardag-examples/src/stardag_examples/ml_pipeline/README.md
  lib/stardag-examples/src/stardag_examples/modal/README.md
  lib/stardag-examples/src/stardag_examples/prefect/README.md
Due: none

use testing util for temp dir target root in integration tests
  integration-tests/tests/test_full_flow.py
  lib/stardag/conftest.py
  lib/stardag/src/stardag/testing/__init__.py
  lib/stardag/src/stardag/testing/_env.py
  lib/stardag/src/stardag/utils/testing/__init__.py
  lib/stardag/tests/conftest.py
Due: pyright-stardag, pyright-integration-tests

adds backe namespace to utils testing tasks
  lib/stardag/src/stardag/utils/testing/__init__.py
Due: pyright-stardag

temp target roots for integration test take 2
  integration-tests/tests/test_full_flow.py
Due: pyright-integration-tests

Update How-To guides with verified code examples and tabs
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/integrate-prefect.md
  docs/docs/how-to/ml-pipeline-example.md
Due: none

several docs fixes, including many files touched for (bash -> sh)
  docs/README.md
  docs/docs/concepts/targets.md
  docs/docs/configuration/cli.md
  docs/docs/configuration/environments.md
  docs/docs/configuration/index.md
  docs/docs/configuration/profiles.md
  docs/docs/getting-started/installation.md
  docs/docs/getting-started/registry-ui.md
  docs/docs/how-to/configure-storage.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/integrate-prefect.md
  docs/docs/how-to/ml-pipeline-example.md
  docs/docs/how-to/use-api-registry.md
  docs/docs/platform/api.md
  docs/docs/platform/self-hosting.md
Due: none

Make prefect build modules private, add sync wrapper and align interface
  docs/docs/how-to/integrate-prefect.md
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag-examples/src/stardag_examples/prefect/main.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/prefect/__init__.py
  lib/stardag/src/stardag/integration/prefect/_build.py
  lib/stardag/src/stardag/integration/prefect/_utils.py
  lib/stardag/src/stardag/integration/prefect/utils.py
  lib/stardag/tests/test_integration/test_prefect/test_build.py
Due: pyright-stardag, pyright-stardag-examples

Fix typos and grammar in integrate-prefect.md
  docs/docs/how-to/integrate-prefect.md
  lib/stardag-examples/src/stardag_examples/prefect/main.py
Due: pyright-stardag-examples

upgrade deps
  lib/stardag/uv.lock
Due: none

adds standalone stardag-modal example, corresponding docs WIP
  docs/README.md
  docs/docs/configuration/environments.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/integrate-prefect.md
  lib/stardag-examples/standalone/stardag-modal/README.md
  lib/stardag-examples/standalone/stardag-modal/pyproject.toml
  lib/stardag-examples/standalone/stardag-modal/stardag_modal/__init__.py
  lib/stardag-examples/standalone/stardag-modal/stardag_modal/main.py
  lib/stardag-examples/standalone/stardag-modal/uv.lock
Due: pyright-stardag-examples

Add CLI commands for environment and target-root management
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/_helpers.py
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/env.py
Due: pyright-stardag

Make profile add options optional with interactive selection
  lib/stardag/src/stardag/_cli/auth.py
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/credentials.py
Due: pyright-stardag

Add `stardag modal stardag-api-key create` command
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/modal.py
Due: pyright-stardag

Fix volume creation on deploy and return metadata from finalize
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag

completes rough version of modal examples, fix old target_root (singular) in env vars references
  docs/docs/concepts/targets.md
  docs/docs/configuration/cli.md
  docs/docs/configuration/index.md
  docs/docs/how-to/configure-storage.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/integrate-prefect.md
  docs/docs/reference/exceptions.md
  lib/stardag-examples/standalone/stardag-modal/stardag_modal/main.py
Due: pyright-stardag-examples

docs cleanup
  docs/README.md
  docs/docs/how-to/integrate-modal.md
  docs/docs/how-to/integrate-prefect.md
  docs/docs/how-to/ml-pipeline-example.md
Due: none

Address PR review: fix pip_install splat, client leak, compat shim, dev deps
  lib/stardag-examples/src/stardag_examples/modal/prefect/app.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/integration/modal/_config.py
  lib/stardag/src/stardag/utils/testing/env.py
Due: pyright-stardag, pyright-stardag-examples

Make registry URL default to None (no registry) instead of localhost
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/config.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

add TODOs for updating install method in modal examples
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag-examples/src/stardag_examples/modal/ml_pipeline/app.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/app.py
  lib/stardag-examples/standalone/stardag-modal/stardag_modal/main.py
Due: pyright-stardag-examples

Fix pydantic-settings crash on Python 3.14 with dict fields
  lib/stardag/src/stardag/config.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

Move target_roots parsing out of pydantic-settings: Instead of relying on env_nested_delimiter
  lib/stardag/src/stardag/config.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

Rename CLI command `stardag env` to `stardag environment`
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/environment.py
Due: pyright-stardag

uv sync --upgrade stardag and stardag-examples
  lib/stardag-examples/uv.lock
  lib/stardag/uv.lock
Due: none

Rename CLI command `stardag env` to `stardag environment` (#66)
  docs/docs/how-to/integrate-modal.md
  lib/stardag-examples/uv.lock
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/environment.py
  lib/stardag/uv.lock
Due: pyright-stardag

updated modal examples for image build logic, uv sync --upgrade stardag-examples + open python version
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag-examples/src/stardag_examples/modal/ml_pipeline/app.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/app.py
  lib/stardag-examples/standalone/stardag-modal/pyproject.toml
  lib/stardag-examples/standalone/stardag-modal/stardag_modal/main.py
  lib/stardag-examples/standalone/stardag-modal/uv.lock
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Fix: unset default profile when removing it
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/credentials.py
Due: pyright-stardag

Auto-sync target roots cache on add/remove, remove config target-roots
  docs/docs/configuration/cli.md
  docs/docs/configuration/environments.md
  docs/docs/how-to/use-api-registry.md
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/environment.py
Due: pyright-stardag

Use PyPI stardag in stardag-examples by default
  lib/stardag-examples/pyproject.toml
  lib/stardag-examples/uv.lock
Due: none

Use local Python version for Modal image builds
  docs/docs/how-to/integrate-modal.md
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag-examples/src/stardag_examples/modal/ml_pipeline/app.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/app.py
  lib/stardag-examples/standalone/stardag-modal/stardag_modal/main.py
Due: pyright-stardag-examples

set lower python to 3.12 in standalone example
  docs/docs/how-to/integrate-modal.md
  lib/stardag-examples/standalone/stardag-modal/pyproject.toml
  lib/stardag-examples/uv.lock
Due: none

Show workspace/environment slugs in modal deploy output
  lib/stardag/src/stardag/_cli/modal.py
Due: pyright-stardag

Show workspace/environment slugs in config show output
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/modal.py
Due: pyright-stardag

Fix Modal volume iterdir: use recursive=False and modern exceptions
  lib/stardag/src/stardag/integration/modal/_target.py
Due: pyright-stardag
