Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Server release: GHCR visibility checklist; release UI dist extracted from image
  .github/workflows/publish-server-image.yml
  DEV_README.md
Due: none

api: primary workspace/environment bootstrap (AUTH_PRIMARY_WORKSPACE_*)
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/services/local_auth.py
  app/stardag-api/tests/test_primary_workspace.py
Due: pyright-stardag-api

cli: self-host complete setup - dedicated Modal env, workspace mapping, connect
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/_selfhost_connect.py
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/src/stardag/selfhost/_modal_app.py
  lib/stardag/tests/test_selfhost/test_cli_config.py
  lib/stardag/tests/test_selfhost/test_complete_setup.py
Due: pyright-stardag

docs: self-host complete setup - quickstart, flags reference, connect flow
  .claude/skills/stardag/registry-and-platform.md
  CHANGELOG.md
  docs/docs/how-to/self-host-modal.md
Due: none

api: harden primary-workspace bootstrap - no foreign adoption, race-safe
  app/stardag-api/src/stardag_api/services/local_auth.py
  app/stardag-api/tests/test_primary_workspace.py
Due: pyright-stardag-api

cli: connect rotates the API key and degrades gracefully on key failures
  lib/stardag/src/stardag/_cli/_selfhost_connect.py
  lib/stardag/tests/test_selfhost/test_complete_setup.py
Due: pyright-stardag

selfhost: match the image's Python to the client interpreter
  DEV_README.md
  docs/docs/how-to/self-host-modal.md
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/src/stardag/selfhost/_modal_app.py
  lib/stardag/tests/test_selfhost/test_image_source.py
Due: pyright-stardag

selfhost: polish default names, target-root URI, and summary docs link
  .claude/skills/stardag/registry-and-platform.md
  CHANGELOG.md
  docs/docs/how-to/self-host-modal.md
  lib/stardag/src/stardag/_cli/_selfhost_connect.py
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/src/stardag/selfhost/_modal_app.py
  lib/stardag/tests/test_selfhost/test_complete_setup.py
Due: pyright-stardag

self-host: volume-per-(workspace,environment) default target root
  .claude/skills/stardag/registry-and-platform.md
  CHANGELOG.md
  docs/docs/how-to/self-host-modal.md
  lib/stardag/src/stardag/_cli/_selfhost_connect.py
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/tests/test_selfhost/test_complete_setup.py
Due: pyright-stardag

CDK/ECS API image: stamp STARDAG_SERVER_VERSION (git-describe)
  app/stardag-api/Dockerfile
  infra/aws-cdk/README.md
  infra/aws-cdk/scripts/deploy-api.sh
Due: none

ui: don't prefix 'v' on non-numeric server versions (no more 'vdev')
  app/stardag-ui/src/components/ServerVersionFooter.test.tsx
  app/stardag-ui/src/components/ServerVersionFooter.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Release v0.15.0: self-host on Modal + local auth mode
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

self-host prebuilt: deploy Modal functions by-reference (#196)
  CHANGELOG.md
  DEV_README.md
  docs/docs/how-to/self-host-modal.md
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/src/stardag/selfhost/_modal_app.py
  lib/stardag/src/stardag/selfhost/_modal_entry.py
  lib/stardag/tests/test_selfhost/test_image_source.py
Due: pyright-stardag

Release v0.16.0: by-reference prebuilt deploy + default server-v0.1.1
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/selfhost/_modal_app.py
Due: pyright-stardag

fix(self-host): shared workspace named after Modal workspace + API-key secret safety
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/docs/how-to/self-host-modal.md
  lib/stardag/src/stardag/_cli/_selfhost_connect.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/_cli/selfhost.py
  lib/stardag/tests/test_selfhost/test_complete_setup.py
Due: pyright-stardag

Add PEP 561 `py.typed` marker so consumers get stardag's types
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/py.typed
Due: none

Document the py.typed marker for the 0.17.0 release
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

fix(reactive): scope the watchdog sweep server-side and fail trigger cleanly
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

fix(api): surface externally-blocked tasks in the build frontier (#208 A1)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

fix(api): make `suspended` recoverable via task retry (#208 A2)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

fix(reactive): don't fail a re-trigger's build when the resume itself fails
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

perf(api): compute blocked_by_external only when the build looks stalled
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

docs(design): note on execution claims and liveness
  docs/design/README.md
  docs/design/execution-claims-and-liveness.md
Due: none

feat(api): persist reactive scheduler tick summaries per build
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260807_205110_add_build_tick_summaries.py
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/build_tick_summary.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/tick_summaries.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_tick_summaries.py
Due: pyright-stardag-api

fix(reactive): keep the unscoped sweep reachable, and match the remedy to the scope
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

fix(reactive): require an explicit task_modules declaration to elide pickles
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

feat(reactive): warn at trigger time about task classes task_modules doesn't cover (#208 B1(ii))
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

docs(reactive): document task_modules, the pattern grammar, and the import-hot caveat
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
Due: none

feat(reactive): declare task modules so scheduler ticks can register task classes (#208 B1(i))
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/build/_task_modules.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_task_modules.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

feat(reactive): skip build-task-store pickles a scheduler tick doesn't need (#208 B1(iii))
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

fix(reactive): don't let declaration state leak, and drop the frame reference
  lib/stardag/src/stardag/build/_task_modules.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_build/test_task_modules.py
Due: pyright-stardag

fix(reactive): let a re-trigger reset an abandoned suspended task (#208 A2)
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

fix(reactive): ask whether a blocker's owning build is still live (#208 A1)
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

docs(reactive): document cross-build blocking and the recovery path
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
Due: none

fix(reactive): wait for cross-build blockers instead of failing the build (#208 A1)
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

feat(registry): model the frontier's external-blocker fields (#208 A1)
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_base.py
Due: pyright-stardag

fix(reactive): give the unowned-blocker case a remedy it can actually follow
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

refactor(cli): share registry-client acquisition, add a duration grammar
  lib/stardag/src/stardag/_cli/_duration.py
  lib/stardag/src/stardag/_cli/_registry_ctx.py
  lib/stardag/src/stardag/_cli/limits.py
  lib/stardag/tests/test__cli/test_duration.py
  lib/stardag/tests/test__cli/test_limits.py
  lib/stardag/tests/test__cli/test_registry_ctx.py
Due: pyright-stardag

feat(registry): SDK client for the build/task operational endpoints (#208 B2/B3/B4)
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

feat(cli): stardag tasks — list claim holders, cancel, retry (#208 B2/B4)
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/tasks.py
  lib/stardag/tests/test__cli/test_tasks.py
Due: pyright-stardag
