Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

Split dependabot groups so one bad major cannot block the safe updates
  .github/dependabot.yml
Due: none

Give the scheduler lease its own home on the build row (#291)
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260830_190000_add_builds_scheduler_lease.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_wakeups.py
  integration-tests/tests_registry_live/test_scheduler_lease_live.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_wakeups.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Review: keep uv's own message when a lock check fails
  scripts/check-uv-locks.sh
Due: none

Review: frozen sync, deny Modal credentials, and set workflow permissions
  .github/workflows/ci.yml
Due: none

Review: keep the npm PR cap at 10 across the split, not 20
  .github/dependabot.yml
Due: none

Server release 0.3.0: version bump and changelog entry
  CHANGELOG.md
  lib/stardag/src/stardag/selfhost/_modal_app.py
Due: pyright-stardag

Address Copilot: consistent route placeholder and column prefixes
  CHANGELOG.md
Due: none

BuildTaskStore: async variants, used by the scheduler tick's task loading
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_task_store.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
Due: pyright-stardag

Address Copilot: it is one endpoint plus the lease routes, not two endpoints
  CHANGELOG.md
Due: none

A corrupt or stale task-store pickle reads as a miss, not a raise
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/tests/test_build/test_task_store.py
Due: pyright-stardag

Server release 0.3.0: version bump and changelog entry (#303)
  CHANGELOG.md
  lib/stardag/src/stardag/selfhost/_modal_app.py
Due: pyright-stardag

BuildTaskStore: async variants, used by the scheduler tick's task loading (#302)
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_task_store.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
Due: pyright-stardag

Split build/_reactive.py along its existing seams
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/build/_reactive/__init__.py
  lib/stardag/src/stardag/build/_reactive/_budgets.py
  lib/stardag/src/stardag/build/_reactive/_discovery.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_reactive_budgets.py
  lib/stardag/tests/test_build/test_reactive_discovery.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_build/test_wakeups.py
Due: pyright-stardag

Stop the blocked frontend majors squatting the UI PR budget
  .github/dependabot.yml
Due: none

The lease live-test patches the timing knobs where they now live
  integration-tests/tests_registry_live/test_scheduler_lease_live.py
Due: pyright-integration-tests

Skip the Modal jobs on runs that get no secrets, not just on forks
  .github/workflows/modal-live.yml
Due: none

Point the dependabot skip at the label that overrides it
  .github/workflows/modal-live.yml
Due: none

Split build/_reactive.py along its existing seams (#305)
  integration-tests/tests_registry_live/test_scheduler_lease_live.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/build/_reactive/__init__.py
  lib/stardag/src/stardag/build/_reactive/_budgets.py
  lib/stardag/src/stardag/build/_reactive/_discovery.py
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_reactive_budgets.py
  lib/stardag/tests/test_build/test_reactive_discovery.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
  lib/stardag/tests/test_build/test_reactive_tick.py
  lib/stardag/tests/test_build/test_wakeups.py
Due: pyright-stardag, pyright-integration-tests

Review: drop the cross-reference to a private path from a public file
  .github/dependabot.yml
Due: none

Work against modal's renamed FileEntryType and FunctionInfo
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/tests/test_selfhost/test_image_source.py
Due: pyright-stardag

Make require_pickle_free bind the tick, not just the trigger
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_bootstrap.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_build/test_task_store.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Review: narrow the modal.types fallback to ModuleNotFoundError
  lib/stardag/src/stardag/integration/modal/_target.py
  lib/stardag/tests/test_selfhost/test_image_source.py
Due: pyright-stardag

Make require_pickle_free bind the tick, not just the trigger (#320)
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive/_frontier_actions.py
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_bootstrap.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_frontier_actions.py
  lib/stardag/tests/test_build/test_task_store.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Cover the remaining reactive behaviour in the registry-live tier
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_deployed.py
  integration-tests/src/stardag_integration_tests/registry_live/_events.py
  integration-tests/src/stardag_integration_tests/registry_live/_scenario_app.py
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/src/stardag_integration_tests/registry_live/dag_app.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/src/stardag_integration_tests/registry_live/watchdog_app.py
  integration-tests/tests_registry_live/test_cross_build_wake.py
  integration-tests/tests_registry_live/test_failed_blocker.py
  integration-tests/tests_registry_live/test_limit_slot_wake.py
  integration-tests/tests_registry_live/test_suspended_blocker.py
  integration-tests/tests_registry_live/test_wake_storm.py
  integration-tests/tests_registry_live/test_watchdog_sweep.py
  integration-tests/tests_registry_live/test_wide_fan_out.py
  tox.ini
Due: pyright-integration-tests

Address the review: assertions that could misfire or quietly weaken
  integration-tests/src/stardag_integration_tests/registry_live/_events.py
  integration-tests/src/stardag_integration_tests/registry_live/_scenario_app.py
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/tests_registry_live/test_failed_blocker.py
  integration-tests/tests_registry_live/test_limit_slot_wake.py
  integration-tests/tests_registry_live/test_suspended_blocker.py
  integration-tests/tests_registry_live/test_wake_storm.py
  integration-tests/tests_registry_live/test_wide_fan_out.py
Due: pyright-integration-tests

Cover the remaining reactive behaviour in the registry-live tier (#322)
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_deployed.py
  integration-tests/src/stardag_integration_tests/registry_live/_events.py
  integration-tests/src/stardag_integration_tests/registry_live/_scenario_app.py
  integration-tests/src/stardag_integration_tests/registry_live/_wait.py
  integration-tests/src/stardag_integration_tests/registry_live/dag_app.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/src/stardag_integration_tests/registry_live/watchdog_app.py
  integration-tests/tests_registry_live/test_cross_build_wake.py
  integration-tests/tests_registry_live/test_failed_blocker.py
  integration-tests/tests_registry_live/test_limit_slot_wake.py
  integration-tests/tests_registry_live/test_suspended_blocker.py
  integration-tests/tests_registry_live/test_wake_storm.py
  integration-tests/tests_registry_live/test_watchdog_sweep.py
  integration-tests/tests_registry_live/test_wide_fan_out.py
  tox.ini
Due: pyright-integration-tests

Review: let the rendezvous deadlock, rather than time out into the assertions
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

Make the Modal-environment race guard ask, instead of matching prose
  .github/workflows/modal-live.yml
Due: none

Rebase onto main; address the second Copilot pass
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Review: refuse a target without a max, and keep the watchdog unpacked
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_settings.py
  lib/stardag/tests/test_integration/test_modal/test__settings.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

STA-25: ticks share a container — async tick, concurrent inputs
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_settings.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
  lib/stardag/tests/test_integration/test_modal/test__settings.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

Address Copilot review: skip guard on the new settings module, and assert the joins
  lib/stardag/tests/test_integration/test_modal/test__settings.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

Treat an already-stopped app as nothing to stop, not as a failure
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
Due: pyright-integration-tests

Review: close the shared client on the loop that owns it
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

Ticks share a container: async tick, concurrent inputs by default (#321)
  .github/workflows/modal-live.yml
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  lib/stardag/src/stardag/build/_reactive/_tick.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_settings.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_integration/test_modal/test__app.py
  lib/stardag/tests/test_integration/test_modal/test__settings.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-integration-tests

Changelog and release notes for v0.23.0
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Review: spell out the scheduler-lease method names in full
  RELEASE_NOTES.md
Due: none

Fold #321 into the release; tick packing leads it
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Review: the intro's count has to match the sections
  RELEASE_NOTES.md
Due: none

Review: say what the code does about input concurrency
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none
