Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Registry-backed named concurrency limits for reactive scheduling (flattened) (#158)
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260712_082223_add_concurrency_limit_tables.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/concurrency_limit.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-api

Docs: execution model concepts page + skill bundle update (flattened)
  .claude/skills/stardag/registry-and-platform.md
  .claude/skills/stardag/sdk-advanced.md
  docs/docs/concepts/build-execution.md
Due: none

Docs: execution model concepts page + skill bundle update (flattened) (#159)
  .claude/skills/stardag/registry-and-platform.md
  .claude/skills/stardag/sdk-advanced.md
  docs/docs/concepts/build-execution.md
Due: none

Reactive scheduling: skip tasks transitively blocked by failures (flattened)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag, pyright-stardag-api

Review fixes: batch-aware quota check + precise old-server 404 handling
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag, pyright-stardag-api

Review fixes: cancel records TASK_CANCELLED; skip closure fidelity
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag, pyright-stardag-api

Reactive scheduling: skip tasks transitively blocked by failures (#160)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag, pyright-stardag-api

Pickle-free task rehydration from registry data (flattened)
  .claude/skills/stardag/SKILL.md
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_core/rehydrate.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test__core/test_rehydrate.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

Pickle-free task rehydration from registry data (flattened) (#162)
  .claude/skills/stardag/SKILL.md
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_core/rehydrate.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test__core/test_rehydrate.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

Registry-backed concurrency limiter for resident builds (flattened)
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_registry_limiter.py
  lib/stardag/tests/test_build/test_registry_limiter.py
Due: pyright-stardag

Registry-backed concurrency limiter for resident builds (flattened) (#163)
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/__init__.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_registry_limiter.py
  lib/stardag/tests/test_build/test_registry_limiter.py
Due: pyright-stardag

Reactive builds are owned by their triggering app (flattened)
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Review fix: foreign-app test asserts the registry is never touched
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Review fixes: foreign ticks forward to the owner app; handoff docs
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Reactive builds are owned by their triggering app (#164)
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Executor metadata + concurrency-limits admin API
  .claude/skills/stardag/registry-and-platform.md
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260713_124358_add_executor_metadata_columns.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_detached.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_registry_limiter.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_integration/test_modal/conftest.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_executor_metadata.py
Due: pyright-stardag, pyright-stardag-api

Review fix: cache failed Modal workspace lookups
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/conftest.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
Due: pyright-stardag

Review follow-ups: admin-gated limit writes, evict wake-up + honest docs, acquire-start metadata, size cap
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/tests/test_builds.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
Due: pyright-stardag, pyright-stardag-api

Executor metadata + concurrency-limits admin API (#165)
  .claude/skills/stardag/registry-and-platform.md
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260713_124358_add_executor_metadata_columns.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_detached.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_registry_limiter.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_integration/test_modal/conftest.py
  lib/stardag/tests/test_integration/test_modal/test_executor_metadata.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
  lib/stardag/tests/test_registry/test_executor_metadata.py
Due: pyright-stardag, pyright-stardag-api

UI: Modal execution surfacing + concurrency-limits admin
  CHANGELOG.md
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/concurrencyLimits.test.ts
  app/stardag-ui/src/api/concurrencyLimits.ts
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/ConcurrencyLimits.test.tsx
  app/stardag-ui/src/components/ConcurrencyLimits.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/ExecutorBadge.test.tsx
  app/stardag-ui/src/components/ExecutorBadge.tsx
  app/stardag-ui/src/components/Sidebar.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/components/TaskExplorerTable.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/components/TaskTable.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/modalLinks.test.ts
  app/stardag-ui/src/utils/modalLinks.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Review fix: drop stale async responses in ConcurrencyLimits
  app/stardag-ui/src/components/ConcurrencyLimits.test.tsx
  app/stardag-ui/src/components/ConcurrencyLimits.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Review fixes: admin-only limit mutations, stale counts, evict warning
  app/stardag-ui/src/components/ConcurrencyLimits.test.tsx
  app/stardag-ui/src/components/ConcurrencyLimits.tsx
  app/stardag-ui/src/components/ExecutorBadge.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

UI: Modal execution surfacing + concurrency-limits admin (#166)
  CHANGELOG.md
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/concurrencyLimits.test.ts
  app/stardag-ui/src/api/concurrencyLimits.ts
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/ConcurrencyLimits.test.tsx
  app/stardag-ui/src/components/ConcurrencyLimits.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/ExecutorBadge.test.tsx
  app/stardag-ui/src/components/ExecutorBadge.tsx
  app/stardag-ui/src/components/Sidebar.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/components/TaskExplorerTable.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/components/TaskTable.tsx
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/modalLinks.test.ts
  app/stardag-ui/src/utils/modalLinks.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Release notes and changelog for v0.10.0
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/build/_reactive.py
Due: pyright-stardag

Examples: full Modal integration walkthrough (detached, reactive, limits)
  lib/stardag-examples/src/stardag_examples/modal/README.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/__init__.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/configure_limits.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/main.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/tasks.py
  lib/stardag-examples/tests/test_modal/__init__.py
  lib/stardag-examples/tests/test_modal/test_walkthrough.py
Due: pyright-stardag-examples

Review fixes: reactive-aware --wait; deterministic test gating
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/main.py
  lib/stardag-examples/tests/test_modal/test_walkthrough.py
Due: pyright-stardag-examples

Review fixes: /api/v1 route prefixes, code-span rendering, upgrade wording
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

CI: build stardag-examples against local stardag until v0.10.0 publishes
  tox.ini
Due: none

Release notes and changelog for v0.10.0 (#167)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/build/_reactive.py
Due: pyright-stardag

Examples: pin stardag 0.10.0, revert temporary editable-install switch
  lib/stardag-examples/uv.lock
  tox.ini
Due: none

Examples: full Modal integration walkthrough (detached, reactive, limits) (#168)
  lib/stardag-examples/src/stardag_examples/modal/README.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/__init__.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/configure_limits.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/main.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/tasks.py
  lib/stardag-examples/tests/test_modal/__init__.py
  lib/stardag-examples/tests/test_modal/test_walkthrough.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Fix ResourceProvider serialization: re-initialize lazily in new processes
  lib/stardag-examples/uv.lock
  lib/stardag/src/stardag/utils/resource_provider.py
  lib/stardag/tests/test_resource_provider.py
Due: pyright-stardag

Fix walkthrough crash-loop: move selectors to an importable module
  docs/docs/how-to/integrate-modal.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/configure_limits.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/selectors.py
  lib/stardag-examples/tests/test_modal/test_walkthrough.py
Due: pyright-stardag-examples

Verification setup: local stardag on image + clean lockfile
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Fix ResourceProvider serialization: re-initialize lazily in new processes
  lib/stardag/src/stardag/utils/resource_provider.py
  lib/stardag/tests/test_resource_provider.py
Due: pyright-stardag

Give workers the registry secret (they self-report lifecycle now)
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
Due: pyright-stardag-examples

StardagApp: propagate builder secrets to workers + tick/watchdog
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag, pyright-stardag-examples

Also propagate builder secrets to workers + tick/watchdog
  CHANGELOG.md
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Make the reactive build store write-once (fixes re-trigger / add-roots)
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_build/test_task_store.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Also make the reactive build store write-once (re-trigger fix)
  CHANGELOG.md
  lib/stardag/src/stardag/build/_task_store.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_build/test_task_store.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
