Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

remove outdated/commented poc code
  lib/stardag/src/stardag/base_model.py
Due: pyright-stardag

refactor cleanup, all tests pass
  lib/stardag/src/stardag/_auto_task.py
  lib/stardag/src/stardag/_decorator.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/src/stardag/utils/testing/namepace.py
  lib/stardag/src/stardag/utils/testing/simple_dag.py
Due: pyright-stardag

fix STARDAG_TARGET_ROOT singular legacy
  USER_GUIDE.md
  integration-tests/tests/test_full_flow.py
  integration-tests/uv.lock
  lib/stardag-examples/src/stardag_examples/modal/README.md
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/app.py
  lib/stardag/src/stardag/_decorator.py
  lib/stardag/src/stardag/config.py
  lib/stardag/tests/test_integration/test_modal/test__target.py
  scripts/e2e-test.sh
Due: pyright-stardag, pyright-stardag-examples

Fixed combining of StardagBaseModel and PolymorphicRoot, good draft of new Task bases
  lib/stardag/src/stardag/_task.py
  lib/stardag/src/stardag/base_model.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_base_model.py
  lib/stardag/tests/test_polymorphic.py
  lib/stardag/tests/test_task.py
  lib/stardag/tests/test_task_old.py
Due: pyright-stardag

improve test
  lib/stardag/tests/test_polymorphic.py
Due: pyright-stardag

upgrade modal and fix tests
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/__init__.py
  lib/stardag/tests/test_integration/test_modal/test__target.py
  lib/stardag/uv.lock
Due: pyright-stardag

removes previous poc
  lib/stardag/src/stardag/taskv2.py
Due: pyright-stardag

upgrade ruff
  .pre-commit-config.yaml
  integration-tests/tests/test_full_flow.py
  lib/stardag/src/stardag/_auto_task.py
  lib/stardag/src/stardag/target/serialize.py
  lib/stardag/src/stardag/utils/testing/generic.py
  lib/stardag/tests/test_hashable_set.py
  lib/stardag/tests/test_polymorphic.py
  lib/stardag/tests/test_task.py
Due: pyright-stardag

adds tests for generic type mismatch
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_task_loads.py
Due: pyright-stardag

polymorphic draft, smoketest pass
  lib/stardag/src/stardag/base_model.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_polymorphic.py
Due: pyright-stardag

imporve error message for __type_name__
  lib/stardag/src/stardag/polymorphic.py
Due: pyright-stardag

PoC runtime validation of types
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_task_loads.py
Due: pyright-stardag

fix generic arg check for TaskLoads vs AutoTask
  lib/stardag/src/stardag/_auto_task.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_task_loads.py
Due: pyright-stardag

fix set cls.__type_id__
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_polymorphic.py
Due: pyright-stardag

extends TaskLoads tests
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_task_loads.py
Due: pyright-stardag

makes task id UUIDv5
  lib/stardag/src/stardag/_task.py
  lib/stardag/src/stardag/_task_id.py
  lib/stardag/tests/test_task.py
Due: pyright-stardag

WIP exploration
  lib/stardag/src/stardag/_base_model.py
  lib/stardag/src/stardag/taskv2.py
  lib/stardag/uv.lock
Due: pyright-stardag

adds test for PolymorphicRoot is Generic itself
  lib/stardag/tests/test_polymorphic.py
Due: pyright-stardag

adds tests for auto task
  lib/stardag/src/stardag/_auto_task.py
  lib/stardag/tests/test_auto_task.py
Due: pyright-stardag

fix type id keys on top
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/src/stardag/utils/testing/simple_dag.py
Due: pyright-stardag

fix nest task as id
  lib/stardag/src/stardag/_task.py
  lib/stardag/src/stardag/base_model.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_task.py
Due: pyright-stardag

fix examples
  lib/stardag-examples/src/stardag_examples/modal/basic/app.py
  lib/stardag-examples/src/stardag_examples/modal/basic/main.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/app.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/main.py
  lib/stardag-examples/uv.lock
Due: pyright-stardag-examples

Fix hashable set logic (and rename TaskBase -> BaseTask)
  lib/stardag/src/stardag/_hashable_set.py
  lib/stardag/src/stardag/_task.py
  lib/stardag/src/stardag/_task_id.py
  lib/stardag/tests/test_hashable_set.py
  lib/stardag/tests/test_task.py
Due: pyright-stardag

fix skip register generics
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_polymorphic.py
Due: pyright-stardag

fix error msg matching for py311
  lib/stardag/tests/test_task.py
Due: pyright-stardag

fix TaskLoads short
  lib/stardag/src/stardag/_target_base.py
  lib/stardag/src/stardag/_task.py
  lib/stardag/src/stardag/_task_loads.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/src/stardag/utils/testing/generic.py
  lib/stardag/tests/test_task.py
  lib/stardag/tests/test_task_loads.py
Due: pyright-stardag

Polymorphic docs
  lib/stardag/src/stardag/polymorphic.py
Due: pyright-stardag

adds serialization roundtrip to test of id
  lib/stardag/tests/test_task.py
Due: pyright-stardag

clean up type name and namespace keys, go for more specific and aligned
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/tests/test_polymorphic.py
Due: pyright-stardag

adds working StardagBaseModel and StardagField
  lib/stardag/src/stardag/base_model.py
  lib/stardag/tests/test_base_model.py
Due: pyright-stardag

WIP propagate refactor
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_auto_task.py
  lib/stardag/src/stardag/_base.py
  lib/stardag/src/stardag/_decorator.py
  lib/stardag/src/stardag/_parameter.py
  lib/stardag/src/stardag/_task.py
  lib/stardag/src/stardag/_task_parameter.py
  lib/stardag/src/stardag/build/api_registry.py
  lib/stardag/src/stardag/build/registry.py
  lib/stardag/src/stardag/build/sequential.py
  lib/stardag/src/stardag/build/task_runner.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/prefect/build.py
  lib/stardag/src/stardag/target/__init__.py
  lib/stardag/src/stardag/target/_base.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/src/stardag/utils/testing/__init__.py
  lib/stardag/src/stardag/utils/testing/dynamic_deps_dag.py
  lib/stardag/src/stardag/utils/testing/namepace.py
  lib/stardag/src/stardag/utils/testing/simple_dag.py
  lib/stardag/tests/test_decorator.py
  lib/stardag/tests/test_task.py
  lib/stardag/tests/test_task_old.py
  lib/stardag/tests/test_task_parameter.py
Due: pyright-stardag

fix handling of complex types in HashableSet
  lib/stardag/src/stardag/_hashable_set.py
  lib/stardag/tests/test_hashable_set.py
Due: pyright-stardag

essentially complete migration of new task
  .claude/tasks/task-module-migration.md
  README.md
  USER_GUIDE.md
  app/stardag-api/migrations/versions/20260104_120000_rename_task_family_to_name.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskFilters.tsx
  app/stardag-ui/src/components/TaskTable.tsx
  app/stardag-ui/src/hooks/useTasks.ts
  app/stardag-ui/src/types/task.ts
  integration-tests/tests/test_full_flow.py
  lib/stardag-examples/src/stardag_examples/api_registry_demo.py
  lib/stardag-examples/src/stardag_examples/composability.py
  lib/stardag-examples/src/stardag_examples/ml_pipeline/README.md
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag-examples/src/stardag_examples/modal/README.md
  lib/stardag-examples/src/stardag_examples/modal/basic/task.py
  lib/stardag-examples/src/stardag_examples/modal/prefect/main.py
  lib/stardag-examples/src/stardag_examples/task_api_three_levels.py
  lib/stardag/src/stardag/_auto_task.py
  lib/stardag/src/stardag/_decorator.py
  lib/stardag/src/stardag/_task.py
  lib/stardag/src/stardag/build/api_registry.py
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/polymorphic.py
  lib/stardag/src/stardag/utils/testing/namepace.py
  lib/stardag/src/stardag/utils/testing/simple_dag.py
  lib/stardag/tests/test_auto_task.py
  lib/stardag/tests/test_polymorphic.py
  lib/stardag/tests/test_task.py
Due: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

removes duplicate old _base_model.py
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_base_model.py
Due: pyright-stardag

Move tasks/ to stardag-cloud repo
  .claude/CLAUDE.md
  .claude/tasks/README.md
  .claude/tasks/migrate-poetry-to-uv.md
  .claude/tasks/registry-service/auth.md
  .claude/tasks/registry-service/aws-deployment.md
  .claude/tasks/registry-service/config-and-auth-cleanup-take-two.md
  .claude/tasks/registry-service/config-and-auth-cleanup.md
  .claude/tasks/registry-service/db-schemas.md
  .claude/tasks/registry-service/integration-tests.md
  .claude/tasks/registry-service/main_and_mvp.md
  .claude/tasks/registry-service/mvp_cleanup.md
  .claude/tasks/task-module-migration.md
Due: none

removes claude settings
  .claude/draft-settings.md
  .claude/settings.json
Due: none

fix(infra): add --all flag to cdk deploy command
  infra/aws-cdk/scripts/deploy-infra.sh
Due: none

fix(infra): support CI credentials in deploy scripts
  infra/aws-cdk/scripts/deploy-api.sh
  infra/aws-cdk/scripts/deploy-infra.sh
  infra/aws-cdk/scripts/deploy-ui.sh
  infra/aws-cdk/scripts/run-migrations.sh
Due: none

fix(infra): correct ECR export name in run-migrations.sh
  infra/aws-cdk/scripts/run-migrations.sh
Due: none

Fix migration database_url and deploy order
  app/stardag-api/migrations/env.py
  infra/aws-cdk/scripts/deploy-all.sh
  infra/aws-cdk/scripts/deploy-api.sh
  infra/aws-cdk/scripts/update-api-service.sh
Due: pyright-stardag-api

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
