Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Add stardag_load_validator attribute-based discovery escape hatch
  docs/docs/concepts/validation.md
  lib/stardag/src/stardag/_core/validate.py
  lib/stardag/tests/test__core/test_validate.py
Due: pyright-stardag

Address PR review: fix docstring imports and mkdocstrings path
  docs/docs/concepts/validation.md
  lib/stardag/src/stardag/_core/validate.py
Due: pyright-stardag

Add LoadValidator for automatic validation on Task save/load (#105)
  docs/docs/concepts/validation.md
  docs/mkdocs.yml
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_core/task.py
  lib/stardag/src/stardag/_core/validate.py
  lib/stardag/tests/test__core/test_validate.py
Due: pyright-stardag

Add v0.5.0 release notes and changelog
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Update skill bundle for v0.5.0 changes
  .claude/skills/stardag/SKILL.md
  .claude/skills/stardag/registry-and-platform.md
  .claude/skills/stardag/sdk-advanced.md
  .claude/skills/stardag/sdk-core.md
  .claude/skills/stardag/sdk-targets.md
Due: none

Add v0.5.0 release notes and changelog (#106)
  .claude/skills/stardag/SKILL.md
  .claude/skills/stardag/registry-and-platform.md
  .claude/skills/stardag/sdk-advanced.md
  .claude/skills/stardag/sdk-core.md
  .claude/skills/stardag/sdk-targets.md
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Auto-default version field to __version__ via model_validator
  .claude/skills/stardag/sdk-core.md
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag/src/stardag/_core/base_task.py
  lib/stardag/tests/test__core/test_base_task.py
Due: pyright-stardag, pyright-stardag-examples

Auto-default version field to __version__ via model_validator (#107)
  .claude/skills/stardag/sdk-core.md
  lib/stardag-examples/src/stardag_examples/ml_pipeline/class_api.py
  lib/stardag/src/stardag/_core/base_task.py
  lib/stardag/tests/test__core/test_base_task.py
Due: pyright-stardag, pyright-stardag-examples

Add v0.5.1 release notes
  RELEASE_NOTES.md
Due: none

Add v0.5.1 release notes (#108)
  RELEASE_NOTES.md
Due: none

Improve DAG view rendering for long task names and preserve manual layout
  app/stardag-ui/src/components/BatchNode.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/TaskNode.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Share DAG position cache across fullscreen toggle
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/components/dagLayout.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Fix position cache not syncing when exiting fullscreen
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Persist layout direction across fullscreen toggle
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Address PR review comments
  app/stardag-ui/src/components/BatchNode.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/components/dagLayout.ts
Due: eslint-stardag-ui, tsc-stardag-ui

Clean up DagGraph: extract LayoutToggle, deduplicate node dims, extract edge colors
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/LayoutToggle.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Refactor DagGraph: extract buildGraphNodes and buildGraphEdges
  app/stardag-ui/src/components/DagGraph.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Improve DAG view for long task names and preserve manual layout (#109)
  app/stardag-ui/src/components/BatchNode.tsx
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/LayoutToggle.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/components/dagLayout.ts
Due: eslint-stardag-ui, tsc-stardag-ui

adds draft of support for setting default factory
  lib/stardag/src/stardag/utils/resource_provider.py
Due: pyright-stardag

Refactor config.py into config/ package
  lib/stardag/src/stardag/config.py
  lib/stardag/src/stardag/config/__init__.py
  lib/stardag/src/stardag/config/cache.py
  lib/stardag/src/stardag/config/io.py
  lib/stardag/src/stardag/config/loader.py
  lib/stardag/src/stardag/config/models.py
  lib/stardag/src/stardag/config/paths.py
Due: pyright-stardag

Restructure StardagConfig with canonical RegistryConfig and STARDAG_NO_REGISTRY
  lib/stardag/src/stardag/_cli/_helpers.py
  lib/stardag/src/stardag/_cli/auth.py
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/credentials.py
  lib/stardag/src/stardag/_cli/environment.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/config/__init__.py
  lib/stardag/src/stardag/config/loader.py
  lib/stardag/src/stardag/config/models.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

Add auto-refresh JWT tokens via httpx.Auth in APIRegistry
  lib/stardag/src/stardag/config/loader.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_auth.py
  lib/stardag/tests/test_registry/__init__.py
  lib/stardag/tests/test_registry/test_auth.py
Due: pyright-stardag

Clean up _cli/credentials.py and _cli/auth.py: delegate to registry._auth
  lib/stardag/src/stardag/_cli/auth.py
  lib/stardag/src/stardag/_cli/credentials.py
Due: pyright-stardag

Add comprehensive unit tests for auth refresh logic
  lib/stardag/tests/test_registry/test_auth.py
Due: pyright-stardag

Address PR review feedback and fix CI integration test failure
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/config/loader.py
  lib/stardag/src/stardag/config/models.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_auth.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/src/stardag/registry/_lock.py
  lib/stardag/tests/test_registry/test_auth.py
Due: pyright-stardag

Decouple token auth from ConfigContext.registry_name
  lib/stardag/src/stardag/config/__init__.py
  lib/stardag/src/stardag/config/paths.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_auth.py
  lib/stardag/src/stardag/registry/_http_client.py
Due: pyright-stardag

Remove duplicate api_key field from StardagConfig
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/config/loader.py
  lib/stardag/src/stardag/config/models.py
Due: pyright-stardag

Delete deprecated APIConfig, ContextConfig classes and DEFAULT_API_URL
  lib/stardag/src/stardag/config/__init__.py
  lib/stardag/src/stardag/config/models.py
  lib/stardag/src/stardag/config/paths.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

Merge StardagConfigWithContext into StardagConfig
  lib/stardag/src/stardag/_cli/_helpers.py
  lib/stardag/src/stardag/_cli/auth.py
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/credentials.py
  lib/stardag/src/stardag/_cli/environment.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/config/__init__.py
  lib/stardag/src/stardag/config/loader.py
  lib/stardag/src/stardag/config/models.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

Trim config public API, clean up imports, inline TomlRegistryEntry
  lib/stardag/src/stardag/_cli/_helpers.py
  lib/stardag/src/stardag/_cli/auth.py
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/credentials.py
  lib/stardag/src/stardag/_cli/environment.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/config/__init__.py
  lib/stardag/src/stardag/config/loader.py
  lib/stardag/src/stardag/config/models.py
  lib/stardag/src/stardag/registry/_auth.py
  lib/stardag/tests/test__cli/test_config.py
  lib/stardag/tests/test__cli/test_registry.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

Move mid-function imports to module level in registry/_auth.py
  lib/stardag/src/stardag/registry/_auth.py
Due: pyright-stardag

Add v0.5.2 release notes and changelog
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Fix changelog accuracy and add missing unit tests
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/tests/test_registry/test_auth.py
Due: pyright-stardag

Clean up config and add auth token auto-refresh (#111)
  CHANGELOG.md
  RELEASE_NOTES.md
  lib/stardag/src/stardag/_cli/_helpers.py
  lib/stardag/src/stardag/_cli/auth.py
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/credentials.py
  lib/stardag/src/stardag/_cli/environment.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/config.py
  lib/stardag/src/stardag/config/__init__.py
  lib/stardag/src/stardag/config/cache.py
  lib/stardag/src/stardag/config/io.py
  lib/stardag/src/stardag/config/loader.py
  lib/stardag/src/stardag/config/models.py
  lib/stardag/src/stardag/config/paths.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_auth.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/src/stardag/registry/_lock.py
  lib/stardag/src/stardag/utils/resource_provider.py
  lib/stardag/tests/test__cli/test_config.py
  lib/stardag/tests/test__cli/test_registry.py
  lib/stardag/tests/test_config.py
  lib/stardag/tests/test_registry/__init__.py
  lib/stardag/tests/test_registry/test_auth.py
Due: pyright-stardag

Use SecretStr for api_key and access_token to prevent log leakage
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/config/loader.py
  lib/stardag/src/stardag/config/models.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/tests/test_config.py
  lib/stardag/tests/test_registry/test_auth.py
Due: pyright-stardag

Add v0.5.3 changelog and release notes for SecretStr change
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Fix: env var overrides inherit user from active profile for token auth
  lib/stardag/src/stardag/config/loader.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

Update changelog and release notes with env var override fix
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Rename STARDAG_REGISTRY_URL to STARDAG_API_URL (with deprecated alias)
  .claude/skills/stardag/registry-and-platform.md
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/docs/configuration/cli.md
  docs/docs/configuration/index.md
  docs/docs/configuration/profiles.md
  docs/docs/how-to/use-api-registry.md
  integration-tests/tests/test_cli.py
  lib/stardag-examples/src/stardag_examples/benchmarks/README.md
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/config/__init__.py
  lib/stardag/src/stardag/config/loader.py
  lib/stardag/src/stardag/config/models.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/tests/test_config.py
  lib/stardag/tests/test_registry/test_auth.py
Due: pyright-stardag, pyright-stardag-examples, pyright-integration-tests

Use SecretStr for API key and access token + Config follow up fixes (#112)
  .claude/skills/stardag/registry-and-platform.md
  CHANGELOG.md
  RELEASE_NOTES.md
  docs/docs/configuration/cli.md
  docs/docs/configuration/index.md
  docs/docs/configuration/profiles.md
  docs/docs/how-to/use-api-registry.md
  integration-tests/tests/test_cli.py
  lib/stardag-examples/src/stardag_examples/benchmarks/README.md
  lib/stardag-examples/src/stardag_examples/benchmarks/run_benchmark.py
  lib/stardag/src/stardag/_cli/__init__.py
  lib/stardag/src/stardag/_cli/config.py
  lib/stardag/src/stardag/_cli/modal.py
  lib/stardag/src/stardag/config/__init__.py
  lib/stardag/src/stardag/config/loader.py
  lib/stardag/src/stardag/config/models.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/tests/test_config.py
  lib/stardag/tests/test_registry/test_auth.py
Due: pyright-stardag, pyright-stardag-examples, pyright-integration-tests

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
