Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Add dynamic_deps_demo example
  lib/stardag-examples/src/stardag_examples/general/dynamic_deps_demo.py
Due: pyright-stardag-examples

UI: dynamic edges share static colors, hover tooltip instead
  app/stardag-ui/src/components/DagGraph.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

API: always route /builds/{id}/graph through grouping traversal
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_graph.py
Due: pyright-stardag-api

Draft v0.5.9 release notes and changelog
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Record dynamic dep edges so DAG view shows upstream from yielded tasks (#123)
  app/stardag-api/migrations/versions/20260420_162610_add_is_dynamic_column_to_task_.py
  app/stardag-api/src/stardag_api/models/task_dependency.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/graph.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_graph.py
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/types/task.ts
  lib/stardag-examples/src/stardag_examples/general/dynamic_deps_demo.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Draft v0.5.9 release notes and changelog (#124)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Reduce API per-request CPU and parameterise infra sizing
  app/stardag-api/Dockerfile
  app/stardag-api/pyproject.toml
  app/stardag-api/src/stardag_api/db/__init__.py
  app/stardag-api/src/stardag_api/services/api_keys.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_api_keys.py
  app/stardag-api/uv.lock
  infra/aws-cdk/lib/api-stack.ts
  infra/aws-cdk/lib/foundation-stack.ts
  infra/aws-cdk/lib/stardag-stack.ts
Due: pyright-stardag-api

DB: JSONB columns + env_id+created_at indices + batched deps
  app/stardag-api/migrations/versions/20260427_212342_indices_on_env_id_created_at_and_jsonb_.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/models/event.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/models/task_artifact.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_dependency_reconciliation.py
Due: pyright-stardag-api

gunicorn --preload + eager InternalTokenManager init
  app/stardag-api/Dockerfile
  app/stardag-api/src/stardag_api/main.py
Due: pyright-stardag-api

Address Copilot review feedback on Tier 2
  app/stardag-api/migrations/versions/20260427_212342_indices_on_env_id_created_at_and_jsonb_.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_dependency_reconciliation.py
Due: pyright-stardag-api

Address review feedback on Tier 1
  app/stardag-api/src/stardag_api/services/api_keys.py
  app/stardag-api/tests/test_api_keys.py
  infra/aws-cdk/lib/api-stack.ts
  infra/aws-cdk/lib/env.ts
  infra/aws-cdk/lib/foundation-stack.ts
  infra/aws-cdk/lib/stardag-stack.ts
Due: pyright-stardag-api

Address Copilot review feedback on Tier 1
  app/stardag-api/src/stardag_api/services/api_keys.py
  infra/aws-cdk/lib/api-stack.ts
  infra/aws-cdk/lib/foundation-stack.ts
  infra/aws-cdk/lib/stardag-stack.ts
Due: pyright-stardag-api

API perf Tier 1: bcrypt cache, engine config, gunicorn workers, parameterised infra (#125)
  app/stardag-api/Dockerfile
  app/stardag-api/pyproject.toml
  app/stardag-api/src/stardag_api/db/__init__.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/services/api_keys.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_api_keys.py
  app/stardag-api/uv.lock
  infra/aws-cdk/lib/api-stack.ts
  infra/aws-cdk/lib/env.ts
  infra/aws-cdk/lib/foundation-stack.ts
  infra/aws-cdk/lib/stardag-stack.ts
Due: pyright-stardag-api

Address Tier 2 review: restore migration coverage + polish
  .github/workflows/ci.yml
  app/stardag-api/migrations/env.py
  app/stardag-api/migrations/versions/20260427_212342_indices_on_env_id_created_at_and_jsonb_.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_dependency_reconciliation.py
Due: pyright-stardag-api

API perf Tier 2: JSONB columns, env+created indices, batched dep reconciliation (#126)
  .github/workflows/ci.yml
  app/stardag-api/migrations/env.py
  app/stardag-api/migrations/versions/20260427_212342_indices_on_env_id_created_at_and_jsonb_.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/models/event.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/models/task_artifact.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_dependency_reconciliation.py
Due: pyright-stardag-api

Fix /tasks/search 500 on build_id filter (UUID cast)
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_search.py
Due: pyright-stardag-api

Denormalise Task.latest_* status columns
  app/stardag-api/migrations/versions/20260427_213529_denormalised_task_latest_status_columns_.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_status_denormalisation.py
Due: pyright-stardag-api

Mitigate concurrent-write race on Task.latest_* columns
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/tests/test_status_denormalisation_concurrency.py
Due: pyright-stardag-api

API perf Tier 3: denormalise Task.latest_* status columns (#127)
  app/stardag-api/migrations/versions/20260427_213529_denormalised_task_latest_status_columns_.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_status_denormalisation.py
  app/stardag-api/tests/test_status_denormalisation_concurrency.py
Due: pyright-stardag-api

Address review: validate build_id filter UUIDs upstream + tests
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/tests/test_search.py
Due: pyright-stardag-api

Fix /tasks/search 500 on build_id filter (UUID cast) (#128)
  app/stardag-api/src/stardag_api/routes/search.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_search.py
Due: pyright-stardag-api

Fix UI logout-on-deploy: optional stable JWT_PRIVATE_KEY from Secrets Manager
  infra/aws-cdk/lib/api-stack.ts
Due: none

Address Copilot review on #129
  infra/aws-cdk/lib/api-stack.ts
  infra/aws-cdk/test/stardag.test.ts
Due: none

Fix UI logout-on-deploy: optional stable JWT_PRIVATE_KEY from Secrets Manager (#129)
  infra/aws-cdk/lib/api-stack.ts
  infra/aws-cdk/test/stardag.test.ts
Due: none

Fix UI silent empty-state on 401: retry with fresh token, surface session-expired overlay
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/client.test.ts
  app/stardag-ui/src/api/client.ts
  app/stardag-ui/src/components/SessionExpiredOverlay.tsx
  app/stardag-ui/src/context/AuthContext.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix UI loading-state flicker and env-switch nav on detail pages
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/context/EnvironmentContext.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Address PR #130 review
  app/stardag-ui/src/api/client.test.ts
  app/stardag-ui/src/api/client.ts
  app/stardag-ui/src/components/SessionExpiredOverlay.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix UI silent empty-state on 401: retry with fresh token, surface session-expired overlay (#130)
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/client.test.ts
  app/stardag-ui/src/api/client.ts
  app/stardag-ui/src/components/SessionExpiredOverlay.tsx
  app/stardag-ui/src/context/AuthContext.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Address PR #131 review
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix UI loading-state flicker and env-switch nav on detail pages (#131)
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/TaskExplorer.tsx
  app/stardag-ui/src/context/EnvironmentContext.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Add changelog entries for #125–#131
  CHANGELOG.md
Due: none

Move entries out of [Unreleased]
  CHANGELOG.md
Due: none

Address PR #132 review
  CHANGELOG.md
Due: none

Changelog: `app/stardag-api|ui` only — 2026-04-28 (server-side fixes #125–#131) (#132)
  CHANGELOG.md
Due: none

Register tasks at discover-time so the full DAG is visible immediately
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/integration/prefect/_build.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag, pyright-stardag-api

Address PR review: warn-mode resilience + build_fail + per-build ordering
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_builds.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag, pyright-stardag-api

Fix list_tasks_in_build SQL on Postgres: drop min(uuid) aggregate
  app/stardag-api/src/stardag_api/routes/builds.py
Due: pyright-stardag-api

Post-order discover + bulk-register endpoint, hide phantoms in UI
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
  app/stardag-ui/src/components/BuildView.tsx
  app/stardag-ui/src/types/task.ts
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Address PR review: chunking, dedup, discover-race, entity-limit, docstrings
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_sequential.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_build/test_sequential.py
Due: pyright-stardag, pyright-stardag-api

Document v0.6.0 in CHANGELOG and RELEASE_NOTES
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
