Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Changelog and release notes for v0.23.0 (#323)
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Key the executions cursor on the task, the only thing that does not move
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_cancel_authority.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/tests/test_build/reactive_fakes.py
Due: pyright-stardag, pyright-stardag-api

Compare the execution pair, and say what the listing cannot see
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  integration-tests/src/stardag_integration_tests/registry_live/provision.py
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_registry_limiter.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Ask the event log whether the execution is still mine, not the row
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_cancel_authority.py
Due: pyright-stardag-api

Re-list the drain until nothing new comes back
  lib/stardag/src/stardag/build/_reactive/_terminal.py
  lib/stardag/tests/test_build/test_reactive_terminal.py
Due: pyright-stardag

Group the stdlib imports, as every other model module does
  app/stardag-api/src/stardag_api/models/task_dependency.py
Due: pyright-stardag-api

Copilot review: an edge that is re-asserted must come back
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_dependency_retraction.py
Due: pyright-stardag-api

Retract an abandoned attempt's dynamic dependencies
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260913_000000_add_task_dependencies_superseded_at.py
  app/stardag-api/src/stardag_api/models/task_dependency.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/dependencies.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_dependency_retraction.py
  app/stardag-api/tests/test_transition_task.py
  docs/design/execution-claims-and-liveness.md
  docs/docs/concepts/build-execution.md
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/conftest.py
  integration-tests/tests_registry_live/test_dynamic_generation_retracted.py
Due: pyright-stardag-api, pyright-integration-tests

Name the one registration path the live-owner exception does not cover
  app/stardag-api/src/stardag_api/routes/builds.py
Due: pyright-stardag-api

Correct an invariant I overclaimed: the claim does not cover every build
  app/stardag-api/src/stardag_api/services/dependencies.py
  docs/design/execution-claims-and-liveness.md
Due: pyright-stardag-api

Keep an abandoned generation out of the next build's plan too
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_dependency_retraction.py
  integration-tests/tests_registry_live/test_dynamic_generation_retracted.py
Due: pyright-stardag-api, pyright-integration-tests

Copilot round two: every retryable status, not just cancelled
  CHANGELOG.md
  app/stardag-api/src/stardag_api/models/task_dependency.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/dependencies.py
  app/stardag-api/tests/test_dependency_retraction.py
Due: pyright-stardag-api

Assert what the scenario is about, not what happened to the leftovers
  integration-tests/tests_registry_live/test_dynamic_generation_retracted.py
Due: pyright-integration-tests

A declaration is authoritative; a disagreement between live builds is not
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/dependencies.py
  app/stardag-api/tests/test_build_cleanup.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_cancel_authority.py
  app/stardag-api/tests/test_claim_expiry.py
  app/stardag-api/tests/test_dependency_retraction.py
  app/stardag-api/tests/test_static_declaration.py
  app/stardag-api/tests/test_task_attempts.py
  app/stardag-api/tests/test_task_interruptions.py
  app/stardag-api/tests/test_wakeups.py
  docs/design/execution-claims-and-liveness.md
  docs/docs/concepts/build-execution.md
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_declaration_conflict.py
  lib/stardag/src/stardag/build/_reactive/_discovery.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_bootstrap.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_discovery.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Never refuse over a task that is already built
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/dependencies.py
  app/stardag-api/tests/test_static_declaration.py
  integration-tests/src/stardag_integration_tests/registry_live/tasks.py
  integration-tests/tests_registry_live/test_declaration_conflict.py
Due: pyright-stardag-api, pyright-integration-tests

Any difference is a disagreement, and the batch is one round trip
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/dependencies.py
  app/stardag-api/tests/test_static_declaration.py
  lib/stardag/src/stardag/exceptions.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag, pyright-stardag-api

Clear every build in the way, not just the first one named
  app/stardag-api/src/stardag_api/services/dependencies.py
  lib/stardag/src/stardag/build/_reactive/_discovery.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_build/reactive_fakes.py
  lib/stardag/tests/test_build/test_reactive_discovery.py
Due: pyright-stardag, pyright-stardag-api

Budget the cancels by what a pass would take, not what it has taken
  lib/stardag/src/stardag/build/_reactive/_discovery.py
  lib/stardag/tests/test_build/test_reactive_discovery.py
Due: pyright-stardag

Append the new option rather than inserting it among positionals
  lib/stardag/src/stardag/build/_reactive/_discovery.py
  lib/stardag/tests/test_build/test_reactive_discovery.py
Due: pyright-stardag

Say what a cascade actually does to a running container
  CHANGELOG.md
  integration-tests/tests_registry_live/test_declaration_conflict.py
  lib/stardag/src/stardag/build/_reactive/_discovery.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag, pyright-integration-tests

Do not cancel a conflicting build that has already finished
  lib/stardag/src/stardag/build/_reactive/_discovery.py
  lib/stardag/tests/test_build/test_reactive_discovery.py
Due: pyright-stardag

Pin every workflow action to a commit SHA, and keep it that way
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/modal-live.yml
  .github/workflows/publish-server-image.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/check-action-pins.sh
Due: none

Make the pin check parse the workflows rather than match lines
  .github/workflows/publish-server-image.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/check-action-pins.py
  scripts/check-action-pins.sh
Due: none

Require the version comment on every occurrence, not any
  scripts/check-action-pins.py
Due: none

Re-run the pin check when the checker itself changes
  .pre-commit-config.yaml
Due: none

Find the YAML comment, do not search the line for a hash
  scripts/check-action-pins.py
Due: none

Give the pin checker tests, and fix what they found
  .github/workflows/publish-server-image.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/check-action-pins.py
  scripts/check_action_pins.py
  scripts/test_check_action_pins.py
Due: none

Take comments from the scanner, and refuse what cannot be attributed
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/check_action_pins.py
  scripts/test_check_action_pins.py
Due: none

Refuse aliases and merge keys outright, and stop guessing branch from tag
  CONTRIBUTING.md
  scripts/check_action_pins.py
  scripts/test_check_action_pins.py
Due: none

Refuse repeated keys, test main(), and stop inheriting GIT_*
  CONTRIBUTING.md
  scripts/check_action_pins.py
  scripts/test_check_action_pins.py
Due: none

Time the lease scenarios by waiting, not by betting on latency
  DEV_README.md
  integration-tests/tests_registry_live/test_scheduler_lease_live.py
Due: pyright-integration-tests

Retry a recycled registry container, and stop starving it
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/src/stardag_integration_tests/registry_live/_registry_app.py
Due: pyright-integration-tests

Address the review: three ways this could still fail for nothing
  .github/workflows/modal-live.yml
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/tests_registry_live/test_scheduler_lease_live.py
Due: pyright-integration-tests

A poll that cannot reach the registry is a failed poll, not a failure
  integration-tests/tests_registry_live/test_scheduler_lease_live.py
Due: pyright-integration-tests

Pin every workflow action to a commit SHA, and keep it that way (#333)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/modal-live.yml
  .github/workflows/publish-server-image.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  scripts/check_action_pins.py
  scripts/test_check_action_pins.py
Due: none

Stop the registry-live tier failing unrelated PRs (#336)
  .github/workflows/modal-live.yml
  DEV_README.md
  integration-tests/src/stardag_integration_tests/registry_live/_harness.py
  integration-tests/src/stardag_integration_tests/registry_live/_registry_app.py
  integration-tests/tests_registry_live/test_scheduler_lease_live.py
Due: pyright-integration-tests

A task somebody else is creating is a reference, not a conflict
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_concurrent_task_registration.py
Due: pyright-stardag-api

Review: a report names the execution it is about, and never extends a claim
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_task_interruptions.py
Due: pyright-stardag-api

Review 3: record an empty executor ref rather than dropping it
  app/stardag-api/src/stardag_api/routes/builds.py
Due: pyright-stardag-api

Review 2: a missing ref is not a wildcard, and the replays must agree
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_task_interruptions.py
Due: pyright-stardag-api

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
