Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Consolidate migrations and add seed service
  .claude/CLAUDE.md
  app/stardag-api/migrations/versions/20251211_220000_normalized_schema.py
  app/stardag-api/migrations/versions/20251221_021110_add_created_by_id_to_organizations.py
  app/stardag-api/migrations/versions/20251223_120000_add_target_roots.py
  app/stardag-api/migrations/versions/20251223_150000_add_workspace_owner.py
  app/stardag-api/migrations/versions/20260104_120000_rename_task_family_to_name.py
  app/stardag-api/migrations/versions/20260105_230847_initial_schema.py
  docker-compose.yml
  docker/postgres/seed-dev.sql
Due: pyright-stardag-api

Update seed data to match Keycloak testuser
  docker/postgres/seed-dev.sql
Due: none

Remove create_all from API startup, use alembic only
  .claude/CLAUDE.md
  app/stardag-api/migrations/versions/20260105_230847_initial_schema.py
  app/stardag-api/src/stardag_api/main.py
  docker-compose.yml
  infra/aws-cdk/lib/constructs/bastion.ts
Due: pyright-stardag-api

Fix deploy order, add optional bastion stack
  infra/aws-cdk/README.md
  infra/aws-cdk/bin/stardag.ts
  infra/aws-cdk/lib/bastion-stack.ts
  infra/aws-cdk/lib/constructs/bastion.ts
  infra/aws-cdk/scripts/deploy-all.sh
  infra/aws-cdk/scripts/deploy-infra.sh
Due: none

Fix bastion stack cyclic dependency
  infra/aws-cdk/README.md
  infra/aws-cdk/bin/stardag.ts
  infra/aws-cdk/lib/bastion-stack.ts
Due: none

Add StardagBastion to stacks table in README
  infra/aws-cdk/README.md
Due: none

upgrade python deps of all packages
  app/stardag-api/uv.lock
  lib/stardag-examples/uv.lock
  lib/stardag/uv.lock
Due: none

Refactor registry module structure and API
  .pre-commit-config.yaml
  README.md
  integration-tests/tests/test_full_flow.py
  lib/stardag/src/stardag/build/registry.py
  lib/stardag/src/stardag/build/registry/__init__.py
  lib/stardag/src/stardag/build/registry/_api_registry.py
  lib/stardag/src/stardag/build/registry/_base.py
  lib/stardag/src/stardag/build/sequential.py
  lib/stardag/src/stardag/build/task_runner.py
Due: pyright-stardag

UI fixes: update landing hero and favicon
  app/stardag-ui/public/favicon.svg
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix pre-commit formatting and enlarge favicon asterisk
  app/stardag-ui/public/favicon.svg
  app/stardag-ui/src/App.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

Fix favicon to use 5-pointed asterisk matching IBM Plex Mono
  app/stardag-ui/public/favicon.svg
Due: none

Fix favicon: 5 single-sided arms instead of 10
  app/stardag-ui/public/favicon.svg
Due: none

Remove unused task parameter from get_target and get_directory_target
  USER_GUIDE.md
  lib/stardag-examples/src/stardag_examples/task_api_three_levels.py
  lib/stardag/src/stardag/_auto_task.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/tests/test_conftest.py
Due: pyright-stardag, pyright-stardag-examples

Fix auth login to cache access token when profile is active
  lib/stardag/src/stardag/cli/auth.py
Due: pyright-stardag

fixes failing tests: clear env vars and use namespaces in tests
  lib/stardag/src/stardag/utils/testing/env.py
  lib/stardag/tests/conftest.py
  lib/stardag/tests/test_decorator.py
  lib/stardag/tests/test_hashable_set.py
  lib/stardag/tests/test_registry_asset.py
  lib/stardag/tests/test_task_loads.py
Due: pyright-stardag

Add test for asset fetch with workspace_id parameter
  app/stardag-api/tests/test_task_assets.py
Due: pyright-stardag-api

Enhance task assets UI: fullscreen view, indicators, and fixes
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-ui/package-lock.json
  app/stardag-ui/package.json
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/AssetViewer.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/components/FullscreenModal.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/components/TaskNode.tsx
  app/stardag-ui/src/components/TaskTable.tsx
  app/stardag-ui/src/hooks/useTasks.ts
  app/stardag-ui/src/index.css
  app/stardag-ui/src/types/task.ts
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Add integration tests for task registry assets
  integration-tests/tests/test_full_flow.py
Due: none

Add task registry assets feature
  app/stardag-api/migrations/versions/20260106_204326_add_task_registry_assets_table.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/models/task_asset.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_task_assets.py
  app/stardag-ui/package-lock.json
  app/stardag-ui/package.json
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/AssetViewer.tsx
  app/stardag-ui/src/components/TaskDetail.tsx
  app/stardag-ui/src/types/task.ts
  lib/stardag-examples/src/stardag_examples/registry_assets_demo.py
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/_registry_asset.py
  lib/stardag/src/stardag/_task.py
  lib/stardag/src/stardag/build/registry/_api_registry.py
  lib/stardag/src/stardag/build/registry/_base.py
  lib/stardag/src/stardag/build/task_runner.py
  lib/stardag/tests/test_registry_asset.py
Due: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

Add multi-user support for credentials and access tokens
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/config.py
Due: pyright-stardag

Address Copilot review comments for multi-user support
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/config.py
Due: pyright-stardag

Improve first-time login experience with registry selection
  lib/stardag/src/stardag/cli/auth.py
Due: pyright-stardag

Fix user extraction from OIDC tokens (use ID token first)
  lib/stardag/src/stardag/cli/auth.py
Due: pyright-stardag

Require user in all credential and token cache functions
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/config.py
Due: pyright-stardag

Improve org/workspace selection display format
  lib/stardag/src/stardag/cli/auth.py
Due: pyright-stardag

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
