Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

first stab at phase 6 (cli auth)
  .claude/tasks/registry-service/auth.md
  DEV_README.md
  README.md
  lib/stardag-examples/uv.lock
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/build/api_registry.py
  lib/stardag/src/stardag/cli/__init__.py
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/uv.lock
Due: pyright-stardag

fix Docker compose up/down state sync between DB and keycloak, fix no-org-modal
  _NOTES.md
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/Modal.tsx
  app/stardag-ui/src/components/OnboardingModal.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
  docker-compose.yml
Due: none

fix CLI defaults
  CONFIGURATION_GUIDE.md
  _NOTES.md
  lib/stardag-examples/.stardag/config.json
Due: none

first stab at phase 1
  .claude/tasks/registry-service/auth.md
  app/stardag-api/migrations/versions/20251211_220000_normalized_schema.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/api_key.py
  app/stardag-api/src/stardag_api/models/enums.py
  app/stardag-api/src/stardag_api/models/invite.py
  app/stardag-api/src/stardag_api/models/organization.py
  app/stardag-api/src/stardag_api/models/organization_member.py
  app/stardag-api/src/stardag_api/models/user.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_auth_models.py
  docker-compose.yml
  docker/postgres/init.sql
Due: pyright-stardag-api

claude plan for integration tests
  .claude/tasks/registry-service/integration-tests.md
Due: none

draft of auth task
  .claude/CLAUDE.md
  .claude/tasks/registry-service/auth.md
Due: none

remove flat project config structure, use nested only
  CONFIGURATION_GUIDE.md
  lib/stardag-examples/.stardag/config.json
  lib/stardag/src/stardag/config.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

multiple follow ups and bug fixes, up to nesting registry command under config in CLI
  _NOTES.md
  app/stardag-api/src/stardag_api/auth/__init__.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-api/src/stardag_api/routes/ui.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_auth.py
  app/stardag-api/tests/test_organizations.py
  app/stardag-ui/src/hooks/useTasks.ts
  lib/stardag-examples/uv.lock
  lib/stardag/pyproject.toml
  lib/stardag/src/stardag/cli/__init__.py
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/registry.py
  lib/stardag/uv.lock
Due: pyright-stardag, pyright-stardag-api

restructure config: workspace-specific files and project overrides
  CONFIGURATION_GUIDE.md
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/config.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

execution plan
  .claude/tasks/registry-service/auth.md
Due: none

first stab at phase 3
  app/stardag-ui/package-lock.json
  app/stardag-ui/package.json
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/client.ts
  app/stardag-ui/src/auth/config.ts
  app/stardag-ui/src/auth/userManager.ts
  app/stardag-ui/src/components/AuthCallback.tsx
  app/stardag-ui/src/components/UserMenu.tsx
  app/stardag-ui/src/context/AuthContext.tsx
Due: none

renames profile -> registry
  CONFIGURATION_GUIDE.md
  lib/stardag-examples/.stardag/config.json
  lib/stardag/src/stardag/build/api_registry.py
  lib/stardag/src/stardag/cli/__init__.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/cli/profile.py
  lib/stardag/src/stardag/cli/registry.py
  lib/stardag/src/stardag/config.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/tests/test_cli_profile.py
  lib/stardag/tests/test_cli_registry.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

show org switching help on login when user has multiple orgs
  lib/stardag/src/stardag/cli/auth.py
Due: pyright-stardag

fix DAG issues, incl. dimming
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/hooks/useTasks.ts
Due: none

feat(sdk): centralized config module (Phase 1)
  .claude/CLAUDE.md
  .claude/tasks/registry-service/config-and-auth-cleanup.md
  CONFIGURATION_GUIDE.md
  lib/stardag/src/stardag/build/api_registry.py
  lib/stardag/src/stardag/build/registry.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/config.py
  lib/stardag/src/stardag/target/_factory.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

fix CLI config
  _NOTES.md
  app/stardag-api/src/stardag_api/auth/jwt.py
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/tests/test_auth.py
  docker-compose.yml
  docker/keycloak/realm-export.json
  lib/stardag/src/stardag/build/api_registry.py
  lib/stardag/src/stardag/cli/__init__.py
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
Due: pyright-stardag, pyright-stardag-api

Phase 2: SDK/CLI config rewrite with TOML and profiles
  lib/stardag/src/stardag/build/registry.py
  lib/stardag/src/stardag/cli/__init__.py
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/cli/registry.py
  lib/stardag/src/stardag/config.py
  lib/stardag/tests/test_cli_registry.py
  lib/stardag/tests/test_config.py
Due: pyright-stardag

prep for config cleanup
  .claude/CLAUDE.md
  .claude/tasks/registry-service/auth.md
  .claude/tasks/registry-service/config-and-auth-cleanup.md
  .claude/tasks/registry-service/db-schemas.md
  _NOTES.md
Due: none

updated task description
  .claude/CLAUDE.md
  .claude/tasks/registry-service/config-and-auth-cleanup-take-two.md
Due: none

feat: workspace target roots (Phase 2)
  .claude/settings.json
  app/stardag-api/migrations/versions/20251223_120000_add_target_roots.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/target_root.py
  app/stardag-api/src/stardag_api/models/workspace.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-api/src/stardag_api/routes/target_roots.py
  app/stardag-api/tests/test_organizations.py
  app/stardag-ui/src/api/organizations.ts
  app/stardag-ui/src/components/OrganizationSettings.tsx
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
Due: pyright-stardag, pyright-stardag-api

phase 3 fixup: buildargs
  app/stardag-ui/Dockerfile
  docker/keycloak/realm-export.json
Due: none

Fix bootstrap auth flow for UI endpoints
  app/stardag-api/src/stardag_api/auth/__init__.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-api/src/stardag_api/routes/ui.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_auth.py
  app/stardag-api/tests/test_organizations.py
Due: pyright-stardag-api

fixed token expiration and auth error handling
  _NOTES.md
  app/stardag-api/src/stardag_api/auth/jwt.py
  app/stardag-api/tests/test_auth.py
  docker/keycloak/realm-export.json
  lib/stardag/src/stardag/__init__.py
  lib/stardag/src/stardag/build/api_registry.py
  lib/stardag/src/stardag/exceptions.py
Due: pyright-stardag, pyright-stardag-api

tweak invites and org creation
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/models/invite.py
  app/stardag-api/src/stardag_api/models/organization_member.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/PendingInvites.tsx
  app/stardag-ui/src/components/WorkspaceSelector.tsx
  docker/keycloak/realm-export.json
Due: pyright-stardag-api

Phase 1: Backend org-scoped token model
  .claude/tasks/registry-service/config-and-auth-cleanup-take-two.md
  CONFIGURATION_GUIDE.md
  app/stardag-api/src/stardag_api/auth/__init__.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/auth/tokens.py
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/auth.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_auth.py
  app/stardag-api/tests/test_organizations.py
Due: pyright-stardag-api

feat(cli): profile management commands (Phase 3)
  .claude/tasks/registry-service/config-and-auth-cleanup.md
  lib/stardag/src/stardag/build/registry.py
  lib/stardag/src/stardag/cli/__init__.py
  lib/stardag/src/stardag/cli/profile.py
  lib/stardag/tests/test_cli_profile.py
Due: pyright-stardag

fix workspace auth
  .claude/tasks/registry-service/auth.md
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/DagGraph.tsx
  app/stardag-ui/src/hooks/useTasks.ts
Due: pyright-stardag-api

use slugs in profile and cache id mappings separately
  _NOTES.md
  lib/stardag/src/stardag/cli/auth.py
  lib/stardag/src/stardag/cli/config.py
  lib/stardag/src/stardag/cli/credentials.py
  lib/stardag/src/stardag/config.py
Due: pyright-stardag

completed phase 4 and updated auth.md progres
  .claude/tasks/registry-service/auth.md
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-api/tests/test_organizations.py
Due: pyright-stardag-api

add api key management
  .claude/tasks/registry-service/auth.md
  app/stardag-api/pyproject.toml
  app/stardag-api/src/stardag_api/auth/__init__.py
  app/stardag-api/src/stardag_api/auth/dependencies.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/organizations.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/api_keys.py
  app/stardag-api/uv.lock
  app/stardag-ui/src/api/organizations.ts
  app/stardag-ui/src/components/OrganizationSettings.tsx
Due: pyright-stardag-api

fix: correct migration revision chain
  app/stardag-api/migrations/versions/20251223_150000_add_workspace_owner.py
Due: pyright-stardag-api

start integration tests implementation
  .claude/CLAUDE.md
  .claude/tasks/registry-service/integration-tests.md
Due: none

phase 1 of integration tests
  .claude/tasks/registry-service/integration-tests.md
  docker-compose.yml
  docker/keycloak/realm-export.json
  tests/integration/README.md
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/docker_fixtures.py
  tests/integration/pyproject.toml
  tests/integration/test_frontend/__init__.py
  tests/integration/test_smoke.py
  tests/integration/uv.lock
  tox.ini
Due: none

Add API auth integration tests (Phase 2)
  tests/integration/test_api_auth.py
Due: none

Add CLI integration tests (Phase 3)
  tests/integration/test_cli.py
Due: none

Add frontend browser tests (Phase 4)
  tests/integration/test_browser.py
Due: none

Add full end-to-end flow tests (Phase 5)
  tests/integration/test_full_flow.py
Due: none

Fix authentication for /tasks and GET /builds endpoints
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  tests/integration/test_api_auth.py
Due: pyright-stardag-api

Add SDK-based DAG building tests to integration tests
  tests/integration/test_full_flow.py
Due: none

restructure integration-tests package and add CI workflow
  .github/workflows/ci.yml
  integration-tests/README.md
  integration-tests/pyproject.toml
  integration-tests/pyrightconfig.json
  integration-tests/src/stardag_integration_tests/__init__.py
  integration-tests/src/stardag_integration_tests/conftest.py
  integration-tests/src/stardag_integration_tests/docker_fixtures.py
  integration-tests/tests/conftest.py
  integration-tests/tests/test_api_auth.py
  integration-tests/tests/test_browser.py
  integration-tests/tests/test_cli.py
  integration-tests/tests/test_full_flow.py
  integration-tests/tests/test_smoke.py
  integration-tests/uv.lock
  tests/integration/test_frontend/__init__.py
  tox.ini
Due: none

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
