Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

fix(sdk): keep a non-JSON 426's body instead of dropping it
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_http_client.py
  lib/stardag/tests/test_registry/test_api_registry.py
Due: pyright-stardag

fix(reactive): reconcile the two trigger-failure implementations
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

docs(reactive): the bootstrap, and why triggering is now fast
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
Due: none

feat(reactive): discover the DAG inside Modal, not on the trigger's machine
  lib/stardag/src/stardag/integration/modal/__init__.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag

fix(reactive): record the function the trigger actually spawned
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

test(reactive): cover the bootstrap, the ordering guarantee and orphan builds
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

chore: blank line before a heading (merge artifact of the changelog resolver)
  CHANGELOG.md
Due: none

perf(api): compute blocked_by_external only when the build looks stalled
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

fix(api): surface externally-blocked tasks in the build frontier (#208 A1)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

fix(api): make `suspended` recoverable via task retry (#208 A2)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

feat(api): persist reactive scheduler tick summaries per build
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260807_205110_add_build_tick_summaries.py
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/models/__init__.py
  app/stardag-api/src/stardag_api/models/build_tick_summary.py
  app/stardag-api/src/stardag_api/routes/__init__.py
  app/stardag-api/src/stardag_api/routes/tick_summaries.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_tick_summaries.py
Due: pyright-stardag-api

docs(api): state the retention bound honestly
  app/stardag-api/src/stardag_api/routes/tick_summaries.py
Due: pyright-stardag-api

docs(api): state precisely why the reaper orders by last_active_at
  app/stardag-api/src/stardag_api/services/build_cleanup.py
Due: pyright-stardag-api

feat(api): let a task event report the claim's status, not just this build's
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_build_cleanup.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

test(api): share the alternate-identity auth fixtures via conftest
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

feat(api): filter GET /builds by idleness, in SQL (#208 B3)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/tests/test_build_cleanup.py
Due: pyright-stardag-api

chore(api): chain this migration after the tick-summaries one
  app/stardag-api/migrations/versions/20260807_211348_add_tasks_environment_id_latest_status_.py
Due: pyright-stardag-api

feat(api): terminate abandoned builds and release their claims (#208 B3)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/tests/test_build_cleanup.py
Due: pyright-stardag-api

feat(api): enumerate tasks by status and expose the claim holder (#208 B2)
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260807_211348_add_tasks_environment_id_latest_status_.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_tasks.py
Due: pyright-stardag-api

fix(api): an idle-build filter means abandoned, so imply RUNNING
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_build_cleanup.py
Due: pyright-stardag-api

fix(api): don't advertise a retry that will never select the build
  app/stardag-api/migrations/versions/20260807_211348_add_tasks_environment_id_latest_status_.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_build_cleanup.py
Due: pyright-stardag-api

test(api): cover claim expiry, and changelog
  CHANGELOG.md
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_claim_expiry.py
Due: pyright-stardag-api

fix(api): raise the default claim TTL to a week
  CHANGELOG.md
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/tests/test_claim_expiry.py
Due: pyright-stardag-api

feat(api): honour and expose the claim expiry
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/schemas.py
Due: pyright-stardag-api

feat(api): give the execution claim an expiry
  app/stardag-api/migrations/versions/20260807_233150_add_tasks_latest_status_expires_at_.py
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/services/claims.py
  app/stardag-api/src/stardag_api/services/status.py
Due: pyright-stardag-api

test(api): target the migration under test by revision, not by "-1"
  app/stardag-api/tests/test_claim_expiry.py
Due: pyright-stardag-api

docs(api): say which clock decides claim expiry, and drop a dangling path
  app/stardag-api/src/stardag_api/services/claims.py
Due: pyright-stardag-api

refactor(api): move `as_utc` to models.base
  app/stardag-api/src/stardag_api/models/base.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
Due: pyright-stardag-api

fix(api): backfill the claims that are already RUNNING
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260807_233150_add_tasks_latest_status_expires_at_.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/claims.py
  app/stardag-api/tests/test_claim_expiry.py
Due: pyright-stardag-api

perf(api): stream the build-status backfill instead of accumulating it
  app/stardag-api/migrations/versions/20260807_235511_denormalised_build_status_columns_with_.py
  app/stardag-api/tests/test_build_cleanup.py
  app/stardag-api/tests/test_status_denormalisation_concurrency.py
Due: pyright-stardag-api

fix(api): make the resume lookup the seek its comment claims
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/status.py
Due: pyright-stardag-api

refactor(api): read build status from the column, and delete the rest
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/tests/test_build_cleanup.py
  app/stardag-api/tests/test_build_status_denormalisation.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_status_denormalisation_concurrency.py
Due: pyright-stardag-api

feat(api): count attempts per round, not per build
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_task_attempts.py
Due: pyright-stardag-api

feat(api): derive per-build task attempt counts
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/__init__.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

feat(api): denormalise build status onto the builds row
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/services/__init__.py
  app/stardag-api/src/stardag_api/services/status.py
Due: pyright-stardag-api

test(api): pin the attempt-counting rules, and changelog
  CHANGELOG.md
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_task_attempts.py
Due: pyright-stardag-api

feat(api): migrate builds to the denormalised status columns
  app/stardag-api/migrations/versions/20260807_235511_denormalised_build_status_columns_with_.py
Due: pyright-stardag-api

fix(api): stop alembic from disabling application logging
  app/stardag-api/migrations/env.py
Due: pyright-stardag-api

feat(api): read the calling SDK's version, and publish the policy
  app/stardag-api/pyproject.toml
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/middleware/__init__.py
  app/stardag-api/src/stardag_api/middleware/sdk_version.py
  app/stardag-api/src/stardag_api/sdk_compat.py
  app/stardag-api/uv.lock
  app/stardag-ui/src/api/version.ts
Due: pyright-stardag-api, eslint-stardag-ui, tsc-stardag-ui

docs: raising the SDK floor is a promise, not a config change
  CHANGELOG.md
  CONTRIBUTING.md
  DEV_README.md
Due: none
