Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

pyright-stardag:
  name: pyright (lib/stardag)
  entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-examples:
  name: pyright (lib/stardag-examples)
  entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-stardag-api:
  name: pyright (app/stardag-api)
  entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

pyright-integration-tests:
  name: pyright (integration-tests)
  entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
  language: system
  pass_filenames: false
  verbose: true

eslint-stardag-ui:
  name: eslint (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npm run lint'
  language: system
  pass_filenames: false
  verbose: true

tsc-stardag-ui:
  name: tsc (app/stardag-ui)
  entry: bash -c 'cd app/stardag-ui && npx tsc -b'
  language: system
  pass_filenames: false
  verbose: true

Pin the silence: no watchdog nag on a reactive trigger
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Scope the level change to the module that emits it
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Prepare v0.21.0: changelog heading and release notes
  CHANGELOG.md
  RELEASE_NOTES.md
Due: none

Say that a build only ever wakes itself
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
Due: none

Wake the builds next door: a task's news reaches everyone holding it
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/tests/test_builds.py
  integration-tests/tests/test_full_flow.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
Due: pyright-stardag, pyright-stardag-api, pyright-integration-tests

Stop recommending the watchdog; the default is the right answer
  .claude/skills/stardag/sdk-advanced.md
  CHANGELOG.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag-examples/src/stardag_examples/modal/checkpointing/app.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag, pyright-stardag-examples

Fold in the watchdog docs, and correct them for this fix
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/how-to/integrate-modal.md
Due: none

Release notes: the cross-build fix and the watchdog change
  RELEASE_NOTES.md
Due: none

Three from Copilot: batch the lease check, and stop masking a null app
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/lock.py
Due: pyright-stardag-api

Release notes: 0.21.0 ships without the cross-build fix
  RELEASE_NOTES.md
Due: none

Release notes: keep the reinstall command in one code span
  RELEASE_NOTES.md
Due: none

SDK: the scheduler drains the registry's wake candidates
  lib/stardag/src/stardag/build/_base.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/build/_wakeups.py
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/integration/modal/_bootstrap.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/integration/modal/_limit_keys.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/registry/__init__.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/conftest.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_sequential.py
  lib/stardag/tests/test_build/test_wakeups.py
  lib/stardag/tests/test_integration/test_modal/test_live_detached_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_live_reactive_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Server: flag every build a status change is news for; hand out ticks once
  app/stardag-api/migrations/versions/20260829_235628_add_builds_tick_requested_at_wake_hand_.py
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_build_cleanup.py
  app/stardag-api/tests/test_wakeups.py
Due: pyright-stardag-api

Docs: build & execution top-down, Modal orchestration on its own page
  .claude/skills/stardag/sdk-advanced.md
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/concepts/modal-orchestration.md
  docs/docs/how-to/integrate-modal.md
  docs/mkdocs.yml
  lib/stardag-examples/src/stardag_examples/modal/checkpointing/app.py
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/README.md
  lib/stardag-examples/src/stardag_examples/modal/walkthrough/app.py
Due: pyright-stardag-examples

Prepare v0.22.0: changelog heading and release notes
  RELEASE_NOTES.md
Due: none

Examples test: the walkthrough runs no watchdog timer
  lib/stardag-examples/tests/test_modal/test_walkthrough.py
Due: pyright-stardag-examples

Two from Copilot: pass limit_keys only when set; drop the if True
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/integration/modal/_app.py
Due: pyright-stardag

notify: stamp the hand-out mark with the flag, un-stamp if a scheduler is live
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/wakeups.py
Due: pyright-stardag-api

Address the independent review: nine findings
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_wakeups.py
  lib/stardag/src/stardag/build/_concurrent.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/src/stardag/build/_wakeups.py
  lib/stardag/src/stardag/integration/modal/_executor.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/integration/modal/_spawn.py
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_wakeups.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
Due: pyright-stardag, pyright-stardag-api

Release notes: the old-registry refusal is a 405, and can_spawn is ignored there
  RELEASE_NOTES.md
Due: none

Delete the leftover compatibility surface
  CHANGELOG.md
  lib/stardag/src/stardag/build/_registry_limiter.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_registry_limiter.py
  lib/stardag/tests/test_integration/test_modal/test_live_claim_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_registry/test_executor_metadata.py
  lib/stardag/tests/test_registry/test_start_claim.py
Due: pyright-stardag

Centralise task status transitions on one server helper
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_status_denormalisation.py
  app/stardag-api/tests/test_status_denormalisation_concurrency.py
  app/stardag-api/tests/test_task_interruptions.py
  app/stardag-api/tests/test_transition_task.py
Due: pyright-stardag-api

Drop the live tier's undeclared stardag-api-key dependency
  lib/stardag/tests/test_integration/test_modal/test__app.py
Due: pyright-stardag

Address the Copilot review: do not hard-code the call-site count
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_transition_task.py
Due: pyright-stardag-api

Address the Copilot review: name both flags, and the actual denial
  CHANGELOG.md
  lib/stardag/src/stardag/build/_registry_limiter.py
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag

Run the live Modal tier in CI
  .github/workflows/modal-live.yml
  lib/stardag/tests/test_integration/test_modal/test_env_overrides.py
  tox.ini
Due: pyright-stardag

Address the Copilot review: claim is keyword-only, and the doubles honour it
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_registry_limiter.py
  lib/stardag/tests/test_integration/test_modal/test_live_claim_e2e.py
Due: pyright-stardag

Address review: token permissions, require-mode default, env naming
  .github/workflows/modal-live.yml
  tox.ini
Due: none

Document the live Modal tier: how to run it, and what it does not cover
  DEV_README.md
  lib/stardag/tests/test_integration/test_modal/test__target_cache.py
Due: pyright-stardag

Address the independent review: derive the flush, close the guard's gap
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_transition_task.py
  app/stardag-api/tests/test_wakeups.py
  docs/design/execution-claims-and-liveness.md
Due: pyright-stardag-api

Address the independent review: guard the wake, surface the odd denial
  CHANGELOG.md
  lib/stardag/src/stardag/build/_registry_limiter.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_registry/test_start_claim.py
Due: pyright-stardag

Trigger the live tier by changed paths; weekly schedule
  .github/workflows/modal-live.yml
  DEV_README.md
Due: none

Centralise task status transitions on one server helper (#287)
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/src/stardag_api/services/lock.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/src/stardag_api/services/wakeups.py
  app/stardag-api/tests/test_status_denormalisation.py
  app/stardag-api/tests/test_status_denormalisation_concurrency.py
  app/stardag-api/tests/test_task_interruptions.py
  app/stardag-api/tests/test_transition_task.py
  app/stardag-api/tests/test_wakeups.py
  docs/design/execution-claims-and-liveness.md
Due: pyright-stardag-api

Delete the leftover compatibility surface (#286)
  CHANGELOG.md
  lib/stardag/src/stardag/build/_registry_limiter.py
  lib/stardag/src/stardag/integration/modal/_runner.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_build/test_claim.py
  lib/stardag/tests/test_build/test_reactive.py
  lib/stardag/tests/test_build/test_registry_limiter.py
  lib/stardag/tests/test_integration/test_modal/test_live_claim_e2e.py
  lib/stardag/tests/test_integration/test_modal/test_runner_lifecycle.py
  lib/stardag/tests/test_registry/test_executor_metadata.py
  lib/stardag/tests/test_registry/test_start_claim.py
Due: pyright-stardag

Address the Copilot review: unpick a run-on sentence
  docs/docs/concepts/modal-orchestration.md
Due: none

Address the Copilot review: two claims that were overstated
  CHANGELOG.md
  docs/docs/concepts/modal-orchestration.md
  lib/stardag/src/stardag/integration/modal/_tick.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

Record the reason zero-linger outlives shared tick containers
  CHANGELOG.md
  docs/docs/concepts/modal-orchestration.md
  lib/stardag/src/stardag/integration/modal/_tick.py
Due: pyright-stardag

Path conditions:
  pyright-stardag: any of: ^lib/stardag/ and \.py$
  pyright-stardag-examples: any of: ^lib/stardag-examples/ and \.py$
  pyright-stardag-api: any of: ^app/stardag-api/ and \.py$
  pyright-integration-tests: any of: ^integration-tests/ and \.py$
  eslint-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
  tsc-stardag-ui: any of: ^app/stardag-ui/.*\.(ts|tsx)$
