Repository stardag-dev/stardag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-stardag, pyright-stardag-examples, pyright-stardag-api, pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        args: [--prose-wrap=preserve, --print-width=88]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff
        args:
          - --fix
      - id: ruff-format
  # Pyright hooks - one per Python package, each using its own .venv
  - repo: local
    hooks:
      - id: pyright-stardag
        name: pyright (lib/stardag)
        entry: bash -c 'cd lib/stardag && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-examples
        name: pyright (lib/stardag-examples)
        entry: bash -c 'cd lib/stardag-examples && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^lib/stardag-examples/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-stardag-api
        name: pyright (app/stardag-api)
        entry: bash -c 'cd app/stardag-api && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^app/stardag-api/
        types: [python]
        pass_filenames: false
        verbose: true
      - id: pyright-integration-tests
        name: pyright (integration-tests)
        entry: bash -c 'cd integration-tests && uv sync --all-extras && uv run pyright src tests'
        language: system
        files: ^integration-tests/
        types: [python]
        pass_filenames: false
        verbose: true
      # TypeScript/React hooks for stardag-ui
      - id: eslint-stardag-ui
        name: eslint (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npm run lint'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
        verbose: true
      - id: tsc-stardag-ui
        name: tsc (app/stardag-ui)
        entry: bash -c 'cd app/stardag-ui && npx tsc -b'
        language: system
        files: ^app/stardag-ui/.*\.(ts|tsx)$
        pass_filenames: false
        verbose: true

docs: the builds/tasks CLI, and the abandoned-build cleanup runbook
  CHANGELOG.md
  docs/docs/concepts/build-execution.md
  docs/docs/configuration/cli.md
  docs/docs/how-to/integrate-modal.md
Due: none

fix(cli,reactive): server-side idle filter, --apply-only cleanup, report crashed ticks
  CHANGELOG.md
  docs/docs/configuration/cli.md
  docs/docs/how-to/integrate-modal.md
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/_cli/tasks.py
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test__cli/test_builds.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

feat(reactive): report each tick's summary to the registry (#208 B6)
  lib/stardag/src/stardag/build/_reactive.py
  lib/stardag/tests/test_build/test_reactive.py
Due: pyright-stardag

feat(cli): stardag builds — list, show, frontier, ticks, cancel, cleanup (#208 B4)
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/tests/test__cli/test_builds.py
Due: pyright-stardag

fix(reactive): keep the watchdog's app scoping now that build_list supersedes it
  lib/stardag/src/stardag/integration/modal/_app.py
  lib/stardag/src/stardag/registry/_api_registry.py
  lib/stardag/src/stardag/registry/_base.py
  lib/stardag/tests/test_integration/test_modal/test_stardag_app.py
Due: pyright-stardag

fix(cli): honour --reactive-app as the inclusion it advertises
  lib/stardag/src/stardag/_cli/builds.py
  lib/stardag/src/stardag/registry/_api_registry.py
Due: pyright-stardag

docs(api): state the retention bound honestly
  app/stardag-api/src/stardag_api/routes/tick_summaries.py
Due: pyright-stardag-api

feat(api): filter GET /builds by idleness, in SQL (#208 B3)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/tests/test_build_cleanup.py
Due: pyright-stardag-api

docs(api): state precisely why the reaper orders by last_active_at
  app/stardag-api/src/stardag_api/services/build_cleanup.py
Due: pyright-stardag-api

fix(api): don't advertise a retry that will never select the build
  app/stardag-api/migrations/versions/20260807_211348_add_tasks_environment_id_latest_status_.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_build_cleanup.py
Due: pyright-stardag-api

test(api): share the alternate-identity auth fixtures via conftest
  app/stardag-api/tests/conftest.py
  app/stardag-api/tests/test_builds.py
Due: pyright-stardag-api

feat(api): terminate abandoned builds and release their claims (#208 B3)
  CHANGELOG.md
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/main.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/tests/test_build_cleanup.py
Due: pyright-stardag-api

chore(api): chain this migration after the tick-summaries one
  app/stardag-api/migrations/versions/20260807_211348_add_tasks_environment_id_latest_status_.py
Due: pyright-stardag-api

feat(api): enumerate tasks by status and expose the claim holder (#208 B2)
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260807_211348_add_tasks_environment_id_latest_status_.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/tasks.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/tests/test_tasks.py
Due: pyright-stardag-api

fix(api): an idle-build filter means abandoned, so imply RUNNING
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/tests/test_build_cleanup.py
Due: pyright-stardag-api

feat(ui): shared primitives for selection, confirmation and results
  app/stardag-ui/src/components/Modal.tsx
  app/stardag-ui/src/components/ui/BulkActionBar.tsx
  app/stardag-ui/src/components/ui/Checkbox.test.tsx
  app/stardag-ui/src/components/ui/Checkbox.tsx
  app/stardag-ui/src/components/ui/ConfirmDialog.tsx
  app/stardag-ui/src/components/ui/ResultBanner.tsx
  app/stardag-ui/src/hooks/useRowSelection.ts
  app/stardag-ui/src/utils/time.ts
Due: eslint-stardag-ui, tsc-stardag-ui

refactor(ui): name the root view "Builds", not "Home"
  app/stardag-ui/src/App.tsx
  app/stardag-ui/src/components/Sidebar.test.tsx
  app/stardag-ui/src/components/Sidebar.tsx
  app/stardag-ui/src/context/EnvironmentContext.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

feat(ui): builds table with staleness, filters and bulk cleanup (#208 B3/B5)
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BuildsList.test.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/BulkCancelDialog.tsx
  app/stardag-ui/src/components/ui/BulkActionBar.tsx
  app/stardag-ui/src/components/ui/Checkbox.test.tsx
  app/stardag-ui/src/components/ui/ConfirmDialog.tsx
  app/stardag-ui/src/hooks/useRowSelection.ts
  app/stardag-ui/src/types/task.ts
  app/stardag-ui/src/utils/time.ts
Due: eslint-stardag-ui, tsc-stardag-ui

feat(ui): say what the idle filter actually selects
  app/stardag-ui/src/components/BuildsList.test.tsx
  app/stardag-ui/src/components/BuildsList.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

fix(ui): invalidate in-flight requests on every abandon path
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/BulkCancelDialog.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

fix(ui): theme the native controls, and make dates and long durations readable
  app/stardag-ui/src/context/ThemeContext.tsx
  app/stardag-ui/src/utils/time.test.ts
  app/stardag-ui/src/utils/time.ts
Due: eslint-stardag-ui, tsc-stardag-ui

test(e2e): follow the Home -> Builds nav rename in the browser tests
  integration-tests/tests/test_browser.py
  integration-tests/uv.lock
Due: pyright-integration-tests

feat(ui): filter builds by idleness server-side
  app/stardag-ui/src/api/tasks.ts
  app/stardag-ui/src/components/BuildsList.test.tsx
  app/stardag-ui/src/components/BuildsList.tsx
  app/stardag-ui/src/components/Modal.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

feat(ui): offer a claim-releasing cancel on the build view
  app/stardag-ui/src/components/BuildView.tsx
Due: eslint-stardag-ui, tsc-stardag-ui

fix(ui,e2e): give the DAG disclosure an accessible state, and assert it
  app/stardag-ui/src/components/BuildView.tsx
  integration-tests/tests/test_browser.py
Due: pyright-integration-tests, eslint-stardag-ui, tsc-stardag-ui

feat(api): give the execution claim an expiry
  app/stardag-api/migrations/versions/20260807_233150_add_tasks_latest_status_expires_at_.py
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/services/claims.py
  app/stardag-api/src/stardag_api/services/status.py
Due: pyright-stardag-api

feat(api): honour and expose the claim expiry
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/schemas.py
Due: pyright-stardag-api

fix(api): backfill the claims that are already RUNNING
  CHANGELOG.md
  app/stardag-api/migrations/versions/20260807_233150_add_tasks_latest_status_expires_at_.py
  app/stardag-api/src/stardag_api/models/task.py
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/claims.py
  app/stardag-api/tests/test_claim_expiry.py
Due: pyright-stardag-api

docs(api): say which clock decides claim expiry, and drop a dangling path
  app/stardag-api/src/stardag_api/services/claims.py
Due: pyright-stardag-api

fix(api): raise the default claim TTL to a week
  CHANGELOG.md
  app/stardag-api/src/stardag_api/config.py
  app/stardag-api/tests/test_claim_expiry.py
Due: pyright-stardag-api

refactor(api): move `as_utc` to models.base
  app/stardag-api/src/stardag_api/models/base.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
Due: pyright-stardag-api

test(api): target the migration under test by revision, not by "-1"
  app/stardag-api/tests/test_claim_expiry.py
Due: pyright-stardag-api

test(api): cover claim expiry, and changelog
  CHANGELOG.md
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_claim_expiry.py
Due: pyright-stardag-api

refactor(api): read build status from the column, and delete the rest
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/services/build_cleanup.py
  app/stardag-api/tests/test_build_cleanup.py
  app/stardag-api/tests/test_build_status_denormalisation.py
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_status_denormalisation_concurrency.py
Due: pyright-stardag-api

feat(api): migrate builds to the denormalised status columns
  app/stardag-api/migrations/versions/20260807_235511_denormalised_build_status_columns_with_.py
Due: pyright-stardag-api

feat(api): denormalise build status onto the builds row
  app/stardag-api/src/stardag_api/models/build.py
  app/stardag-api/src/stardag_api/services/__init__.py
  app/stardag-api/src/stardag_api/services/status.py
Due: pyright-stardag-api

perf(api): stream the build-status backfill instead of accumulating it
  app/stardag-api/migrations/versions/20260807_235511_denormalised_build_status_columns_with_.py
  app/stardag-api/tests/test_build_cleanup.py
  app/stardag-api/tests/test_status_denormalisation_concurrency.py
Due: pyright-stardag-api

feat(api): derive per-build task attempt counts
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/routes/concurrency_limits.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/__init__.py
  app/stardag-api/src/stardag_api/services/status.py
Due: pyright-stardag-api

feat(api): count attempts per round, not per build
  CHANGELOG.md
  app/stardag-api/src/stardag_api/routes/builds.py
  app/stardag-api/src/stardag_api/schemas.py
  app/stardag-api/src/stardag_api/services/status.py
  app/stardag-api/tests/test_task_attempts.py
Due: pyright-stardag-api

test(api): pin the attempt-counting rules, and changelog
  CHANGELOG.md
  app/stardag-api/tests/test_builds.py
  app/stardag-api/tests/test_task_attempts.py
Due: pyright-stardag-api
